<table width="1000">
 <tr>
  <td valign="top" width="33%">
   <h1>Vertical 160x600</h1>
<img src="/images/publisher/160x600.png" alt="" />
  </td>

  <td valign="top" width="33%">
   <h1>Vertical 120x600</h1>
<img src="/images/publisher/120x600.png" alt="" />
  </td>

  <td valign="top" width="33%">
   <h1>Wide Vertical 180x400</h1>
<img src="/images/publisher/180x400.png" alt="" />
  </td>

  <td valign="top">
   <h1>Medium Rectangle 300x250</h1>
<img src="/images/publisher/300x250.png" alt="" />
  </td>
 </tr>

 <tr>
  <td colspan="4" valign="top">
   <h1>Banner 468x60</h1>
<img src="/images/publisher/468x60.png" alt="" />
  </td>
 </tr>

 <tr>
  <td colspan="4" valign="top">
   <h1>Large Banner 728x90</h1>
<img src="/images/publisher/728x90.png" alt="" />
  </td>
 </tr>

 <tr>
  <td colspan="4" valign="top">
   <h1>XLarge Banner 900x90</h1>
<img src="/images/publisher/900x90.png" alt="" />
  </td>
 </tr>

</table>
