<div id="contentWrapper">
{section name=s loop=$loc_columns}{assign var=s value=$loc_columns[s]}
	{section name=s2 loop=$s}{assign var=l value=$s[s2]}
		<div class="subCategory"><a href="{$l.link}" title="{$l.loc_name} {$cat_name}" data-ajax="false">{$l.loc_name} ({$l.c})</a></div>
	{/section}
{/section}
</div>
