<div class="mainCategory">Click on the category below that you want to post your ad in:</div>
<div id="contentWrapper">
<div class="subCategory"><a href="/classifieds/posttype?type=1" rel="nofollow"><b>Female Escorts</b></a></div>
<div class="subCategory"><a href="/classifieds/posttype?type=2" rel="nofollow">TS / TV Shemale Escorts</a></div>
<div class="subCategory"><a href="/classifieds/posttype?type=3" rel="nofollow">Male for Female</a></div>
<div class="subCategory"><a href="/classifieds/posttype?type=6" rel="nofollow">Body Rubs</a></div>
<div class="subCategory"><a href="/classifieds/posttype?type=13" rel="nofollow">BDSM / Fetish</a></div>
<div class="subCategory"><a href="/classifieds/posttype?type=4" rel="nofollow">Male for Male Escorts</a></div>
<div class="subCategory"><a href="/classifieds/posttype?type=12" rel="nofollow">Strippers For Hire</a></div>
<div class="subCategory"><a href="/classifieds/posttype?type=14" rel="nofollow">Adult Help Wanted</a></div>
<div class="subCategory"><a href="/classifieds/posttype?type=7" rel="nofollow">Male For Male Body Rubs</a></div>
</div>
