{% extends 'email/base_agency.txt.twig' %}
  
{% block title %}Funds added{% endblock %}

{% block content %}
Hello,

Hello, this is a notification from *Adultsearch* that your account has been funded - your wire has been received successfully today.

Amount: ${{ amount }}

If you are not satisfied with our services, please contact us and let us know.
{% endblock %}
