{% extends 'email/base_agency.html.twig' %}
  
{% block title %}Funds added{% endblock %}

{% block content %}
<tr>
    <td colspan="2" style="padding: 30px;">
        <br />
        Hello, this is a notification from <span style="font-weight: bold; color: black;">Adultsearch</span> that your account has been funded - your wire has been received successfully today.
		<br />
    </td>
</tr>
<tr>
    <td align="right" width="50%" style="width: 50%;"><strong>Amount</strong></td>
    <td style="padding-left: 5px;">${{ amount }}</td>
</tr>
<tr>
    <td colspan="2" style="padding: 30px;">
        If you are not satisfied with our services, please contact us and let us know.
    </td>
</tr>
{% endblock %}
