<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>New banner uploaded to AS</title>
</head>
<body>
New image was uploaded to AS:<br />
Account: <a href="http://adultsearch.com/mng/accounts?account_id={$account_id}">#{$account_id} - {$account_email}</a><br />
Dimensions: {$width}x{$height}<br />
<img src="cid:image" /><br />
<a href="http://adultsearch.com/advertise/image?id={$id}&action=delete">Delete image</a><br />
</body>
</html>
