<meta name="viewport" width="device-width">
<style type="text/css">
h1 {
	text-align: center;
	font-size: 2.8em;
}
.escort {
	float: left;
	width: 186px;
	padding: 5px;
	height: 260px;
	margin: 0px 20px 20px 0px;
	text-align: center;
	border: 1px solid #eee;
}
@media (min-width:320px) {
	#wrap {
		width: 320px; 
		margin: auto;
	}
	.escort {
		width: 140px;
		height: 210px;
		margin: 0px 0px 20px 0px;
	}
}
@media (min-width:480px) {
	#wrap {
		width: 480px; 
	}
	.escort {
		margin: 0px 10px 20px 0px;
	}
}
@media (min-width:600px) {
	#wrap {
		width: 500px; 
	}
}
@media (min-width:801px) {
	#wrap {
		width: 680px; 
	}
}
@media (min-width:1024px) {
	#wrap {
		width: 850px; 
	}
}
.escort:hover {
	background-color: #f0f0f0;
}
.escort a {
	font-size: 1.2em;
	font-weight: bold;
	color: #666;
}
.escort a img {
	width: 100%;
}
.escort a:hover {
    color: #333;
}
</style>

<div id="wrap">
	<h1>Real Escorts in {if $city}{$city}{else}your city{/if}</h1>
	{foreach from=$images item=image_url}
		<div class="escort">
			<a href="{$link}">
				<img src="{$image_url}"/>
				Click for contact
			</a>

		</div>
	{/foreach}
	<br style="clear: both;" />
</div>

<!--
{$localisation_result}
-->
