<form method="post" action="">

<div id="cl">

<table border="0" cellspacing="0" cellpadding="0" class="b">

{if $note}
<tr>
 <td colspan="2" class="error">
	{$note}
</td>
</tr>
{/if}

<tr>
  <td colspan="2">
        <div class="stitle" style="text-align:center">Auto Recharge Settings</div>
  </td>
</tr>

<tr>
  <td class="first">Auto Recharge My Card:</td>
  <td class="second"><select name="recurring">{$recurring}</select></td>
</tr>

<tr>
  <td class="first">Recharge Amount:</td>
  <td class="second"><select name="recurring_amount">{$recurring_amount}</select>
  </td>
</tr>

<tr>
  <td class="first">Monthly Maximum:</td>
  <td class="second"><select name="recurring_max">{$recurring_max}</select></td>
</tr>

{if $recurring_total}
<tr>
  <td class="first">Current Month Total Charge Made:</td>
  <td class="second"><b>${$recurring_total}</b></td>
</tr>
{/if}

<tr>
  <td class="first">Credit Card to be processed:</td>
  <td class="second"><select name="cc">{$cc}</select></td>
</tr>

 <tr>
  <td colspan="2" class="submit">
	<span class="bsubmit"><button class="bsubmit-r" type="submit" value="Submit"/><span>Submit</span></button></span>
		<span class="bsubmit"><button class="bsubmit-r" type="button" value="Cancel" 
onclick="window.location='http://adultsearch.com/advertise/'"/><span>Cancel</span></button></span>
  </td>
</tr>

</table>

</div>

</form>

