<html>
<head>
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" Content="no-cache, must-revalidate">
<meta name="robots" content="NOARCHIVE,NOFOLLOW">
<meta http-equiv="Expires" content="Mon, 22 Jul 2002 11:12:01 GMT">
{literal}
<style type="text/css" rel="stylesheet">
<!--
html{font-size:12px}
body{font-size:12px;color:#000000;}
ol, ul, li {border:0 none;margin:0;padding:0;}
ol li{list-style:none outside none;}
li{line-height:1.3;white-space:nowrap}
li.g, body, html, .std, .c h2, #mbEnd h2, h1 {font-family:arial,sans-serif;font-size:small;}
#mbEnd {margin:0 0 32px 1px;font-size:13px}
#mbEnd li {margin:12px 2px 0 0; height: 68px;}
cite{font-style:normal;/*color:#0E774A;*/color:#00802a;}
h3, .med {font-size:16px;font-weight:normal;margin:0;padding:0;height: 20px;}
a:link, a:visited, .w, .q:active, .q:visited, .tbotu {/*color:#1C75C7;*/color:#2518b5;cursor:pointer;}
a.as, a.as:visited, a.as:active {color:#767676;font-size:11px}
-->
</style>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5124307-2']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

{/literal}
<base target="_top"></base>
<!-- advertise_show.tpl -->
</head>
<body>

<table width="205px" cellspacing="0" cellpadding="0" border="0" id="mbEnd">
 <tbody>
  <tr>
   <td valign="top">
    <a class="as" href="http://adultsearch.com/advertise/">Advertise Here</a>
   </td>
   </tr>
   <tr>
    <td>

{if $ad}
<ol>
{section name=ad loop=$ad}{assign var=s value=$ad[ad]}
{if $s.current}
<li><h3><a href="clickthrough?sid={$s.current}&amp;u={$u}&adurl={$s.ad_url}&r={$r}" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Advertise', 'Click', '{$s.bid}']);">{$s.ad_title}</a></h3>
{$s.ad_line1}<br>
{$s.ad_line2}<br>
<cite>{$s.ad_durl}</cite>
</li>
{/if}
{/section}
</ol>
{else}
<ol>
<li><h3><a href="http://adultsearch.com/advertise/">Advertise Here</a></h3>
Advertise your business<br>
through AdultSearch<br>
<cite>adultsearch.com</cite>
</li>
</ol>
{/if}

    </td>
   </tr>

 </tbody>
</table>
</body>
<html>
