<h1>Add/Modify advertising campain</h1>
<br />
<span style="display: inline-block; border: 1px solid red; margin: 10px; padding: 10px; background-color: #F2DDD8;">
To purchase text, banner, or pop ads on our websites please create an account at <a href="http://hottraffic.com">www.HotTraffic.com</a> or email <a href="mailto:support@adultsearch.com">support@adultsearch.com</a> for more information.<br /><br />
If you have created an ad campaign in our old system that you can no longer access, please contact us at <a href="mailto:support@adultsearch.com">support@adultsearch.com</a>. We will be happy to move your advertising campaigns to <a href="http://hottraffic.com">HotTraffic.com</a> for you. 
</span>
