<form method="post">
<p>Enter one URL to exclude per line:</p>
<table><tr><td>
<textarea name="exception" rows="5" cols="45" id="exception">{section name=s loop=$exception}{assign var=e value=$exception[s]}
{$e.x}
{/section}</textarea>
</td><td valign="top">Examples;<br/><b>test.com</b><br/><b>subdomain.test.com</b><input type="button" value="Update" onclick="updateme();"/><div id="r" 
class="error"></div></td>
</tr></table>
</form>

<script type="text/javascript"><!--
{if $id}var id = {$id};{else} var id = 0;{/if}
{literal}
function updateme() {
	$("#r").html("");
	$.post('/advertise/exception', { "id":id, "exception": $("#exception").val(), "pop":"1" },
	 function(data){
		$("#r").html(data);
	 });
}
-->
</script>
{/literal}
