<html>
<head>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
{literal}
<style type="text/css" rel="stylesheet">
<!--
html{font-size:10px}
body{font-size:10px;color:#{/literal}{$color_text};background-color:#{$color_bg};{literal}}
ol, ul, li {border:0 none;margin:0;padding:0;}
ol li{list-style:none outside none;}
li{line-height:1.3;}
li.g, body, html, .std, .c h2, #mbEnd h2, h1 {font-family:arial,sans-serif;font-size:small;}
#mbEnd {margin:0;font-size:10px;{/literal}border:1px solid #{$color_border};{literal}padding-left:1px}
#mbEnd li {float: left; margin: 4px 2px 0;padding-left: 25px;width: 200px;}
cite{font-style:normal;color:#{/literal}{$color_url}{literal};}
h3, .med {font-size:11px;font-weight:normal;margin:0;padding:0;}
a:link, a:visited, .w, .q:active, .q:visited, .tbotu {color:#{/literal}{$color_link}{literal};cursor:pointer;}
a.as, a.as:visited, a.as:active {color:#{/literal}{$color_link}{literal};font-size:9px}
.ass{width:20px;vertical-align:top}
-->
</style>
{/literal}
<base target="_top"></base>
</head>
<body>

{if $ad}
<table width="{$ad_width}" height="{$ad_height}" cellspacing="0" cellpadding="0" border="0" id="mbEnd">
 <tbody>
  <tr>
    <td valign="top">

<ol>
{section name=ad loop=$ad}{assign var=a value=$ad[ad]}
{if $a.current}
<li><h3><a href="clickthrough?sid={$a.current}&amp;u={$u}&adurl={$a.ad_url}&r={$r}" rel="nofollow" {if $newwindow} target="_blank"{/if}>{$a.ad_title}</a></h3>
{$a.ad_line1}<br>{$a.ad_line2}<br>
{* <cite>{$s.ad_durl}</cite> *} 
</li>
{/if}
{/section}
</ol>
	{if !$dont_advertisehere}
	<div style="position:absolute;bottom:0;right:0">
	<a class="as" href="http://adultsearch.com/advertise/?u={$u}&amp;section={$s}">Advertise Here</a>
	</div>{/if}
    </td>
   </tr>

 </tbody>
</table>
{elseif $backup==1}
{$backuphtml}
{elseif $backup==2}
<div style="display:block;width:{$ad_width}px;height:{$ad_height}px;background-color:{$backupcolor};"></div>
{else}
<table width="{$ad_width}" height="{$ad_height}" cellspacing="0" cellpadding="0" border="0" id="mbEnd">
 <tbody>
   <tr>
    <td valign="top">

<ol>
<li><h3><a href="http://adultsearch.com/advertise/">Advertise Here</a></h3>
Advertise your business<br>
through AdultSearch<br>
<cite>adultsearch.com</cite>
</li>

<li><h3><a href="http://adultsearch.com/advertise/">Advertise Here</a></h3>
Advertise your business<br>
through AdultSearch<br>
<cite>adultsearch.com</cite>
</li>
</ol>

	<div style="position:absolute;bottom:0;right:0">
	<a class="as" href="http://adultsearch.com/advertise/">Advertise Here</a>
	</div>
    </td>
   </tr>

 </tbody>
</table>
{/if}
</body>
<html>
