<html>
<head>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
{literal}
<style type="text/css" rel="stylesheet">
<!--
html{font-size:12px}
body{font-size:12px;color:#{/literal}{$color_text};background-color:#{$color_bg};{literal}}
ol, ul, li {border:0 none;margin:0;padding:0;}
ol li{list-style:none outside none;}
li{line-height:1.3;}
li.g, body, html, .std, .c h2, #as_ad_mbEnd h2, h1 {font-family:arial,sans-serif;font-size:small;}
#as_ad_mbEnd {margin:0;font-size:12px;{/literal}border:1px solid #{$color_border};{literal}}
#as_ad_mbEnd li {width: 145px;}
cite{font-style:normal;color:#{/literal}{$color_url}{literal}; width: 145px; display: inline-block; overflow: hidden;}
h3, .med {font-size:13px;font-weight:normal;margin:0;padding:0;}
a:link, a:visited, .w, .q:active, .q:visited, .tbotu {color:#{/literal}{$color_link}{literal};cursor:pointer;}
a.as, a.as:visited, a.as:active {color:#{/literal}{$color_link}{literal};font-size:10px}
.ass{height:10px;text-align:right}
#as_ad_error {color:#AF0000;font-weight:bold;}
-->
</style>
{/literal}
<base target="_top"></base>
</head>
<body>

{if $ad}
<table width="{$ad_width}" height="{$ad_height}" cellspacing="0" cellpadding="0" border="0" id="as_ad_mbEnd">
<tbody>
	{if !$dont_advertisehere}
	<tr>
		<td valign="top" class="ass" colspan="2">
			<a class="as" href="{if $advertisehere_link}{$advertisehere_link}{else}http://adultsearch.com/advertise/?u={$u}&amp;section={$s}{/if}">Advertise Here</a>
		</td>
	</tr>
	{/if}
	{foreach from=$ad|@array_chunk:2 item=row}
	<tr>
		{foreach from=$row item=s}
		<td valign="top" style="width: 150px;">
			<ol>
			{if $s.current}
				<li>
					<h3><a href="clickthrough?sid={$s.current}&amp;u={$u}&adurl={$s.ad_url}&r={$r}" rel="nofollow" rel="as_p_ad"{if $newwindow} target="_blank"{/if}>{$s.ad_title}</a></h3>
					{$s.ad_line1}<br>
					{$s.ad_line2}<br>
					<cite>{$s.ad_durl}</cite>
				</li>
			{/if}
			</ol>
		</td>
		{/foreach}
	</tr>
	{/foreach}
</tbody>
</table>
{elseif $backup==1}
{$backuphtml}
{elseif $backup==2}
<div style="display:block;width:{$ad_width}px;height:{$ad_height}px;background-color:{$backupcolor};"></div>
{else}
<table width="{$ad_width}" height="{$ad_height}" cellspacing="0" cellpadding="0" border="0" id="as_ad_mbEnd">
 <tbody>
  <tr>
   <td valign="top" class="ass">
    <a class="as" href="http://adultsearch.com/advertise/">Advertise Here</a>
   </td>
   </tr>
   <tr>
    <td valign="top">

<ol>
<li><h3><a href="http://adultsearch.com/advertise/">Advertise Here</a></h3>
Advertise your business through AdultSearch<br>
<cite>adultsearch.com</cite>
</li>

<li><h3><a href="http://adultsearch.com/advertise/">Advertise Here</a></h3>
Advertise your business through AdultSearch<br>
<cite>adultsearch.com</cite>
</li>

<li><h3><a href="http://adultsearch.com/advertise/">Advertise Here</a></h3>
Advertise your business through AdultSearch<br>
<cite>adultsearch.com</cite>
</li>

<li><h3><a href="http://adultsearch.com/advertise/">Advertise Here</a></h3>
Advertise your business through AdultSearch<br>
<cite>adultsearch.com</cite>
</li>

</ol>

    </td>
   </tr>

 </tbody>
</table>
{/if}

</body>
<html>
