<form method="post" action="">
<input type="hidden" name="customurlid" value="{$id}" />
<div>Custom URL For <b>{$name}</b>:</div>
<div><input name="customurl" value="{$customurl}" size="75" /></div>
<p>Original Campaign URL is <b>{$orjurl}</b>{if $customurl}<br/>In order to use the original campaign URL, just clear the input field and submit the form.{/if}</p>
<div class="clear">
<input name="submit" type="submit" class="button" value="Change" /></div>
</form>
