<form method="post" action="">
<div id="cl">
<table border="0" cellspacing="0" cellpadding="0" class="b">

{if $note}
<tr>
	<td colspan="2" class="error">
		{$note}
	</td>
</tr>
{/if}

<tr>
	<td colspan="2">
    	<div class="stitle" style="text-align:center">Budget Notify Setting</div>
	</td>
</tr>
<tr>
	<td class="first">Limit:</td>
	<td class="second"><select name="budget_notify">{$notify_amount}</select>
		<br />
		You will be notified on your email when your budget goes below this number.
	</td>
</tr>
<tr>
	<td colspan="2" class="submit">
		<span class="bsubmit"><button class="bsubmit-r" type="submit" value="Submit"/><span>Submit</span></button></span>
		<span class="bsubmit"><button class="bsubmit-r" type="button" value="Cancel" onclick="window.location='http://adultsearch.com/advertise/'"/><span>Cancel</span></button></span>
	</td>
</tr>

</table>

</div>

</form>

