<html>
<head>
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
</head>
<body>
	<div style="width: 300px; height: 250px; overflow: hidden;">
		{if $banner}
			{$banner.html}
		{/if}
	</div>
</body>
</html>
