{% block title %}Receipt from Adultsearch{% endblock %}
-------------------------------------

{% block content %}{% endblock %}


Always include the following in your emails:
- Wire Transfer senders name
- Copy of the wire transfer
- Account ID

Thank you for advertising with us.
Sincerely,
agency@adultsearch.com
