@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/v2/BebasNeueBold.ttf") format("truetype");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/v2/AvenirNextLTPro-Bold.otf") format("truetype");
  font-weight: bold;
  font-display: swap;
}
#header, #footerx, .breadcrumbs, #logoModule, br, .ui-header.ui-bar-inherit, .ui-footer.ui-bar-inherit {
  display: none;
}

.ui-content {
  padding: 0;
}

body #content {
  padding-top: 0 !important;
  margin: 0;
  width: 100%;
}

.landing-body {
  min-height: 100vh;
  height: 100%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1200px) {
  .landing-body.landing4 {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.5) 60%, white 85%), linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.5) 60%, white 85%), url(../../../images/landing/v2/desktop.jpg);
  }
  .landing-body.landing5 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 60%, black 85%), url(../../../images/landing/v2/desktop.jpg);
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .landing-body.landing4 {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.5) 60%, white 100%), linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.5) 60%, white 100%), url(../../../images/landing/v2/tablet_landscape.jpg);
  }
  .landing-body.landing5 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 60%, black 85%), url(../../../images/landing/v2/tablet_landscape.jpg);
  }
}
@media (min-width: 768px) and (max-width: 1199px) and (orientation: portrait) {
  .landing-body.landing4 {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 20%, rgba(255, 255, 255, 0.5) 40%, white 80%), url(../../../images/landing/v2/tablet_portrait.jpg);
  }
  .landing-body.landing5 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 60%, black 85%), url(../../../images/landing/v2/tablet_portrait.jpg);
  }
}
@media (max-width: 767px) {
  .landing-body.landing4 {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.5) 60%, white 100%), linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.5) 60%, white 100%), url(../../../images/landing/v2/mobile_landscape.jpg);
  }
  .landing-body.landing5 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 40%, black 80%), url(../../../images/landing/v2/mobile_landscape.jpg);
  }
}
@media (max-width: 767px) and (orientation: portrait) {
  .landing-body.landing4 {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 20%, rgba(255, 255, 255, 0.5) 40%, white 85%), url(../../../images/landing/v2/mobile_portrait.jpg);
  }
  .landing-body.landing5 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 50%, black 80%), url(../../../images/landing/v2/mobile_portrait.jpg);
  }
}
.landing-content {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10%;
}

.escorts-image img {
  height: auto;
}

.title {
  margin: 0;
}

.landing5 .information .title {
  color: white;
  text-shadow: 10px 0 5px black;
}
.landing5 .message {
  color: white;
}
.landing5 .message span {
  color: #fef80a !important;
}

.information {
  font-family: Avenir;
}
.information .title {
  font-family: Avenir;
}
.information span {
  font-family: BebasNeue;
  color: #fb0066;
  display: inline-table;
}
.information .escorts-link {
  font-family: Avenir;
  display: inline-block;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  background: linear-gradient(to top, #64b3ff, #8dfcff);
  text-decoration: none;
  border-radius: 4px;
  color: black;
}
.information .message {
  margin: 0;
}
.information .message span {
  color: #fb0066;
  font-family: BebasNeue;
}

@media (min-width: 1200px) {
  .escorts-image img {
    width: 800px;
  }

  .information {
    max-width: 400px;
  }
  .information .title {
    font-size: 90px;
    line-height: 74px;
  }
  .information .escorts-link {
    font-size: 40px;
    padding: 15px 30px 10px;
    margin: 20px 0;
  }
  .information .message {
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .escorts-image img {
    width: 540px;
  }

  .information {
    max-width: 210px;
  }
  .information .title {
    font-size: 48px;
    line-height: 40px;
  }
  .information .escorts-link {
    padding: 15px 20px 10px;
    font-size: 25px;
    margin: 10px 0;
  }
  .information .message {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) and (orientation: portrait) {
  .landing-container {
    min-height: 100vh;
    width: 100%;
  }

  .landing-content {
    min-height: 100vh;
    padding-bottom: 0;
    flex-direction: column;
    justify-content: start;
  }

  .escorts-image img {
    width: 720px;
  }

  .information {
    margin-top: -40px;
    text-align: center;
    max-width: 500px;
  }
  .information .title {
    font-size: 84px;
    line-height: 64px;
  }
  .information .title span {
    display: inline;
  }
  .information .escorts-link {
    padding: 15px 50px 10px;
    font-size: 40px;
    margin: 20px 0;
  }
  .information .message {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .landing-content {
    padding-bottom: 0;
  }

  .escorts-image img {
    width: 350px;
  }

  .information {
    max-width: 160px;
  }
  .information .title {
    font-size: 36px;
    line-height: 30px;
  }
  .information .escorts-link {
    font-size: 20px;
    padding: 7px 10px 5px;
    margin: 8px 0;
  }
  .information .message {
    font-size: 12px;
  }
}
@media (max-width: 767px) and (orientation: portrait) {
  .landing-container {
    min-height: 100vh;
    width: 100%;
  }

  .landing-content {
    min-height: 100vh;
    padding-bottom: 0;
    flex-direction: column;
    justify-content: start;
  }

  .escorts-image img {
    margin-top: -25px;
    width: 440px;
  }

  .information {
    margin-top: -20px;
    text-align: center;
    max-width: 280px;
  }
  .information .title {
    font-size: 60px;
    line-height: 50px;
  }
  .information .escorts-link {
    padding: 15px 20px 10px;
    font-size: 28px;
    margin: 20px 0 10px;
  }
  .information .message {
    font-size: 18px;
    padding-bottom: 40px;
  }
}

.landing-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.3);
  color: white;
  font-family: Avenir;
  padding: 5px 0;
  font-size: 14px;
}

/*# sourceMappingURL=styles.css.map */
