{* $forum array passed from parent template city_intl.tpl *}
<!--<div class="box col2 contentStyle forums">-->
<div class="box boxForum contentStyle intForum">
	<div class="title"><h2>{$loc_name} Sex Forums <super>({$forum.total_topics})</super></h2></div>
	{section name=for loop=$forum.forums}
	{assign var=f value=$forum.forums[for]}
		<h3><a href="{$f.link}" title="{$loc_name} {$f.name}">{$loc_name} {$f.name} <super>({$f.count})</super></a></h3>
		{if $smarty.section.for.iteration==10}
			{break}
		{/if}
	{/section}
	<div class="cta"><a href="{$forum.forum_index_link}" title="View all forums in {$loc_name}" style="float: left !important;">View all forums</a></div>
</div>
