<!--[if IE]><link rel="stylesheet" href="/css/ie.css" type="text/css" media="screen, projection" /><![endif]-->
<div id="contentCity">

<!-- services -->
{if $cl1||$cl2||$cl5||$cl6||$cl13} 
<div class="box col2 contentStyle services">
	<div class="title"><a href="https://{$core_host}/adbuild/" rel="nofollow" title="post your classified ad">Post</A> <h1>Erotic Services in {$cur_loc_name} <super>({$cl1+$cl2+$cl3+$cl4+$cl5+$cl6+$cl7+$cl8+$cl9+$cl10+$cl11+$cl12+$cl13+$cl14+$cl15})</super></h1></div>
	{if $news}
		<div id="servicesThumb" class="city_thumbs">
		{section name=cl loop=$news}{assign var=p value=$news[cl]}
			<a href="{$p.link}"><img src="{if $p.avatar}{$p.avatar}{else}http://{$core_host}/images/icons/User_1.jpg{/if}" alt="" border="0" />
				<div class="category">{$p.category}</div><li>{$p.info}</li>
			</a>
		{/section}
		</div>
	{/if}

	<div id="servicesLinks">
	<h3><a href="{$homelink}/female-escorts/" title="{if $loc_name}{$loc_name} {/if}Female Escorts" {if !$cl1}rel="nofollow"{/if}>{if $loc_name}{$loc_name} {/if}Female Escorts <super>({$cl1})</super></a></h3>
	<h3><a href="{$homelink}/tstv-shemale-escorts/" title="{if $loc_name}{$loc_name} {/if}TV/TS/TG Shemale Escorts" {if !$cl2}rel="nofollow"{/if}>{if $loc_name}{$loc_name} {/if}TS Escorts <super>({$cl2})</super></a></h3>
	<h3><a href="{$homelink}/body-rubs/" title="{if $loc_name}{$loc_name} {/if} Body Rubs" {if !$cl6}rel="nofollow"{/if}>{if $loc_name}{$loc_name} {/if}Body Rubs <super>({$cl6})</super></a></h3>
{*
	<h3><a href="{$homelink}/escort-agencies/" title="{if $loc_name}{$loc_name} {/if} Escort Agencies " {if !$cl5}rel="nofollow"{/if}>{if $loc_name}{$loc_name} {/if}Escort Agencies <super>({$cl5})</super></a></h3>
	<h3><a href="{$homelink}/bdsm-fetish-escorts/" title="{if $loc_name}{$loc_name} {/if} BDSM / Fetish" {if !$cl13}rel="nofollow"{/if}>{if $loc_name}{$loc_name} {/if}BDSM / Fetish <super>({$cl13})</super></a></h3>
	<h3><a href="{$homelink}/strippers-for-hire/" title="{if $loc_name}{$loc_name} {/if} Strippers For Hire" {if !$cl12}rel="nofollow"{/if}>{if $loc_name}{$loc_name} {/if}Strippers For Hire <super>({$cl12})</super></a></h3>
	<h3><a href="{$homelink}/male-escorts-for-female/" title="{if $loc_name}{$loc_name} {/if}Male Escorts for Female" {if !$cl3}rel="nofollow"{/if}>{if $loc_name}{$loc_name} {/if}Male Escorts for Female <super>({$cl3})</super></a></h3>
	<h3><a href="{$homelink}/male-for-male-escorts/" title="{if $loc_name}{$loc_name} {/if} Male for Male Escorts" {if !$cl4}rel="nofollow"{/if}>{if $loc_name}{$loc_name} {/if}Male for Male   Escorts <super>({$cl4})</super></a></h3>
	<h3><a href="{$homelink}/male-for-male-body-rubs/" title="{if $loc_name}{$loc_name} {/if} Male For Male Body Rubs" {if !$cl7}rel="nofollow"{/if}>{if $loc_name}{$loc_name} {/if}Male For Male Body Rubs <super>({$cl7})</super></a></h3>
	<h3><a href="{$homelink}/adult-help-wanted/" title="{if $loc_name}{$loc_name} {/if} Adult Help Wanted" {if !$cl14}rel="nofollow"{/if}>{if $loc_name}{$loc_name} {/if}Adult Help Wanted <super>({$cl14})</super></a></h3>
	<h3><a href="{$homelink}/phone-and-web/" title="{if $loc_name}{$loc_name} {/if} Phone &amp; Web" rel="nofollow">{if $loc_name}{$loc_name} {/if}Phone &amp; Web <super>({$cl16})</super></a></h3>
	<div class="cta"><a href="https://{$site_domain}/adbuild/" rel="nofollow" title="post your classified ad">Escorts: Post</a></div>
	<h3><a href="/ad?go=3" title="Escorts on Cam" target="_blank">Escorts on Cam</a></h3>
*}
	</div>

	<a href="https://{$site_domain}/adbuild/" rel="nofollow" class="post_btn" title="Post your classified ad">POST ESCORT AD</a>

	{if $news2}
		<div id="servicesThumb2" class="city_thumbs">
		{section name=cl loop=$news2}
		{assign var=p value=$news2[cl]}
			<a href="{$p.link}"><img src="{if $p.avatar}{$p.avatar}{else}//{$core_host}/images/icons/User_1.jpg{/if}" alt="" border="0" />
				<div class="category">{$p.category}</div><li>{$p.info}</li>
			</a>
		{/section}
		</div>
	{/if}
</div>
{/if}

{if $emp1}
	<div class="box col1 contentStyle emp">
		<div class="title"><h2>{if $loc_name}{$loc_name} {/if} erotic massage parlors <super>({$emp1})</super></h2></div>
		<h3><a href="{$homelink}/erotic-massage/" title="{if $loc_name}{$loc_name} {/if}erotic massage parlors">{if $loc_name}{$loc_name} {/if}Erotic Massage Parlors <super>({$emp1})</super></a></h3>
		{if $popular_emp}
			<div class="recent"></div>
			<div id="reviewsThumb">
			{section name=r loop=$popular_emp}
			{assign var=r value=$popular_emp[r]}
				<a href="{$r.link}" title="{$r.what}"><img src="{$r.thumb}" alt="{$r.what}" border="0" />
					<div class="name">{$r.name|truncate:20}</div>
					{if $r.time}<li>[{$r.time}]</li>{/if}
				</a>
			{/section}
			</div>
		{/if}
		<div class="submitCTA"><a href="{$homelink}/erotic-massage/" title="{if $loc_name}{$loc_name} {/if}erotic massage parlor reviews"></a></div>
	</div> 
{/if}

{if $sc1||$sc3||$sc5}
	  <div class="box col1 contentStyle strip{if $sc5} stripTS{/if}">
		<div class="title"><h2>{if $loc_name}{$loc_name} {/if}strip clubs <super>({$sc1+$sc3+$sc5})</super></h2></div>
		<h3><a href="{$homelink}/strip-clubs/" title="{if $loc_name}{$loc_name} {/if}Strip Clubs">{if $loc_name}{$loc_name} {/if}Female Strip Clubs <super>({$sc1})</super></a></h3>
		<h3><a href="{$homelink}/male-strip-clubs/" title="{if $loc_name}{$loc_name} {/if}Male Strip Clubs">{if $loc_name}{$loc_name} {/if}Male Strip Clubs <super>({$sc3})</super></a></h3>
		<h3><a href="{$homelink}/male-revues/" title="{if $loc_name}{$loc_name} {/if}Strip Club Revues">{if $loc_name}{$loc_name} {/if}Male Strip Revues <super>({$msr1})</super></a></h3>
		{if $msr2} 
		<h3><a href="{$homelink}/male-gay-revues/" title="{if $loc_name}{$loc_name} {/if}Male Gay Revues">{if $loc_name}{$loc_name} {/if}Male Gay Revues <super>({$msr2})</super></a></h3>
		{/if}
		{if $sc5}<h3><a href="{$homelink}/tstv-strip-clubs/" title="{if $loc_name}{$loc_name} {/if}TS Strip Clubs">{if $loc_name}{$loc_name} {/if}TS Strip Clubs <super>({$sc5})</super></a></h3>{/if}

		{if $popular_sc}
		<div class="recent"></div>
		<div id="reviewsThumb">
	  {section name=r loop=$popular_sc}{assign var=r value=$popular_sc[r]}
	  <a href="{$r.link}" title="{$r.what}"><img src="{$r.thumb}" alt="{$r.what}" border="0" />
		  <div class="name">{$r.name|truncate:20}</div>
		  {if $r.time}<li>[{$r.time}]</li>{/if}</a>
	  {/section}
	</div>
		{/if}
		<div class="submitCTA"><a href="{$homelink}/strip-clubs/" title="{if $loc_name}{$loc_name} {/if}Strip Club Reviews"></a></div>
	  </div>
{/if}

{if $as1}
<div class="box col1 contentStyle stores">
		<div class="title"><h2>{if $loc_name}{$loc_name} {/if}sex shops <super>({$as1})</super></h2></div>
		<h3><a href="{$homelink}/sex-shops/" title="{if $loc_name}{$loc_name} {/if}Sex Shops">{if $loc_name}{$loc_name} {/if}Sex Shops <super>({$as1})</super></a></h3>
		{if $popular_as}
		<div class="recent"></div>
		<div id="reviewsThumb">
	  {section name=r loop=$popular_as}{assign var=r value=$popular_as[r]}
	  <a href="{$r.link}" title="{$r.what}"><img src="{$r.thumb}" alt="{$r.what}" border="0" />
		  <div class="name">{$r.name|truncate:20}</div>
		  {if $r.time}<li>[{$r.time}]</li>{/if}</a>
	  {/section}
		</div>
		{/if}
		<div class="submitCTA"><a href="{$homelink}/sex-shops/" title="{if $loc_name}{$loc_name} {/if}Sex Shop Reviews"></a></div>
	  </div>
{/if}

{if $ls1||$ls2||$ls3||$ls4}
	<div class="box col1 contentStyle lifestyles">
		<div class="title"><h2>{if $loc_name}{$loc_name} {/if}Lifestyle Clubs <super>({$ls1+$ls2+$ls3+$ls4})</super></h2></div>
			<h3><a href="{$homelink}/swinger-clubs/" title="{if $loc_name}{$loc_name} {/if}Swinger Clubs">{if $loc_name}{$loc_name} {/if}Swinger Clubs <super>({$ls1})</super></a></h3>
			<h3><a href="{$homelink}/bdsm/" title="{if $loc_name}{$loc_name} {/if}BDSM">{if $loc_name}{$loc_name} {/if}BDSM Clubs <super>({$ls2})</super></a></h3>
			<h3><a href="{$homelink}/topless-pools/" title="{if $loc_name}{$loc_name} {/if}Topless Pools">{if $loc_name}{$loc_name} {/if}Topless Pools <super>({$ls3})</super></a></h3>
			<h3><a href="{$homelink}/nudist-colonies/" title="{if $loc_name}{$loc_name} {/if}Nudist Colonies">{if $loc_name}{$loc_name} {/if}Nudist Colonies <super>({$ls4})</super></a></h3>
			{if $popular_ls}
				<div class="recent"></div>
				<div id="reviewsThumb">
					{section name=r loop=$popular_ls}{assign var=r value=$popular_ls[r]}
						<a href="{$r.link}" title="{$r.what}"><img src="{$r.thumb}" alt="{$r.what}" border="0" />
							<div class="name">{$r.name|truncate:20}</div>{if $r.time}<li>[{$r.time}]</li>{/if}
						</a>
					{/section}
				</div>
			{/if}
		<div class="submitCTA"><a href="{$homelink}/lifestyle-clubs/" title="{$r.what}"></a></div>
	</div>
{/if}

{if $brothel1}
		<div class="box col1 contentStyle brothels">
		  <div class="title"><h2>{if $loc_name}{$loc_name} {/if}Brothels <super>({$brothel1})</super></h2></div>
		  <h3><a href="{$homelink}/brothels/" title="{if $core_state_real_name}{$core_state_real_name} {/if}Brothels">{if $loc_name}{$loc_name} {/if}Brothels <super>({$brothel1})</super></a></h3>
		{if $popular_brothel}
		<div class="recent"></div>
		<div id="reviewsThumb">
		  {section name=r loop=$popular_brothel}{assign var=r value=$popular_brothel[r]}
		  <a href="{$r.link}" title="{$r.what}"><img src="{$r.thumb}" alt="{$r.what}" border="0" />
		  <div class="name">{$r.name|truncate:20}</div>
		  {if $r.time}<li>[{$r.time}]</li>{/if}</a>
		  {/section}
		</div>
		{/if}
		<div class="submitCTA"><a href="{$homelink}/brothels/" title="{if $loc_name}{$loc_name} {/if}Brothels"></a></div>
		</div>
{/if}

{if $lm1on11}
		<div class="box col1 contentStyle lingerie">
		  <div class="title"><h2>{if $loc_name}{$loc_name} {/if}Lingerie Modeling Studios <super>({$lm1on11})</super></h2></div>
		  <h3><a href="{$homelink}/lingerie-modeling-1on1/" title="{if $loc_name}{$loc_name} {/if}Nude Modeling 1on1 - Private Nude Modeling">{if $loc_name}{$loc_name} {/if}Lingerie Modeling Studios <super>({$lm1on11})</super></a></h3>
		{if $popular_lm1on11}
		<div class="recent"></div>
		<div id="reviewsThumb">
		  {section name=r loop=$popular_lm1on11}{assign var=r value=$popular_lm1on11[r]}
		  <a href="{$r.link}" title="{$r.what}"><img src="{$r.thumb}" alt="{$r.what}" border="0" />
		  <div class="name">{$r.name|truncate:20}</div>
		  {if $r.time}<li>[{$r.time}]</li>{/if}</a>
		  {/section}
		</div>
		{/if}
		<div class="submitCTA"><a href="{$homelink}/lingerie-modeling-1on1/" title="{if $loc_name}{$loc_name} {/if}Private Nude Modeling Reviews"></a></div>

		</div>
{/if}

{if $gb1}
	   <div class="box col1 contentStyle bath">
		<div class="title"><h2>{if $loc_name}{$loc_name} {/if}Gay Bath Houses <super>({$gb1})</super></h2></div>
		<h3><a href="{$homelink}/gay-bath-houses/" title="{if $loc_name}{$loc_name} {/if}Bath Houses">{if $loc_name}{$loc_name} {/if}Gay Bath Houses <super>({$gb1})</super></a></h3>
		{if $popular_gb}
		<div class="recent"></div>
		<div id="reviewsThumb">
		  {section name=r loop=$popular_gb max=2}{assign var=r value=$popular_gb[r]}
		  <a href="{$r.link}" title="{$r.what}"><img src="{$r.thumb}" alt="{$r.what}" border="0" />
		  <div class="name">{$r.name|truncate:20}</div>
		  {if $r.time}<li>[{$r.time}]</li>{/if}</a>
		  {/section}
		</div>
		{/if}
		<div class="submitCTA"><a href="{$homelink}/gay-bath-houses/" title="{if $loc_name}{$loc_name} {/if}Bath House Reviews"></a></div>
	  </div>
{/if}

{if $gay1}
	   <div class="box col1 contentStyle bath">
		<div class="title"><h2>{if $loc_name}{$loc_name} {/if}Gay <super>({$gay1})</super></h2></div>
		<h3><a href="{$homelink}/gay/" title="{if $loc_name}{$loc_name} {/if} Gay">{if $loc_name}{$loc_name} {/if}Gay <super>({$gay1})</super></a></h3>
		{if $popular_gay}
		<div class="recent"></div>
		<div id="reviewsThumb">
		  {section name=r loop=$popular_gay max=4}{assign var=r value=$popular_gay[r]}
		  <a href="{$r.link}" title="{$r.what}"><img src="{$r.thumb}" alt="{$r.what}" border="0" />
		  <div class="name">{$r.name|truncate:20}</div>
		  {if $r.time}<li>[{$r.time}]</li>{/if}</a>
		  {/section}
		</div>
		{/if}
		<div class="submitCTA"><a href="{$homelink}/gay/" title="{if $loc_name}{$loc_name} {/if}Gay Reviews"></a></div>
	  </div>
{/if}


<!-- forums -->
<div class="box col2 contentStyle forums">
	<div class="title"><h2>{if $loc_name}{$loc_name} {/if}sex forums <super>({$frm1+$frm7+$frm2+$frm3+$frm4+$frm5})</super></h2></div>
	<div id="forums">
		<img src="/images/forum.png" alt="{if $loc_name}{$loc_name} {/if} Forums" border="0" />
		<div class="category"><strong>Liked a place? Hated a service?</strong> Join people from {if $loc_name}{$loc_name} {/if} &amp; all over the world in our forums.  Free.</div>
		<div class="cta"><a href="{$homelink}/sex-forum/viewforum?forum_id=1" title="{if $loc_name}{$loc_name} {/if} General Talk">Free Registration</a></div>
	</div>
	<h3><a href="{$homelink}/sex-forum/viewforum?forum_id=1" title="{if $loc_name}{$loc_name} {/if} General Talk">{if $loc_name}{$loc_name} {/if}General Talk <super>({$frm1})</super></a></h3>
	<h3><a href="{$homelink}/sex-forum/viewforum?forum_id=7" title="{if $loc_name}{$loc_name} {/if} Escorts Forum">{if $loc_name}{$loc_name} {/if}Escorts <super>({$frm7})</super></a></h3>
	<h3><a href="{$homelink}/sex-forum/viewforum?forum_id=2" title="{if $loc_name}{$loc_name} {/if} Strip Clubs & Strippers">{if $loc_name}{$loc_name} {/if}Strip Clubs  &amp; Strippers <super>({$frm2})</super></a></h3>
	<h3><a href="{$homelink}/sex-forum/viewforum?forum_id=3" title="{if $loc_name}{$loc_name} {/if} Erotic Massage Parlors & Masseuses">{if $loc_name}{$loc_name} {/if}Massage Parlors <super>({$frm3})</super></a></h3>
	<h3><a href="{$homelink}/sex-forum/viewforum?forum_id=4" title="{if $loc_name}{$loc_name} {/if} Sex Shops">{if $loc_name}{$loc_name} {/if}Sex Shops <super>({$frm4})</super></a></h3>
	<h3><a href="{$homelink}/sex-forum/viewforum?forum_id=5" title="{if $loc_name}{$loc_name} {/if} LifeStyle Clubs">{if $loc_name}{$loc_name} {/if}LifeStyle Clubs <super>({$frm5})</super></a></h3>
</div>

</div>
<!-- / contentCity -->

<div style="clear:both"></div>

{if $location_description || $location_images || $location_video_html}
	<div id="location_description">
		<!-- {$location_lat} - {$location_lng} -->
		<h3>{$location_label}</h3>
		{if $location_lat && $location_lng}
			<a href="https://www.google.com/maps?ll={$location_lat},{$location_lng}&z=12" target="_blank">
				<img src="//maps.google.com/maps/api/staticmap?center={$location_lat},{$location_lng}&amp;zoom=10&amp;size=200x200&amp;maptype=roadmap&amp;markers=color:red|label:A|{$location_lat},{$location_lng}&amp;sensor=false" alt="" style="float: right; margin-right: 10px; margin-left: 10px;"/>
			</a>
		{/if}
		{$location_description}
		{if isset($location_images[0])}<img src="{$config_image_server}/location/{$location_images[0]}" style="float: left; margin: 10px;" />{/if}
		{$location_video_html}
	</div>
{/if}

