<script> function showcities(id) { $("div.cities").hide(); $("#_city"+id).show(); } </script>

<div>
<select id="navigation" onchange="showcities($(this).val());">
{foreach from=$sel item=foo}
 <option disabled="disabled">{$foo.name}</option>
 {section name=s1 loop=$foo.list}{assign var=s value=$foo.list[s1]}
  <option value="{$s.loc_id}"{if $curloc==$s.loc_id} selected="selected"{/if}>{$s.loc_name}</option>
 {/section}
 <option disabled="disabled"></option>
{/foreach}
<select>
</div>

{foreach from=$hide item=foo key=key}
  {assign var=half value=$foo|@count}
 {section name=h1 loop=$foo}{assign var=a value=$foo[h1]}
  {if $smarty.section.h1.index == 0}<div {if $curloc!=$a.state}style="display:none"{/if} id="_city{$a.state}" class="cities"><ul>{/if}
   <li><a href="http://{$a.sub}adultsearch.com{$a.loc_url}">{$a.loc_name}</a></li>
    {if $half % 2 == 0 && $smarty.section.h1.index == $half/2-1}</ul><ul>{elseif $half % 2 == 1 && $smarty.section.h1.index == 
($half-1)/2}</ul><ul>{/if}
 {/section}
  </ul>
  </div>
{/foreach}
