{* $eroticservices array passed from parent template city_intl.tpl *}
<style type="text/css">
div.services h3 {
	margin: 8px 0px;
}
</style>
{assign var=e value=$eroticservices}
<div class="box col2 contentStyle services">
	<div class="title">
		<a href="https://{$site_domain}/classifieds/posttype" rel="nofollow" title="Post your classified ad">Post</a>
		<h1>Erotic Services in {$e.loc_name} <super>({$e.count})</super></h1>
	</div>
	{if $e.news}
		<div id="servicesThumb" class="city_thumbs">
		{section name=cl loop=$e.news}
			{assign var=p value=$e.news[cl]}
			<a href="{$p.link}"><img src="{if $p.avatar}{$p.avatar}{else}//{$core_host}/images/icons/User_1.jpg{/if}" alt="" border="0" /><div class="category">{$p.category}</div><li>{$p.info}</li></a>
		{/section}
		</div>
	{/if}

	<div id="servicesLinks">
	<h3><a href="{$e.homelink}/female-escorts" title="{$e.loc_name} Female Escorts">{$e.loc_name} Female Escorts <super>({if $e.cl1}{$e.cl1}{else}0{/if})</super></a></h3>
	<h3><a href="{$e.homelink}/tstv-shemale-escorts" title="TV/TS/TG Shemale Escorts">{$e.loc_name} TS Escorts <super>({if $e.cl2}{$e.cl2}{else}0{/if})</super></a></h3>
	<h3><a href="{$e.homelink}/body-rubs" title="{$e.loc_name} Body Rubs">{$e.loc_name} Body Rubs <super>({if $e.cl6}{$e.cl6}{else}0{/if})</super></a></h3>
	</div>

	<a href="https://{$site_domain}/adbuild/" rel="nofollow" class="post_btn" title="Post your classified ad">POST ESCORT AD</a>
	
	{if $e.news2}
		<div id="servicesThumb2" class="city_thumbs">
		{section name=cl loop=$e.news2}
		{assign var=p value=$e.news2[cl]}
			<a href="{$p.link}"><img src="{if $p.avatar}{$p.avatar}{else}//{$core_host}/images/icons/User_1.jpg{/if}" alt="" border="0" />
				<div class="category">{$p.category}</div><li>{$p.info}</li>
			</a>
		{/section}
		</div>
	{/if}
</div>
