<script src="{$config_site_url}/js/cloud.js"></script>
<style type="text/css">
<!--
td {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #000;
}
.black {
	color: #FFF;
	background: #000;
}
hr {
	height: 1px;
	border-top: solid 3px black;
	margin: 10px;
}
textarea {
    border: 1px solid black;
    height: 80px;
    margin-bottom: 60px;
    margin-top: 20px;
    text-align: left;
    width: 600px;
}
-->
</style>

<table align="center" width=" 850" border="0">
<tr><td>
<hr />
728x90:<br />
<br />

<script type="text/javascript">
as728x90();
</script>
<textarea onclick="this.select();">&lt;script src=&quot;{$config_site_url}/js/cloud.js&quot;&gt;&lt;/script&gt;
  &lt;script type=&quot;text/javascript&quot;&gt;
  as728x90();
  &lt;/script&gt;</textarea>

<script type="text/javascript">
as728x90Lite();
</script>
<textarea onclick="this.select();">&lt;script src=&quot;{$config_site_url}/js/cloud.js&quot;&gt;&lt;/script&gt;
  &lt;script type=&quot;text/javascript&quot;&gt;
  as728x90Lite();
  &lt;/script&gt;</textarea>
<hr />
468x60:<br />
<br />

<script type="text/javascript">
as468x60();
</script>
<textarea onclick="this.select();">&lt;script src=&quot;{$config_site_url}/js/cloud.js&quot;&gt;&lt;/script&gt;
  &lt;script type=&quot;text/javascript&quot;&gt;
  as468x60();
  &lt;/script&gt;</textarea>

<script type="text/javascript">
as468x60Lite();
</script>
<textarea onclick="this.select();">&lt;script src=&quot;{$config_site_url}/js/cloud.js&quot;&gt;&lt;/script&gt;
  &lt;script type=&quot;text/javascript&quot;&gt;
  as468x60Lite();
  &lt;/script&gt;</textarea>
<hr />
300x250:<br />
<br />

<script type="text/javascript">
as300x250();
</script>
<textarea onclick="this.select();">&lt;script src=&quot;{$config_site_url}/js/cloud.js&quot;&gt;&lt;/script&gt;
  &lt;script type=&quot;text/javascript&quot;&gt;
  as300x250();
  &lt;/script&gt;</textarea>
  
<script type="text/javascript">
as300x250Lite();
</script>
<textarea onclick="this.select();">&lt;script src=&quot;{$config_site_url}/js/cloud.js&quot;&gt;&lt;/script&gt;
  &lt;script type=&quot;text/javascript&quot;&gt;
  as300x250Lite();
  &lt;/script&gt;</textarea>
  
<br />
<br />
London <br />
<br />

<script type="text/javascript">
as300x250London();
</script>
<textarea onclick="this.select();">&lt;script src=&quot;{$config_site_url}/js/cloud.js&quot;&gt;&lt;/script&gt;
  &lt;script type=&quot;text/javascript&quot;&gt;
  as300x250London();
  &lt;/script&gt;</textarea>  
  
  
<hr />
680x90:<br />
<br />

<script type="text/javascript">
as680x90();
</script>
<textarea onclick="this.select();">&lt;script src=&quot;{$config_site_url}/js/cloud.js&quot;&gt;&lt;/script&gt;
  &lt;script type=&quot;text/javascript&quot;&gt;
  as680x90();
  &lt;/script&gt;</textarea>

<script type="text/javascript">
as680x90Lite();
</script>
<textarea onclick="this.select();">&lt;script src=&quot;{$config_site_url}/js/cloud.js&quot;&gt;&lt;/script&gt;
  &lt;script type=&quot;text/javascript&quot;&gt;
  as680x90Lite();
  &lt;/script&gt;</textarea>

<br />
<br />
London<br />
<br />

<script type="text/javascript">
as680x90London();
</script>
<textarea onclick="this.select();">&lt;script src=&quot;{$config_site_url}/js/cloud.js&quot;&gt;&lt;/script&gt;
  &lt;script type=&quot;text/javascript&quot;&gt;
   as680x90London();
  &lt;/script&gt;</textarea>


</td></tr>
<tr>
  <td class="black"><p>
    <script type="text/javascript">
as728x90White();
  </script>
    728x90, white</p>
    <p>
      <textarea onclick="this.select();">&lt;script src=&quot;{$config_site_url}/js/cloud.js&quot;&gt;&lt;/script&gt;
  &lt;script type=&quot;text/javascript&quot;&gt;
  as728x90White();
  &lt;/script&gt;</textarea>
    
    <br />
<br />  300x250, white
<br />
<script type="text/javascript">
as300x250White();
</script>
<textarea onclick="this.select();">&lt;script src=&quot;{$config_site_url}/js/cloud.js&quot;&gt;&lt;/script&gt;
  &lt;script type=&quot;text/javascript&quot;&gt;
  as300x250White();
  &lt;/script&gt;</textarea>

    
    
    </p></td>
</tr>
</table>
