<form action="{$action}" method="post">
{$hidden}

<table width="590" align="center" cellpadding="0" cellspacing="0" bgcolor="#ECEEEB" class="genel">
<tr>
	<td colspan="2" bgcolor="#EEF7FF">Spam Protection</td>
</tr>
{if $spamerror}
<tr>
	<td colspan="2" align="center" class="error">Wrong Code, try again</td>
</tr>
{/if}
<tr>
	<td valign="top">In order to continue, please verify the image code</td>
	<td valign="top">
		<input type="text" name="spam" value="{$spamtext}" /><br />
		<img src="/captcha.php?{$time}" alt="" />
	</td>
</tr>
<tr>
	<td colspan="2" align="center">
		<input type="submit" value="Submit" name="submit" />
	</td>
</tr>
</table>

</form>
