<table cellpadding="0" border="0" style="border-collapse: collapse; width: 590px;">
 <tbody><tr>
 <td>
 <b>All comments:</b>
 </td><td align="center" nowrap="" colspan="3"> </td></tr><tr style="height: 7px;">
 <td>
 </td><td nowrap="" style="color: rgb(255, 255, 255); line-height: 0pt; overflow: hidden;">
 </td><td>
 </td><td nowrap="" style="color: rgb(255, 255, 255); line-height: 0pt; overflow: hidden;">
 </td></tr>

{section name=r loop=$review}
{assign var=r value=$review[r]}
<tr>
 <td style="color: rgb(102, 102, 102); width: 100%;">
<img src="/images/icons/{if $r.liked==1}thumbs_up.gif{else}thumbs_down.gif{/if}" alt="" width="11" /> {$r.username}, {$r.date}
 </td><td align="right" nowrap="">
 </td><td style="width: 12px;">
 </td><td align="left" nowrap="">
 </td></tr><tr>
 <td colspan="4">
 {$r.comment}
 </td></tr><tr style="height: 7px;">
 <td colspan="4">
 </td>
</tr>
{/section}

<tr style="background-color: rgb(239, 239, 247);" class="wcn">
 <td style="padding: 2px;" colspan="4">
 Comment pages:
 &nbsp;{$pages}
</td></tr>
</tbody></table>

