	<div style="position:relative;width:420px;" id="lr"><div style="display:block;width:100%;" id="location">
	<table width="96%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td valign="top" bgcolor="#fbf0d6">&nbsp;</td>
          <td colspan="2" valign="top" bgcolor="#fbf0d6">
<div class="contentHeaderStates ib"><img src="/images/icons/flag/Flag_US_32b.gif" alt="" /><span>United States</span></div>

<table>
        <tr>
          <td width="4%" valign="top" bgcolor="#fbf0d6">&nbsp;</td>
          <td width="52%" rowspan="2" valign="top" bgcolor="#fbf0d6" class="leftSideLinks">
<a href="/?core_state_id=1" title="Alabama - Adult Search">Alabama</a><br/><a href="/?core_state_id=2" title="Alaska - Adult Search">Alaska</a><br/><a 
href="/?core_state_id=3" title="Arizona - 
Adult Search">Arizona</a><br/><a href="/?core_state_id=4" title="Arkansas - Adult Search">Arkansas</a><br/><a href="/?core_state_id=5" title="California - Adult 
Search">California</a><br/><a href="/?core_state_id=6" title="Colorado - Adult Search">Colorado</a><br/><a href="/?core_state_id=7" title="Connecticut - Adult 
Search">Connecticut</a><br/><a href="/?core_state_id=8" title="Delaware - Adult Search">Delaware</a><br/><a href="/?core_state_id=9" title="Florida - Adult 
Search">Florida</a><br/><a 
href="/?core_state_id=10" title="Georgia - Adult Search">Georgia</a><br/><a href="/?core_state_id=11" title="Hawaii - Adult Search">Hawaii</a><br/><a 
href="/?core_state_id=12" title="Idaho - 
Adult Search">Idaho</a><br/><a href="/?core_state_id=13" title="Illinois - Adult Search">Illinois</a><br/><a href="/?core_state_id=14" title="Indiana - Adult 
Search">Indiana</a><br/><a 
href="/?core_state_id=15" title="Iowa - Adult Search">Iowa</a><br/><a href="/?core_state_id=16" title="Kansas - Adult Search">Kansas</a><br/><a href="/?core_state_id=17" 
title="Kentucky - Adult 
Search">Kentucky</a><br/><a href="/?core_state_id=18" title="Louisiana - Adult Search">Louisiana</a><br/><a href="/?core_state_id=19" title="Maine - Adult 
Search">Maine</a><br/><a 
href="/?core_state_id=20" title="Maryland - Adult Search">Maryland</a><br/><a href="/?core_state_id=21" title="Massachusetts - Adult Search">Massachusetts</a><br/><a 
href="/?core_state_id=22" 
title="Michigan - Adult Search">Michigan</a><br/><a href="/?core_state_id=23" title="Minnesota - Adult Search">Minnesota</a><br/><a href="/?core_state_id=24" 
title="Mississippi - Adult 
Search">Mississippi</a><br/><a href="/?core_state_id=25" title="Missouri - Adult Search">Missouri</a><br/><a href="/?core_state_id=26" title="Montana - Adult 
Search">Montana</a>
	</td>
          <td width="44%" rowspan="2" valign="top" bgcolor="#fbf0d6" class="leftSideLinks">
<a href="/?core_state_id=27" title="Nebraska - Adult Search">Nebraska</a><br/><a href="/?core_state_id=28" 
title="Nevada - Adult Search">Nevada</a><br/><a href="/?core_state_id=29" title="New Hampshire - Adult Search">New Hampshire</a><br/><a href="/?core_state_id=30" 
title="New Jersey - 
Adult Search">New Jersey</a><br/><a href="/?core_state_id=31" title="New Mexico - Adult Search">New Mexico</a><br/><a href="/?core_state_id=32" title="New York - Adult 
Search">New 
York</a><br/><a href="/?core_state_id=33" title="North Carolina - Adult Search">North Carolina</a><br/><a href="/?core_state_id=34" title="North Dakota - Adult 
Search">North 
Dakota</a><br/><a href="/?core_state_id=35" title="Ohio - Adult Search">Ohio</a><br/><a href="/?core_state_id=36" title="Oklahoma - Adult Search">Oklahoma</a><br/><a 
href="/?core_state_id=37" 
title="Oregon - Adult Search">Oregon</a><br/><a href="/?core_state_id=38" title="Pennsylvania - Adult Search">Pennsylvania</a><br/><a href="/?core_state_id=39" 
title="Rhode Island - 
Adult Search">Rhode Island</a><br/><a href="/?core_state_id=40" title="South Carolina - Adult Search">South Carolina</a><br/><a href="/?core_state_id=41" title="South 
Dakota - Adult 
Search">South Dakota</a><br/><a href="/?core_state_id=42" title="Tennessee - Adult Search">Tennessee</a><br/><a href="/?core_state_id=43" title="Texas - Adult 
Search">Texas</a><br/><a 
href="/?core_state_id=44" title="Utah - Adult Search">Utah</a><br/><a href="/?core_state_id=45" title="Vermont - Adult Search">Vermont</a><br/><a 
href="/?core_state_id=46" title="Virginia - 
Adult Search">Virginia</a><br/><a href="/?core_state_id=47" title="Washington - Adult Search">Washington</a><br/><a href="/?core_state_id=41989" title="Washington DC - 
Adult 
Search">Washington DC</a><br/><a href="/?core_state_id=48" title="West Virginia - Adult Search">West Virginia</a><br/><a href="/?core_state_id=49" title="Wisconsin - 
Adult 
Search">Wisconsin</a><br/><a href="/?core_state_id=50" title="Wyoming - Adult Search">Wyoming</a>
	</td>
        </tr>
</table>

	</td>

          <td height="5" valign="top" bgcolor="#ffffff">&nbsp;</td>
          <td height="5" colspan="2" valign="top" bgcolor="#fbf0d6"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="46%" valign="top" class="leftSideLinks"><div class="contentHeaderStates ib"><img src="/images/icons/flag/Flag_CAN_32b.gif" 
alt=""><span>Canada</span></div>
<table><td><td>
                <a href="/?core_state_id=16048" title="Alberta - Adult Search">Alberta</a><br />
                <a href="/?core_state_id=16049">B.C.</a><br />
                <a href="/?core_state_id=16050">Manitoba</a><br />
                <a href="/?core_state_id=16051">N. Brunswick</a><br />
                <a href="/?core_state_id=16052">Newfoundland</a><br />
                <a href="/?core_state_id=16053">Nova Scotia</a><br />
                <a href="/?core_state_id=16054">Ontario</a><br />
                <a href="/?core_state_id=16056">Quebec</a><br />
                <a href="/?core_state_id=16057">Saskatchewan</a><br />
                <a href="/?core_state_id=16055">Prince Edward Isle </a><br />
                <a href="/?core_state_id=16058">Yukon</a>
</td></tr></table>
		</td>
            </tr>
          </table></td>

          <td height="5" valign="top" bgcolor="#ffffff">&nbsp;</td>
          <td height="5" colspan="2" valign="top" bgcolor="#fbf0d6"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="44%" valign="top" class="leftSideLinks">
<div class="contentHeaderStates ib"><img src="/images/icons/flag/World_32b.gif" alt="" /><span>Countries</span></div>

<table><td><td>
                <a href="/cambodia/" title="Cambodia">Cambodia</a> 
                <a href="Guam-adult-company.htm">Guam</a> 
			<a href="Panama-adult-company.htm">Panama</a>
			<a href="CostaRica-adult-company.htm">Costa rica</a>
			<a href="/philippines/" title="Philippines">Philippines</a>
			<a href="/thailand/" title="Thailand">Thailand</a>
</td></tr></table>
		</td>

            </tr>
          </table></td>

        </tr>
      </table></div></div>
