<div id="cl" class="ac">
<h2>Where are you located ?</h2>
<select name="country" id="country"><option value="16046">United States</option><option value="16047">Canada</option><option value="41973">United 
Kingdom</option></select>
<span id="state"><select name="state"></select></span>
<span id="city"></span>
</div>

<div id="out"></div>

<script>
$(document).ready(function(){
	_ajax("get", "/our-banners", "country_id=16046", "state");
});
$("#country").change(function(){
	$("#state,#city,#out").html('');
	_ajax("get", "/our-banners", "country_id="+$(this).val(), "state");
});
</script>
