{if !$nobanner && !$config_dev_server}
	<!-- type = {$type} category={$category} -->
	<script src="{$config_site_url}/js/publisher/p.js?20180922" type="text/javascript"></script>

	<center>
		{if $type == 2}
			<script type="text/javascript">as_show_banner(10101, 200, 200);</script>
		{else}
			<script type="text/javascript">as_show_banner(10077, 200, 200);</script>
		{/if}
	</center>
	<br />

{*
	<center>
		{if $type == 2}
			<script type="text/javascript">as_show_banner(10091, 160, 600);</script>
		{else}
			<script type="text/javascript">as_show_banner(10090, 160, 600);</script>
		{/if}
	</center>
*}

{/if}
