{*
<script src="{$config_site_url}/js/publisher/p.js?20180922" type="text/javascript"></script>

<center>
	<div id="page_ads_2"></div>
</center>

<script type="text/javascript">
	{if $as_sid}
		var as_sid = '{$as_sid}';
	{else}
		var as_sid = '99';
	{/if}
	{if $ad_loc}
		var ad_loc='{$ad_loc}';
	{/if}
	var aspublisher_width = "200";
	var aspublisher_height = "700";
	var aspublis_color_bg = "ffffff";
	var aspublis_color_border = "ffffff";
	var aspublis_color_link = "006621";
	var aspublis_color_text = "000000";
	var aspublis_color_url = "1a0dab";
	as_show_ad('page_ads_2', as_sid);
</script>
<br />
*}
