<style type="text/css">
ul {
	list-style-type: disc;
}
</style>

<h1>Report Trafficking</h1>

<p>
Please report any suspected sexual exploitation of minors and/or human trafficking to the appropriate authorities:
</p>

<ul>
	<li>
		<a href="http://www.missingkids.com/missingkids/servlet/PublicHomeServlet?LanguageCountry=en_US" target="_blank">National Center for Missing &amp; Exploited Children (NCMEC)</a>
		<ul>
			<li><a href="http://www.missingkids.com/missingkids/servlet/PageServlet?LanguageCountry=en_US&PageId=2936" target="_blank">CyberTipline</a> - report child exploitation</li>
			<li>24-Hour Hotline: 1-800-843-5678</li>
		</ul>
	</li>
	<li><a href="http://www.polarisproject.org/index.php" target="_blank">Polaris Project - Report Human Trafficking:</a> 888-373-7888</li>
	<li><a href="http://www.hhs.gov/" target="_blank">Dept. of Health &amp; Human Services</a>: 888-373-7888</li>
	<li><a href="http://www.childrenofthenight.org/" target="_blank">Children of the Night</a>: 800-551-1300</li>
	<li><a href="http://www.acenational.org/" target="_blank">ACE National</a>: 202-220-3019</li>
	<li><a href="http://www.ice.gov/index.htm" target="_blank">Homeland Security Investigations Tip Line</a>: 866-DHS-2-ICE</li>
	<li><a href="http://www.justice.gov/" target="_blank">Dept. of Justice</a>: 888-428-7581</li>
	<li>FBI Office: <a href="http://www.fbi.gov/contact-us/field" target="_blank">http://www.fbi.gov/contact-us/field</a></li>
</ul>

<h2>WARNING SIGNS OF POSSIBLE HUMAN TRAFFICKING</h2>
<ul>
	<li>Does an entertainer arrive accompanied by another individual?</li>
	<li>Does that individual speak for or appear to maintain control over the entertainer?</li>
	<li>Does the entertainer seem fearful of that individual?</li>
	<li>Does the entertainer have difficulty communicating, whether resulting from a language barrier or fear of interaction?</li>
</ul>
<p>
While one of these signs, on its own, may not present a trafficking concern, multiple signs indicate a potential red flag. Use common sense, and contact the appropriate authorities if you suspect that someone is being trafficked.
</p>

<h2>ANTI-TRAFFICKING ADVOCACY:</h2>
<p>
Any law enforcement officer can contact us <a href="/law-enforcement">here</a>.
</p>

