<table>
 <tr>
  <td>
{*	<input type="checkbox" name="byapponly" value="1"{if $byapponly==1} checked="checked"{/if} onclick="$('ohmp').toggle();" />by appointment only<br />*}
	<input type="checkbox" name="always" value="1" {if $always}checked="checked"{/if} onclick="jQuery('#ohsingle').toggle();"/>open 24 hours a day<br />
  </td>
 </tr>
 <tr id="ohsingle"{if $always} style="display:none"{/if}>
  <td>
	monday: <span id="closed1" {if $day1closed}style="display:none"{/if}>from <select name="day1o" id="day1o{$id_company}">{$opens[0]}</select> to <select 
name="day1c" id="day1c{$id_company}">{$closes[0]}</select> </span>
		<input type="checkbox" name="day1closed" value="1" {$day1closed} onclick="$('#closed1').toggle();" /> Closed 
		<a href="javascript:void(0);" onclick="setFMon('{$id_company}');">set times from monday</a>
	<br />
	<div id="cal{$id_company}">
	tuesday: <span id="closed2" {if $day2closed}style="display:none"{/if}>from <select name="day2o" id="day2o{$id_company}">{$opens[1]}</select> to <select 
name="day2c" id="day2c{$id_company}">{$closes[1]}</select></span>
<input type="checkbox" name="day2closed" value="1" {$day2closed} onclick="$('#closed2').toggle();" /> Closed
	<br />
	wednesday: <span id="closed3" {if $day3closed}style="display:none"{/if}>from <select name="day3o" id="day3o{$id_company}">{$opens[2]}</select> to <select 
name="day3c" id="day3c{$id_company}">{$closes[2]}</select></span>
<input type="checkbox" name="day3closed" value="1" {$day3closed} onclick="$('#closed3').toggle();" /> Closed
	<br />
	thursday: <span id="closed4" {if $day4closed}style="display:none"{/if}>from <select name="day4o" id="day4o{$id_company}">{$opens[3]}</select> to <select 
name="day4c" id="day4c{$id_company}">{$closes[3]}</select></span>
<input type="checkbox" name="day4closed" value="1" {$day4closed} onclick="$('#closed4').toggle();" /> Closed
	<br />
	friday: <span id="closed5" {if $day5closed}style="display:none"{/if}>from <select name="day5o" id="day5o{$id_company}">{$opens[4]}</select> to <select 
name="day5c" id="day5c{$id_company}">{$closes[4]}</select></span>
<input type="checkbox" name="day5closed" value="1" {$day5closed} onclick="$('#closed5').toggle();" /> Closed
	<br />
	saturday: <span id="closed6" {if $day6closed}style="display:none"{/if}>from <select name="day6o" id="day6o{$id_company}">{$opens[5]}</select> to <select 
name="day6c" id="day6c{$id_company}">{$closes[5]}</select></span>
<input type="checkbox" name="day6closed" value="1" {$day6closed} onclick="$('#closed6').toggle();" /> Closed
	<br />
	sunday: <span id="closed7" {if $day7closed}style="display:none"{/if}>from <select name="day7o" id="day7o{$id_company}">{$opens[6]}</select> to <select 
name="day7c" id="day7c{$id_company}">{$closes[6]}</select> </span>
<input type="checkbox" name="day7closed" value="1" {$day7closed} onclick="$('#closed7').toggle();" /> Closed
	</div>
  </td>
 </tr>

</table>

<script type="text/javascript">
{literal}
function cal(id) {
	if( $("cal"+id).style.display == "" )
		$("cal"+id).style.display = 'none';
	else
		$("cal"+id).style.display = '';
}

function setFMon(id) {
	for(var i = 2; i<8; i++) {
		$('#day'+i+'o'+id).val($('#day1o'+id).val());
		$('#day'+i+'c'+id).val($('#day1c'+id).val());
	}
}
{/literal}

{if $byapponly}
	$('ohmp').hide();
{/if}
</script>


