<div data-role="page" id="page_warning"> 
	<div data-role="content" id="warning">
		<p style="font-size: 0.9em;">
		Adultsearch is based in The Netherlands. We always have been adamantly against illegal prostitution, sex trafficking, and all forms of child abuse worldwide. We only want adults that want to be here for entertainment fantasies and lawful activity. If you want to do something illegal, you are not welcome here. Furthermore, Adultsearch responds expeditiously to all subpoenas and legal requests from law enforcement worldwide.
 IF YOU ARE A SEX TRAFFICKER, ILLEGAL PROSTITUTE, PEDOPHILE, OR ABUSE CHILDREN IN ANY WAY - YOU ARE NOT WELCOME HERE – WE WILL REPORT YOU!
In an effort to curtail child abuse, despite the fact that the age of majority is generally 18, we will not accept listings from anyone under the age of 21. We need your help! If you are aware of anyone under the age of 21 using our site, contact us at: <img src="/images/email_notrafficking.png" style="width: 180px; height: 18px; vertical-align: middle;"/>
		</p>
		<p style="text-align: center;">
			<a href="{$agree_link}" id="agree_btn"><span class="big">I'M OVER 21</span><br />I agree to the terms and conditions</button>
			<a href="https://www.google.com" id="leave_link">Leave website</a>
		</p>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	$.mobile.changePage($('#page_warning'), 'pop', false, true);
	$('#agree_btn').click(function(ev) {
		ev.preventDefault();
		warning_agreed();
		$.mobile.changePage($('#page_main'), 'pop', false, true);
		return false;
	});
});
</script>
