<div id="warning_bg"></div>
<div id="warning">
<p class="traf">
	TRAFFICKERS – YOU ARE NOT WELCOME HERE - WE WILL REPORT YOU!
</p>
<p>
	Adultsearch is an entertainment fantasy company. Adultsearch is and always has been adamantly against illegal prostitution, all forms of sex trafficking, and all forms of child abuse worldwide. We only want adults that want to be here for entertainment fantasies and lawful activity. Adultsearch has no intent to promote or facilitate prostitution, only fantasy and lawful activity. If you want to do something illegal, you are not welcome here. Furthermore, Adultsearch responds expeditiously to all subpoenas and legal requests from law enforcement worldwide.
<p class="traf">
	IF YOU ARE A SEX TRAFFICKER, YOU ARE NOT WELCOME HERE – WE WILL REPORT YOU! IF YOU ARE A PEDOPHILE, OR ABUSE CHILDREN IN ANY WAY, YOU ARE NOT WELCOME HERE – WE WILL REPORT YOU! IF YOU ARE AN ILLEGAL PROSTITUTE OR AT ALL AFFILIATED WITH ILLEGAL PROSTITUTION IN ANY WAY, YOU ARE NOT WELCOME HERE – WE WILL REPORT YOU!
</p>
<p>
	While Adultsearch is based in The Netherlands and not technically subject to the jurisdiction of all countries’ governments, we sincerely want to help. No matter where you are in the world, if you are a law enforcement officer and you suspect trafficking or child abuse is going on at Adultsearch, please notify us, and we will expeditiously review and remove any listings and divulge all the information that we have referring or relating to the poster, to you. We want those people gone as much as you! Please contact us at: <img src="/images/email_notrafficking.png" style="width: 180px; height: 18px; vertical-align: middle;"/>.
</p>
<p class="traf">
	We Repeat: IF YOU ARE A SEX TRAFFICKER, YOU ARE NOT WELCOME HERE – WE WILL REPORT YOU! IF YOU ARE A PEDOPHILE, OR ABUSE CHILDREN IN ANY WAY, YOU ARE NOT WELCOME HERE – WE WILL REPORT YOU! IF YOU ARE AN ILLEGAL PROSTITUTE OR AT ALL AFFILIATED WITH ILLEGAL PROSTITUTION IN ANY WAY, YOU ARE NOT WELCOME HERE – WE WILL REPORT YOU!
</p>
<p>
	In an effort to curtail child abuse, despite the age of majority ranging from 16 to 18, we will not take listings from any persons under the age of 21. If you are aware of anyone under the age of 21 using Adultsearch (whether you are a law enforcement officer or not), please notify us at: NOTRAFFICKING@ADULTSEARCH.COM, and we will expeditiously review and remove any listings that violate this policy.
</p>
<p class="traf">
	We Repeat: IF YOU ARE A SEX TRAFFICKER, YOU ARE NOT WELCOME HERE – WE WILL REPORT YOU! IF YOU ARE A PEDOPHILE, OR ABUSE CHILDREN IN ANY WAY, YOU ARE NOT WELCOME HERE – WE WILL REPORT YOU! IF YOU ARE AN ILLEGAL PROSTITUTE OR AT ALL AFFILIATED WITH ILLEGAL PROSTITUTION IN ANY WAY, YOU ARE NOT WELCOME HERE – WE WILL REPORT YOU!
</p>
<p>
	While we are not experts in every country’s laws, we have been informed that there is a law pending in the United States regarding Sex Trafficking. We are fully in support of all efforts to curtail illegal prostitution, sex trafficking and keeping children safe.
</p>
<p>
	Thank You
</p>
<p style="text-align: center;">
	<a href="{$agree_link}" id="agree_btn"><span class="big">I'M OVER 21</span><br />I agree to the terms and conditions</a>
	<a href="https://www.google.com" id="leave_link">Leave website</a>
</p>
</div>
<script type="text/javascript">
$(document).ready(function() {
	$('#agree_btn').click(function(ev) {
		ev.preventDefault();
		warning_agreed();
		$('#warning').remove();
		$('#warning_bg').remove();
		return false;
	});
});
</script>
