
{* $eroticservices array passed from parent template city_intl.tpl *}
{assign var=e value=$eroticservices}

<li class="ui-nodisc-icon ui-alt-icon"><a data-ajax="false" href="{$e.homelink}/female-escorts" title="{$e.loc_name}Female Escorts">Female Escorts<span class="ui-li-count">{if $e.cl1}{$e.cl1}{else}0{/if}</span></a></li>
<li class="ui-nodisc-icon ui-alt-icon"><a data-ajax="false" href="{$e.homelink}/tstv-shemale-escorts" title="TV/TS/TG Shemale Escorts">TS/TG Shemale Escorts<span class="ui-li-count">{if $e.cl2}{$e.cl2}{else}0{/if}</span></a></li>
<li class="ui-nodisc-icon ui-alt-icon"><a data-ajax="false" href="{$e.homelink}/body-rubs" title="{$e.loc_name}Body Rubs">Body Rubs<span class="ui-li-count">{if $e.cl6}{$e.cl6}{else}0{/if}</span></a></li>

{if $e.news}
	{section name=cl loop=$e.news}
	{assign var=p value=$e.news[cl]}
		<li class="ui-nodisc-icon ui-alt-icon ui-li-has-thumb"><a data-ajax="false" href="{$p.link}" class="ui-btn ui-btn-icon-right ui-icon-carat-r"><img src="{if $p.avatar}{$p.avatar}{else}http://{$core_host}/images/icons/User_1.jpg{/if}" alt="" border="0" />{$p.category} {$p.info}</a></li>
	{/section}
{/if}
