<div id="citye">
<ul data-role="listview" data-divider-theme="a" data-count-theme="b">

	{if $cl6 || $cl1 || $cl13 || $cl12 || $cl3 || $cl4 || $cl7 || $cl14}<li data-role="list-divider">Erotic Services</li>{/if}

	{if $cl1}<li class="ui-nodisc-icon ui-alt-icon"><a data-ajax="false" href="{$homelink}/female-escorts/" title="{if $core_state_name}{$core_state_name} {/if}Female Escorts">Female Escorts<span class="ui-li-count">{$cl1}</span></a></li>{/if}
	
	{if $cl5}<li class="ui-nodisc-icon ui-alt-icon"><a data-ajax="false" href="{$homelink}/escort-agencies/" title="{if $core_state_name}{$core_state_name} {/if}Escorts Agencies">Escort Agencies<span class="ui-li-count">{$cl5}</span></a></li>{/if}

	{if $cl2}<li class="ui-nodisc-icon ui-alt-icon"><a data-ajax="false" href="{$homelink}/tstv-shemale-escorts/" title="{if $core_state_name}{$core_state_name} {/if}TS / TV Shemale Escorts">TS / TV Shemale Escorts<span class="ui-li-count">{$cl2}</span></a></li>{/if}

	{if $cl6}<li class="ui-nodisc-icon ui-alt-icon"><a data-ajax="false" href="{$homelink}/body-rubs/" title="{if $core_state_name}{$core_state_name} {/if}Female Body Rubs">Female Body Rubs<span class="ui-li-count">{$cl6}</span></a></li>{/if}

	{if $cl3}<li class="ui-nodisc-icon ui-alt-icon"><a data-ajax="false" href="{$homelink}/male-escorts-for-female/" title="{if $core_state_name}{$core_state_name} {/if}Male for Female">Male for Female<span class="ui-li-count">{$cl3}</span></a></li>{/if}

{*
	{if $cl13}<li class="ui-nodisc-icon ui-alt-icon"><a data-ajax="false" href="{$homelink}/bdsm-fetish-escorts/" title="{if $core_state_name}{$core_state_name} {/if}BDSM / Fetish">BDSM / Fetish ({$cl13})</a></li>{/if}

	{if $cl12}<li class="ui-nodisc-icon ui-alt-icon"><a data-ajax="false" href="{$homelink}/strippers-for-hire/" title="{if $core_state_name}{$core_state_name} {/if}Strippers For Hire">Strippers For Hire ({$cl12})</a></li>{/if}

	{if $cl4}<li class="ui-nodisc-icon ui-alt-icon"><a data-ajax="false" href="{$homelink}/male-for-male-escorts/" title="{if $core_state_name}{$core_state_name} {/if}Male for Male Escorts">Male for Male Escorts ({$cl4})</a></li>{/if}

	{if $cl7}<li class="ui-nodisc-icon ui-alt-icon"><a data-ajax="false" href="{$homelink}/male-for-male-body-rubs/" title="{if $core_state_name}{$core_state_name} {/if}Male For Male Body Rubs">Male For Male Body Rubs ({$cl7})</a></li>{/if}

	{if $cl14}<li class="ui-nodisc-icon ui-alt-icon"><a data-ajax="false" href="{$homelink}/adult-help-wanted/" title="{if $core_state_name}{$core_state_name} {/if}Adult Help Wanted">Adult Help Wanted ({$cl14})</a></li>{/if}
*}

	{if $emp1 || $sc1 || $as1 || $lm1on11 || $ls1 || $ls2 || $sc3 || $sc5 || $brothel1 }<li data-role="list-divider">Adult Places</li>{/if}

	{if $emp1}<li class="ui-nodisc-icon ui-alt-icon"><a data-ajax="false" href="{$homelink}/erotic-massage/" title="{if $core_state_name}{$core_state_name} {/if}erotic massage parlors">Erotic Massage Parlors<span class="ui-li-count">{$emp1}</span></a></li>{/if}

	{if $sc1}<li class="ui-nodisc-icon ui-alt-icon"><a data-ajax="false" href="{$homelink}/strip-clubs/" title="{if $core_state_name}{$core_state_name} {/if}Strip Clubs">Female Strip Clubs<span class="ui-li-count">{$sc1}</span></a></li>{/if}

	{if $as1}<li class="ui-nodisc-icon ui-alt-icon"><a data-ajax="false" href="{$homelink}/sex-shops/" title="{if $core_state_name}{$core_state_name} {/if}Sex Shops">Sex Shops<span class="ui-li-count">{$as1}</span></a></li>{/if}

	{if $lm1on11}<li class="ui-nodisc-icon ui-alt-icon"><a data-ajax="false" href="{$homelink}/lingerie-modeling-1on1/" title="{if $core_state_name}{$core_state_name} {/if}Nude Modeling 1on1 - Private Nude Modeling">Nude Modeling 1on1<span class="ui-li-count">{$lm1on11}</span></a></li>{/if}

	{if $ls1}<li class="ui-nodisc-icon ui-alt-icon"><a data-ajax="false" href="{$homelink}/swinger-clubs/" title="{if $core_state_name}{$core_state_name} {/if}Swinger Clubs">Swinger Clubs<span class="ui-li-count">{$ls1}</span></a></li>{/if}

	{if $ls2}<li class="ui-nodisc-icon ui-alt-icon"><a data-ajax="false" href="{$homelink}/bdsm/" title="{if $core_state_name}{$core_state_name} {/if}BDSM">BDSM<span class="ui-li-count">{$ls2}</span></a></li>{/if}

	{if $sc3}<li class="ui-nodisc-icon ui-alt-icon"><a data-ajax="false" href="{$homelink}/male-strip-clubs/" title="{if $core_state_name}{$core_state_name} {/if}Male Strip Clubs">Male Strip Clubs<span class="ui-li-count">{$sc3}</span></a></li>{/if}

	{if $sc5}<li class="ui-nodisc-icon ui-alt-icon"><a data-ajax="false" href="{$homelink}/male-revues/" title="{if $core_state_name}{$core_state_name} {/if}Strip Clubs">Male Strip Shows<span class="ui-li-count">{$sc5}</span></a></li>{/if}

	{if $brothel1}<li class="ui-nodisc-icon ui-alt-icon"><a data-ajax="false" href="{$homelink}/brothels/" title="{if $core_state_name}{$core_state_name} {/if}Brothels">Brothels ({$brothel1})</a></li>{/if}

{*
	<li data-role="list-divider">Discussion Forums</li>

	<li class="ui-nodisc-icon ui-alt-icon"><a data-ajax="false" href="{$homelink}/sex-forum/viewforum?forum_id=1" title="{if $core_state_name}{$core_state_name} {/if}General Talk">General Talk{if $forum_new1} <span class="new">*new post*</span>{else}<span class="ui-li-count">{$frm1}</span>{/if}</a></li>

	<li class="ui-nodisc-icon ui-alt-icon"><a data-ajax="false" href="{$homelink}/sex-forum/viewforum?forum_id=7" title="{if $core_state_name}{$core_state_name} {/if}Escorts Forum">Escorts{if $forum_new7} <span class="new">*new post*</span>{else}<span class="ui-li-count">{$frm7}</span>{/if}</a></li>

	<li class="ui-nodisc-icon ui-alt-icon"><a data-ajax="false" href="{$homelink}/sex-forum/viewforum?forum_id=2" title="{if $core_state_name}{$core_state_name} {/if}Strip Clubs &amp; Strippers">Strip Clubs &amp; Strippers{if $forum_new2} <span class="new">*new post*</span>{else}<span class="ui-li-count">{$frm2}</span>{/if}</a></li>

	<li class="ui-nodisc-icon ui-alt-icon"><a data-ajax="false" href="{$homelink}/sex-forum/viewforum?forum_id=3" title="{if $core_state_name}{$core_state_name} {/if}Erotic Massage Parlors &amp; Masseuses">Massage Parlors &amp; Masseuses{if $forum_new3} <span class="new">*new post*</span>{else}<span class="ui-li-count">{$frm3}</span>{/if}</a></li>

	<li class="ui-nodisc-icon ui-alt-icon"><a data-ajax="false" href="{$homelink}/sex-forum/viewforum?forum_id=4" title="{if $core_state_name}{$core_state_name} {/if}Sex Shops">Sex Shops{if $forum_new4} <span class="new">*new post*</span>{else}<span class="ui-li-count">{$frm4}</span>{/if}</a></li>

	<li class="ui-nodisc-icon ui-alt-icon"><a data-ajax="false" href="{$homelink}/sex-forum/viewforum?forum_id=5" title="{if $core_state_name}{$core_state_name} {/if}LifeStyle Clubs">LifeStyle Clubs{if $forum_new5} <span class="new">*new post*</span>{else}<span class="ui-li-count">{$frm5}</span>{/if}</a></li>
*}

	{if $news}
		<li data-role="list-divider">Featured Ads</li>
		{section name=cl loop=$news}
		{assign var=p value=$news[cl]}
			<li class="ui-nodisc-icon ui-alt-icon">
				<a data-ajax="false" href="{$p.link}">
					<img src="{if $p.avatar}{$p.avatar}{else}http://{$core_host}/images/icons/User_1.jpg{/if}" alt="" border="0" /> {$p.category} [{$p.info}]{if $jay}<br style="clear: both;" />{/if}
				</a>
			</li>
		{/section}
	{/if}

</ul>
</div>
