<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>{$title}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="/css/mobile.css.new" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="//code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
<link rel="stylesheet" href="{$config_site_url}/css/as_jqm.css?20190725" />
<link rel="stylesheet" href="{$config_site_url}/css/as_jqm_icons.css" />

{if $config_env && $config_env != 'prod'}
<!-- for all non-prod environments, export config_site_url to javascript var -->
<script type="text/javascript">
var config_site_url = '{$config_site_url}';
</script>
{/if}

{if $jquery_new}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
{else}
	<script src="//code.jquery.com/jquery-1.8.3.min.js"></script>
{/if}
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>

<script type="text/javascript" src="{$config_site_url}/js/mobile/mobile.js?20190725"></script>
<script type="text/javascript" src="{$config_site_url}/js/jquery.cookie.js"></script>

<script src="{$config_site_url}/js/publisher/p.js?20180922" type="text/javascript"></script>

{if $jquery_file_upload}
    <link rel="stylesheet" href="/css/jquery_file_upload/jquery.fileupload.css">
    <script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
    <script src="//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.2/jquery.iframe-transport.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.2/jquery.fileupload.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.2/jquery.fileupload-process.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.2/jquery.fileupload-image.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.2/jquery.fileupload-validate.min.js"></script>
{/if}
{if $flowplayer}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flowplayer/6.0.5/skin/minimalist.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowplayer/6.0.5/flowplayer.min.js"></script>
{/if}

{$html_head_include}

</head>
<body>

<div data-role="page" id="page_main">
	<div data-role="header" style="height: 40px;" id="mobile_header">
		<a href="/" data-role="none" data-ajax="false" class="logo-mobile" data-ajax="false"> </a>
		{if $location_name}
			<a href="#popupLocation" data-rel="popup" data-position-to="#mobile_header" data-transition="pop" class="change-location"><img src="/images/mobile/marker_white_h30.png" />{$location_name} <span style="font-size: 0.8em;font-weight:150;">(tap to change)</span></a>
			<div data-role="popup" id="popupLocation" data-theme="a" class="ui-corner-all">
				<a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
		        <div style="padding:10px 20px;">
					<h3 style="margin-top: 0px;">Change city</h3>
					<form action="/search_location" method="get" data-ajax="false">
						<input name="city" id="city" value="" placeholder="Type City Name" autocomplete="off"/>
						<button type="submit" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-search ui-nodisc-icon">Search</button>
					</form>
					<br />
					<a title="Adult Search Engine" href="/m/location?mobile=1" class="ui-btn ui-mini" data-ajax="false">All Cities &amp; Countries »</a> 
				</div>
			</div>
			{*
			{if in_array($page_type, ['city','list'])}
				<a data-role="none" data-ajax="false" class="ui-link ui-btn ui-shadow ui-corner-all" style="right: 47px;" href="{$cur_loc_url}map{if $place_type_id}?type={$place_type_id}{/if}">Map view</a>
			{else}
				{if $page_type=='item' && $back_url}
					<a data-role="none" data-ajax="false" class="ui-link ui-btn ui-shadow ui-corner-all" style="right: 47px;" href="{$back_url}">Back to map</a>
				{/if}
			{/if}
			*}
		{/if}
		{$navlink_html}
		<a href="#popupMenu" id="mobile-navbar-menu" data-rel="popup" data-transition="none" class="ui-btn ui-btn-right ui-btn-inline ui-mini ui-btn-icon-notext ui-icon-bars ui-nodisc-icon">Account...</a>
		<div data-role="popup" id="popupMenu">
			<ul data-role="listview" data-inset="true" style="min-width:210px;">
			{if $smarty.session.username}
				{if $smarty.session.classified_poster}<li><a href="/classifieds/myposts" data-ajax="false">My Classified Ads</a></li>{/if}
				<li><a href="/account/mypage" data-ajax="false" data-account-id="{$smarty.session.account}">My profile</a></li>
				{if $smarty.session.classified_poster}<li><a href="/account/payments" data-ajax="false">My Payments</a></li>{/if}
				<li><a href="/pm/" data-ajax="false">My Private Messages{if $unread_messages > 0} <span style="color: orange; font-weight: bold;">({$unread_messages})</span>{/if}</a></li>
				<li><a href="/adbuild/" data-ajax="false" data-ajax="false">Post an ad</a></li>
				{if account::is_impersonated() }
					<li><a href="/account/impersonate_return" data-ajax="false">Return to admin</a></li>
                {/if}
				<li><a href="?logoff=1{php}echo "&amp;redirect=".rawurlencode($_SERVER["REQUEST_URI"]);{/php}" data-ajax="false">Logout</a></li>
				{if $smarty.session.account_level > 2}
					<!-- {$smarty.session.account_level} {$jay} -->
					{if !$smarty.session.templates}
						<li><a href="?templates=jay" data-ajax="false">.jay templates</a></li>
					{else}
						<li><a href="?templates=" data-ajax="false">Standard templates</a></li>
					{/if}
				{/if}
			{else}
				<li><a href="/account/signin" data-ajax="false" data-ajax="false">Log in</a></li>
				<li><a href="/account/signup" data-ajax="false" data-ajax="false">Sign up</a></li>
				<li><a href="/adbuild/" data-ajax="false" data-ajax="false">Post an ad</a></li>
			{/if}				
			</ul>
		</div>
	</div>

	<div data-role="main" class="ui-content">

		{if !$nobanner && !$isworker && !$isadmin}
		<div id="mobile_headerpromo">
			<!-- {$type} -->
			{if $type == 2}
				<script type="text/javascript">as_show_banner(10095, 300, 100);</script>
			{else}
				<script type="text/javascript">as_show_banner(10094, 320, 100);</script>
			{/if}
		</div>
		{/if}


		{$content}

		<br />
		{if !$nobanner && !$isworker && !$isadmin}
		<div style="display:block; width: 300px; margin: auto;">
			{if $type == 2}
				<script type="text/javascript">as_show_banner(10107, 300, 250);</script>
			{else}
				<script type="text/javascript">as_show_banner(10072, 300, 250);</script>
			{/if}
		</div>
		{/if}

	</div>

	<div data-role="footer" style="height: 40px;">
		<div style="max-width: 640px; text-align: center;">
			<a data-role="none" data-ajax="false" href="{$full_version_link}" rel="nofollow">Full Site Version</a> | 
			<a data-role="none" data-ajax="false" title="Privacy Policy" href="http://{$site_domain}/privacy-policy">Privacy Policy</a> | 
			<a data-role="none" data-ajax="false" href="/contact{php}echo"?where=".rawurlencode($_SERVER["REQUEST_URI"]);{/php}" rel="nofollow">Contact</a>
			{if $totaltime}
				<div style="font-weight: normal;">
					<b>{$totaltime}</b>. total sql: <b>{$total_sql}</b>. sql time: <b>{$total_time}</b>
				</div>
			{/if}
		</div>
	</div>

</div>

</div>

{if $warning}
	{include "warning_mobile.tpl"}
{/if}

{if !$config_dev_server}
    {include "google_analytics.tpl"}
{/if}

{if !$devserver && ($popup || $popup_url)}
{literal}
<script type="text/javascript">
	_popunderSettings = { "url": {/literal}{if $popup}'{$config_site_url}/advertise/popup?sid={$popup}'{else}'{$popup_url}'{/if}{literal} }
	$(document).ready(_PopunderMobile.attach);
</script>
{/literal}
{/if}

{if $interstitial_img_src && $interstitial_cs_id}
    <!-- img_src = {$interstitial_img_src}, cs_id = {$interstitial_cs_id} -->
    {include "mobile/interstitial_mobile.tpl" interstitial_img_src=$interstitial_img_src interstitial_cs_id=$interstitial_cs_id}
{else}
    <!-- no as interstitial -->
{/if}

{if !$config_dev_server && $ismember && !$isworker && !$isadmin}
	{include "jivochat.tpl"}
{/if}

{if !$config_dev_server && !$isworker && !$isadmin}
    <script src="/js/retentioneering.js" type="text/javascript"></script>
{/if}

<!-- page_type='{$page_type}' -->
</body>
</html>
