<a href="/adbuild/step3?ad_id={$post.id}" class="pm_btn pm_btn_white" data-ajax="false">Back to edit ad</a>
{if $post.done < 1}
	<a href="/adbuild/step4?ad_id={$post.id}" data-ajax="false"  class="pm_btn pm_btn_coral">Save &amp; Continue &gt;</a>
{/if}

<div id="breadcrumb"><a href="{$state_link}">{$loc_name}</a> : <a href="{$state_link}{$gModule}/" title="{$cat}">{$cat}</a></div>
<div id="contentWrapper"><div id="placeList">
  <table class="center" cellspacing="0" cellpadding="2" width="100%">
    <tr>
      <td valign="top" width="78"><img src="{if $thumb}{$config_image_server}/{$image_path}/{$thumb}{else}{$config_site_url}/images/placeholder.gif{/if}" alt="" width="75" height="75" border="0" /></td>
      <td valign="top"><strong>{$post.title} - ID: {$post.id}</strong><br />{if $post.ethnicity}<b>{$post.ethnicity}</b>, {/if}{if $post.loc_name}Available in <b>{$post.loc_name}{if $post.location} ({$post.location}){/if}</b>.{/if}{if $post.available} <b>{if $post.available==1}Incall ONLY{$post.incall_rate}{elseif $post.available==2}Outcall ONLY{$post.outcall_rate}{else}Incall{$post.incall_rate} and Outcall{$post.outcall_rate}{/if}</b>.{/if}
<br/>Posted: {$post.date2}
</td>
    </tr>
    <tr>
    	<td colspan="2">{if $post.phone}<div class="bigPhone" style="margin-left: 0px;" margin-right: 0px;><a href="tel:{$post.phone}">{$post.phone}</a></div>{else}No Phone{/if}</td>
    </tr>
  </table>
  {if $c0}{$c0}{else}
  <div class="sectionHead topRound" style="border-top: 1px solid #36F;"><a href="javascript:businessInfo();">Details <img src="{$config_image_server}/images/mobile/arrow-down.png" width="13" height="13" border="0" id="businessInfoArrow" align="right" /></a></div>
  <div id="businessInfo"{if !$images} class="bottomRound"{/if}>{$post.content}
{if $post.age}<span class="ter">Poster's age: {$post.age}</span>{/if}
{if $post.pornstar}<span>Pornstar!</span>{/if}
{if $post.pregnant}<p>Pregnant!</p>{/if}
{if $post.visiting}<p>Visiting!</p>{/if}
{if $post.tantra}<p>Tantra Massage!</p>{/if}
{if $post.ter}<p class="ter"><a href="http://www.theeroticreview.com/reviews/show.asp?id={$post.ter}" target="_blank" rel="nofollow">Read My Reviews on TER</a></p>{/if}
{if $post.payment_visa}<img src="{$config_image_server}/images/icons/icon_visa.jpg" alt="accept visa & mastercard" width="62" height="21" />{/if}
{if $post.payment_amex}<img src="{$config_image_server}/images/icons/icon_amex.jpg" alt="accept american experss" />{/if}
{if $post.payment_dis}<img src="{$config_image_server}/images/icons/icon_dis.jpg" alt="accept discover card" />{/if}
<center><strong>*Mention you saw my ad on AdultSearch.com*</strong></center>
  </div>
  {/if}
  {if $images}<div class="sectionHead" id="photoInfoHead" style="border-bottom: 2px solid #459FE2;"><a href="javascript:picsInfo();">Photos <img src="{$config_image_server}/images/mobile/arrow-down.png" width="13" height="13" border="0" id="picsInfoArrow" align="right" /></a></div>{/if}
  <div id="picsInfo">{section name=i loop=$images}
{assign var=i value=$images[i]}
<img src="{$config_image_server}/classifieds/t/{$i.filename}" style="vertical-align: middle;" /> {/section}</div>
</div>
</div>
</div>
<script language="javascript" src="/js/mobile/slider.js"></script> 
</div><div class="spacer"></div>
