<?xml version="1.0" encoding="UTF-8"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{section name=p loop=$map}{assign var=m value=$map[p]}<sitemap><loc>http://adultsearch.com{$m.map}</loc></sitemap>{/section}
</sitemapindex>
