a:hover {
	opacity: .7;
}
.remove a {
	background: none repeat scroll 0 0 #FF740E !important;
	border: 0 none;
	border-radius: 6px 6px 6px 6px;
	color: #FFFFFF;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold !important;
	padding: 1px 6px;
	text-transform: uppercase;
	font-size: 10px !important;
}
#calculator ul {
	padding-left: 10px;
}
#calculator li {
	line-height: 20px;
}
.cities a, .cities2 a {
	font-weight: bold !important;
}
.toggle a {
	clear: both;
}
.toggle {
}
.toggle a:hover {
	cursor: pointer;
}
.title {
	font-size: 16px;
	font-weight: bold;
}
#ssl {
	border: 1px solid #5eabe5;
	color: #000000;
	float: right;
	font-size: 9px;
	margin: 0px 0 20px 10px;
	padding: 10px 0px 0px 10px;
	width: 250px;
}
.infoblock #ssl {
	float: left;
	width: 450px;
	font-size: 11px;
}
#ssl .cards {
	text-align: left;
	margin-left: 10px;
}
.infoblock #ssl .cards {
	float: right;
	width: 230px;
}
#ssl #mc, #ssl #visa, #ssl #amex, #ssl #discover {
	margin-bottom: 5px;
}
#ssl #mc, #ssl #visa, #ssl #amex, #ssl #discover {
	padding: 0 6px;
}
#ssl .right {
	float: right;
	margin-right: 30px;
}
#ssl #lock {
	float: left;
	margin: 0 5px 10px 0;
}
.infoblock #ssl #lock {
	margin-bottom: 20px;
}
#category .title, .checkout .title {
	width: 100%;
	padding-left: 0px;
	font-size: 16px;
}
#rules {
	clear: both;
	font-size: 11px;
	position: aboslute;
}
#rules a {
	font-size: 11px;
}
#rules li {
	list-style: square;
}
#rules .bannerSquare {
	float: right;
	padding: 10px 0px 20px 30px;
}
textarea {
	background-color: #FFFFB9;
}
select {
	font-size: 16px;
	padding: 5px;
	border-radius: 6px;
	margin-left: 20px;
}
#upgrades select {
	margin-left: 0px;
}
#category, #geo, #info, .checkout {
	background-color: #FFFFB9;
	border-radius: 10px;
	padding: 20px;
	width: 700px;
	float: left;
}
#calculator {
	float: right;
	margin-bottom: 20px;
	width: 240px;
}
#absa {
	background-color: #FFFFB9;
	border-radius: 10px;
	padding: 20px 0px 20px 20px;
	width: 220px;
	position: fixed;
}
#category div {
	width: 220px;
	float: left;
	padding-left: 30px;
	font-size: 13px;
}
.continue {
	text-align: right;
	clear: both;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: bold;
	float: right;
}
#build1 .continue {
	clear: none;
}
.continue a {
	margin-bottom: 10px;
}
.continue > input:hover {
	opacity: .7;
}
.infoblock .continue input {
	background: #FFFFFF;
}
.alert-intro {
	width: 600px; color: red; font-size: 11px; font-weight: normal; text-align: left; text-transform: none; padding-top:5px; clear: both; float: left;}
#status .login a:hover {
	background-color: #5EABE5;
	color: #FFFFFF;
	text-decoration: none;
	border: solid 1px #FFFFFF;
}
#build1 {
	padding: 20px 0px;
}
.build2 {
	padding: 20px 50px;
}
.build2 #category {
	width: 960px;
}
#geo ul {
	list-style: disc;
}
#geoLinks ul {
	width: 300px;
	float: left;
	list-style: none;
}
.infoblock {
	border: solid 1px #CCCCCC;
	border-radius: 10px;
	padding: 20px;
	width: 698px;
	float: left;
	margin-bottom: 10px;
	font-size: 12px;
}
.title1 {
	color: #000000;
	font-size: 16px;
	font-weight: bold;
	display: block;
	margin-bottom: 20px;
}
label {
	width: 150px;
	text-align: right;
	clear: both;
	display: block;
	float: left;
	padding-right: 10px;
}
.alt {
	margin: 10px 0px 30px 160px;
}
.infoblock > div {
	min-height: 40px;
}
.infoblock select, .infoblock input, .infoblock textarea, form textarea, form input {
	font-size: 14px;
	padding: 3px;
	border-radius: 3px;
	background: #FFFFB9;
	margin-left: 0px;
	font-family: Verdana, Geneva, sans-serif;
}
#from, #to {
	width: 86px;
	margin-right: 3px;
}
.ui-widget-header {
	background: #5EABE5;
	border: none;
}
.counter {
	right:0;
	top:0;
	font-size:20px;
	font-weight:bold;
	color:#CCCCCC;
}
.warning {
	color:#600;
}
.exceeded {
	color:#e00;
}
.large {
	font-weight: bold;
	font-size: 14px;
}
div.blockquote {
	font-size: 12px;
	font-weight: normal;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 40px;
	margin-right: 40px;
}
.intro {
	background-color: #FFFFB9;
	border-radius: 10px 10px 10px 10px;
	float: left;
	padding: 15px;
	width: 710px;
	font-size: 14px;
	margin-bottom: 20px;
}
#repost .intro, #cover .intro, #side .intro,
#repost .intro, #cover .intro, #sticky .intro{
	width: 670px;
	margin-bottom: 15px;
}
#sticky .intro input{vertical-align: middle;}
.intro .not-allowed{cursor: not-allowed;}

.days-container{
	display: none;
	margin-left: 20px;
}

#repost select, #cover select, #cover input {
	background: #FFFFFF;
}
#repost .title {
	font-size: 14px;
}
#repost .title2 {
	margin: 10px 0px;
}
#build4  {
	padding-top: 20px;
}
.upgrade {
	background: url(/images/adbuild/upgrade.png) no-repeat 5px 5px;
	padding-top: 35px;
}
.checkout1 {
	background-color: #FFFFB9;
	border-radius: 10px;
	padding: 20px;
	width: 700px;
	float: left;
}
.infoblock1 {
	border: solid 1px #CCCCCC;
	border-radius: 10px;
	padding: 20px;
	width: 698px;
	float: left;
	margin-bottom: 10px;
	font-size: 12px;
}
.required  {
}
span.required:before {
	content: '*';
	font-size: 28px;
	color: red;
	line-height: 8px;
	vertical-align: bottom;
}
.question  {
	background: url(/images/adbuild/question.png) no-repeat 0px 2px;
	height: 16px;
	width: 14px;
	float: left;
}
.question .hint {
   	display: none;
}

.question:hover .hint {
    background: url("/images/adbuild/pointer.gif") no-repeat scroll -10px 5px #FFFFCC;
    border: 1px solid #CC9933;
    display: block;
    font-size: 11px;
    left: 500px;
    margin-top: -4px;
    padding: 6px;
    position: relative;
    text-align: left;
    width: 200px;
}
.loginblock .question:hover .hint {
	left: 350px;
	width: 150px;
	margin-top: 0px;
}
.question:hover {
	cursor: pointer;
}

.hint .hint-pointer {
    position: absolute;
    left: -10px;
    top: 5px;
    width: 10px;
    height: 19px;
    background: url(/images/adbuild/pointer.gif) left top no-repeat;
}
.loginblock div {
	float: left;
}
.loginblock .register {
	margin-left: 45px;
	padding-left: 45px;
	border-left: dashed 1px #999999;
}
.loginblock label {
	width: 140px;
}
.loginblock input {
	margin-bottom: 8px;
}
.title2 {
	font-weight: bold;
	font-size: 16px;
	color: #FF740E;
	margin-bottom: 10px;
	display: block;
}
.ui-datepicker-trigger:hover {
	cursor: pointer;
}

.error {
	background: #ff0e0e;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 14px;
	padding: 4px;
	width: 550px;
	display: block;
	margin-left: 160px;
}
#category .error {
	margin-left: 0px;
	padding-left: 20px !important;
	width: 550px !important;
	font-size: 16px !important;
	margin-bottom: 20px;
}
#calculator .error {
	margin-left: 0px;
	width: 180px !important;
}
.loginblock .error, .intro .error {
	margin-left: 0px;
	margin-bottom: 30px;
}
.error input, .error select, .error textarea {
	margin-right: 10px;
}
.error .counter {
	display: none;
}
.confirmation {
	margin: 30px;
	display: inline-block;
}
.confirmation li {
	background-color: #FFFFB9;
	border-radius: 10px 10px 10px 10px;
	float: left;
	padding: 15px;
	width: 350px;
	font-size: 14px;
	margin: 10px 25px;
	height: 150px;
	text-align: left;
}
.confirmation h1 {
	font-size: 18px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	border-bottom: solid 1px #666666;
}
.confirmation .title {
	font-size: 22px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #000000;
	border-bottom: solid 1px #000000;
}
.confirmation  li a {
	font-weight: bold !important;
	font-size: 14px !important;

}
.confirmation .thumbnail img {
	border: solid 1px #000000;
}
.confirmation .edit img {
	float: right;
	margin-left: 5px;
	border-radius: 10px;
}
/* ad management */ 
.summary {
	margin-bottom: 20px;
}
.bio {width: 470px;height: 500px;margin: 0 0 0 160px !important;}
.error .bio {
    margin: 0 !important;
}
.bbedit-toolbar {text-align: left;min-height: 28px !important;}

.adbuild-promo a {
	display: block;
	margin-left: 160px;
	color: #FF740E;
	font-size: 10px !important;
	text-transform: uppercase;
	font-weight: bold !important;
}
.cke_wysiwyg_div {
	background-color: #FFFFB9 !important;
}
.cke_bottom {
	display: none !important;
}

/* css glossy buttons for adbuild wizard */
.glossy {
    margin: 10px auto;
    position: relative;
    border-radius: 3px;
    border: 1px solid black;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, .2);
    cursor: pointer;
}
#adbuild_continue_btn {
    width: 168px;
    height: 40px;
    background: #666666;
    background: linear-gradient(to top, #666666, #8a8a8a);
}
#adbuild_continue_btn:hover {
    background: #8a8a8a;
    background: linear-gradient(to top, #8a8a8a, #a2a2a2);
    border: 1px solid #666;
}
#adbuild_preview_btn {
    width: 138px;
    height: 40px;
    background: #ff6400;
    background: linear-gradient(to top, #ff6400, #fd904d);
}
#adbuild_preview_btn:hover {
    background: #fd904d;
    background: linear-gradient(to top, #fd904d, #feb172);
    border: 1px solid #666;
}

form input.blue_btn, form a.blue_btn, #content a.blue_btn {
	background-color: #5da3d6;
	color: white;
	border: 1px solid #b3bbc1;
	font-weight: bold;
	font-size: 1em;
	padding: 4px 15px;
	border-radius: 4px;
	box-shadow: inset 0 0 0 2px white;
	text-decoration: none;
}
form input.blue_btn:hover, form a.blue_btn:hover, #content a.blue_btn:hover {
	opacity: 0.7;
	cursor: pointer;
}

.error_msg {
	background: #ff0e0e;
	color: white;
	font-weight: bold;
	font-size: 14px;
	padding: 4px;
	min-height: none;
}
