html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 50px;
	padding-top: 30px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
}
html, body {
	color: #eee;
	font-family: arial, helvetica, sans-serif;
	font-size: 15px;
}
body > nav.navbar {
	min-height: 30px;
	margin-bottom: 0px;
}
body {
	background-color: white;
	color: #333;
}

/* nav menu */
.navbar {
	min-height: 30px !important;
}
.navbar-brand {
	height: 30px !important;
	padding-top: 3px !important;
	padding-bottom: 3px !important;
}
.navbar-brand img {
	height: 24px;
}
.navbar-text {
	margin-top: 5px;
	margin-bottom: 5px;
}
li.dropdown:hover ul.dropdown-menu {
	display: block;
}
.navbar-nav>li>a {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}
.navbar-right {
	margin-right: 0px !important;
}
#email_btn, #pm_btn {
	padding-left: 5px !important;
	padding-right: 5px !important;
	font-size: 12px;
}
#email_btn .badge {
	background-color: #ea5900;
}
#pm_btn .badge {
	background-color: #abab00;
}
#clpe_btn .badge {
	background-color: #ab00b9;
}

/* body */
body div.container-fluid {
	font-size: 0.9em;
}

/* common stuff */
h1 {
	font-size: 1.8em;
}
h2 {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 15px;
}
h3 {
	font-size: 16px;
}
.form-control {
	font-size: 17px;
}
.btn.btn-rounded {
	border-radius: 100px;
	padding: 12px 35px;
}
.btn-xs {
	font-size: 0.7em;
	padding: 1px 5px;
}

/* footer */
.footer {
	background: #333;
	color: #aaa;
}
.footer a {
	color: #fff;
}
.footer .container {
	background: #333;
}


div#content {
	width: 95%; !important
}

.error {
	color: red;
	font-weight: bold;
}
.success {
	color: green;
	font-weight: bold;
}

/* files - video edit ajax page */
table#upl_vid_details_table td {
	padding: 2px;
	vertical-align: top;
}
table#upl_vid_details_table table tr {
margin-bottom: 5px;
}
span.ss_time_label {
	display: inline-block;
	width: 70px;
}
td.video_ss input, span, img {
	vertical-align: top;
}
td.video_ss img {
	margin-bottom: 10px;
	width: 160px;
}
td.video_ss label:checked { font-weight: bold; }


/* control tables */
table {
	font-size: 0.9em;
	border-collapse: collapse;
}

table.control tbody tr:nth-child(even) {
	background: #dcdcdc;
}

table.control tbody tr:hover {
	background: #ffebad;
}

table.control tbody tr.highlighted {
	background: #6ef96e;
}

table.control, table.control td, table.control th {
	border: 1px solid white;
	text-align: left;
	padding: 3px 0;
	color: #59585A;
	vertical-align: top;
}

table.control td, table.control th {
	display: table-cell;
	vertical-align: inherit;
}

table.control thead th {
	font-weight: bold;
	padding: 3px 8px;
	background: url('/images/control/table-header-background.png') #657F9D repeat-x;
	color: #F7F9FA;
}

table.control td, table.control tbody th {
	padding: 3px 5px;
	border-color: #EFF2F6;
}

table.control td.check, table.control th.check {
	padding: 0px !important;
}

table.control thead th a {
	font-weight: bold;
	color: #F7F98A;
}

table.control thead th a.selected {
	color: #F79500;
}

table.control tr.highlight {
	background-color: rgb(255, 253, 124) !important;
}

input.filter_set, select.filter_set {
	background-color: #ffffaa;
}

.control_tag {
	border: 1px solid #cf9c64;
	background-color: #fff5d7;
	padding: 2px;
	font-weight: bold;
	display: inline-block;
	margin-top: 3px;
	color: #111;
}

.control_warning {
	border: 1px solid red;
	background-color: #FF9494;
	padding: 5px;
	font-weight: bold;
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #111;
}

button.control_btn:not([disabled]) {
	cursor: pointer;
}

a.control_btn {
	display: inline-block;
	padding: 2px 6px 2px 6px;
	border: 1px solid #999;
	border-radius: 2px;
	background-color: #eee;
	background: linear-gradient(#f8f8f8, #ddd);
	color: black;
	cursor: pointer;
}

a.control_btn.disabled {
	color: #bbb;
	pointer-events: none;
	cursor: default;
}

a.control_btn.disabled img {
	opacity: 0.4;
	filter: alpha(opacity=40); /* msie */
}

a.control_btn:hover {
	border: 1px solid #666;
	text-decoration: none;
}

/* flash messages */
.flash_msg {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	text-align: left;
}
.flash_msg_success {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url('/images/flash_success.png');
}
.flash_msg_info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('/images/flash_info.png');
}
.flash_msg_warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('/images/flash_warning.png');
}
.flash_msg_error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('/images/flash_error.png');
}

/* jquery ui popups */
.ui-widget {
	font-size: 0.9em;
}
.ui-dialog .ui-dialog-titlebar {
	padding: 0px 0px 0px 10px;
	color: #333;
}

/* on/off switch http://proto.io/freebies/onoff/  */
.onoffswitch {
	position: relative; width: 90px;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
	display: none;
}
.onoffswitch-label {
	display: block; overflow: hidden; cursor: pointer;
	border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
	width: 200%; margin-left: -100%;
	-moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
	-o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
	float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
	font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
	content: "ON";
	padding-left: 10px;
	background-color: #FF6600; color: #FFFFFF;
}
.onoffswitch-inner:after {
	content: "OFF";
	padding-right: 10px;
	background-color: #EEEEEE; color: #999999;
	text-align: right;
}
.onoffswitch-switch {
	width: 18px; height: 18px; margin: 6px;
	background: #FFFFFF;
	border: 2px solid #999999; border-radius: 20px;
	position: absolute; /*top: 0; */ bottom: 0; right: 56px;
	-moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
	-o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 0px; 
}

.sold-out{background-color: #d9534f}
#legend{
	position: relative;
	top: 55px;
	border: 1px solid;
	padding: 15px;
}
#legend ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.direct-call:after {
    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAABFQAAARUBKX4CGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADHSURBVCiRvZAxC0FhFIafe9Utg78gq4k/IAPdXRkoRTaD3aKY/BklRdn9CIuBzWawKMNr8N066V4uxanTV+fted/zHfhXCfqCIE7IOLHwAl4IlpGBZ4QZMAK2QNUDCYpA1/ABMADWHjR9IwzdWwFaZn5+6psNjZKPeqRJsEpYe27XtsLEwGEC3Ek6WE6wd3A3hn1dgrLgIrgKat8Y1B18FbQFoftn4xODi7lB1BtBPo1BSbCLMeil3SArGAsOgpNgKvDfk7+uO5vsZqqX9Ui0AAAAAElFTkSuQmCC');
}
