html {
  position: relative;
  min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
	background: url('/images/advertise/concrete_seamless.png') repeat 0 0;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

body > .container {
	padding: 0px 15px 0px 15px;
	background-color: white;
}

#filler {
	display:block;
	position:absolute;
	height:100%;
	bottom:0;
	top:0;
	left:0;
	right:0;
	z-index: -9999;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 10px;
	background-color: #dddddd;
	height: 60px;
}

.footer > .container > p {
	text-align: center;
}

code {
  font-size: 80%;
}

a.navbar-brand {
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
}

a.navbar-brand span.logo_1 {
	font-weight: 500;
	color: #eeeeee;
	text-shadow: 0px 0px 2px #ff6f43;
}
a.navbar-brand span.logo_2 {
	font-weight: 700;
	color: #ff6f43;
/*	text-shadow: 0px 0px 1px #eeeeee;*/
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 20px;
}
body > .container > h1 {
	margin-top: 10px;
}
h1 a {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* flash messages */
.flash_msg {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    text-align: left;
}
.flash_msg_success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('/images/flash_success.png');
}
.flash_msg_info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('/images/flash_info.png');
}
.flash_msg_warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('/images/flash_warning.png');
}
.flash_msg_error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('/images/flash_error.png');
}

#ad_preview{font-size:14px;line-height:normal;}
#ad_preview_box{border:1px solid #959595;margin-top:5px;overflow:auto;padding:10px;}
#ad_preview_title a{font-size:14px;color:Blue;margin-top:2px}
#ad_preview_line1, #ad_preview_line2{margin-top:2px;}
#ad_preview_displayurl{font-size:14px;color:#008000;margin-top:2px;}
#ad_displayurl{color:#008000;}
.ex{color:gray;font-size:10px;font-weight:normal;}
.cpm {
	background-color: #DAE5E8;
	border: 1px solid #5bc0de;
	border-radius: 5px;
	padding: 1px 2px 1px 2px;
}
.volume {
	background-color: #FFFFA8;
	border: 1px solid #FFCD71;
	border-radius: 5px;
	padding: 1px 2px 1px 2px;
}
