body{background:#ffffff;color:#000000;font:12px Verdana,Arial,Helvetica,sans-serif;font-size:12px;margin:0;padding:0;text-align:left}
h1,h2,h3,h4,h5,h6,h6,h5{font-family:Arial,Geneva,Helvetica,sans-serif;font-weight:bold; line-height:1.3em;}
ul{list-style:none}
a:active,a:link,a:visited{text-decoration:none}
a:hover{color:#F60;text-decoration:underline}
.reqired{color:#F60}
.accountHeader{color:#000;font:bold 18px Arial,Helvetica,sans-serif;padding-top:3px}
.addNew{border:none;float:right;margin:0 -10px 0 0;outline:none;padding:7px 0 0 0;width:230px}
.postclass2 { margin: -5px 0px 15px 15px; float: right; }
a.postclass2 {	background: url(/images/classifieds/Btn_post_adx.png) no-repeat 0 0; width: 85px; height: 38px; 	display: block; text-indent: -9999px;}
	a.postclass2:hover { background-position: 0 -38px; }
	a.postclass2:active { background-position: 0 -76px; }
.postclass2_ie { margin-top: -18px; }
.addPlace{border:none;float:right;margin:0;outline:none;padding:0;}
.advertise{float:right;padding:5px 0 0 0;}
.bottHeader .advertise a{float:right;font-size:14px;padding:10px 0 0 0;text-decoration:underline}
.adwordgreen{color:#439203}
.right {float: right;}
.clear {clear:both}
.bottFooter{margin-left:auto;margin-right:auto;padding-top:30px;text-align:center;width:1000px}
.bottHeader{background:#eef7ff;color:#333;font:11px Arial,Helvetica,sans-serif;height:32px;margin-bottom:7px;margin-left:0px;padding:0px 15px 0px 0px;text-align:right}
.bottHeader a{font-size:16px;text-decoration: underline !important}
.bordernone{border:none;}
.bottHeaderWhite{background:#ffffff;clear:both;color:#F60;font:15px Arial,Helvetica,sans-serif;width:1000px;height:42px;margin:0;padding:0}
.bottHeaderFooter{background:#e6ebf1;border-top:#6f98cd solid;font:11px Arial,Helvetica,sans-serif;height:30px;margin-bottom:15px;margin-left:0px;margin-top:25px;padding:10px 220px 4px 10px;text-align:right}
#bottomLogolinksright,#bottomLogolinksright{color:#000;display:block;float:left;font-weight:bold;padding-left:0px}
#bottomLogolinksrightFooter,#bottomLogolinksrightFooter{color:#000;display:block;float:right;font-weight:bold;padding:5px}
.bottomLogolinksleft{float:left;padding-top:0px;width:190px}
.bottomLogolinksright{float:right;padding-top:2px;width:480px}
.bottomLogolinksright a{color:#000; display:block;float:right;font:bold 11px Arial,Helvetica,sans-serif;
  padding-bottom:10px;padding-left:10px;padding-right:10px}
.bottomLogolinksright a:hover{background:url(arrow-on.gif) no-repeat bottom;color:#F60;text-decoration:underline}
.bottomLogolinksright a:active{color:#F60;text-decoration:none}
.bottomLogolinksright a:link,.bottomLogolinksright a:visited{color:#999;text-decoration:none} 
.button{background:url('/images/btn_on.jpg');border:1px solid #75b9ff;color:#1c75c7;cursor:pointer;font-weight:bold;height:25px;padding-bottom:3px}
.button:hover{background:url('/images/btn_hover.jpg');border:1px solid #75b9ff;color:#fff;cursor:pointer;font-weight:bold;height:25px;padding-bottom:3px}
.buttonAd:hover{background:url('/images/btn_hover.jpg');border:1px solid #75b9ff;color:#fff;font-weight:bold;padding-bottom:3px}
.buttonHome:hover{ background:url('/images/btn_hover.jpg');border:1px solid #75b9ff;color:#fff;cursor:pointer;
  font-weight:bold;height:24px;margin-top:1px;padding-bottom:3px; }
.buttono{border:1px solid #75b9ff;font-weight:bold;height:25px;margin:8px 0 0 230px;padding:2px 4px 3px 4px}
.buttono:hover{background:url('/images/btn_on.jpg');border:1px solid #75b9ff;color:#1c75c7;font-weight:bold;padding-bottom:3px}
.buttonAd{ background:url('/images/btn_on.jpg');border:1px solid #75b9ff;color:#1c75c7;font-weight:bold;
  height:25px;margin:0 0 0 135px;padding:2px 12px 3px 12px; }
.buttonHome{ background:url('/images/btn_on.jpg');border:1px solid #75b9ff;color:#1c75c7;cursor:pointer;
  font-weight:bold;height:24px;margin-top:1px;padding-bottom:3px}
.buttonPost{border:none;color:#1c75c7;font-weight:bold;height:26px;margin:0 0 0 135px;padding:2px 12px 3px 12px}
.buttonPostClass{font-weight:bold;height:27px;margin:29px 0 0 260px;padding:0}
.buttonPostClass1{border:none;font-weight:bold;height:25px;margin:1px 15px 0 0;padding:0}
.buttongen { padding: 10px 5px 10px 5px; margin: 0 auto 0 auto; border:0px solid transparent; outline:none; }
.uploadbtn{padding-top:7px}
.formHeightHome{border: 1px solid #AFC4DD;color:#333333;font-size:13px;height:22px;margin:2px 8px 0 0;padding:0;color:#1C75C7}

.browse{padding-top:10px}
.centered { margin:0 auto 0 auto; text-align:center;}
.col_L{color:#333;font:11px Arial,Helvetica,sans-serif;padding-left:7px}

.col-1{ width:195px; }
.col-2{ width:215px; }
.col-3{ width:188px; }
.col-4{ width:204px; }
#contentHeaderLocation{padding-bottom:7px}
.contentHeader{float:left;clear:both;display:block;padding-bottom:1px; margin:0;}
.contentHeader .ttl{color:#FF6600; font:bold 12px Arial,Verdana,Geneva,sans-serif;line-height:15px;padding: 3px 0 2px 0;
	vertical-align:top; margin:2px 0 0 0; width:170px}
.contentHeader .ttl a {font-size:12px;font-style:italic;text-decoration:underline;color:#439203 !important; font-weight:bold;}
.contentHeader .ttl a:hover {color:#FF0000 !important}

.contentHeader .list {font-size:10px; color:#1c75c7;padding:1px 0; margin:0; height:16px; white-space:nowrap;position:relative}
.contentHeader a{font-size:12px;font-family:Arial,Verdana,Geneva,sans-serif;}
.contentHeader a:link, .contentHeader a:visited{color:#1c75c7;}
.contentHeader a:hover{color:#555555; text-decoration:underline;}
.contentHeader a:active{color:#FF6600; text-decoration:underline;}

.contentHeader a.sml, .contentHeader a.sml:link, .contentHeader a.sml:hover, .contentHeader a.sml:active{font-size:11px;}
.contentHeaderStates{color:#1C75C7;font:bold 12px Arial,Verdana,Geneva,sans-serif;padding:4px 0 4px 0;margin: 0 0 4px 0;background-color:#D5ECFF;border-bottom:1px solid #6F98CD;height:18px;}
.contentHeaderStates img {float:left;margin:0;padding:0}
.contentHeaderStates span {float:left}
div table td {vertical-align:top}
.ib {display:inline-block; width: 100%}
.leftSideLinks {padding-bottom:4px;background-color:#EFF8FF}
.leftSideLinks a{clear:left;float:left;color:#1C75C7;font:11px Arial,Helvetica,sans-serif;padding:1px 0 0 0;}
.leftSideLinks a:hover{clear:left;float:left;color:#ff6600;text-decoration:underline;font:11px Arial,Helvetica,sans-serif}
	ul.states{list-style:none;margin:0;padding:0}
	ul.states{float:left;margin-left:0;margin-right:0;margin-top:10px}
	ul.states li,ul.cities li{color:#000000;font-size:11px;margin:0 10px 0 0;padding:0 1px 3px 0;width:235px}
	ul.cities li{color:#555555;font:12px/20px verdana;margin:0;padding:0;text-align:left}
	ul.cities li input{margin:0 !important}

.ContentlinksTitle{font:normal normal bold 10px/10px Arial,'Trebuchet MS',Helvetica,sans-serif;padding:10px 0 5px 0;text-align:left}
.ContentlinksTitle a{color:#206AB6;font-size:14px;text-decoration:underline}
.ContentlinksTitle a:link {color:#206AB6;font:bold 14px Arial,Verdana,Geneva,sans-serif; text-decoration:underline;}
.contentAddr{color:#000000;font:12px Arial,Helvetica,sans-serif;position:relative; float: left; clear: both;width:400px}
.contentaw{color:#000000;font:12px Arial,Helvetica,sans-serif;position:relative; float: left;width:400px}
.noclear { clear: none; }

.cllinksTitle{font:normal normal bold 10px/10px Arial,'Trebuchet MS',Helvetica,sans-serif;padding:10px 0 5px 0;text-align:left}
.cllinksTitle a{color:#206AB6;font-size:14px;text-decoration:underline; font-weight:bold}
.cltlinksTitle a:link {color:#206AB6;font:bold 14px Arial,Verdana,Geneva,sans-serif; text-decoration:underline;}
.cllinksTitle a:visited {color:#9BADBF !important}
.cllinksTitle a:hover {color:#ff6600}

.etitle{color:#206AB6;font:bold 13px/14px Arial,'Trebuchet MS',Helvetica,sans-serif;text-align:left; float: left;}
.etitle a {text-decoration:underline;}

.midcontent { padding:2px 0 0 0; }
.contentInfoBox {float:left;width: 565px; padding: 0 10px 0 8px; }
.contentInfoBox div.img {display:inline-block;float:left;height:98px;padding:7px;width:131px}
.contentInfo{width:420px;color:#666;font:12px Arial,Helvetica,sans-serif;padding:4px 0 0 0;}
.contentInfoTitle {clear:right;font:normal normal bold 10px/10px Arial,'Trebuchet MS',Helvetica,sans-serif;
	width:420px;padding:5px 0 5px 0;text-align:left}
.contentInfoTitle a{color:#206AB6;font-size:14px;text-decoration:underline}
.contentInfoTitle a:link{color:#206AB6;font:bold 14px Arial,Verdana,Geneva,sans-serif; text-decoration:underline;}
.contentInfoTitle a:visited{color:#FF6600;font:bold 14px Arial,Helvetica,sans-serif}


.contentInfoBox2 { vertical-align:top; padding:3px 0 0 0; margin:0; width: 760px;}

.ContentlinksTitlealmost{ color:#206AB6; font:normal normal bold 24px/14px Arial,'Trebuchet MS',Helvetica,sans-serif;
  padding-bottom:20px;padding-left:10px;padding-top:20px;text-align:center;text-decoration:none}
 
#createAccountForgotPass{color:#206AB6 !important;float:left;margin:6px 0 0 17px;position:relative;text-decoration:underline !important;}
#createAccountRegister{clear:both;color:#ff6600;float:left;margin:6px 0 0 -15px;padding:0;text-decoration:underline;}
.createAccount{background:url(Create_Account.png) no-repeat;float:left;height:34px;margin-left:5px;margin-top:4px;width:190px;}
.createAccountButton{ background:url('/images/btn_on.jpg');border:1px solid #BDD1D1;clear:both;
  color:#206AB6;cursor:pointer;float:left;font-weight:bold;height:25px;margin:5px 0 0 95px;padding-bottom:3px}
.createAccountButton:hover,.createAccountButton1:hover{  background:url('/images/btn_hover.jpg');
  border:1px solid #BDD1D1; color:#fff; cursor:pointer; font-weight:bold; height:25px; padding-bottom:3px }
.createAccountButton1{background:url('/images/btn_on.jpg');border:1px solid #BDD1D1;clear:both;color:#206AB6;
  cursor:pointer;float:left;font-weight:bold;height:25px;margin:5px 0 0 87px;padding-bottom:3px}
.createAccountcheckbox{clear:both;float:left;line-height:12px;margin:2px 0 0 10px;padding:0 0 0 5px;vertical-align:middle}
.createAccountTitles{font-size:13px;padding:2px 0 2px 0}
.createAccountTitles2{clear:both;float:left;font-size:13px;margin:4px 0 8px 25px;padding:2px 0 2px 0}
.createAccountTitles3{clear:both;float:left;font-size:13px;margin:4px 0 6px 10px;padding:2px 0 2px 0}

.error{color:red;font-weight:bold}
.footsecure{background:#EEF7FF;border-bottom:1px solid #6F98CD;font:normal 13px Arial,Helvetica,sans-serif;height:74px;margin:10px auto 0 auto;padding:0 5px 0 0;width:996px}
.footsecureL{color:#F0F0F0;display:block;float:left;height:49px;margin:0;padding:0 0 0 5px;position:relative;width:300px}
.footsecureL .img{padding:0 10px 0 0;vertical-align:middle}
.footsecureL img[name=seal] { margin-top:-5px; height:65px}
.footsecureR{color:#F0F0F0;float:right;height:49px;margin:0;padding:26px 5px 0 0;position:relative;text-align:right;width:600px}
.footsecureR a.o {color:#FF6600}

.searchcategory {text-align:left; margin-right:5px; width:239px; font-size:14px !important;height:24px !important;}
.msearchinput {font-size:18px !important;width:236px;}
.formHeight{background:#f2f6fa;border:#afc4dd 1px solid;color:#1c75c7;font-size:13px;height:26px;margin:2px 0 0 8px;padding:0}
.formHeightZip{font-size:13px;height:18px}
.formInput0 {background:none repeat scroll 0 0 #FFFFFF;border:1px solid #BDD1D1;color:#333333;float:right;font-size:12px;height:15px;line-height:22px;margin:2px 10px 5px 
0;padding:2px;vertical-align:bottom;width:155px;}
.formInput1{background:#fff;border:#BDD1D1 1px solid;color:#333;float:left;font-size:12px;height:16px;margin:0;padding:1px;width:150px}
.formInput2{background:#fff;border:#BDD1D1 1px solid;color:#333;float:right;font-size:12px;height:16px;margin:6px 20px 0 0;padding:1px;width:154px}
.input0{border:1px solid #AFC4DD;height:18px;margin:0 8px 0 0;outline:none;padding:1px;text-align:left}
.linkedIn{float:left;margin:0 5px 0 0;padding-top:13px;text-align:center;width:215px;color:#000;}
.linkedIn a{color:#5f5f5f;}
.linkedIn a:link{color:#5f5f5f;}
.linkedIn a:hover{color:#ff6600; text-decoration:underline;}
.linkL{color:#333333;font:normal 13px/1.3em Arial,Geneva,Helvetica,sans-serif,'Trebuchet MS';padding:4px 0 4px 10px;width:219px}
.linkL .img{display:inline;float:left;padding:2px 6px 0 0}
.linkL a{color:#ff4d00;font-size:12px;padding:2px;text-decoration:underline}
.linkL td{margin:0;padding:4px 0 4px 0;text-align:left}
.linkL th{height:30px;margin:0;padding:4px 0 2px 0;text-align:left}
.locationlink{ float:left;font-size:14px;font-weight:normal;height:24px;margin:1px 0 0 20px;
  padding:0;position:relative;text-align:left;vertical-align:middle;width:975px; font-size: 13px;}
.locationlink .text{color:#000;height:34px;left:11px;position:absolute;top:8px; text-decoration:none;}
.locationlink .text a {color:#206AB6; font-size: 13px;}
.locationlink .text a:hover {color:#ff6600; font-size: 13px;}

.gif{float:left;font-size:16px;font-weight:bold;height:34px;line-height:250%;margin-left:5px;text-align:left;width:590px}

.headingMyaccount{border-bottom:#999 solid;font:18px Arial,Helvetica,sans-serif;padding-bottom:2px}
.headingProfile{border-bottom:#6f98cd solid;font:18px Arial,Helvetica,sans-serif;padding-bottom:2px}

.logo{float:left;padding-top:21px;width:218px; margin: 0 0 0 -6px;}
.logo2{float:left;width:255px;margin:0;}

.myaccount{background:url(myaccount.png) no-repeat;float:left;height:34px;margin-left:5px;margin-top:4px;width:190px}

.newuserLink{color:#F60;float:left;padding-left:58px}
div.newuserLink a{color:#F60;font:12px Arial,Helvetica,sans-serif}
.numbers{color:#666;font:10px Verdana,Geneva,sans-serif;margin-left:2px}

.preview{background-color:#EFEFEF;border:2px solid #E6EBF1;display:block;margin:0 auto 0 auto;padding:5px 5px 20px 5px;width:986px}
.previewad { margin: 10px auto 0 auto; width: 900px; height: auto; padding: 20px; background-color:#fff; font-size:13px; }
.previewbtn { float:left; padding: 0 5px 0 5px;}
.payment{display:block;margin:0 auto 0 auto;padding:5px;width:750px}
.payment .img{border:none;margin:3px 0 3px 0;padding:1px 0 0 0;vertical-align:top}
.payment .img1{border:none;margin:0 0 2px 0;padding:0;vertical-align:middle}

.state div{ border-bottom:thin solid #6F98CD; color:#555555; margin-bottom:10px; text-align:left;
  font:700 16px arial,'Lucida Grande','Bitstream Vera Sans',verdana,sans-serif; }

.side1searchbox{background:#fbf0d6;border-right:1px #ccc solid;border-top:1px #ccc solid;color:#1e6cb7; 
  font:bold 12px Arial,Helvetica,sans-serif; height:50px;padding-top:0px;text-align:center;width:199px}
.signin{background:url(signin.png) no-repeat;float:left;height:34px;margin-left:5px;margin-top:4px;width:320px}
.signupFont,.signupFont{color:#333;font:bold 12px Arial,Helvetica,sans-serif}
.signupTitle{color:#FFF;font:bold 20px Arial,Helvetica,sans-serif;padding-left:44px;padding-top:40px}

.spacer{float:left;clear:both;display:block;height:2px;width:auto;margin:8px 0 0 0;}
.spcace{padding-top:7px}
.spcaceAdwords{padding-top:7px}
.strong{color:#C00;font:16px Arial,Helvetica,sans-serif}
.titleSignup{float:left;font-size:18px;font-weight:bold;padding-left:5px;padding-top:9px}

.topLinkleft{float:left;width:170px;padding-left:110px}
.topLinkright{float:right;text-align:right;width:720px}
.topHeader{height:17px;margin:0 auto;padding:10px 0 2px;width:1000px;background:url(/images/Logo_Top.jpeg) no-repeat scroll left bottom transparent;}
.topHeader a:hover,#createAccountRegister a:link,#topHeader a:hover,#topHeader a:active,.webHeader a:link{color:#FF6600}
.topHeader a:link{color:#206AB6;font-family:Arial,Helvetica,sans-serif;font-weight:normal}
.topHeader a:visited,.topHeader a:active,#createAccountForgotPass a:link,#topHeader a:link,#topHeader a:visited{color:#206AB6}
.topHeader a.important{color:#FF6600}
.topHeader a.important:hover{color:#FF6600}
.topHeader a.alert {color:red !important;font-weight:bold}


.uploadbtn,.spcace,.spcaceAdwords{padding-top:7px}
a,div.newuserLink a{color:#F60;font:12px Arial,Helvetica,sans-serif;}
div.homepair{clear:both;padding:1px 0;height:16px}
div.homepair span{display:block}
div.homepair span.f{float:left;width:90px}
div.homepair span.f{float:left;width:95px}
div.homepair span.s{float:left;padding-left:5px}
div.img{display:inline-block;float:left;height:98px;padding:7px;width:131px}
div.line{border-bottom:#6f98cd solid;clear:both}
div.linew{border-bottom:#ffffff solid;clear:both;padding-top:5px}
div.linewt{border-top:#ffffff solid;clear:both;padding-bottom:5px}

#signupform ul,#signupform ul{list-style:disc}

body #container,.container,body #container{
  background:#FFFFFF;border:0px solid #000000;margin:0 auto;position:relative;width:1000px}
body #footer{background:#fbf0d6;border-bottom:1px #6f98cd solid;border-top:1px #6f98cd solid;
  color:#666;font-size:10px;height:85px;padding:25px 10px 0 20px;}
body #footer p{margin:0;padding:30px 0;text-align:center}
body #header{border-bottom:1px #6F98CD solid;font:11px Arial,Helvetica,sans-serif;height:55px;margin-left:0px;background-color:#59A7DF; padding:0px 0px 0px 0px; 
background-image:url('/images/Bkd_Blu_Ttl.jpeg'); background-repeat:repeat-x;}
body #header h1{margin:0;padding:10px 0}
#mainContent{color:#333;font:11px Arial,Helvetica,sans-serif;height:100%;margin:0 auto 0 auto;padding:0}
#mainContent span.error{color:#000000;display:block;padding:50px 20px 0 20px}
.mainContentMore{float:left;padding:5px;width:330px}
body #sidebar1{height:410px;left:0;margin-top:5px;padding:0px 10px 15px 0px;top:75px;width:200px}
body #sidebar2{ border-left:#6f98cd 1px solid;float:right;margin-top:0px;padding:5px 6px;
  right:0;text-align:left;top:75px;width:190px}

div.reviewLinks {/*display:block; padding: 4px 0 0 2px*/}
.reviewLinks a{color:#FF6600;font:bold 12px Arial,Helvetica,sans-serif}
.reviewLinks a:active{color:#666;text-decoration:none}
.reviewLinks a:link,.reviewLinks a:visited{color:#FF6600;text-decoration:none}
.reviewLinks a:hover{color:#206AB6;text-decoration:underline}
.searchForlinks2 a:active{color:#000;text-decoration:none}
.searchForlinks2 a:hover{color:#C00;text-decoration:underline}
.searchForlinks2 a:link,.searchForlinks2 a:visited{color:#C00;text-decoration:none}
.bottomLogolinksright a:active{color:#F60;text-decoration:none}
div.newuserLink:hover{color:#206AB6;text-decoration:underline}
div.rollover:hover{background:#e6ebf1;display:block;height:112px}
table.rev-tbl tr:hover{background:#d5e3fc}

ul.paging{display:inline;float:right;margin:0;overflow:hidden;padding:0}
ul.paging li{color:#003399;display:inline;float:left;font:bold .9em Arial,'Trebuchet MS',Helvetica,Verdana,sans-serif;margin:0}
ul.paging li a{border:1px solid #E6EBF1;color:#003399;display:block;font-weight:normal;padding:2px 4px 3px 4px}
ul.paging li a.sel{color:#FF0000;font-size:14px;font-weight:bold}
ul.paging li span{display:block;height:0;overflow:hidden;width:0}
ul.paging li.next-inactive{background:transparent url('/images/icons/next.gif') 0 3px no-repeat;border:none;height:20px;margin:0 0 0 4px;padding:0;width:16px}
ul.paging li.next-page{border:none;margin:0 0 0 4px;padding:0}
ul.paging li.next-page a{background:transparent url('/images/icons/next.gif') 0 3px no-repeat;height:20px;width:16px}
ul.paging li.prev-inactive{background:transparent url('/images/icons/back.gif') 0 3px no-repeat;border:none;height:20px;margin:0 8px 0 0;width:16px}
ul.paging li.prev-page{border:none;margin:0 0px 0 0}
ul.paging li.prev-page a{background:transparent url('/images/icons/back.gif') 0 3px no-repeat;height:20px;width:16px}
ul.paging li a#on{background:#fff;border:1px solid #fff}
ul.paging li a:hover{border:1px solid #003399}
ul.paging li.next-page a,ul.paging li.prev-page a,ul.paging li.next-page a:hover,ul.paging li.prev-page a:hover{border:0px solid #fff}

#content {min-height:400px;clear:both}
#content #blue {background:none repeat scroll 0 0 #EFF8FF;border:medium none;display:block;margin:10px auto 0;padding:0 0 10px;}
#content #blue div.header {border-bottom:1px solid #B2D3EB;display:block;height:26px;margin:0;padding:12px 0 0;width:1000px;} 
#content #blue div.header span.title {color:#206AB6;font-size:15px;font-weight:bold;padding:0 0 0 20px;}
#content #blue  div.content {display:block;margin:10px auto 0;width:980px;}

.searchwhat {font-family:verdana,arial,helvetica,sans-serif;color:#174C81;font-size: 11px;font-weight:bold;height:14px;padding: 3px 0 0 1px;}
.searchwhat span {color:#000000;font-size:10px;font-weight:normal;padding:0 0 0 4px;}

#login ul {width:270px; display:inline-block; margin:0; padding:0}
#login ul li {float:left; width:125px;text-align:center; padding:3px}
#login ul li a.register {color:#ff6600}
.accountLine{background:#BDD1D1;clear:both;display:block;float:left;height:1px;margin:10px 0 0 0;width:270px}

#jsddm{	margin: 0;padding: 0;z-index:9;float:right}
#jsddm li{float: left;list-style: none;	font: 12px Tahoma, Arial}
#jsddm li a{display:block;text-decoration: none;border-right: 1px solid white;}
#jsddm li ul{margin: 0;	padding: 0;position: absolute;	visibility: hidden;border-top: 1px solid white;z-index:9999}
#jsddm li ul li{float: none;display: inline}
#jsddm li ul li a{width: 100px;height:25px;color:#ffffff; display:block; background: #9F1B1B}
#jsddm li ul li a:hover{background: #7F1616}

.left {float:left;}
.ok_highlight{font-weight: bold;color: #008F13;}
div#owners {clear:both}
#owners span.ownermenu{float:left;display:block;}
#owners span.ownermenu a {height:25px;background-color:#D4D0C8;display:block;border:1px solid #CCCCCC;padding:0 3px; margin-left:2px; line-height:22px}
#owners span.ownermenu a:hover, #owners span.ownermenu a.active {background-color:#ffffff;}

.grid {border:1px solid #888888;width:100%;}
.grid .header {background-color:#E0E0E0;font-weight:bold;height:20px;text-align:center;}
.grid .r0 {background-color:#FFFFFF;height:25px}
.grid .r1 {background-color:#F0F0F0;height:25px}
.grid .total {background-color:#E0E0E0;border-bottom:1px solid #959595;text-align:right;}
.grid td, .grid th {border:1px solid #888888;}
.grid td {padding:3px;}

.ac {text-align:center;}
.ar {text-align:right;}
.al {text-align:left;}
.vab {vertical-align:bottom}
.vam{vertical-align:middle}

.status_active {color:green}
.status_paused {color:#FF9900;font-weight:bold}
.status_deleted{color:#FF0000}

.c10{height:auto;margin:0;text-align:center;width:130px}
.c1pagelistbot{background:#EFEFEF;border:2px solid #E6EBF1;height:20px;margin:0 0 5px 0;padding:8px 0 5px 0}
.clheader{font-size:13px;font-weight:bold;width:100%}
.clheader input{border:1px solid #AFC4DD;font-size:14px;margin:4px 4px 4px 2px;padding:2px 2px;vertical-align:middle}
.clpagelist{background:#EFEFEF;border:2px solid #E6EBF1;display:inline-table;height:20px;margin-bottom:5px;padding:5px 0 5px 0;width:998px}
.manage{border-bottom:1px dashed #AFC4DD;border-top:1px dashed #AFC4DD;height:auto;margin:10px auto 0 auto;padding:10px;width:420px}
.manage .check{height:24px;margin:-2px 7px 2px 1px;padding:0;text-align:left}
.manage .upload{height:24px;margin:0 0 2px 0;padding:1px;text-align:left}
.mapinfo{font-size:14px;padding-bottom:10px}
.mapinfo a{font-size:14px;font-weight:bold}
.myaccount{background:url(myaccount.png) no-repeat;float:left;height:34px;margin-left:5px;margin-top:4px;width:190px}
.pageFound{color:#67A6DC;float:left;font:16px Arial,Helvetica,sans-serif;margin:0 0 0 10px;padding-top:10px;width:495px}
.pageFound img {margin-top:-6px;margin-bottom:10px;float:right}
.totalFound{float:left;font:16px Arial,Helvetica,sans-serif;margin:0 0 0 10px;}
.pagelist{background:#E6EBF1;height:20px;margin:0 0 5px 0;padding:8px 5px 5px 10px;}
.headList{background:#E6EBF1;height:23px;margin:0 0 5px 0;padding:5px;}
.pagelistupper{margin-left:5px}
.postInfo span{color:#c0c0c0}
.renewspan{line-height:18px;margin:0;padding:0;vertical-align:top}
.renewspan1{margin:2px 0 0 0;padding:0 0 0 20px}
.search{background:#fbf0d6;float:right;height:60px;padding:7px 30px 7px 30px;width:700px}
.searchForlinks{clear:both;padding:5px;width:580px}
.searchForlinks2 a{color:#000;font:bold 11px Arial,Helvetica,sans-serif}
.searchForlinksFooter{clear:both;padding:5px;padding-left:220px;width:580px}
.searchIn{background:url(Refine-your-search-by.png) no-repeat;float:left;height:34px;margin-left:2px;margin-top:4px;width:228px}
.Search_for{float:left;width:330px}
.Search_forFooter{float:left;padding-left:220px;width:330px}
#sideLbox{background:#E6EBF1;border-right:1px solid #AFC4DD;border-top:1px solid #AFC4DD;width:219px;color:#1e6cb7;font:bold 12px 
Arial,Helvetica,sans-serif;height:20px;padding-top:10px;text-align:center;}
#sideLboxDesc{background-color:#FBF0D6;border-right:thin solid #AFC4DD;font-size:11px;height:auto;margin-bottom:5px;text-align:left;width:219px;}
#sideLboxDesc .col_L td{color:#333;font:11px Arial,Helvetica,sans-serif;padding:0;width:180px;}
#sideLboxDesc .tbl_L{margin:1px 0 0 0;padding:0;text-indent:10px;width:219px;}
.tbl_L ul{padding:0}
.tbl_L ul li{border-bottom:2px solid #FBF0D6;border-top:1px solid #FBF0D6;padding:2px 0 2px 20px}
.tbl_L ul li:hover{background:#FFF;border-bottom:2px solid #FFCD7F;border-top:1px solid #FFCD7F;text-decoration:none}
#sideLboxDesc .totals{color:#666666;font-size:10px;font-weight:bold;padding:0 0 0 10px;}
.side1searchbox{background:#E6EBF1;border-right:thin solid #AFC4DD;border-top:thin solid #AFC4DD;color:#1e6cb7;font:bold 12px 
Arial,Helvetica,sans-serif;height:22px;padding:8px 0 2px 0;text-align:center;width:219px;}
.side1searchboxDesc{background-color:#FBF0D6;border-right:thin #ccc solid;border-bottom:thin solid #CCCCCC;font-size:11px;height:auto;margin:0 0 25px 
0;text-align:left;width:219px}
.side1searchboxDesc select.text{font-size:11px;width:150px}
.side1searchboxDesc .tbl_L td{padding-bottom:4px}
.side1searchboxDesc table.tbl_L{padding-left:2px;padding-top:5px}
div.side1searchboxDesc .phone{font-size:11px;width:30px}
div.side1searchboxDesc .text{border:1px solid #7F9DB9;color:#333333;font:12px/18px Verdana,Arial,Helvetica,sans-serif;padding:2px}
select.text.short {width: 75px;font-size: 0.9em;}
.terms{padding-left:10px;padding-right:10px}
.titleSignup{float:left;font-size:18px;font-weight:bold;padding-left:5px;padding-top:9px}
div.classifiedcat ul{float:left}
div.classifiedcat ul li{line-height:200%;list-style:square;padding-bottom:10px;width:250px;}
div.classifiedcat ul li a,div.classifiedloc ul li a{font-size:15px;color:#206AB6;text-decoration:none;}
div.classifiedloc ul li a:hover{color:#FF6600}
div.classifiedloc{margin:0 auto;padding:0;position:relative;width:1000px;}
div.classifiedloc ul{margin:20px 0 0;}
div.classifiedloc ul li{float:left;line-height:18px;list-style:square outside none;margin:0 0 15px 30px;padding-bottom:2px;width:175px;color:#FF6600;font-size:15px}
div.classifiedloc ul span{color:#666666;font-size:12px;font-weight:bold;padding:0 0 0 5px;}
div.clsponsor span{display:block;overflow:hidden}
div.clsponsor span a{color:#1e6cb7;font-size:14px}
div.clsponsor span.clsponsori{display:block;padding-left:4px}
div.clsponsor span.clsponsori img{border:1px solid #0000FF;margin-left:3px}
div.ContentlinksTitle span a{color:#000000;font-size:11px;font-style:italic}
div.img{display:inline-block;float:left;height:98px;padding:7px;width:131px}
div.line{border-bottom:#6f98cd solid;clear:both}
div.e_img{display:inline-block;float:left;height:75px;padding:7px;width:75px}
div.e_d{display:inline-block;float:left;width:461px}
div.lineDot{border-bottom:1px solid #CCCCCC;clear:both;margin:0;}
div.linew{border-bottom:#ffffff solid;clear:both;padding-top:5px}
div.linewt{border-top:#ffffff solid;clear:both;padding-bottom:5px}
input.btnhov{border:#c63}
input.searchinput{background:rgb(242,246,250);border:1px solid rgb(175,196,221);color:#000000;font-size:14px;font-weight:bold;height:23px;padding:0px}
table.b{margin:0 auto 0 auto;border-collapse:collapse}
table.b td div.stitle{font-size:16px;font-weight:bold;padding:10px 0 5px 0}
table.b td span.required{color:#FF0000;font-weight:bold}
table.b td.first{font-weight:bold;line-height:36px;text-align:right;vertical-align:top;width:260px;color:#333333;font-size:11px}
table.b td.second{min-height:25px;vertical-align:middle;padding-left:5px;}
table.b td.second input{border:1px solid #AFC4DD;font-size:14px;margin:4px 0 4px 1px;padding:2px 2px;vertical-align:middle}
table.b td.second textarea,table.b td.second select{border:1px solid #AFC4DD;font-size:14px;margin:4px 0 5px 1px;padding:2px 2px}
td.lineDotleft{border-left:#6f98cd dotted;clear:both;margin-bottom:3px;margin-top:3px}
.fi {border:1px solid #AFC4DD;font-size:14px;margin:4px 0 4px 1px;padding:2px 2px;vertical-align:middle}
#c1.managectr{text-align:center}
#cl{background:none repeat scroll 0 0 #EFEFEF;border:2px solid #E6EBF1;display:block;margin:0 auto 0 auto;padding:5px;width:986px}
#cl h1{background:#fff;border:4px solid #E6EBF1;color:#125DB8;display:block;font-size:14px;font-weight:normal;line-height:17px;margin:8px 100px 15px 100px;padding:8px 
25px 12px 25px;}
#cl p{border-bottom:1px solid #B7DDF2;color:#666666;font-size:11px;margin-bottom:10px;padding-bottom:3px}
#cl p.title{font-size:14px;color:#000000}
#cl td.submit{padding:20px;text-align:center}
#cl.btnpost{border:medium;color:#1c75c7;font-weight:bold;margin:0 auto 0 auto;padding:2px 12px 3px 12px}
#cl.btnpostplain{border:none;margin:0;padding:4px;text-align:left}
#cl.error{padding:10px;text-align:center}
#cl .second{font-weight:normal;width:450px}
#cl .small{color:#666666;display:block;font-size:11px;font-weight:normal;text-align:right;width:240px}
#cl .smallr{color:#666666;display:block;font-size:11px;font-weight:normal;margin:0 0 10px 10px;text-align:left}
#classified-post .body{float:left;width:780px;font-size:14px;z-index:0;overflow:hidden}
#classified-post .body object{z-index:-1}
#classified-post .body p a{color:#0000FF;font-size:14px;font-weight:normal;text-decoration:underline}
#classified-post .body p.phone{font-size:14px;padding-top:15px}
#classified-post .body p.reply{font-weight:bold}
#classified-post .body .ter{padding-top:5px;display:block;}
#classified-post .body a{font-size:14px}
#classified-post .images{display:block;float:right;text-align:center;width:200px}
#classified-post .images a{text-decoration:none}
#classified-post .images img{border:1px solid #000000}
#classified-post .images span{display:block;padding-bottom:15px}
#classified-post .info{text-align:center;width:80%;display:block;margin:0 auto 0 auto;}
#classified-post .info ul{font-size:13px;border:1px solid #afc4dd;padding:5px;}
#classified-post .info li{display:inline;padding:0 8px 0 8px;}
table.edit{border:1px solid #C0C0C0;margin-top:0;margin-bottom:10px;padding-left:20px;padding-right:20px;padding-top:10px;padding-bottom:15px;background-color:#F2F5FF}
table.edit td span.edittitle{color:#012887;font-size:22px;text-decoration:underline;font-weight:bold;text-align:center;display:block;margin:10px}
#extracity li span,ul.cities li span{color:#6F6F6F;font-size:10px}
#extracity li,ul.cities{list-style:none;margin:0;padding:0}
#searchmp ul.pages{display:inline;float:right;margin:2px 0 0;overflow:hidden}
#searchmp.pages{color:#206AB6;padding-left:8px;text-align:left}
.linkL a:link{color:#FF4D00;padding:2px;text-decoration:underline}
.linkL a:hover{color:#003399;padding:2px;text-decoration:underline}
.searchForlinks2 a:active{color:#000;text-decoration:none}
.searchForlinks2 a:hover{color:#C00;text-decoration:underline}
.searchForlinks2 a:link,.searchForlinks2 a:visited{color:#C00;text-decoration:none}
div.clsponsor{background-color:#FAFAD2;border:1px solid #E9E93A;color:#000000;font:9pt arial;margin-bottom:10px;padding:0;position:relative;text-align:left;width:190px;}
div.clsponsor span{display:block;overflow:hidden;}
div.clsponsor span a{color:#0000FF;font-size:14px}
div.clsponsor span.clsponsori{display:block;padding-left:4px}
div.clsponsor span.clsponsori img{margin-left:3px;border:1px solid #0000FF;}
a.editlink{background-color:#27681E;border:1px dotted black;color:#E7EC5F;display:table;font-size:10px;font-weight:bold;padding:2px;text-decoration:none;margin-bottom:5px}
a.editlink:hover{color:#ffffff}
a.paylink{border:1px dotted black;padding:2px;display:inline;background-color:#FF0000;color:rgb(231, 236, 95);font-weight:bold;font-size:10px;text-decoration:none;}
div#refine-blocks{width:220px}
div.refine-col div#refine-blocks{background-color:#FEFAED;border-right:1px solid #CACAC7;}
div.refine-col h3{background-color:#FBF0D6;border-right:1px solid #CACAC7;border-top:1px solid #CACAC7;color:#1E6CB7;font-family:Verdana,Arial,Geneva,Helvetica,sans-serif 
!important;font-size:12px;margin-bottom:0;margin-top:0;padding:10px 20px 11px;width:180px;}
div.refine-col div.refine-block:first-child{border-top:0 none;padding-top:10px;}
div.refine-col div.refine-block{border-top:1px solid #CACAC7;margin:0 0 0 15px;padding:6px 0;width:205px;}
div.refine-col div.refine-block h4{font-family:Verdana,Arial,Geneva,Helvetica,sans-serif !important;font-size:10.8px;padding-bottom:5px;margin:0;padding:0}
div.refine-col div.refine-block h4 a{color:#262626;display:block;height:22px;padding:4px 0 0;width:100%;}
div.refine-col div.refine-block h4 a:hover{text-decoration:none}
div.refine-col div.refine-block ul{overflow:hidden;margin:0;padding:0}
div.refine-col ul{display:block;}
div.refine-col div#refine-2-col li{display:inline;float:left;width:100px;}
div.refine-col div.refine-2-col li{display:inline;float:left;width:92px;}
#refine-blocks li a, #refine-blocks li a:link, #refine-blocks li a:visited, #refine-blocks li a:active{color:#FF4D00;line-height:200%;text-decoration:underline;}
#refine-blocks li a:hover{color:#005599}
#refine-blocks li.t a{color:#005599}
#refine-blocks li.t a:hover{color:#0E774A}
div.refine-col div.refine-block ul li{color:#666666;font-size:12px;}
#sort{float:left;font-size:11px;margin:0;padding:0;text-indent:10px;}
#sort a{color:#AAAAAA;padding:2px 0 2px 16px;text-decoration:underline;}
a#down, a#up{color:#666666 !important;font-weight:bold !important;padding-bottom:7px;}
#sort a#up{background:transparent url(/images/sort_up3.gif) no-repeat scroll center bottom;}
#sort a#up:hover{background:transparent url(/images/sort_down3.gif) no-repeat scroll center bottom;padding-bottom:7px;}
#sort a#down{background:transparent url(/images/sort_down3.gif) no-repeat scroll center bottom;}
#sort a#down:hover{background:transparent url(/images/sort_up3.gif) no-repeat scroll center bottom;padding-bottom:7px;}
#sort a:hover{background:transparent url(/images/sort_up3.gif) no-repeat scroll center bottom;padding-bottom:7px;}
#sort a.down:hover{background:transparent url(/images/sort_down3.gif) no-repeat scroll center bottom;padding-bottom:7px;}
.bsubmit button{border:0 none;cursor:pointer;font-family:inherit;margin:0;overflow:visible;padding:0;position:relative;}
.bsubmit button::-moz-focus-inner{border:0 none;margin:0;padding:0;}
.bsubmit button span{display:block;position:relative;white-space:nowrap;}
a.bsubmit:hover{cursor:pointer;text-decoration:none;}
a.bsubmit, a.bsubmit span{display:inline-block;}
.bsubmit button, .bsubmit, .bsubmit span{background:url("/images/icons/button/blank_buttons.png") no-repeat scroll right top transparent;font-weight:bold;}
span.bsubmit{background:none repeat scroll 0 0 transparent;}
a.bsubmit, .bsubmit button{outline:0 none;padding-right:15px;text-align:center;}
.bsubmit span{padding-left:15px;}
.btn-r-l, .btn-r-l span{background-position:left 0;color:#FFFFFF;font-size:14px;height:31px;line-height:28px;}
button.btn-r-l, .btn-r-l{background-position:right -41px;}
.bsubmit-r, .bsubmit-r span{background-position:left 0;color: white;font-size:12px;height:25px;line-height:23px;}
button.bsubmit-r, .bsubmit-r{background-position:right -30px;}
.sponsored{background-color:#FFF8DD !important;}
.featured{background-color:#FFF8FF !important;}
span.featured{padding-left: 330px;font-weight:bold;}
.sponsorlink, .sponsorlink a{color:#666666;float:right;font-size:11px;font-style:italic;padding-right:5px;}
ul.updown{width:160px;float:left}
h1.classified-post-header{padding:0;font-size:24px;}
#ad_preview{font-size:14px;}
#ad_preview_box{border:1px solid #959595;margin-top:5px;overflow:auto;padding:10px;}
#ad_preview_title a{font-size:14px;color:Blue;margin-top:2px}
#ad_preview_line1, #ad_preview_line2{margin-top:2px;}
#ad_preview_displayurl{font-size:14px;color:#008000;margin-top:2px;}
#ad_displayurl{color:#008000;}
.ex{color:gray;font-size:10px;font-weight:normal;}
.fieldmissing{background-color:#FFEFEF;border:1px solid #ff0000;}
.ad_location{margin-left:35px;}
.ContentlinksTitle{color:#206AB6;font-family:Arial,Helvetica,sans-serif;font-size:14px;font-style:normal;font-variant:normal;font-weight:bold;line-height:14px;padding: 5px 0 5px 0;text-align:left;}
.disclaimerAgreement{font-size:14px;}
.disclaimerAgreement li{list-style-type:disc;}
.disclaimerAgreement a.nofollow{font-size:18px;color:blue;text-decoration:underline;}
.disclaimerAgreement a:hover{color:#1B0F7F}
a.aedit{color:#666666 !important;font-weight:normal !important;font-size:12px !important;float:right}
.postdate {background-color:#EAEAEA;color:#000000;font:11pt arial;padding:6px;text-align:left;margin:1px 0 0 7px}
.classtitle { font-weight: bold; font-size: 14px;}
.categoryhead{background-color:#2a66aa;font-size:13px;font-family:verdana, arial, helvetica, geneva, sans-serif;font-weight:bold;color:#FFFFFF;padding:4px 
8px;}
.classifiedViewDefault{font-size:12px;font-family:verdana, arial, helvetica, geneva, 
sans-serif;font-weight:normal;color:#000000;line-height:11px;padding:4px 8px;}
table tr.posts td div{background-color:#dfe6ee;min-height:10px;padding:2px;text-align:center;}
table tr.posts td{background-color:#dfe6ee;border:1px solid #99b4cc}
table tr.posts td a.linkRenew:link{color:#1E6600;font-weight:bold;text-decoration:none}
table tr.posts td a.linkRenew:visited{color:#1E6600;font-weight:bold;text-decoration:none}
table tr.posts td a.linkRenew:active{color:#1E6600;font-weight:bold;text-decoration:none}
table tr.posts td a.linkRenew:hover{color:#31AA00;font-weight:bold;text-decoration:underline}
a.linkDelete{color:#990000;font-weight:normal;text-decoration:none;}
table tr.removed td, table tr.removed td div{background-color:#eedfdf !important;}
.ob{background:#EFEFEF;text-align:center;width:1000px;}
.underline{text-decoration:underline;}
.line-throught{text-decoration:line-through;}
.bbedit-toolbar{line-height:20px;font-size:10px;text-align:right}
.bbedit-toolbar span{padding:3px 8px;border:1px solid #B2B2B2;background-color:#F0F0F0;cursor:pointer;}
.bbedit-toolbar span.hover, .bbedit-toolbar span:hover{border-color:#777777;background-color:#E5E5E5;}
.bbedit-smileybar img{margin-right:3px;cursor:pointer;}
.bbedit-b{background:url("/images/icons/icons.gif") no-repeat 0 0;}
.bbedit-i{background:url("/images/icons/icons.gif") no-repeat -20px 0;}
.bbedit-u{background:url("/images/icons/icons.gif") no-repeat -40px 0;}
.bbedit-s{background:url("/images/icons/icons.gif") no-repeat -60px 0;}
.bbedit-url{background:url("/images/icons/icons.gif") no-repeat -80px 0;}
.bbedit-img{background:url("/images/icons/icons.gif") no-repeat -100px 0;}
.bbedit-code{background:url("/images/icons/icons.gif") no-repeat -120px 0;}
.bbedit-quote{background:url("/images/icons/icons.gif") no-repeat -140px 0;}
.textboxlist{width:400px;}
.textboxlist{cursor:text;font:11px "Lucida Grande",Verdana;}
.textboxlist-bits{margin:0;overflow:hidden;padding:3px 4px 0;}
.textboxlist-bit-box{-moz-border-radius:9px 9px 9px 9px;background:none repeat scroll 0 0 #DEE7F8;border:1px solid #CAD8F3;cursor:default;line-height:18px;padding:0 
5px;position:relative;}
.textboxlist-bit{cursor:default;display:block;float:left;list-style-type:none;margin:0 5px 3px 0;padding:0;}
.textboxlist-bit-box-deletebutton{background:url("/images/icons/close.gif") repeat scroll 0 0 transparent;display:block;font-size:1px;height:7px;position:absolute;right:4px;top:6px;width:7px;}
.textboxlist-bit-box-deletebutton:hover{border: none;background-position: 7px;text-decoration: none;}
.textboxlist-bit-box-deletable{padding-right:15px;}

/* jquery-ui-1.8.1 */
.ui-helper-hidden{display:none;}
.ui-helper-hidden-accessible{position:absolute;left:-99999999px;}
.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none;}
.ui-helper-clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.ui-helper-clearfix{display:inline-block;}
* html .ui-helper-clearfix{height:1%;}
.ui-helper-clearfix{display:block;}
.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0);}
.ui-state-disabled{cursor:default !important;}
.ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat;}
.ui-widget-overlay{position:absolute;top:0;left:0;width:100%;height:100%;}
.ui-widget{font-family:Verdana,Arial,sans-serif;font-size:1.1em;}
.ui-widget .ui-widget{font-size:1em;}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{font-family:Verdana,Arial,sans-serif;font-size:1em;}
.ui-widget-content{border:1px solid #a6c9e2;background:#fcfdfd url(/images/ui-bg_inset-hard_100_fcfdfd_1x100.png) 50% bottom repeat-x;color:#222222;}
.ui-widget-header{border-bottom:1px solid #4297d7;/*burak*/background:#2191c0 url(/images/Bkd_Blu_Ttl.jpeg) 50% 50% repeat-x;color:#eaf5f7;font-weight:bold;}
.ui-widget-header a{color:#eaf5f7;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{border:1px solid #77d5f7;background:#0078ae url(/images/ui-bg_glass_45_0078ae_1x400.png) 50% 50% repeat-x;font-weight:normal;color:#ffffff;}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{color:#ffffff;text-decoration:none;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header 
.ui-state-focus{border:1px solid #448dae;background:#79c9ec url(/images/ui-bg_glass_75_79c9ec_1x400.png) 50% 50% repeat-x;font-weight:normal;color:#026890;}
.ui-state-hover a, .ui-state-hover a:hover{color:#026890;text-decoration:none;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{border:1px solid #acdd4a;background:#6eac2c url(/images/ui-bg_gloss-wave_50_6eac2c_500x100.png) 50% 50% repeat-x;font-weight:normal;color:#ffffff;}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{color:#ffffff;text-decoration:none;}
.ui-widget:active{outline:none;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{border:1px solid #fcd113;background:#f8da4e url(/images/ui-bg_glass_55_f8da4e_1x400.png) 50% 50% repeat-x;color:#915608;}
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{color:#915608;}
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error{border:1px solid #cd0a0a;background:#e14f1c url(/images/ui-bg_gloss-wave_45_e14f1c_500x100.png) 50% top repeat-x;color:#ffffff;}
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a{color:#ffffff;}
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text{color:#ffffff;}
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary{font-weight:bold;}
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:normal;}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none;}
.ui-icon{width:16px;height:16px;background-image:url(/images/ui-icons_0078ae_256x240.png);}
.ui-widget-content .ui-icon{background-image:url(/images/ui-icons_0078ae_256x240.png);}
.ui-widget-header .ui-icon{background-image:url(/images/ui-icons_d8e7f3_256x240.png);}
.ui-state-default .ui-icon{background-image:url(/images/ui-icons_e0fdff_256x240.png);}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon{background-image:url(/images/ui-icons_056b93_256x240.png);}
.ui-state-active .ui-icon{background-image:url(/images/ui-icons_f5e175_256x240.png);}
.ui-state-highlight .ui-icon{background-image:url(/images/ui-icons_f7a50d_256x240.png);}
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon{background-image:url(/images/ui-icons_fcd113_256x240.png);}
.ui-icon-carat-1-n{background-position:0 0;}
.ui-icon-carat-1-ne{background-position:-16px 0;}
.ui-icon-carat-1-e{background-position:-32px 0;}
.ui-icon-carat-1-se{background-position:-48px 0;}
.ui-icon-carat-1-s{background-position:-64px 0;}
.ui-icon-carat-1-sw{background-position:-80px 0;}
.ui-icon-carat-1-w{background-position:-96px 0;}
.ui-icon-carat-1-nw{background-position:-112px 0;}
.ui-icon-carat-2-n-s{background-position:-128px 0;}
.ui-icon-carat-2-e-w{background-position:-144px 0;}
.ui-icon-triangle-1-n{background-position:0 -16px;}
.ui-icon-triangle-1-ne{background-position:-16px -16px;}
.ui-icon-triangle-1-e{background-position:-32px -16px;}
.ui-icon-triangle-1-se{background-position:-48px -16px;}
.ui-icon-triangle-1-s{background-position:-64px -16px;}
.ui-icon-triangle-1-sw{background-position:-80px -16px;}
.ui-icon-triangle-1-w{background-position:-96px -16px;}
.ui-icon-triangle-1-nw{background-position:-112px -16px;}
.ui-icon-triangle-2-n-s{background-position:-128px -16px;}
.ui-icon-triangle-2-e-w{background-position:-144px -16px;}
.ui-icon-arrow-1-n{background-position:0 -32px;}
.ui-icon-arrow-1-ne{background-position:-16px -32px;}
.ui-icon-arrow-1-e{background-position:-32px -32px;}
.ui-icon-arrow-1-se{background-position:-48px -32px;}
.ui-icon-arrow-1-s{background-position:-64px -32px;}
.ui-icon-arrow-1-sw{background-position:-80px -32px;}
.ui-icon-arrow-1-w{background-position:-96px -32px;}
.ui-icon-arrow-1-nw{background-position:-112px -32px;}
.ui-icon-arrow-2-n-s{background-position:-128px -32px;}
.ui-icon-arrow-2-ne-sw{background-position:-144px -32px;}
.ui-icon-arrow-2-e-w{background-position:-160px -32px;}
.ui-icon-arrow-2-se-nw{background-position:-176px -32px;}
.ui-icon-arrowstop-1-n{background-position:-192px -32px;}
.ui-icon-arrowstop-1-e{background-position:-208px -32px;}
.ui-icon-arrowstop-1-s{background-position:-224px -32px;}
.ui-icon-arrowstop-1-w{background-position:-240px -32px;}
.ui-icon-arrowthick-1-n{background-position:0 -48px;}
.ui-icon-arrowthick-1-ne{background-position:-16px -48px;}
.ui-icon-arrowthick-1-e{background-position:-32px -48px;}
.ui-icon-arrowthick-1-se{background-position:-48px -48px;}
.ui-icon-arrowthick-1-s{background-position:-64px -48px;}
.ui-icon-arrowthick-1-sw{background-position:-80px -48px;}
.ui-icon-arrowthick-1-w{background-position:-96px -48px;}
.ui-icon-arrowthick-1-nw{background-position:-112px -48px;}
.ui-icon-arrowthick-2-n-s{background-position:-128px -48px;}
.ui-icon-arrowthick-2-ne-sw{background-position:-144px -48px;}
.ui-icon-arrowthick-2-e-w{background-position:-160px -48px;}
.ui-icon-arrowthick-2-se-nw{background-position:-176px -48px;}
.ui-icon-arrowthickstop-1-n{background-position:-192px -48px;}
.ui-icon-arrowthickstop-1-e{background-position:-208px -48px;}
.ui-icon-arrowthickstop-1-s{background-position:-224px -48px;}
.ui-icon-arrowthickstop-1-w{background-position:-240px -48px;}
.ui-icon-arrowreturnthick-1-w{background-position:0 -64px;}
.ui-icon-arrowreturnthick-1-n{background-position:-16px -64px;}
.ui-icon-arrowreturnthick-1-e{background-position:-32px -64px;}
.ui-icon-arrowreturnthick-1-s{background-position:-48px -64px;}
.ui-icon-arrowreturn-1-w{background-position:-64px -64px;}
.ui-icon-arrowreturn-1-n{background-position:-80px -64px;}
.ui-icon-arrowreturn-1-e{background-position:-96px -64px;}
.ui-icon-arrowreturn-1-s{background-position:-112px -64px;}
.ui-icon-arrowrefresh-1-w{background-position:-128px -64px;}
.ui-icon-arrowrefresh-1-n{background-position:-144px -64px;}
.ui-icon-arrowrefresh-1-e{background-position:-160px -64px;}
.ui-icon-arrowrefresh-1-s{background-position:-176px -64px;}
.ui-icon-arrow-4{background-position:0 -80px;}
.ui-icon-arrow-4-diag{background-position:-16px -80px;}
.ui-icon-extlink{background-position:-32px -80px;}
.ui-icon-newwin{background-position:-48px -80px;}
.ui-icon-refresh{background-position:-64px -80px;}
.ui-icon-shuffle{background-position:-80px -80px;}
.ui-icon-transfer-e-w{background-position:-96px -80px;}
.ui-icon-transferthick-e-w{background-position:-112px -80px;}
.ui-icon-folder-collapsed{background-position:0 -96px;}
.ui-icon-folder-open{background-position:-16px -96px;}
.ui-icon-document{background-position:-32px -96px;}
.ui-icon-document-b{background-position:-48px -96px;}
.ui-icon-note{background-position:-64px -96px;}
.ui-icon-mail-closed{background-position:-80px -96px;}
.ui-icon-mail-open{background-position:-96px -96px;}
.ui-icon-suitcase{background-position:-112px -96px;}
.ui-icon-comment{background-position:-128px -96px;}
.ui-icon-person{background-position:-144px -96px;}
.ui-icon-print{background-position:-160px -96px;}
.ui-icon-trash{background-position:-176px -96px;}
.ui-icon-locked{background-position:-192px -96px;}
.ui-icon-unlocked{background-position:-208px -96px;}
.ui-icon-bookmark{background-position:-224px -96px;}
.ui-icon-tag{background-position:-240px -96px;}
.ui-icon-home{background-position:0 -112px;}
.ui-icon-flag{background-position:-16px -112px;}
.ui-icon-calendar{background-position:-32px -112px;}
.ui-icon-cart{background-position:-48px -112px;}
.ui-icon-pencil{background-position:-64px -112px;}
.ui-icon-clock{background-position:-80px -112px;}
.ui-icon-disk{background-position:-96px -112px;}
.ui-icon-calculator{background-position:-112px -112px;}
.ui-icon-zoomin{background-position:-128px -112px;}
.ui-icon-zoomout{background-position:-144px -112px;}
.ui-icon-search{background-position:-160px -112px;}
.ui-icon-wrench{background-position:-176px -112px;}
.ui-icon-gear{background-position:-192px -112px;}
.ui-icon-heart{background-position:-208px -112px;}
.ui-icon-star{background-position:-224px -112px;}
.ui-icon-link{background-position:-240px -112px;}
.ui-icon-cancel{background-position:0 -128px;}
.ui-icon-plus{background-position:-16px -128px;}
.ui-icon-plusthick{background-position:-32px -128px;}
.ui-icon-minus{background-position:-48px -128px;}
.ui-icon-minusthick{background-position:-64px -128px;}
.ui-icon-close{background-position:-80px -128px;}
.ui-icon-closethick{background-position:-96px -128px;}
.ui-icon-key{background-position:-112px -128px;}
.ui-icon-lightbulb{background-position:-128px -128px;}
.ui-icon-scissors{background-position:-144px -128px;}
.ui-icon-clipboard{background-position:-160px -128px;}
.ui-icon-copy{background-position:-176px -128px;}
.ui-icon-contact{background-position:-192px -128px;}
.ui-icon-image{background-position:-208px -128px;}
.ui-icon-video{background-position:-224px -128px;}
.ui-icon-script{background-position:-240px -128px;}
.ui-icon-alert{background-position:0 -144px;}
.ui-icon-info{background-position:-16px -144px;}
.ui-icon-notice{background-position:-32px -144px;}
.ui-icon-help{background-position:-48px -144px;}
.ui-icon-check{background-position:-64px -144px;}
.ui-icon-bullet{background-position:-80px -144px;}
.ui-icon-radio-off{background-position:-96px -144px;}
.ui-icon-radio-on{background-position:-112px -144px;}
.ui-icon-pin-w{background-position:-128px -144px;}
.ui-icon-pin-s{background-position:-144px -144px;}
.ui-icon-play{background-position:0 -160px;}
.ui-icon-pause{background-position:-16px -160px;}
.ui-icon-seek-next{background-position:-32px -160px;}
.ui-icon-seek-prev{background-position:-48px -160px;}
.ui-icon-seek-end{background-position:-64px -160px;}
.ui-icon-seek-start{background-position:-80px -160px;}
.ui-icon-seek-first{background-position:-80px -160px;}
.ui-icon-stop{background-position:-96px -160px;}
.ui-icon-eject{background-position:-112px -160px;}
.ui-icon-volume-off{background-position:-128px -160px;}
.ui-icon-volume-on{background-position:-144px -160px;}
.ui-icon-power{background-position:0 -176px;}
.ui-icon-signal-diag{background-position:-16px -176px;}
.ui-icon-signal{background-position:-32px -176px;}
.ui-icon-battery-0{background-position:-48px -176px;}
.ui-icon-battery-1{background-position:-64px -176px;}
.ui-icon-battery-2{background-position:-80px -176px;}
.ui-icon-battery-3{background-position:-96px -176px;}
.ui-icon-circle-plus{background-position:0 -192px;}
.ui-icon-circle-minus{background-position:-16px -192px;}
.ui-icon-circle-close{background-position:-32px -192px;}
.ui-icon-circle-triangle-e{background-position:-48px -192px;}
.ui-icon-circle-triangle-s{background-position:-64px -192px;}
.ui-icon-circle-triangle-w{background-position:-80px -192px;}
.ui-icon-circle-triangle-n{background-position:-96px -192px;}
.ui-icon-circle-arrow-e{background-position:-112px -192px;}
.ui-icon-circle-arrow-s{background-position:-128px -192px;}
.ui-icon-circle-arrow-w{background-position:-144px -192px;}
.ui-icon-circle-arrow-n{background-position:-160px -192px;}
.ui-icon-circle-zoomin{background-position:-176px -192px;}
.ui-icon-circle-zoomout{background-position:-192px -192px;}
.ui-icon-circle-check{background-position:-208px -192px;}
.ui-icon-circlesmall-plus{background-position:0 -208px;}
.ui-icon-circlesmall-minus{background-position:-16px -208px;}
.ui-icon-circlesmall-close{background-position:-32px -208px;}
.ui-icon-squaresmall-plus{background-position:-48px -208px;}
.ui-icon-squaresmall-minus{background-position:-64px -208px;}
.ui-icon-squaresmall-close{background-position:-80px -208px;}
.ui-icon-grip-dotted-vertical{background-position:0 -224px;}
.ui-icon-grip-dotted-horizontal{background-position:-16px -224px;}
.ui-icon-grip-solid-vertical{background-position:-32px -224px;}
.ui-icon-grip-solid-horizontal{background-position:-48px -224px;}
.ui-icon-gripsmall-diagonal-se{background-position:-64px -224px;}
.ui-icon-grip-diagonal-se{background-position:-80px -224px;}
.ui-corner-tl{-moz-border-radius-topleft:5px;-webkit-border-top-left-radius:5px;border-top-left-radius:5px;}
.ui-corner-tr{-moz-border-radius-topright:5px;-webkit-border-top-right-radius:5px;border-top-right-radius:5px;}
.ui-corner-bl{-moz-border-radius-bottomleft:5px;-webkit-border-bottom-left-radius:5px;border-bottom-left-radius:5px;}
.ui-corner-br{-moz-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px;border-bottom-right-radius:5px;}
.ui-corner-bottom{-moz-border-radius-bottomleft:5px;-webkit-border-bottom-left-radius:5px;border-bottom-left-radius:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px;border-bottom-right-radius:5px;}
.ui-corner-right{-moz-border-radius-topright:5px;-webkit-border-top-right-radius:5px;border-top-right-radius:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px;border-bottom-right-radius:5px;}
.ui-corner-left{-moz-border-radius-topleft:5px;-webkit-border-top-left-radius:5px;border-top-left-radius:5px;-moz-border-radius-bottomleft:5px;-webkit-border-bottom-left-radius:5px;border-bottom-left-radius:5px;}
.ui-corner-all{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.ui-widget-overlay{background:#aaaaaa url(/images/ui-bg_flat_75_aaaaaa_40x100.png) 50% 50% repeat-x;opacity:.30;filter:Alpha(Opacity=30);}
.ui-widget-shadow{margin:5px 0 0 5px;padding:0px;background:#999999 url(/images/ui-bg_flat_55_999999_40x100.png) 50% 50% repeat-x;opacity:.45;filter:Alpha(Opacity=45);-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.ui-dialog{position:absolute;padding:.2em;width:300px;overflow:hidden;}
.ui-dialog .ui-dialog-titlebar{padding:.5em 1em .3em;position:relative;}
.ui-dialog .ui-dialog-title{float:left;margin:.1em 16px .2em 0;}
.ui-dialog .ui-dialog-titlebar-close{position:absolute;right:.3em;top:50%;width:19px;margin:-10px 0 0 0;padding:1px;height:18px;}
.ui-dialog .ui-dialog-titlebar-close span{display:block;margin:1px;}
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus{padding:0;}
.ui-dialog .ui-dialog-content{border:0;padding:.5em 1em;background:none;overflow:auto;zoom:1;}
.ui-dialog .ui-dialog-buttonpane{text-align:left;border-width:1px 0 0 0;background-image:none;margin:.5em 0 0 0;padding:.3em 1em .5em .4em;}
.ui-dialog .ui-dialog-buttonpane button{float:right;margin:.5em .4em .5em 0;cursor:pointer;padding:.2em .6em .3em .6em;line-height:1.4em;width:auto;overflow:visible;}
.ui-dialog .ui-resizable-se{width:14px;height:14px;right:3px;bottom:3px;}
.ui-draggable .ui-dialog-titlebar{cursor:move;}
.ui-tabs { position: relative; padding: .2em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: 
auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0;/* padding: .2em .2em 0; burak*/ }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: 
nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .3em; /*burakpadding: .5em 1em;*/ text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required 
to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; /* burakpadding: 1em 1.4em;*/ background: none; }
.ui-tabs .ui-tabs-panelchat { display: block; border-width: 0; padding: 0; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }
li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
/* end jquery-ui-1.8.1 */

a.mini {font-size:10px}
div.alert {background-color: #FEFAED;border: 1px solid #FBF0D6;clear: both;margin: 1px 10px 20px 5px;padding: 20px 20px 23px;width: 512px;}
div.alert p {color: #333333;font-family: Trebuchet MS,Helvetica,sans-serif;font-size: 1.4em;line-height: 140%;margin: 0;}
div.alert p.exact {font-family: verdana,Helvetica,sans-serif;font-size: 1.1em;margin-top: 12px;}
div.alert ul {background: none repeat scroll 0 0 #FFFFFF;color: #666666;font-family: Trebuchet MS,Helvetica,sans-serif;font-size: 1.3em;line-height: 150%;margin-top: 6px;padding: 5px;}
div.alert strong {color: #990000;}
.place_fb {padding-top:10px}
.DOMControl_placeholder {color: #777777;}
.hidden {display: none;}

.list span.new, td span.new {color:#ff0000;font-weight:bold;}

.imgbody{clear:both;display:block}
.postbody {display:inline-block;position:relative;width:100%;min-height:700px}
#sidead{top:0;right:0;position:absolute;}

/* cl ad */
#classified-promo {width:992px;font-size: 14px;padding:0px;line-height:30px;text-align:center;
	margin:10px 0 1px;border: #c0c0c0 1px solid;	background-color:#EEF7FF;}
h1.classified-promo-header {
	padding: 0px; line-height:37px;font-size: 36px;text-align:center;}
.red {color:red;font-weight:bold;font-style:italic;text-decoration:underline;}
#classified-promo div.body2 {z-index:0; width:600px;text-align:center;padding:6px 0 0 0;
	margin:0 auto 0 auto;font-size:20px;line-height:22px;color:#555;}
#classified-promo div.body2 .code{font-size: 13px; padding-top:15px;color:#000;}
#classified-promo .codelink{background-color:#fff;color:#000;padding:5px;}
/* cl ad end */

/* COLORTIP STARTS */
.colorTip{
		/* This class is assigned to the color tip span by jQuery */

		display:none;
		position:absolute;
		left:50%;
		top:-30px;
		padding:6px;

		background-color:white;
		font-family:Arial,Helvetica,sans-serif;
		font-size:11px;
		font-style:normal;
		line-height:1;
		text-decoration:none;
		text-align:center;
		text-shadow:0 0 1px white;
		//white-space:nowrap;
		width: 500px;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		border-radius:4px;
		z-index:99999;
}
.pointyTip,.pointyTipShadow{
		border:6px solid transparent;
		bottom:-12px;
		height:0;
		left:50%;
		margin-left:-6px;
		position:absolute;
		width:0;
}

.pointyTipShadow{
		border-width:7px;
		bottom:-14px;
		margin-left:-7px;
}
.colorTipContainer{
		position:relative;
		text-decoration:none !important;
}


.white .pointyTip{ border-top-color:white;}
.white .pointyTipShadow{ border-top-color:#ddd;}
.white .colorTip{
		background-color:white;
		border:1px solid #DDDDDD;
		color:#555555;
}

//.yellow .pointyTip{ border-top-color:#f9f2ba;}
//.yellow .pointyTipShadow{ border-top-color:#e9d315;}
.yellow .colorTip{
		background-color:#f9f2ba;
		border:1px solid #e9d315 !important;
		color:#5b5316;
}
/* colortip ends */
.time {font-size: 10px; color: rgb(144, 144, 144);}
.bold {font-weight:bold}

.granularSettingsTable {clear:both; margin:auto; width:900px;font-size:11px;font-family:verdana,arial,helvetica,sans-serif; text-align:left; display:table}
.SubSettingsTitle {font-size:14px;font-weight:bold;text-align:left;}
.settingsSeparator {background:#6698CB none repeat scroll 0 0;border:0 none;color:#6698CB;font-weight:normal;text-align:center;}
.notificationsRowHeader {float:left;font-weight:bold;text-align:right;width:15%;}
.submitButtonContainer {float:right;margin-bottom:10px;padding-right:10px;width:760px;}
.notificationRow {clear:both;}
.notificationsRowText {float:left;width:70%;}
.notificationsRowCheckbox {float:right;text-align:center;width:15%;}
.notificationsRowClear {clear:both;}
.boldText {font-weight:bold;font-size:11px;}
.rowContainer {border-bottom:1px solid gray;float:right;margin-bottom:10px;width:710px;}
table.tblMessage {background-color:#FFFFCC;border:1px solid #CC0000;color:Red;margin-bottom:10px;margin-left:1px;text-align:left;width:600px;}
td.SettingsHelp {padding:5px;}

#wgo {display:block;width:600px}
#wgo div {float:left; display:inline-block; width:300px;}
#wgo p.title {font-weight:bold;font-style:italic;text-decoration:underline;}
#wgo p {font-size:1em}

.revdupip {color: #82807E;font-size: 11px;font-style: italic;padding: 0 10px;}
.revdupip span {color: #000000; font-weight:bold}
.nopm{margin:0;padding;0}

.burak_notify{z-index:999999}#burak_notify_top_right{position:fixed;right:10px}#burak_notify_top_left{position:fixed;left:10px;z-index:999999}#burak_notify_bottom_right{z-index:2147483647;position:fixed;bottom:10px;right:10px}#burak_notify_bottom_left{position:fixed;bottom:10px;left:10px}.burak_notify.default{border:1px 
solid #68697B;background:#464646;color:#FFF;width:240px;border-radius:8px;-moz-border-radius:8px;-webkit-box-shadow:0 0 7px #333;-moz-box-shadow:0 0 7px 
#333;box-shadow:0 0 7px #333;margin-bottom:10px;cursor:help;display:block;padding:10px}.burak_notify.silver{border:1px solid silver;background:#FFF 
url(icons/silver_bg.jpg) bottom repeat-x;color:#000;width:240px;-moz-border-radius:8px;border-radius:8px;box-shadow:0 0 7px #CCC;-webkit-box-shadow:0 0 7px 
#CCC;-moz-box-shadow:0 0 7px #CCC;margin-bottom:10px;cursor:help;padding:10px}.burak_notify.darkblue{border:1px solid #68697B;background:#FFF 
url(icons/darkblue_bg.jpg) bottom repeat-x;color:#FFF;width:240px;-moz-border-radius:8px;border-radius:8px;box-shadow:0 0 7px #CCC;-moz-box-shadow:0 0 7px 
#CCC;-webkit-box-shadow:0 0 7px #CCC;margin-bottom:10px;cursor:help;padding:10px}.burak_notify.darkblue 
span.ex{float:right;background:#898AA6;text-align:center;font-family:Verdana;color:#FFF;font-size:11px;height:15px;width:15px;border:1px solid 
#00008B;cursor:pointer;border-radius:5px;-moz-border-radius:5px}.burak_notify .icon{float:left;margin-right:10px}.burak_notify.default span.ex,.burak_notify.silver 
span.ex{float:right;background:#7D7D7D;text-align:center;font-family:Verdana;color:#ccc;font-size:11px;height:15px;width:15px;border:1px solid 
silver;cursor:pointer;border-radius:5px;-moz-border-radius:5px}.burak_notify.default span.ex:hover,.burak_notify.silver span.ex:hover,.burak_notify.darkblue 
span.ex:hover{background-color:#962127;color:#FFF;border-color:red}#burak_notify_top_left a, #burak_notify_bottom_right a{z-index:999999;color:#ffffff;font-size:14px;font-weight:bold;text-decoration:underline}
.ibsystem {height:20px}
#chatwindow div span.nick, #chatwindow div span.nick a {color:#413FFF;font-style:italic;}
#chatwindow div {font-size:11px;font-family:verdana;}
#chatwindow div span.nick a {margin:0;padding:0}
#chatwindow, .chatwindow { border:1px solid #aaaaaa; padding:4px; background-color:#E8E8E8; color:#000000; width:736px; height:450px; font-family:courier 
new;overflow-y:scroll;overflow-x:hidden;float:left}
.chatwindow { width:900px;}
#bennelerney { border: none; border:1px solid #aaaaaa; padding:2px; background:#ffffff;color:#000000;font-size:12px;height:23px;}
.ib2 {background-color:#ffffff;}
#ilanicons {position:absolute;z-index:9999;background-color:#FFFFFF;width:200px;bottom:25px;left:5px;cursor:pointer;border:1px solid#000000;}
#ilanicons img {padding:4px}
#ilanicon {margin:2px;padding:2px;border:1px solid #000000;float:left; cursor:pointer;}
.sohbetfix {vertical-align:top;display:block; padding-bottom:10px;}
.sohbetfix .sbutton {margin-top:3px;}
#newchatmessage, .newchatmessage{display:none;text-decoration:blink;color:red;font-weight:bold;}
#userlist {width:200px;float:left;overflow-y:scroll;overflow-x:hidden;height:450px;}
#userlist div {padding:5px 0 0 5px}
a.online{color:red !important;font-weight:bold;text-decoration:underline;}
a.online:hover{text-decoration:none}
.clpromo {overflow:hidden;width:100px}
#tabs {display: block;}
ul.menu {margin:0;padding:0;width:100%}
ul.menu li {display:inline-block;width:97%}
ul.homeloc {padding:0;margin:0;float:left;width:96px}
h5.hot {cursor:pointer}
.homeloctitle{color:#1C75C7;font:bold 12px Arial,Verdana,Geneva,sans-serif;padding:4px 0 4px 0;margin: 0 0 4px 0;background-color:#D5ECFF;border-bottom:1px solid #6F98CD;height:18px;}
h5.us {background-position:2px 2px;background-image:url(/images/icons/flag/Flag_US_32b.gif); background-repeat: no-repeat; padding-left:30px}
h5.ca {background-position:2px 2px;background-image:url(/images/icons/flag/Flag_CAN_32b.gif); background-repeat: no-repeat; padding-left:30px}
ul.homeloc li {display:block; min-height:18px}
ul.homeloc li a {display:block;}
h5.homeloctitle {background-image:url(/images/icons/icon_open.gif);background-position: 0% 0%; background-repeat:
no-repeat;padding-left:30px }
h5.active {background-image:url(/images/icons/icon_close.gif);background-position: 0% 0%; background-repeat:
no-repeat;padding-left:30px }
table.marquee {border: 1px solid #4297D7; color:#4297D7; font-weight:bold}
table.marquee tr:first {background-color: #ffffff;}
table.marquee tr td {padding:2px}
table.marquee tr:second {background-color: #f2f2ff;}
ul.marquee {display: block;padding: 0;margin: 0;list-style: none;line-height: 1;position: relative;overflow: hidden;width: 990px;height: 89px;}
ul.marquee img {border:1px solid #000000}
ul.marquee li {position: absolute;top: -999em;left: 0;display: block;white-space: nowrap;font: 14px Arial, Helvetica, sans-serif;padding: 3px 5px;}
#maparea.bottom {position:absolute; bottom:10px}
#maparea.fixed {position:fixed;top:0}
#ads{border:0;}
#ads.fixed {position:fixed;top:350px}
#ads.bottom {position:absolute; bottom:0px}
#place_list {display:block;margin: 0 5px 0 5px}
.businessresult {border-bottom: 1px solid #CCCCCC;margin: 0;padding: 5px 0 0;width: 100%;min-height: 70px}
.clearfix:after {clear: both;content: " ";display: block;font-size: 0;height: 0;visibility: hidden;}
.reviewer_info {clear: both;padding-top: 10px;}
.review-block {margin-bottom: 10px;}
.review-block .review-avatar {float: left;margin-right: 7px;}
.photoBox a, .photoBox img {display: block;}
img[height=20] {height: 20px;}
img[width=20] {width: 20px;}
.review-block .review-story {display: table-cell;vertical-align: top;width: 1000000px;font-size:12px; font-family: Verdana,Arial,Helvetica,sans-serif}
.photoBox img {border: 1px solid #CCC;padding: 1px;background-color: white;}
.leftcol {float: left;width: 300px;}
.rightcol {width: 140px;float: right;}
.itemheading a {background: url("/images/map/icon/markersml.png") no-repeat scroll 0 0 transparent;font-size: 1.2em;padding-left: 15px;}
a.empedit {background-image:none; padding:0; font-size:10px}
.nonerotic {color:#FC0000;padding:0;display:block}
::-webkit-scrollbar{height:16px;overflow:visible;width:16px}::-webkit-scrollbar-button{height:0;width:0}::-webkit-scrollbar-track{background-clip:padding-box;border:solid 
transparent;border-width:0 0 0 7px}::-webkit-scrollbar-track:horizontal{border-width:7px 0 
0}::-webkit-scrollbar-track:hover{background-color:rgba(0,0,0,.05);box-shadow:inset 1px 0 0 
rgba(0,0,0,.1)}::-webkit-scrollbar-track:horizontal:hover{box-shadow:inset 0 1px 0 
rgba(0,0,0,.1)}::-webkit-scrollbar-track:active{background-color:rgba(0,0,0,.05);box-shadow:inset 1px 0 0 rgba(0,0,0,.14),inset -1px 0 0 
rgba(0,0,0,.07)}::-webkit-scrollbar-track:horizontal:active{box-shadow:inset 0 1px 0 rgba(0,0,0,.14),inset 0 -1px 0 
rgba(0,0,0,.07)}.jfk-scrollbar-dark::-webkit-scrollbar-track:hover{background-color:rgba(255,255,255,.1);box-shadow:inset 1px 0 0 
rgba(255,255,255,.2)}.jfk-scrollbar-dark::-webkit-scrollbar-track:horizontal:hover{box-shadow:inset 0 1px 0 
rgba(255,255,255,.2)}.jfk-scrollbar-dark::-webkit-scrollbar-track:active{background-color:rgba(255,255,255,.1);box-shadow:inset 1px 0 0 
rgba(255,255,255,.25),inset -1px 0 0 rgba(255,255,255,.15)}.jfk-scrollbar-dark::-webkit-scrollbar-track:horizontal:active{box-shadow:inset 0 1px 0 
rgba(255,255,255,.25),inset 0 -1px 0 rgba(255,255,255,.15)}::-webkit-scrollbar-thumb{background-color:rgba(0,0,0,.2);background-clip:padding-box;border:solid 
transparent;border-width:0 0 0 7px;min-height:28px;padding:100px 0 0;box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 
rgba(0,0,0,.07)}::-webkit-scrollbar-thumb:horizontal{border-width:7px 0 0;padding:0 0 0 100px;box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset -1px 0 0 
rgba(0,0,0,.07)}::-webkit-scrollbar-thumb:hover{background-color:rgba(0,0,0,.4);box-shadow:inset 1px 1px 1px 
rgba(0,0,0,.25)}::-webkit-scrollbar-thumb:active{background-color:rgba(0,0,0,0.5);box-shadow:inset 1px 1px 3px 
rgba(0,0,0,0.35)}.jfk-scrollbar-dark::-webkit-scrollbar-thumb{background-color:rgba(255,255,255,.3);box-shadow:inset 1px 1px 0 rgba(255,255,255,.15),inset 0 
-1px 0 rgba(255,255,255,.1)}.jfk-scrollbar-dark::-webkit-scrollbar-thumb:horizontal{box-shadow:inset 1px 1px 0 rgba(255,255,255,.15),inset -1px 0 0 
rgba(255,255,255,.1)}.jfk-scrollbar-dark::-webkit-scrollbar-thumb:hover{background-color:rgba(255,255,255,.6);box-shadow:inset 1px 1px 1px 
rgba(255,255,255,.37)}.jfk-scrollbar-dark::-webkit-scrollbar-thumb:active{background-color:rgba(255,255,255,.75);box-shadow:inset 1px 1px 3px 
rgba(255,255,255,.5)}.jfk-scrollbar-borderless::-webkit-scrollbar-track{border-width:0 1px 0 
6px}.jfk-scrollbar-borderless::-webkit-scrollbar-track:horizontal{border-width:6px 0 
1px}.jfk-scrollbar-borderless::-webkit-scrollbar-track:hover{background-color:rgba(0,0,0,.035);box-shadow:inset 1px 1px 0 rgba(0,0,0,.14),inset -1px -1px 0 
rgba(0,0,0,.07)}.jfk-scrollbar-borderless.jfk-scrollbar-dark::-webkit-scrollbar-track:hover{background-color:rgba(255,255,255,.07);box-shadow:inset 1px 1px 0 
rgba(255,255,255,.25),inset -1px -1px 0 rgba(255,255,255,.15)}.jfk-scrollbar-borderless::-webkit-scrollbar-thumb{border-width:0 1px 0 
6px}.jfk-scrollbar-borderless::-webkit-scrollbar-thumb:horizontal{border-width:6px 0 
1px}::-webkit-scrollbar-corner{background:transparent}body::-webkit-scrollbar-track-piece{background-clip:padding-box;background-color:#f5f5f5;border:solid 
#fff;border-width:0 0 0 3px;box-shadow:inset 1px 0 0 rgba(0,0,0,.14),inset -1px 0 0 
rgba(0,0,0,.07)}body::-webkit-scrollbar-track-piece:horizontal{border-width:3px 0 0;box-shadow:inset 0 1px 0 rgba(0,0,0,.14),inset 0 -1px 0 
rgba(0,0,0,.07)}body::-webkit-scrollbar-thumb{border-width:1px 1px 1px 5px}body::-webkit-scrollbar-thumb:horizontal{border-width:5px 1px 
1px}body::-webkit-scrollbar-corner{background-clip:padding-box;background-color:#f5f5f5;border:solid #fff;border-width:3px 0 0 3px;box-shadow:inset 1px 1px 0 
rgba(0,0,0,.14)}
/*.tooltipx {color:#00579C;font-weight:bold;cursor:pointer}*/
.tooltip {display:none;background:transparent url(/images/tooltip.png);font-size:12px;height:70px;width:160px;padding:25px;color:#fff;}
img[ref=tool], span[ref=tool] {cursor:pointer}
span[ref=tool] {color:blue;text-decoration:underline;font-weight:bold}

.datatable {border-spacing:1px;font-family:Verdana, Arial, Helvetica, sans-serif;background-color:#E7E7E7;color: #5B5B5B;empty-cells: show;}
.datatable td, th {padding: 4px;}
.datatable thead th {text-align: center;background: #F5F5F5;color: #666;border: 1px solid #FFF;text-transform:uppercase;}
.datatable thead th a {color: #D0A600;}
.datatable tbody th {font-weight: bold;}
.datatable tbody tr {background-color:#FFF; text-align:left;}
.datatable tbody tr.odd {background: #f9f9f9;border-top:1px solid #FFF;}
.datatable tbody th a:link {color:#96D030;padding:3px 0px 0px 18px;}
.datatable tbody th a:hover {color:#FF8601;}
.datatable tr td {padding-top: 2px;padding-bottom: 2px;background: #FFF;border: 1px solid #FFF;vertical-align: top;}
.datatable tbody tr.odd td{ background-color: #f9f9f9;border-top:1px solid #FFF;}
.datatable tbody tr.just_edited td {background-color: #E4FFCF;}
.datatable tbody tr.just_added td {background-color: #FFFBCF;}
.datatable tbody tr:hover td {background-color: #FFF2CF;}
.datatable tbody tr.odd:hover td {background-color: #FFF2CF;}
.datatable tbody tr.selected td {background-color: #FFF2CF;}
.datatable tbody td a:link {color: #1975D7;text-decoration: none;}
.datatable tbody td a:hover {color: #50ADEA;border-bottom:2px solid #8FD5FF;text-decoration: none ;}
.datatable tbody td a.nounderline:hover {border-bottom: 0px none;}
a.datatable {color: #1975D7;text-decoration: none;background-color: transparent;}
a.datatable:hover {color: #50ADEA;border-bottom:2px solid #8FD5FF;text-decoration: none ;background-color: transparent;}
.orange {color:#FF6600;font-weight:bold}
.smallexp {color:#666666;display:block;font-size:11px;font-weight:normal;text-align:left}
#centrallogin {float: right;margin-top: -18px;}
#centrallogin p {margin: 0;padding: 3px;background-color: lightGoldenrodYellow;font-size: 9pt;border: 1px solid #E9E93A;border-image: initial;}
#centrallogin a {color: blue;font-size:18px}
a img{border:0}
.dictionary2 {background: url("//adultsearch.com/images/tooltip.png") no-repeat scroll right 0 transparent;padding-right: 
12px;border-bottom: 1px dotted #000000;color: #000000;outline: none;cursor: help;text-decoration: none;position: relative;}
.dictionary2 span {margin-left: -999em;position: absolute;}
.dictionary2:hover span {border-radius: 5px 5px;	-moz-border-radius: 5px;-webkit-border-radius: 5px;box-shadow: 5px 5px 5px rgba(0, 
0, 0, 0.1);
-webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);-moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);font-family: Arial, Helvetica, sans-serif;
font-size: 14px;line-height: 22px;position: absolute;left: 1em;top: 2em;z-index: 99;margin-left: 0;width: 200px;}
.dictionary_content {padding: 0.8em 1em;}
* html a.dictionary2:hover {background: transparent;}

.dictionary_content {background: #333;border: 1px solid #5eabe5;color: #FFF;}
.dictionary {border-bottom: 1px dotted #000000;color: #000000;outline: none;cursor: help;text-decoration: none;position: relative;}
.dictionary span {margin-left: -999em;position: absolute;}
.dictionary:hover span {border-radius: 5px 5px;	   -moz-border-radius: 5px;-webkit-border-radius: 5px;box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);-moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);font-family: Arial, Helvetica, sans-serif;
	  font-size: 14px;line-height: 22px;position: absolute;left: 1em;top: 2em;z-index: 99;margin-left: 0;width: 200px;}
* html a.dictionary:hover {background: transparent;}

div.adinfo {padding-top:10px}
div.adinfo span {color:#666}

.acronym abbr {
	background: url("//adultsearch.com/images/tooltip.png") no-repeat scroll right 0 transparent;
	border-bottom: 1px dotted #206AB6;
	color: #206AB6;
	cursor: help;
	padding-right: 12px;
	padding-top: 1px;
	position: relative;
}

.dictionary {position: absolute; margin-top: 20px; border-radius: 3px; background: #333333; color: #FFFFFF; width: 150px; padding: 5px; z-index: 1000;}

/* mng menu */
.mng_menu{
	list-style:none;
	font-weight:bold;
	margin-bottom:10px;
	padding-left: 0px;
	/* Clear floats */
	float:left;
	width:100%;
	/* Bring the nav above everything else--uncomment if needed.
	position:relative;
	z-index:5;
	*/
}
.mng_menu li{
	float:left;
	margin-right:10px;
	position:relative;
}
.mng_menu a{
	display:block;
	padding:5px;
	color:#fff;
	/*background:#333;*/
	background: #19639B;
	text-decoration:none;
}
.mng_menu a:hover{
	color:#fff;
/*	background:#6b0c36;*/
	background: #EF8700;
	text-decoration:underline;
}
/*--- DROPDOWN ---*/
.mng_menu ul{
	background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
	background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
	list-style:none;
	position:absolute;
	padding-left: 0px;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}
.mng_menu ul li{
	padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
	float:none;
}
.mng_menu ul a{
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
.mng_menu li:hover ul{ /* Display the dropdown on hover */
	left: 0; /* Bring back on-screen when needed */
}
.mng_menu li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
	/*background:#6b0c36;*/
	background: #EF8700;
	text-decoration:underline;
}
.mng_menu li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration:none;
}
.mng_menu li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
	/*background:#333;*/
	background: #19639B;
}

/* flash messages */
.flash_msg {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	text-align: left;
}
.flash_msg_success {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url('/images/flash_success.png');
}
.flash_msg_info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('/images/flash_info.png');
}
.flash_msg_warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('/images/flash_warning.png');
}
.flash_msg_error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('/images/flash_error.png');
}

.bluebutton {
	display: inline-block !important;
	width: 150px !important;
	height: 24px !important;
	background: url("/images/icons/button/bluebutton_150.png") no-repeat left top transparent !important;
	font-weight: bold !important;
	color: white !important;
	border: 0px solid white !important;
	font-size: 12px !important;
	line-height: 19px !important;
	cursor: pointer;
}

.pm_alert {
	font-weight: bold;
	border: 1px solid coral;
	border-radius: 2px;
	padding: 1px 3px 1px 3px;
	display: inline-block;
}
.pm_alert:hover {
	background-color: white;
}

/* buttons */
.round_btn, .round_btn:visited {
	font-size: 9px;
	color: #333333;
	border: solid 1px orange;
	border-radius: 3px;
	background: #FFFFFF;
	padding: 4px 8px;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}
.round_btn:hover {
	color: #333333;
	text-decoration: none;
	background-color: #eee;
}
.round_btn.green_btn {
	border: solid 1px green;
}
.round_btn.green_btn:hover {
	background-color: #ddefdd;
}

.login_message {
	padding: 10px;
	font-size: 1.2em;
	background-color: #f5d2e6;
	border-radius: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	border: 1px solid #aaa;
}
.login_message a {
	font-size: 1em !important;
}

/* adbuild & my account pages */
#status {
	clear: both;
	padding-top: 30px;
}
#status .inactive, #status .active {
	border: 0 none;
	border-radius: 6px 6px 6px 6px;
	color: #FFFFFF;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	padding: 6px;
	font-size: 12px;
	margin-right: 10px;
	background-color: #CCCCCC;
}
#status .active a {
	color: #FFFFFF;
	font-weight: bold;
}
#status .active {
	background-color: #5EABE5;
}
#status .active.reddish {
	background-color: #eb383b;
}
#status .active.reddish:hover {
	background-color: #e97779;
}
#status .login a {
	float: right;
	background-color: #FF740E;
	margin-right: 0px;
	border-radius: 6px 6px 6px 6px;
	font-family: Verdana, Geneva, sans-serif;
	padding: 6px;
	margin-top: -7px;
	color: #FFFFFF;
	font-weight: bold !important;
	font-size: 12px;
	clear: both;
	border: solid 1px #FFFFFF;
}
.mgmt #status a:hover {
	text-decoration: none;
}
.mgmt .postSN a, .mgmt .postSN img {
	border: 0px;
	margin-top: 5px;
}
.mgmt .general {
	margin: 10px;
	border: solid 1px #666666;
	border-radius: 10px;
	padding: 0px 20px 0px 20px;
	width:800px;
	margin-bottom: 30px;
	margin-left: 85px;
	display: block;
	clear: both;
	font-size: 14px;
}
.mgmt .repost {
	float: right;
	background: #FFFFB9;
	border-radius: 10px;
	padding: 20px;
}
.mgmt .repost select {
	background: #FFFFFF;
}
.mgmt .repost a {
	padding: 3px;
	border: solid 1px #090;
	background: #ffffff;
	font-size: 11px;
	font-weight: bold;
	border-radius: 3px;
	margin: 3px;
}
.mgmt .quicklink {
	float: right;
	margin-right: 15px;
}
.mgmt .quicklink a, .mgmt .updatelink a {
	padding: 3px 5px;
	border: solid 1px #666666;
	background: #FFFFB9;
	color: #000000;
	border-radius: 3px;
	margin: 10px 10px 0px 5px;
	font-size: 11px !important;
	text-transform: uppercase;
	font-weight: bold !important;
}
.quicklink a:hover, .updatelink a:hover {
	background: #666666;
	color: #FFFFB9;
	text-decoration: none;
}
.mgmt .updatelink a {
	margin-left: 0px;
}
.mgmt #status {
	padding: 10px;
	margin-left: 75px;
}
.mgmt .updatelink {
	margin-top: 10px;
}
.mgmt .accountAct {
	float: left;
}
.mgmt .wireInfo {
	width: 550px;
}
.mgmt .wireInfo p {
	margin-top: 0px;
}
.mgmt .block {
	clear: both;
	padding-top: 20px;
}
.mgmt .submit {
	float: right;
	padding: 20px;
	width: 700px;
	clear: both;
	text-align: right;
}
.mgmt .instruct {
	background: none repeat scroll 0 0 #FF740E !important;
	border: 0 none;
	border-radius: 6px 6px 6px 6px;
	color: #FFFFFF;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold !important;
	padding: 1px 6px;
	text-transform: uppercase;
	margin-top: 5px;
	font-size: 10px !important;
}
.yellowlink {
	padding: 3px 5px;
	border: solid 1px #666666;
	background: #FFFFB9;
	color: #000000;
	border-radius: 3px;
	margin: 10px 10px 0px 5px;
	font-size: 11px !important;
	text-transform: uppercase;
	font-weight: bold !important;
}
.yellowlink:hover {
	background: #666666;
	color: #FFFFB9;
	text-decoration: none;
}
.mgmt table.mgmt_table {
	border-collapse: collapse;
}
.mgmt table.mgmt_table th {
	font-size: 0.85em;
	padding: 4px;
}
.mgmt table.mgmt_table td {
	font-size: 0.9em;
	padding: 4px;
}
.mgmt table.mgmt_table td, .mgmt table.mgmt_table th {
	border: 1px solid #c6c6c6;
}
.mgmt table.mgmt_table tr:nth-child(even) td {
	background-color: #f2f2f2;
}
.mgmt table.mgmt_table tr:nth-child(odd) td {
	background: white;
}
.mgmt div.help {
	background-color: #ffffb9;
	font-size: 0.9em;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 6px;
	margin-bottom: 20px;
}
.mgmt a {
	font-size: 13px;
}
.mgmt a.btn {
	color: white;
}
.accountAct input {
	font-size: 14px;
	padding: 3px;
	border-radius: 3px;
	background: #FFFFB9;

}
.accountAct .error {
	background: #ff740e;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 14px;
	padding: 4px;
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-left: 0px;
}


/*
 * Landing homepage styles
 */
#header #slide.promo {
	font-size: 30px;
	color: #FFF;
	margin-top: 12px;
	float: right;
	text-align: right;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	font-style: italic;
}
#header #slide.promo li {
	list-style: none;
	padding: 0px;
	line-height: normal;
}

/* anchors */
#homepage #anchorTop a {
	float: right;
	background: url(/images/sprite-core.png) #1b6caa no-repeat 0px -315px;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFF;
	padding: 2px 4px 2px 14px;
	margin: 30px 0px 0px 0px; !important
}
#homepage .anchorLand {
	margin-top: -86px;
	position: absolute;
}

/* titles */
#homepage h1 {
	font-size: 13px;
	color: #1b6caa;
	line-height: 18px;	
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 125px;

}
#homepage h1 a {
	color: #1b6caa;
	padding-left: 15px;
	background: url(/images/sprite-core.png) no-repeat scroll 0 0;
	margin-left: 20px;
}
#homepage h1 a:hover, #homepage h2 a:hover {
	background: url(/images/sprite-core.png) no-repeat scroll 0px -40px #ff740e;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	padding: 2px 5px 2px 22px;
	overflow: visible;
	margin-left: 12px;
}
#homepage h2 {
	font-size: 16px;
	color: #186299;
	text-align: left;
	text-transform: uppercase;
	font-weight: bold;
	padding: 15px 0px 5px 0px;
	border-bottom: solid 1px #CCC;
}
#homepage h2 a, #homepage h2 a:visited {
	color: #186299;
	margin-top: -92px;
	position: absolute;
}
#homepage h2 a:hover {
	margin-left: 0px;
}
#homepage h3 {
	font-size: 14px;
	color: #ff740e;
	margin: 10px 0px;
}
#homepage h3 a, #homepage h3 a:visited {
	color: #ff740e !important;
	font-size: 14px;
	font-weight: bold;
}
#homepage h4 {
	font-size: 13px;
	color: #ff740e;
	margin: 0px;
	font-weight: bold;
	clear: both;
}

/* content architecture */
#homepage #top, #homepage #container {
	width: 980px;
	padding-top: 15px 0px;
	text-align: center;
	margin: 0 auto;
	display: block;
}
#homepage #main, #homepage #main2  {
	display: block;
	float: left;
	width: 950px;
	background: #FFF;
	padding: 0px 15px 30px 15px;
}
#homepage #main2 {
	margin-top: -14px;
}
#homepage .england .content_col {
	width: 125px;
}
#homepage .england {
	margin-right: 60px;
	float: left;
}
#homepage .europe .content_col, #homepage .otherUK .content_col {
	width: 140px;
}

#homepage .netherlands .content_col {
	width: 90px;
}
#homepage .netherlands {
	margin-right: 40px;
	float: left;
}
#homepage .england hr, #homepage .netherlands hr {
	border: 0px;
	color: #FFF;
	height: 26px;
}

#homepage .content_col {
	width: 180px;
	float: left;
	text-align: left;
	margin-right: 10px;
}
#homepage .metros {
	float: left;
	width: 150px;
}
#homepage #allcities a {
	position: relative;
	padding: 10px;
	margin: 00px 0px 10px 20px;
	float: left;
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	color: #FFFFFF;
	font-style: italic;
}

#homepage #countries {
	position: relative;
	padding: 10px;
	margin: 10px 0px 10px 20px;
	float: left;
}
#homepage #countries li {
	width: 109px;
	white-space: nowrap;
	overflow: hidden;
	color: #D8EEFF;
	text-overflow: ellipsis; }


#homepage #countries a {
	color: #d8eeff;
	line-height: 16px;
	font-size: 12px;
	padding-left: 11px;
	margin-right: 5px;
	background: url(/images/sprite-core.png) no-repeat scroll 0 -21px;
}
#homepage #countries a:hover {
	background: url(/images/sprite-core.png) no-repeat scroll 0px -40px #ff740e;
	color: #FFFFFF;
	text-decoration: none;
	padding: 2px 1px 2px 18px;
	overflow: visible;
	font-weight: bold;
	margin-left: -7px;
}
#homepage .content_4col {
	width: 980px;
	clear: both;
	text-align: center;
	margin: auto 0;
	border: solid 1px #186299;
}
#homepage .countries {
	float: left;
}
/* content styles */

#homepage #post {
	z-index: 1;
	position: relative;
	float: left;
}
#homepage #post a {
	background: url(/images/sprite-core.png) no-repeat 0px -239px;
	width: 320px;
	height: 33px;
	display: block;
	text-indent: -9999px;
	margin: 0px 0px 0px -26px;
}
#homepage #post a:hover {
	background-position: 0px -273px;
}
#homepage #top input {
	color: #000;
	font-size: 16px;
	padding: 8px;
	width: 250px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin-top: 20px;
}
#homepage .column_color img {
	margin: 0px 0px -18px 5px;
}
#homepage input:focus, #homepage textarea:focus {
	color: #000;
}
#homepage #search {
	padding: 0px 0px 0px 30px;
	width: 400px;
}
#homepage .selectLg {
		background: url(/images/sprite-core.png) no-repeat scroll 0px -120px;
		border: 0px;
		cursor: pointer;
		width: 44px;
		height: 44px;
		display: block;
		float: right;
		margin: 18px 70px 0px 0px;
}
#homepage #results {
	margin: 20px 20px 0px 20px;
	padding: 10px;
}
#homepage #results a {
	float: left;
	width: 165px;
	display: block;
	font-size: 14px;
	color: #d8eeff;
	font-weight: bold;
	padding: 0px 5px 4px 5px;
}
#homepage #results a:hover {
	background: url(/images/sprite-core.png) no-repeat scroll 0px -40px #ff740e;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	padding: 2px 0px 2px 20px;
	overflow: visible;
	width: 155px;
}
#homepage .title2 {
	font-size: 20px;
	color: #1b6caa;
	text-align: left;
	border-bottom: solid 1px #1b6caa;
	margin: 10px;
}
#homepage .title3 {
	font-size: 14px;
	color: #d8eeff;
	text-align: left;
	border-bottom: solid 1px #d8eeff;
	margin-bottom: 10px;
}
#homepage .title {
	font-weight: bold;
	font-size: 13px;
}
#homepage .bold {
	font-weight: bold;
}
#homepage .topContent2 {
	font-size: 16px;
	line-height: 20px;
	color: #d8eeff;
	float: left;
	margin: 24px 0px 0px 40px;
	width: 370px;
}
#homepage .pad20 {
	padding: 20px;
}
#homepage .indent {
	margin-left: 20px;
	font: inherit;
}
#homepage .sizer {
	font-size: inherit;
}
/* geos */
#homepage ul {
	margin:0;
	padding:0;
}
#homepage li {
	list-style: none;
}
#header li {
	padding: 0px;
	line-height: normal;
}
#homepage .geoUnit li a {
	color: #000;
	padding: 1px 2px 1px 18px;
}
#homepage .geoUnit {
	overflow:hidden;
	margin-bottom:0.75em;
}
#homepage .geoUnit li.more a {
	color: #1B6CAA;
}

#homepage .geoUnit li.more a:hover {
	background: none;
	text-decoration: underline;
}
#homepage .geoUnit a:hover {
	background: url(/images/sprite-core.png) no-repeat scroll 0px -42px #ff740e;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	overflow: visible;
}
#homepage .geoUnit h3 a:hover {
	background: #ff740e;
	color: white !important;
}
/* rounded corner backgrounds */
#homepage .roundeddiv {
	width: 980px;
	position: relative;
	background-color: #1b6caa;
	display: block;
	margin-top: 10px;
	text-align: left;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

}
#homepage #blueLeft {
	float: left;
	width: 480px;
}
#homepage .roundeddiv2 {
	width: 460px;
	position: relative;
	float: left;
	background-color: #FFF;
	padding: 10px;
	margin: 0px 4px 12px 0px;
	display: block;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
#homepage .column_color {
	position: relative;
	padding: 10px 8px;
}

/* warning */
#warning_bg {
	opacity: 0.90 !important;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: black;
}
#warning {
	background: #fff;
	width: 95%;
	max-width: 1000px;
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
	margin: 0 auto;
	border: 1px solid #c0c0c0;
	border-radius: 8px;
	box-shadow: 0px 0px 8px #80A1AA;
	overflow: hidden;
	padding: 10px;
	z-index: 1060;
}
#warning .traf {
	color: #c48616;
	font-weight: bold;
}
#warning #agree_btn {
	display: block;
	width: 280px;
	height: 50px;
	background: #ff6400;
	background: linear-gradient(to top, #ff6400, #fd904d);
	margin: 10px auto;
	padding: 12px;
	position: relative;
	border-radius: 5px;
	border: 1px solid white;
	color: white;
	font-size: 1.1em;
	font-weight: bold;
	box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, .2);
	cursor: pointer;
}
#warning #agree_btn .big {
	font-size: 1.8em;
}
#warning #agree_btn:hover {
	text-decoration: none;
	background: #fd904d;
	background: linear-gradient(to top, #fd904d, #feb172);
	border: 1px solid #ccc;
}

.yellow_round {
	background-color: #FFFFB9;
	border-radius: 10px;
	padding: 15px;
	font-size: 14px;
	margin: 10px 0px;
	text-align: left;
}

.btn {
	font-family: Arial, sans-serif;
	font-size: 0.8em;
	font-weight: bold !important;
	text-transform: uppercase;
	padding-top: 8px;
	padding-bottom: 8px;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.btn-xs {
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}
.btn-sm {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}
.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
.btn-default:hover {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}
.btn-success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}
.btn-success:hover {
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
}

ul.navlogin.notlogged a {
	font-size: 0.95em;
}

#interstitial_overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
    text-align: center;
}
#interstitial_ad {
    display: inline-block;
    padding: 10px;
    position: relative;
    background: #bbb;
    margin: 20px auto;
}
#interstitial_close_1 {
    position: absolute;
    top: 10px;
    left: 10px;
}
#interstitial_close_2 {
    position: absolute;
    top: 10px;
    right: 10px;
}
#interstitial_header {
    font-size: 1.2em;
    font-weight: bold;
}
#interstitial_overlay .close {
    color: black;
    cursor: pointer;
    font-weight: bold;
}
#interstitial_ad a {
    display: block;
    margin-top: 10px;
}
#interstitial_ad a img{
    max-width: 800px;
}

.direct-call:after {
	content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAABFQAAARUBKX4CGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADHSURBVCiRvZAxC0FhFIafe9Utg78gq4k/IAPdXRkoRTaD3aKY/BklRdn9CIuBzWawKMNr8N066V4uxanTV+fted/zHfhXCfqCIE7IOLHwAl4IlpGBZ4QZMAK2QNUDCYpA1/ABMADWHjR9IwzdWwFaZn5+6psNjZKPeqRJsEpYe27XtsLEwGEC3Ek6WE6wd3A3hn1dgrLgIrgKat8Y1B18FbQFoftn4xODi7lB1BtBPo1BSbCLMeil3SArGAsOgpNgKvDfk7+uO5vsZqqX9Ui0AAAAAElFTkSuQmCC');
}

.btn_adbuild_continue {
	position: relative;
	background-color: #0ea400;
	background-image: linear-gradient(#0ea400,#11c100);
	border-radius: 6px;
	border: 1px solid #18ab29;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 17px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px -1px 1px #666;
	text-align: center;
	width: 200px;
	height: 45px;
	line-height: 45px;
}
.btn_adbuild_continue:after{
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50%;
	background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.2));
	border-radius: 6px;
}
.btn_adbuild_continue:hover {
	background-color: #0b8000;
	background-image: linear-gradient(#0b8000,#0ea400);
	color: white;
	text-decoration: none;
}
.btn_adbuild_continue:active {
	position: relative;
	top: 1px;
}
