/*!
* jQuery Mobile 1.4.5
* Git HEAD hash: 68e55e78b292634d3991c795f06f5e37a512decc <> Date: Fri Oct 31 2014 17:33:30 UTC
* http://jquerymobile.com
*
* Copyright 2010, 2014 jQuery Foundation, Inc. and othercontributors
* Released under the MIT license.
* http://jquery.org/license
*
*/


/* Globals */
/* Font
-----------------------------------------------------------------------------------------------------------*/
html {
	font-size: 100%;
}
body,
input,
select,
textarea,
button,
.ui-btn {
	font-size: 1em;
	line-height: 1.3;
	 font-family: sans-serif /*{global-font-family}*/;
}
legend,
.ui-input-text input,
.ui-input-search input {
	color: inherit;
	text-shadow: inherit;
}
/* Form labels (overrides font-weight bold in bars, and mini font-size) */
.ui-mobile label,
div.ui-controlgroup-label {
	font-weight: normal;
	font-size: 16px;
}
/* Separators
-----------------------------------------------------------------------------------------------------------*/
/* Field contain separator (< 28em) */
.ui-field-contain {
	border-bottom-color: #828282;
	border-bottom-color: rgba(0,0,0,.15);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
/* Table opt-in classes: strokes between each row, and alternating row stripes */
/* Classes table-stroke and table-stripe are deprecated in 1.4. */
.table-stroke thead th,
.table-stripe thead th,
.table-stripe tbody tr:last-child {
	border-bottom: 1px solid #d6d6d6; /* non-RGBA fallback */
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.table-stroke tbody th,
.table-stroke tbody td {
	border-bottom: 1px solid #e6e6e6; /* non-RGBA fallback  */
	border-bottom: 1px solid rgba(0,0,0,.05);
}
.table-stripe.table-stroke tbody tr:last-child th,
.table-stripe.table-stroke tbody tr:last-child td {
	border-bottom: 0;
}
.table-stripe tbody tr:nth-child(odd) td,
.table-stripe tbody tr:nth-child(odd) th {
	background-color: #eeeeee; /* non-RGBA fallback  */
	background-color: rgba(0,0,0,.04);
}
/* Buttons
-----------------------------------------------------------------------------------------------------------*/
.ui-btn,
label.ui-btn {
	font-weight: bold;
	border-width: 1px;
	border-style: solid;
}
.ui-btn {
	text-decoration: none !important;
}
.ui-btn-active {
	cursor: pointer;
}
/* Corner rounding
-----------------------------------------------------------------------------------------------------------*/
/* Class ui-btn-corner-all deprecated in 1.4 */
.ui-corner-all {
	-webkit-border-radius: 0em /*{global-radii-blocks}*/;
	border-radius: 0em /*{global-radii-blocks}*/;
}
/* Buttons */
.ui-btn-corner-all,
.ui-btn.ui-corner-all,
/* Slider track */
.ui-slider-track.ui-corner-all,
/* Flipswitch */
.ui-flipswitch.ui-corner-all,
/* Count bubble */
.ui-li-count {
	-webkit-border-radius: 0em /*{global-radii-buttons}*/;
	border-radius: 0em /*{global-radii-buttons}*/;
}
/* Icon-only buttons */
.ui-btn-icon-notext.ui-btn-corner-all,
.ui-btn-icon-notext.ui-corner-all {
	-webkit-border-radius: 1em;
	border-radius: 1em;
}
/* Radius clip workaround for cleaning up corner trapping */
.ui-btn-corner-all,
.ui-corner-all {
	-webkit-background-clip: padding;
	background-clip: padding-box;
}
/* Popup arrow */
.ui-popup.ui-corner-all > .ui-popup-arrow-guide {
	left: 0em /*{global-radii-blocks}*/;
	right: 0em /*{global-radii-blocks}*/;
	top: 0em /*{global-radii-blocks}*/;
	bottom: 0em /*{global-radii-blocks}*/;
}
/* Shadow
-----------------------------------------------------------------------------------------------------------*/
.ui-shadow {
	-webkit-box-shadow: 0 1px 2px /*{global-box-shadow-size}*/ rgba(0,0,0,0.4) /*{global-box-shadow-color}*/;
	-moz-box-shadow: 0 1px 2px /*{global-box-shadow-size}*/ rgba(0,0,0,0.4) /*{global-box-shadow-color}*/;
	box-shadow: 0 1px 2px /*{global-box-shadow-size}*/ rgba(0,0,0,0.4) /*{global-box-shadow-color}*/;
}
.ui-shadow-inset {
	-webkit-box-shadow: inset 0 1px 2px /*{global-box-shadow-size}*/ rgba(0,0,0,0.4) /*{global-box-shadow-color}*/;
	-moz-box-shadow: inset 0 1px 2px /*{global-box-shadow-size}*/ rgba(0,0,0,0.4) /*{global-box-shadow-color}*/;
	box-shadow: inset 0 1px 2px /*{global-box-shadow-size}*/ rgba(0,0,0,0.4) /*{global-box-shadow-color}*/;
}
.ui-overlay-shadow {
	-webkit-box-shadow: 0 0 12px 		rgba(0,0,0,.6);
	-moz-box-shadow: 0 0 12px 			rgba(0,0,0,.6);
	box-shadow: 0 0 12px 				rgba(0,0,0,.6);
}
/* Icons
-----------------------------------------------------------------------------------------------------------*/
.ui-btn-icon-left:after,
.ui-btn-icon-right:after,
.ui-btn-icon-top:after,
.ui-btn-icon-bottom:after,
.ui-btn-icon-notext:after {
	background-color: #000000 /*{global-icon-color}*/;
	background-color: rgba(0,0,0,0.15) /*{global-icon-disc}*/;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-border-radius: 1em;
	border-radius: 1em;
}
/* Alt icons */
.ui-alt-icon.ui-btn:after,
.ui-alt-icon .ui-btn:after,
html .ui-alt-icon.ui-checkbox-off:after,
html .ui-alt-icon.ui-radio-off:after,
html .ui-alt-icon .ui-checkbox-off:after,
html .ui-alt-icon .ui-radio-off:after {
	background-color: #000000 /*{global-icon-color}*/;
	background-color: rgba(0,0,0,0.15) /*{global-icon-disc}*/;
}
/* No disc */
.ui-nodisc-icon.ui-btn:after,
.ui-nodisc-icon .ui-btn:after {
	background-color: transparent;
}
/* Icon shadow */
.ui-shadow-icon.ui-btn:after,
.ui-shadow-icon .ui-btn:after {
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
	box-shadow: 0 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
}
/* Checkbox and radio */
.ui-btn.ui-checkbox-off:after,
.ui-btn.ui-checkbox-on:after,
.ui-btn.ui-radio-off:after,
.ui-btn.ui-radio-on:after {
	display: block;
	width: 18px;
	height: 18px;
	margin: -9px 2px 0 2px;
}
.ui-checkbox-off:after,
.ui-btn.ui-radio-off:after {
	filter: Alpha(Opacity=30);
	opacity: .3;
}
.ui-btn.ui-checkbox-off:after,
.ui-btn.ui-checkbox-on:after {
	-webkit-border-radius: .1875em;
	border-radius: .1875em;
}
.ui-btn.ui-checkbox-off:after {
	background-color: #666;
	background-color: rgba(0,0,0,.3);
}
.ui-radio .ui-btn.ui-radio-on:after {
	background-image: none;
	background-color: #fff;
	width: 8px;
	height: 8px;
	border-width: 5px;
	border-style: solid; 
}
.ui-alt-icon.ui-btn.ui-radio-on:after,
.ui-alt-icon .ui-btn.ui-radio-on:after {
	background-color: #000;
}
/* Loader */
.ui-icon-loading {
	background: url("images/ajax-loader.gif");
	background-size: 2.875em 2.875em;
}
/* Swatches */
/* A
-----------------------------------------------------------------------------------------------------------*/
/* Bar: Toolbars, dividers, slider track */
.ui-bar-a,
.ui-page-theme-a .ui-bar-inherit,
html .ui-bar-a .ui-bar-inherit,
html .ui-body-a .ui-bar-inherit,
html body .ui-group-theme-a .ui-bar-inherit {
	background-color: #222222 /*{a-bar-background-color}*/;
	border-color: transparent /*{a-bar-border}*/;
	color: #fff /*{a-bar-color}*/;
	text-shadow: 0 /*{a-bar-shadow-x}*/ 0px /*{a-bar-shadow-y}*/ 0 /*{a-bar-shadow-radius}*/ #eeeeee /*{a-bar-shadow-color}*/;
	font-weight: bold;
}
.ui-bar-a {
	border-width: 1px;
	border-style: solid;
}
/* Page and overlay */
.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
	background-color: #eee /*{a-page-background-color}*/;
	border-color: #aaa /*{a-page-border}*/;
	color: #333 /*{a-page-color}*/;
	text-shadow: 0 /*{a-page-shadow-x}*/ 1px /*{a-page-shadow-y}*/ 0 /*{a-page-shadow-radius}*/ #f3f3f3 /*{a-page-shadow-color}*/;
}
/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-a,
.ui-page-theme-a .ui-body-inherit,
html .ui-bar-a .ui-body-inherit,
html .ui-body-a .ui-body-inherit,
html body .ui-group-theme-a .ui-body-inherit,
html .ui-panel-page-container-a {
	background-color: #fff /*{a-body-background-color}*/;
	border-color: #eee /*{a-body-border}*/;
	color: #333333 /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 0px /*{a-body-shadow-y}*/ 0 /*{a-body-shadow-radius}*/ #f3f3f3 /*{a-body-shadow-color}*/;
}
.ui-body-a {
	border-width: 1px;
	border-style: solid;
}
/* Links */
.ui-page-theme-a a,
html .ui-bar-a a,
html .ui-body-a a,
html body .ui-group-theme-a a {
	color: #222 /*{a-link-color}*/;
	font-weight: bold;
}
.ui-page-theme-a a:visited,
html .ui-bar-a a:visited,
html .ui-body-a a:visited,
html body .ui-group-theme-a a:visited {
	color: #333 /*{a-link-visited}*/;
}
.ui-page-theme-a a:hover,
html .ui-bar-a a:hover,
html .ui-body-a a:hover,
html body .ui-group-theme-a a:hover {
	color: #333 /*{a-link-hover}*/;
}
.ui-page-theme-a a:active,
html .ui-bar-a a:active,
html .ui-body-a a:active,
html body .ui-group-theme-a a:active {
	color: #333 /*{a-link-active}*/;
}
/* Button up */
.ui-page-theme-a .ui-btn,
html .ui-bar-a .ui-btn,
html .ui-body-a .ui-btn,
html body .ui-group-theme-a .ui-btn,
html head + body .ui-btn.ui-btn-a,
/* Button visited */
.ui-page-theme-a .ui-btn:visited,
html .ui-bar-a .ui-btn:visited,
html .ui-body-a .ui-btn:visited,
html body .ui-group-theme-a .ui-btn:visited,
html head + body .ui-btn.ui-btn-a:visited {
	background-color: #f6f6f6 /*{a-bup-background-color}*/;
	border-color: #dddddd /*{a-bup-border}*/;
	color: #333333 /*{a-bup-color}*/;
	text-shadow: 0 /*{a-bup-shadow-x}*/ 0px /*{a-bup-shadow-y}*/ 0 /*{a-bup-shadow-radius}*/ #f3f3f3 /*{a-bup-shadow-color}*/;
}
/* Button hover */
.ui-page-theme-a .ui-btn:hover,
html .ui-bar-a .ui-btn:hover,
html .ui-body-a .ui-btn:hover,
html body .ui-group-theme-a .ui-btn:hover,
html head + body .ui-btn.ui-btn-a:hover {
	background-color: #333 /*{a-bhover-background-color}*/;
	border-color: #dddddd /*{a-bhover-border}*/;
	color: #fff /*{a-bhover-color}*/;
	text-shadow: 0 /*{a-bhover-shadow-x}*/ 0px /*{a-bhover-shadow-y}*/ 0 /*{a-bhover-shadow-radius}*/ #f3f3f3 /*{a-bhover-shadow-color}*/;
}
/* Button down */
.ui-page-theme-a .ui-btn:active,
html .ui-bar-a .ui-btn:active,
html .ui-body-a .ui-btn:active,
html body .ui-group-theme-a .ui-btn:active,
html head + body .ui-btn.ui-btn-a:active {
	background-color: #333 /*{a-bdown-background-color}*/;
	border-color: #aaa /*{a-bdown-border}*/;
	color: #aaa /*{a-bdown-color}*/;
	text-shadow: 0 /*{a-bdown-shadow-x}*/ 0px /*{a-bdown-shadow-y}*/ 0 /*{a-bdown-shadow-radius}*/ #f3f3f3 /*{a-bdown-shadow-color}*/;
}
/* Active button */
.ui-page-theme-a .ui-btn.ui-btn-active,
html .ui-bar-a .ui-btn.ui-btn-active,
html .ui-body-a .ui-btn.ui-btn-active,
html body .ui-group-theme-a .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-a.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-a .ui-checkbox-on:after,
html .ui-bar-a .ui-checkbox-on:after,
html .ui-body-a .ui-checkbox-on:after,
html body .ui-group-theme-a .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-a:after,
/* Active flipswitch background */
.ui-page-theme-a .ui-flipswitch-active,
html .ui-bar-a .ui-flipswitch-active,
html .ui-body-a .ui-flipswitch-active,
html body .ui-group-theme-a .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-a .ui-slider-track .ui-btn-active,
html .ui-bar-a .ui-slider-track .ui-btn-active,
html .ui-body-a .ui-slider-track .ui-btn-active,
html body .ui-group-theme-a .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-a .ui-btn-active {
	background-color: #222 /*{a-active-background-color}*/;
	border-color: #aaa /*{a-active-border}*/;
	color: #ffffff /*{a-active-color}*/;
	text-shadow: 0 /*{a-active-shadow-x}*/ 0px /*{a-active-shadow-y}*/ 0 /*{a-active-shadow-radius}*/ #aaa /*{a-active-shadow-color}*/;
}
/* Active radio button icon */
.ui-page-theme-a .ui-radio-on:after,
html .ui-bar-a .ui-radio-on:after,
html .ui-body-a .ui-radio-on:after,
html body .ui-group-theme-a .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-a:after {
	border-color: #222 /*{a-active-background-color}*/;
}
/* Focus */
.ui-page-theme-a .ui-btn:focus,
html .ui-bar-a .ui-btn:focus,
html .ui-body-a .ui-btn:focus,
html body .ui-group-theme-a .ui-btn:focus,
html head + body .ui-btn.ui-btn-a:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-a .ui-focus,
html .ui-bar-a .ui-focus,
html .ui-body-a .ui-focus,
html body .ui-group-theme-a .ui-focus,
html head + body .ui-btn-a.ui-focus,
html head + body .ui-body-a.ui-focus {
	-webkit-box-shadow: 0 0 12px #222 /*{a-active-background-color}*/;
	-moz-box-shadow: 0 0 12px #222 /*{a-active-background-color}*/;
	box-shadow: 0 0 12px #222 /*{a-active-background-color}*/;
}
/* B
-----------------------------------------------------------------------------------------------------------*/
/* Bar: Toolbars, dividers, slider track */
.ui-bar-b,
.ui-page-theme-b .ui-bar-inherit,
html .ui-bar-b .ui-bar-inherit,
html .ui-body-b .ui-bar-inherit,
html body .ui-group-theme-b .ui-bar-inherit {
	background-color: #e9e9e9 /*{b-bar-background-color}*/;
	border-color: #dddddd /*{b-bar-border}*/;
	color: #333333 /*{b-bar-color}*/;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 0 /*{b-bar-shadow-radius}*/ #eeeeee /*{b-bar-shadow-color}*/;
	font-weight: bold;
}
.ui-bar-b {
	border-width: 1px;
	border-style: solid;
}
/* Page and overlay */
.ui-overlay-b,
.ui-page-theme-b,
.ui-page-theme-b .ui-panel-wrapper {
	background-color: #f9f9f9 /*{b-page-background-color}*/;
	border-color: #bbbbbb /*{b-page-border}*/;
	color: #333333 /*{b-page-color}*/;
	text-shadow: 0 /*{b-page-shadow-x}*/ 1px /*{b-page-shadow-y}*/ 0 /*{b-page-shadow-radius}*/ #f3f3f3 /*{b-page-shadow-color}*/;
}
/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-b,
.ui-page-theme-b .ui-body-inherit,
html .ui-bar-b .ui-body-inherit,
html .ui-body-b .ui-body-inherit,
html body .ui-group-theme-b .ui-body-inherit,
html .ui-panel-page-container-b {
	background-color: #ffffff /*{b-body-background-color}*/;
	border-color: #dddddd /*{b-body-border}*/;
	color: #333333 /*{b-body-color}*/;
	text-shadow: 0 /*{b-body-shadow-x}*/ 1px /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #f3f3f3 /*{b-body-shadow-color}*/;
}
.ui-body-b {
	border-width: 1px;
	border-style: solid;
}
/* Links */
.ui-page-theme-b a,
html .ui-bar-b a,
html .ui-body-b a,
html body .ui-group-theme-b a {
	color: #3388cc /*{b-link-color}*/;
	font-weight: bold;
}
.ui-page-theme-b a:visited,
html .ui-bar-b a:visited,
html .ui-body-b a:visited,
html body .ui-group-theme-b a:visited {
	color: #3388cc /*{b-link-visited}*/;
}
.ui-page-theme-b a:hover,
html .ui-bar-b a:hover,
html .ui-body-b a:hover,
html body .ui-group-theme-b a:hover {
	color: #005599 /*{b-link-hover}*/;
}
.ui-page-theme-b a:active,
html .ui-bar-b a:active,
html .ui-body-b a:active,
html body .ui-group-theme-b a:active {
	color: #005599 /*{b-link-active}*/;
}
/* Button up */
.ui-page-theme-b .ui-btn,
html .ui-bar-b .ui-btn,
html .ui-body-b .ui-btn,
html body .ui-group-theme-b .ui-btn,
html head + body .ui-btn.ui-btn-b,
/* Button visited */
.ui-page-theme-b .ui-btn:visited,
html .ui-bar-b .ui-btn:visited,
html .ui-body-b .ui-btn:visited,
html body .ui-group-theme-b .ui-btn:visited,
html head + body .ui-btn.ui-btn-b:visited {
	background-color: #186299 /*{b-bup-background-color}*/;
	border-color: #186299 /*{b-bup-border}*/;
	color: #ffffff /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ 0px /*{b-bup-shadow-y}*/ 0 /*{b-bup-shadow-radius}*/ #f3f3f3 /*{b-bup-shadow-color}*/;
}
/* Button hover */
.ui-page-theme-b .ui-btn:hover,
html .ui-bar-b .ui-btn:hover,
html .ui-body-b .ui-btn:hover,
html body .ui-group-theme-b .ui-btn:hover,
html head + body .ui-btn.ui-btn-b:hover {
	background-color: #186299 /*{b-bhover-background-color}*/;
	border-color: #186299 /*{b-bhover-border}*/;
	color: #ffffff /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 0 /*{b-bhover-shadow-radius}*/ #a9e5ef /*{b-bhover-shadow-color}*/;
}
/* Button down */
.ui-page-theme-b .ui-btn:active,
html .ui-bar-b .ui-btn:active,
html .ui-body-b .ui-btn:active,
html body .ui-group-theme-b .ui-btn:active,
html head + body .ui-btn.ui-btn-b:active {
	background-color: #186299 /*{b-bdown-background-color}*/;
	border-color: #186299 /*{b-bdown-border}*/;
	color: #cccccc /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ 1px /*{b-bdown-shadow-y}*/ 0 /*{b-bdown-shadow-radius}*/ #186299 /*{b-bdown-shadow-color}*/;
}
/* Active button */
.ui-page-theme-b .ui-btn.ui-btn-active,
html .ui-bar-b .ui-btn.ui-btn-active,
html .ui-body-b .ui-btn.ui-btn-active,
html body .ui-group-theme-b .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-b.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-b .ui-checkbox-on:after,
html .ui-bar-b .ui-checkbox-on:after,
html .ui-body-b .ui-checkbox-on:after,
html body .ui-group-theme-b .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-b:after,
/* Active flipswitch background */
.ui-page-theme-b .ui-flipswitch-active,
html .ui-bar-b .ui-flipswitch-active,
html .ui-body-b .ui-flipswitch-active,
html body .ui-group-theme-b .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-b.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-b .ui-slider-track .ui-btn-active,
html .ui-bar-b .ui-slider-track .ui-btn-active,
html .ui-body-b .ui-slider-track .ui-btn-active,
html body .ui-group-theme-b .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-b .ui-btn-active {
	background-color: #f5aa2e /*{b-active-background-color}*/;
	border-color: #1c4a70 /*{b-active-border}*/;
	color: #ffffff /*{b-active-color}*/;
	text-shadow: 0 /*{b-active-shadow-x}*/ 1px /*{b-active-shadow-y}*/ 0 /*{b-active-shadow-radius}*/ #a9e5ef /*{b-active-shadow-color}*/;
}
/* Active radio button icon */
.ui-page-theme-b .ui-radio-on:after,
html .ui-bar-b .ui-radio-on:after,
html .ui-body-b .ui-radio-on:after,
html body .ui-group-theme-b .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-b:after {
	border-color: #f5aa2e /*{b-active-background-color}*/;
}
/* Focus */
.ui-page-theme-b .ui-btn:focus,
html .ui-bar-b .ui-btn:focus,
html .ui-body-b .ui-btn:focus,
html body .ui-group-theme-b .ui-btn:focus,
html head + body .ui-btn.ui-btn-b:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-b .ui-focus,
html .ui-bar-b .ui-focus,
html .ui-body-b .ui-focus,
html body .ui-group-theme-b .ui-focus,
html head + body .ui-btn-b.ui-focus,
html head + body .ui-body-b.ui-focus {
	-webkit-box-shadow: 0 0 12px #f5aa2e /*{b-active-background-color}*/;
	-moz-box-shadow: 0 0 12px #f5aa2e /*{b-active-background-color}*/;
	box-shadow: 0 0 12px #f5aa2e /*{b-active-background-color}*/;
}


/* C
-----------------------------------------------------------------------------------------------------------*/
/* Bar: Toolbars, dividers, slider track */
.ui-bar-c,
.ui-page-theme-c .ui-bar-inherit,
html .ui-bar-c .ui-bar-inherit,
html .ui-body-c .ui-bar-inherit,
html body .ui-group-theme-c .ui-bar-inherit {
	background-color: #e9e9e9 /*{c-bar-background-color}*/;
	border-color: #dddddd /*{c-bar-border}*/;
	color: #333333 /*{c-bar-color}*/;
	text-shadow: 0 /*{c-bar-shadow-x}*/ 1px /*{c-bar-shadow-y}*/ 0 /*{c-bar-shadow-radius}*/ #eeeeee /*{c-bar-shadow-color}*/;
	font-weight: bold;
}
.ui-bar-c {
	border-width: 1px;
	border-style: solid;
}
/* Page and overlay */
.ui-overlay-c,
.ui-page-theme-c,
.ui-page-theme-c .ui-panel-wrapper {
	background-color: #f9f9f9 /*{c-page-background-color}*/;
	border-color: #bbbbbb /*{c-page-border}*/;
	color: #333333 /*{c-page-color}*/;
	text-shadow: 0 /*{c-page-shadow-x}*/ 1px /*{c-page-shadow-y}*/ 0 /*{c-page-shadow-radius}*/ #f3f3f3 /*{c-page-shadow-color}*/;
}
/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-c,
.ui-page-theme-c .ui-body-inherit,
html .ui-bar-c .ui-body-inherit,
html .ui-body-c .ui-body-inherit,
html body .ui-group-theme-c .ui-body-inherit,
html .ui-panel-page-container-c {
	background-color: #ffffff /*{c-body-background-color}*/;
	border-color: #dddddd /*{c-body-border}*/;
	color: #333333 /*{c-body-color}*/;
	text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #f3f3f3 /*{c-body-shadow-color}*/;
}
.ui-body-c {
	border-width: 1px;
	border-style: solid;
}
/* Links */
.ui-page-theme-c a,
html .ui-bar-c a,
html .ui-body-c a,
html body .ui-group-theme-c a {
	color: #3388cc /*{c-link-color}*/;
	font-weight: bold;
}
.ui-page-theme-c a:visited,
html .ui-bar-c a:visited,
html .ui-body-c a:visited,
html body .ui-group-theme-c a:visited {
	color: #3388cc /*{c-link-visited}*/;
}
.ui-page-theme-c a:hover,
html .ui-bar-c a:hover,
html .ui-body-c a:hover,
html body .ui-group-theme-c a:hover {
	color: #005599 /*{c-link-hover}*/;
}
.ui-page-theme-c a:active,
html .ui-bar-c a:active,
html .ui-body-c a:active,
html body .ui-group-theme-c a:active {
	color: #005599 /*{c-link-active}*/;
}
/* Button up */
.ui-page-theme-c .ui-btn,
html .ui-bar-c .ui-btn,
html .ui-body-c .ui-btn,
html body .ui-group-theme-c .ui-btn,
html head + body .ui-btn.ui-btn-c,
/* Button visited */
.ui-page-theme-c .ui-btn:visited,
html .ui-bar-c .ui-btn:visited,
html .ui-body-c .ui-btn:visited,
html body .ui-group-theme-c .ui-btn:visited,
html head + body .ui-btn.ui-btn-c:visited {
	background-color: #ffffff /*{c-bup-background-color}*/;
	border-color: #ffa500 /*{c-bup-border}*/;
	color: #333333 /*{c-bup-color}*/;
	text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #f3f3f3 /*{c-bup-shadow-color}*/;
}
/* Button hover */
.ui-page-theme-c .ui-btn:hover,
html .ui-bar-c .ui-btn:hover,
html .ui-body-c .ui-btn:hover,
html body .ui-group-theme-c .ui-btn:hover,
html head + body .ui-btn.ui-btn-c:hover {
	background-color: #666666 /*{c-bhover-background-color}*/;
	border-color: #000000 /*{c-bhover-border}*/;
	color: #ffffff /*{c-bhover-color}*/;
	text-shadow: 0 /*{c-bhover-shadow-x}*/ 1px /*{c-bhover-shadow-y}*/ 0 /*{c-bhover-shadow-radius}*/ #f3f3f3 /*{c-bhover-shadow-color}*/;
}
/* Button down */
.ui-page-theme-c .ui-btn:active,
html .ui-bar-c .ui-btn:active,
html .ui-body-c .ui-btn:active,
html body .ui-group-theme-c .ui-btn:active,
html head + body .ui-btn.ui-btn-c:active {
	background-color: #666666 /*{c-bdown-background-color}*/;
	border-color: #000000 /*{c-bdown-border}*/;
	color: #ffffff /*{c-bdown-color}*/;
	text-shadow: 0 /*{c-bdown-shadow-x}*/ 1px /*{c-bdown-shadow-y}*/ 0 /*{c-bdown-shadow-radius}*/ #f3f3f3 /*{c-bdown-shadow-color}*/;
}
/* Active button */
.ui-page-theme-c .ui-btn.ui-btn-active,
html .ui-bar-c .ui-btn.ui-btn-active,
html .ui-body-c .ui-btn.ui-btn-active,
html body .ui-group-theme-c .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-c.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-c .ui-checkbox-on:after,
html .ui-bar-c .ui-checkbox-on:after,
html .ui-body-c .ui-checkbox-on:after,
html body .ui-group-theme-c .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-c:after,
/* Active flipswitch background */
.ui-page-theme-c .ui-flipswitch-active,
html .ui-bar-c .ui-flipswitch-active,
html .ui-body-c .ui-flipswitch-active,
html body .ui-group-theme-c .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-c.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-c .ui-slider-track .ui-btn-active,
html .ui-bar-c .ui-slider-track .ui-btn-active,
html .ui-body-c .ui-slider-track .ui-btn-active,
html body .ui-group-theme-c .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-c .ui-btn-active {
	background-color: #3388cc /*{c-active-background-color}*/;
	border-color: #1c4a70 /*{c-active-border}*/;
	color: #ffffff /*{c-active-color}*/;
	text-shadow: 0 /*{c-active-shadow-x}*/ 1px /*{c-active-shadow-y}*/ 0 /*{c-active-shadow-radius}*/ #005599 /*{c-active-shadow-color}*/;
}
/* Active radio button icon */
.ui-page-theme-c .ui-radio-on:after,
html .ui-bar-c .ui-radio-on:after,
html .ui-body-c .ui-radio-on:after,
html body .ui-group-theme-c .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-c:after {
	border-color: #3388cc /*{c-active-background-color}*/;
}
/* Focus */
.ui-page-theme-c .ui-btn:focus,
html .ui-bar-c .ui-btn:focus,
html .ui-body-c .ui-btn:focus,
html body .ui-group-theme-c .ui-btn:focus,
html head + body .ui-btn.ui-btn-c:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-c .ui-focus,
html .ui-bar-c .ui-focus,
html .ui-body-c .ui-focus,
html body .ui-group-theme-c .ui-focus,
html head + body .ui-btn-c.ui-focus,
html head + body .ui-body-c.ui-focus {
	-webkit-box-shadow: 0 0 12px #3388cc /*{c-active-background-color}*/;
	-moz-box-shadow: 0 0 12px #3388cc /*{c-active-background-color}*/;
	box-shadow: 0 0 12px #3388cc /*{c-active-background-color}*/;
}


/* Structure */
/* Disabled
-----------------------------------------------------------------------------------------------------------*/
/* Class ui-disabled deprecated in 1.4. :disabled not supported by IE8 so we use [disabled] */
.ui-disabled,
.ui-state-disabled,
button[disabled],
.ui-select .ui-btn.ui-state-disabled {
	filter: Alpha(Opacity=30);
	opacity: .3;
	cursor: default !important;
	pointer-events: none;
}
/* Focus state outline
-----------------------------------------------------------------------------------------------------------*/
.ui-btn:focus,
.ui-btn.ui-focus {
	outline: 0;
}
/* Unset box-shadow in browsers that don't do it right */
.ui-noboxshadow .ui-shadow,
.ui-noboxshadow .ui-shadow-inset,
.ui-noboxshadow .ui-overlay-shadow,
.ui-noboxshadow .ui-shadow-icon.ui-btn:after,
.ui-noboxshadow .ui-shadow-icon .ui-btn:after,
.ui-noboxshadow .ui-focus,
.ui-noboxshadow .ui-btn:focus,
.ui-noboxshadow  input:focus,
.ui-noboxshadow .ui-panel {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
.ui-noboxshadow .ui-btn:focus,
.ui-noboxshadow .ui-focus {
	outline-width: 1px;
	outline-style: auto;
}


/*miro*/
@media (min-width:320px) {
	.ui-content {
		padding: 0.5em;
	}
}
@media (min-width:480px) {
	.ui-content {
		padding: 1em;
	}
}
h1 {
	font-size: 1.6em;
	margin-top: 10px;
	margin-bottom: 10px;
}
.required {
	color: red;
}
.ui-field-contain {
	border: 0px none;
}
.ui-input-text {
	margin-bottom: 10px !important;
}
.ui-btn.ui-mini {
	font-size: 0.8em;
}
.ui-btn-c.ui-mini {
	padding: 5px 7px 5px 7px;
}
.ui-page-theme-a .ui-header, .ui-page-theme-a .ui-footer {
	background-color: #186299;
	background: linear-gradient(#297ab8, #186299);
	color: white;
}
.ui-page-theme-a .ui-footer a {
	color: white;
	font-weight: normal;
	text-decoration: none;
}
.ui-page-theme-a .ui-footer a:hover {
	text-decoration: underline;
}
div.ui-header .ui-btn {
	color: white;
	line-height: 35px;
	font-size: 1.1em;
	font-weight: 600;
	text-shadow: 0px none;
	box-shadow: 0 0px 0px 0px;
	padding: 0px;
	margin-top: 4px;
	position: absolute;
}
@media (min-width:320px) {
	.logo-mobile {
		width: 45px;
		height: 32px;
		background: url('/images/mobile/as_logo_mobile_short.png') no-repeat;
	}
	div.ui-header .ui-btn.change-location {
		left: 55px;
	}
}
@media (min-width:480px) {
	.logo-mobile {
		width: 150px;
		height: 32px;
		background: url('/images/mobile/as_logo_mobile.png') no-repeat;
	}
	div.ui-header .ui-btn.change-location {
		left: 170px;
	}
}
/* header buttons */
div.ui-header .ui-btn, div.ui-header .ui-btn:visited, div.ui-header .ui-btn:active, div.ui-header .ui-btn:hover {
	color: white;
	background-color: transparent;
	border-color: transparent;
}
div.ui-header .ui-btn.change-location:hover, div.ui-header .ui-btn.change-location:active {
	border-color: transparent;
}
div.ui-header .ui-btn.change-location img {
	vertical-align: top;
}
#mobile-navbar-link, #mobile-navbar-signin, #mobile-navbar-menu {
	margin-top: 0px;
}
#mobile-navbar-signin {
	right: 40px;
}
#mobile-navbar-link {
	right: 40px;
}
/* change city suggest jquery-ui & jquery-mobile override */
.ui-autocomplete {
	z-index:1200 !important;
	background-color: white !important;
	border: 1px solid #ccc;
}
.ui-autocomplete li {
	padding-left: 0px;
	margin-left: 0px;
}
.ui-autocomplete li:hover {
	font-weight: bold;
}
/* list pages */
.ui-li-divider {
	background-color: #186299;
}
.ui-page-theme-a .ui-btn:hover,
html .ui-bar-a .ui-btn:hover,
html .ui-body-a .ui-btn:hover,
html body .ui-group-theme-a .ui-btn:hover,
html head + body .ui-btn.ui-btn-a:hover {
	background-color: #578db6;
}
#list-escorts li {
	background-color: #f6f6f6;
}
#list-escorts li a {
	padding: 10px;
}
#list-escorts li img {
	position: relative;
	max-width: none;
	max-height: none;
	border: 1px solid #666;
}
h2.bigPhone {
	color: #186299;
	font-size: 20px !important;
	padding: 0px;
	margin: 5px 0px 0px 0px !important;
	text-align: center;
	text-decoration: underline;
	background: transparent;
	font-weight: normal;
}
#list-escorts .ui-btn, #list-places .ui-btn {
	font-weight: normal;
	white-space: normal !important;
}
#list-escorts .ui-btn:hover, #list-places .ui-btn:hover {
	background-color: #A2C7DC;
	color: black !important;
	padding-right: 15px !important;
}
#list-places img.placeThumb {
	margin-top: 12px;
	margin-left: 8px;
}
.ui-bar-a {
	background-color: #f8ad47 !important;
}
#place_stats {
	width: 100%;
	border-collapse: collapse;
}
#place_stats td, #place_stats th {
	padding: 2px 0px 2px 0px;
	border-bottom: 1px solid #ccc;
}	
@media (min-width:320px) {
	#place_stats tr td:first-child {
		width: 100px;
		max-width: 100px;
		text-transform: uppercase;
	}
}
@media (min-width:480px) {
	#place_stats tr td:first-child {
		width: 150px;
		max-width: 150px;
	}
}
@media (min-width:640px) {
	#place_stats tr td:first-child {
		width: 200px;
		max-width: 200px;
	}
}
#hours-mobile {
	width: 100%;
	border-collapse: collapse;
}
#hours-mobile tr.active {
	background-color: #ffc;
}
#hours-mobile td {
	padding: 2px 0px 2px 0px;
	border-bottom: 1px solid #ccc;
}	
#hours-mobile tr td:first-child {
	width: 120px;
	max-width: 120px;
	text-transform: uppercase;
}
#homelocation-mobile .ui-input-search {
	border-radius: 0px !important;
}
#homelocation-mobile li {
	padding: 0px 0px 0px 15px;
}
#homelocation-mobile li li {
	padding: 0px;
}
#homelocation-mobile h3 {
	margin: 0px !important;
}
#homelocation-mobile div.ui-collapsible {
	background-color: #f6f6f6;
	margin: 0px 0px 0px -1em;
}
#homelocation-mobile > div.ui-collapsible {
	margin: 0px -1em 0px -1em;
}

table.slim tr td {
	padding: 2px 0px 2px 0px;
}
table.slim tr td:first-child {
	width: 75px;
	font-weight: bold;
	font-size: 0.8em;
	padding-right: 5px;
	vertical-align: top;
	padding-top: 4px;
}

@media (min-width:480px) {
	div.ui-popup-container {
		width: 300px;
	}
}

#player_wrap {
	max-width: 640px;
}
/* scrollable */
div.scrollable-wrap {
	display: block;
	width: 310px;
	height: 100px;
}
@media (min-width:320px) {
	div.scrollable-wrap {
		margin-left: -10px;
	}
}
@media (min-width:330px) {
	div.scrollable-wrap {
		margin: auto;
	}
}
.scrollable-wrap .scrollable {
	position: relative;
	overflow: hidden;
	float: left;
	width: 260px;
	height: 100px;
}
/* playlist items == scrollable items */
.scrollable .items {
	width: 999em;
	position: absolute;
}
.scrollable .items div {
	float: left;
}
.scrollable .items span {
	float: left;
	padding: 0px;
	margin: 8px;
	width: 120px;
	height: 80px;
	color: #282828;
	background-color: rgba(0, 0, 0, 0.2);
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	background-size: cover;
}
/* scrollable prev and next buttons */
.scrollable-wrap a.prev, .scrollable-wrap a.next {
	background: url('/images/hori.png') no-repeat;
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	margin: 38px 0;
	font-size: 0;
	cursor: pointer;
}
.scrollable-wrap a.next {
	background-position: 0 -20px;
	clear: right;
	margin-left: 10px;
}
.scrollable-wrap a.prev:hover {
	background-position: -20px 0;
}
.scrollable-wrap a.prev:active {
	background-position: -40px 0;
}
.scrollable-wrap a.next:hover {
	background-position: -20px -20px;
}
.scrollable-wrap a.next:active {
	background-position: -40px -20px;
}

.pager-disabled {
	filter: Alpha(opacity=100);
	opacity: 1;
	border: 1px solid rgba(87,141,182,0.5) !important;
	color: #578db6 !important;
}

#mobile_leaderboard_wrap {
	display: block;
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0px;
	z-index: 1100;	
	background-color: #eeeeee;
}
#mobile_leaderboard {
	display: block;
	width: 320px;
	height: 50px;
	margin: auto;
	background-color: #d8d8d8;
}
#mobile_headerpromo {
	display: block;
	width: 300px;
	height: 100px;
	margin: auto;
	margin-top: -5px;
	margin-bottom: 20px;
	background-color: #d8d8d8;
}
/*
main blue: #186199
other blues: #578DB6, #3572A0, #0D4A79, #053860
complementary orange: #186199
other oranges: #186199, #186199, #186199, #955500
dark grey: #323d45
light grey: #f8f9fa
*/

/* private messages */
.msg_list_item {
	font-size: 0.8em;
}
.not_read_yet a {
	background-color: #ffefdd !important;
}
.msg_list_item, .msg_list_item a {
	color: #aaa !important;
	font-weight: bold;
}
.msg_list_author, .msg_list_subject {
	color: #333;
}
.msg_list_date, .msg_list_read {
	color: #666;
}
@media (min-width:320px) {
	.msg_list_date {
		display: inline-block;
		width: 100px;
	}
	.msg_list_author {
		display: inline-block;
		width: 80px;
	}
	.msg_list_read_wrap {
		display: none;
	}
}
@media (min-width:480px) {
	.msg_list_date {
		display: inline-block;
		width: 120px;
	}
	.msg_list_author {
		display: inline-block;
		width: 120px;
	}
	.msg_list_read_wrap {
		display: inline-block;
	}
	.msg_list_read {
		display: inline-block;
		width: 100px;
	}
}
.pm_btn {
	-webkit-appearance: none;
	padding: 5px;
	font-weight: bold;
	cursor: pointer;
	margin: 10px 0px 10px 0px;
	font-size: 1.1em;
	display: inline-block;
	text-decoration: none;
	border-radius: 0px;
}
.pm_btn_small {
	-webkit-appearance: none;
	padding: 1px;
	font-weight: bold;
	cursor: pointer;
	padding: 1px 5px 1px 5px;
	display: inline-block;
	text-decoration: none;
	border-radius: 0px;
}
.pm_btn:hover {
	text-decoration: none;
}
.pm_btn_coral {
	background: coral;
	color: white !important;
	border: 1px solid coral;
}
.pm_btn_coral:hover {
	background-color: lightcoral;
	border: 1px solid lightcoral;
}
.pm_btn_white {
	background: white;
	color: #666 !important;
	border: 1px solid coral;
}
.pm_btn_white:hover {
	border: 1px solid lightcoral;
	color: black !important;
}
form#pm_compose label {
	display: inline-block;
	font-weight: bold;
	color: #206ab6;
}

/* adbuild */
input.padding {
	padding: 4px;
}
.bluelabel {
	margin-top: 15px !important;
	font-weight: bold !important;
	color: #206ab6;
}
.error {
	color: red;
}
.required::before {
	content: "* ";
	font-weight: bold;
	color: red;
	font-size: 1.2em;
}

.login_message {
	padding: 10px;
	background-color: #f5d2e6;
	border-radius: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	border: 1px solid #aaa;
}

#page_warning {
	background-color: #333;
}
#warning {
	background-color: #ddd;
	border: 1px solid orange;
	border-radius: 4px;
	margin: 5px;
	font-size: 14px;
}
#warning #agree_btn {
    display: block;
    width: 280px;
    background: #ff6400;
    background: linear-gradient(to top, #ff6400, #fd904d);
    margin: 10px auto;
    padding: 12px;
    position: relative;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    font-size: 0.9em;
    box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, .2);
    cursor: pointer;
}
#warning #agree_btn .big {
    font-size: 1.7em;
    font-weight: bold;
}
#warning #agree_btn:hover {
    text-decoration: none;
    background: #fd904d;
    background: linear-gradient(to top, #fd904d, #feb172);
    border: 1px solid #ccc;
}

#interstitial_overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
    text-align: center;
	font-size: 0.9em;
}
#interstitial_ad {
    display: inline-block;
    padding: 10px;
    position: relative;
    background: #bbb;
    margin: 20px auto;
}
#interstitial_close_1 {
    position: absolute;
    top: 10px;
    left: 10px;
}
#interstitial_close_2 {
    position: absolute;
    top: 10px;
    right: 10px;
}
#interstitial_header {
    font-weight: bold;
    position: absolute;
    right: 10px;
}
#interstitial_overlay .close {
    color: black;
    cursor: pointer;
    font-weight: bold;
}
#interstitial_ad a {
    display: block;
    margin-top: 25px;
}
#interstitial_ad a img{
    max-width: 320px;
}
@media (max-height:360px) {
	#interstitial_ad a img{
    	max-height: 300px;
	}
}
