body {
	background-color: #E9E9E9;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	margin: 0px;

}
a:link, a:visited {
	text-decoration: none;
	cursor: pointer;
	color: #000;
}
a:hover {
	cursor: pointer;
	text-decoration: none;
}
a:active {
	color: #5eabe5;
}
.clear {
	clear: both;
	line-height: 0px;
}


/* architecture */
#content {
	padding-top: 90px;
	margin: 0 auto;
	text-align: center;
	font-size: 12px;
}
#contentCity {
	float: left;
	text-align: left;
	width: 1010px;
}
.column {
	text-align: left;
	display: block;
	float: left;
}
.box {
	width: 198px;
	float: left;
	margin: 0px 12px 10px 0px;
	-moz-border-radius: 6px; /* Firefox */
	-webkit-border-radius: 6px; /* Safari, Chrome */
	border-radius: 6px; /* CSS3 */
	background: #FFF;
	padding: 6px 0px 6px 8px;
	min-height: 425px;
}
.box.col1 { width: 198px; }
.box.col2 { width: 334px; }
.box.height { height: 425px; }
.boxForum {
	width: 334px;
	float: right;
	margin: 0px 12px 10px 0px;
	-moz-border-radius: 6px; /* Firefox */
	-webkit-border-radius: 6px; /* Safari, Chrome */
	border-radius: 6px; /* CSS3 */
	background: #FFF;
	padding: 6px 0px 6px 8px;
}

.services, .emp, .strip, .stores {
	height: 425px;
}
.emp, .strip, .stores {
	min-height: 425px;
}
.websites {
	height: auto;
	min-height: 60px;
}
.columnSplit {
	width: 190px;
	float: left;
}
.columnLg {
	width: 774px;
	float: left;
	-moz-border-radius: 6px; /* Firefox */
	-webkit-border-radius: 6px; /* Safari, Chrome */
	border-radius: 6px; /* CSS3 */
	background: #FFF;
	padding: 6px 6px 6px 10px;
}
.columnLg .title {
	width: 768px;
}
.title {
	-moz-border-radius: 6px; /* Firefox */
	-webkit-border-radius: 6px; /* Safari, Chrome */
	border-radius: 6px; /* CSS3 */
	background: #186299;
	padding: 4px 0px 2px 6px;
	text-transform: uppercase;
	font-size: 11px;
	color: #FFF;
	font-weight: bold;
	margin: 0px 2px 10px -5px;
}
.title h1 {
	font-size: 11px;
	margin-bottom: 2px;
    margin-top: 0px;
}

.title h2 {
	font-size: 11px;
	margin-bottom: 2px;
    margin-top: 0px;
}

.bath .title, .gay .title {
	background: url(/images/gay.png) no-repeat right 2px #186299;
	-moz-border-radius: 6px; /* Firefox */
	-webkit-border-radius: 6px; /* Safari, Chrome */
	border-radius: 6px; /* CSS3 */
	padding-right: 30px;
}

.title super {
	color: #95c1ec;
	padding-left: 2px;
}
#geoLinks {
	float: left;
	width: 180px;
	text-align: left;
}
#geoLinks select {
	color: #000;
	font-size: 12px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 2px;
	width: 170px;
}

#geoLinks ul {
	float: left;
	width: 90px;
	padding-top: 10px;
	margin: 0px;
	padding: 10px 0px 0px 0px;
}
#geoLinks li, #content li {
	list-style: none;
}
#geoLinks li {
	margin-bottom: 3px;
}
#geoLinks .bold a {
	font-weight: bold;
}
#geoLinks a {
	padding: 2px 16px 2px 0px;
	font-size: 11px;
	line-height: 10px;
}
#geoLinks a:hover {
	color: #FFF;
	background: url(/images/sprite-core.png) no-repeat scroll -1px -40px #ff740e;
	padding: 2px 0px 2px 16px;
	

}
/* content */
#content .breadcrumbs {
	text-align: left;
	margin-top: 5px;
	margin-bottom: 7px;
	width: 1000px;
}
#content .breadcrumbs a {
	font-size: 11px;
}

.contentStyle .title a {
	background: #ff740e;
	color: #FFF;
	font-size: 10px;
	float: right;
	padding: 0px 2px;
	height: 14px;
	margin: -1px 6px 0px 0px;
}
.contentStyle .title a:hover {
	background: #FFF;
	text-decoration: none;
	color: #ff740e;
}
.contentStyle li, .contentStyle h3 {
	margin-top: 13px;
}
.contentStyle li super, .contentStyle h3 super {
	font-size: 10px;
	padding: 0px 3px;
}
.services h3 {
	margin: 7px 0px 7px 0px;
}
.contentStyle li a, .contentStyle h3 a {
	color: #000;
	padding: 1px 2px 1px 16px;
	background: url(/images/sprite-core.png) no-repeat scroll 3px -65px ;
	font-weight: bold;
	margin-left: -4px;
	line-height: 13px;
}
.contentStyle li a:hover, .contentStyle li a:active, .contentStyle h3 a:hover, .contentStyle h3 a:active {
	background: url(/images/sprite-core.png) no-repeat scroll 0px -40px #ff740e;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	overflow: visible;
}
#servicesThumb {
	float: right;
}
#servicesLinks {
	height: 116px;
}
.city_thumbs a:not(:first-child) {
	margin-top: 12px;
}
#servicesThumb2 {
	float: left;
	margin-top: 20px;
	padding-left: 28px;
}
.city_thumbs .category, #reviewsThumb .name {
	font-weight: bold;
	font-size: 12px;
}
.city_thumbs a {
	font-size: 10px;
	clear: both;
	padding: 4px 0px 4px 5px;
	display: block;
	width: 140px;
	height: 60px;
	margin-left: -5px;
}
.city_thumbs li, #reviewsThumb li {
	margin: 0px;
	line-height: 10px;
}
.city_thumbs a img {
	float: left;
	width: 60px;
	height: 60px;
	border: solid 1px #000;
	margin-right: 8px;
}
.city_thumbs a:hover, .city_thumbs a:active, #reviewsThumb a:hover, #reviewsThumb a:active {
	background: #ff740e;
	text-decoration: none;
	color: #FFF;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;

}
#reviewsThumb a {
	font-size: 10px;
	clear: both;
	padding: 5px 0px 5px 5px;
	display: block;
	width: 160px;
	height: 37px;
	margin: 5px 0px 0px 6px;
}
.strip li {
	margin-top: 10px;
}
.stores li {
	margin-bottom: 22px;
}
#reviewsThumb {
	margin-right: 10px;
}
#reviewsThumb a img {
	float: left;
	width: 35px;
	height: 35px;
	border: solid 1px #000;
	margin-right: 8px;
}
.recent {
	border-bottom: solid 1px #ff740e;
	color: #ff740e;
	margin: 12px 6px 5px 0px;
	background: url(/images/sprite-core.png) no-repeat 0px -218px;
	height: 13px;
}
.emp .recent, .stores .recent {
	margin-top: 23px !important;
}
.strip .recent {
	margin-top: 10px;
}
.stripTS .recent {
	margin-top: 36px;
}
.stores .recent {
}
.submitCTA a, .submitCTA a:visited {
	background: url(/images/sprite-core.png) no-repeat 0px -174px;
	width: 133px;
	height: 17px;
	clear: both;
	float: right;
	z-index: 100;
	margin-right: 6px;
	padding-right: 3px;
}
.submitCTA a:hover {
	background-position: 0px -191px;
}

/* international tempalte */
.int div {
	width: 153px;
	float: left;
}
.intForum {
	width: auto;
	height: 425px;
	float: left !important;
}
.intForum .cta a {
	margin-right: 10px;
	float: none;
}
#cityVideo {
    /*background:#FFFFFF ;*/
	background: rgb(149,149,149); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(149,149,149,1)), color-stop(46%,rgba(13,13,13,1)), color-stop(50%,rgba(1,1,1,1)), color-stop(53%,rgba(10,10,10,1)), color-stop(76%,rgba(78,78,78,1)), color-stop(87%,rgba(56,56,56,1)), color-stop(100%,rgba(27,27,27,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
    border-radius: 6px 6px 6px 6px;
    float: left;
    margin: 0 10px 10px 0;
	padding: 6px 6px 6px 10px;
	width: 330px;
	height: 425px;
}

#cityVideo .title {
	background: url('/images/i_exclusive.png') no-repeat 2px 1px #ff6300;
/*	border-radius: 0px 5px;
	float: right;
	padding-right: 10px;
	margin-right: -6px;
	margin-top: -6px;
	padding-left: 20px;*/
	border-radius: 5px 0 5px 0;
	float: left;
	margin-left: -10px;
	margin-top: -6px;
	padding-left: 20px;
	padding-right: 10px;
}

#videoUpload {
	background: url("/images/icon_video.png") no-repeat scroll right top #FFFFFF;
	border: 1px solid #C2C0C0;
	border-radius: 4px 4px 4px 4px;
	color: #999999;
	float: right;
	font-weight: bold;
	margin-top: -2px;
	padding: 0 20px 0 4px;
}

#city_video_name {
	clear: both;
	color: #FFFFFF;
	font-size: 14px;
	text-transform: uppercase;
/*	line-height: 0px;
	padding-top: 8px;*/
	display: block;
	height: 15px;
	overflow: hidden;
	margin-top: 0px;
	margin-bottom: 10px;
}

div.main_video a#flow_vid_city {
	display: block;
	width: 325px;
	height: 220px;
	position: relative;
	margin-bottom: 25px;
}

div.main_video div.flowplayer {
	display: block;
	width: 325px;
	height: 220px;
	position: relative;
	margin-bottom: 25px;
}

div.main_video div.flowplayer video {
	width: 100%;
	height: auto;
}

div.main_video img.vid_thumb_img {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 99;
	border-radius: 10px;
	border: solid 1px #000000;
}

div.main_video img.vid_play_img {
	display: block;
	top: 85px;
	left: 137px;
	position: absolute;
	z-index: 100;
}

.playlist {
	width: 325px;
	height: 95px;
	background-color: #666666;
/*	background: none;
	border: solid 1px #555555;*/
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	text-align: center;
	margin: 0 auto;
	margin-top: -10px;
}

.scrollable {
	position: relative;
	overflow: hidden;
	float: left;
	width: 265px;
	height: 95px;
}

.scrollable .items {
	width: 20000em;
	position: absolute;
}

.items div {
	float: left;
	width: 270px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.items div a {
	margin-right: 5px;
}

.items div a img {
	width: 125px;
	height: 80px;
	border: solid 1px #555555;
}

.playlist a.browse {
    background: url(/images/hori.png) no-repeat;
    display: block;
    width: 20px;
    height: 10px;
    float: left;
    margin: 37px 4px 0px 4px;
    cursor: pointer;
    font-size: 1px;
}

.playlist a.right {
	background-position: 0 -20px;
	clear: right;
}
.playlist a.right:hover {
	background-position: -20px -20px;
}
.playlist a.right:active {
	background-position: -40px -20px;
}

.playlist a.left:hover  {
	background-position: -20px 0;
}
.playlist a.left:active {
	background-position: -40px 0;
}

.playlist a.disabled {
    visibility:hidden !important;
}


.cta a {
	background: url(/images/sprite-core.png) no-repeat scroll 0px -40px #ff740e;
	text-align: right;
	font-weight: bold;
	font-size: 10px;
	color: #FFF;
	float: right;
	padding: 2px 6px 2px 18px;
	height: 14px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 5px;
}
.services .cta a {
	float: left;
	margin-top: -1px;
}
.submitCTA a {
	margin-top: 14px;
}
.cta a:hover {
	text-decoration: none;
	color: #000;
}
#forums {
	float: right;
	width: 150px;
	font-size: 11px;
}
#forums .cta a {
	float: left;
	margin: 10px 0px;
}
#forums img {
	margin-left: 20px;
}

/* alt template for no erotic services */
.web1 {
	display: none;
}
.web2 {
	display: block;
}
.columnLg {
	width: 774px;
	float: left;
	-moz-border-radius: 6px; /* Firefox */
	-webkit-border-radius: 6px; /* Safari, Chrome */
	border-radius: 6px; /* CSS3 */
	background: #FFF;
	padding: 6px 6px 6px 10px;
	margin: 10px 0px;
}
.columnLg .title {
	width: 768px;
}
.innerLg {
	width: 128px;
	float: left;
}
.columnMed .title {
	width: auto;
}

.post_btn {
	background: #ff740e;
	background-image: -webkit-linear-gradient(top, #FF8A34, #ff740e);
	background-image: -moz-linear-gradient(top, #FF8A34, #ff740e);
	background-image: -ms-linear-gradient(top, #FF8A34, #ff740e);
	background-image: -o-linear-gradient(top, #FF8A34, #ff740e);
	background-image: linear-gradient(to bottom, #FF8A34, #ff740e);
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 6px;
	font-family: Arial;
	color: #ffffff !important;
	font-size: 17px;
	font-weight: bold;
	padding: 6px 10px 6px 10px;
	border: solid #186299 1px;
	text-decoration: none;
}

.post_btn:hover {
	text-decoration: none;
	color: black !important;
}

#location_description {
	margin: 0px 4px 10px 0px;
	border-radius: 6px;
	background: #FFF;
	padding: 6px 0px 6px 8px;
	text-align: left;
}
#location_description a {
	text-decoration: none;
	color: #186299;
}
#location_description a:hover {
	text-decoration: underline;
}
