body {
	font-size: 12px;
}
td {
	font-size: 12px;
}

.error {
	color: red;
	font-weight: bold;
}
.success {
	color: green;
	font-weight: bold;
}

/* files - video edit ajax page */
table#upl_vid_details_table td {
    padding: 2px;
    vertical-align: top;
}
table#upl_vid_details_table table tr {
margin-bottom: 5px;
}
span.ss_time_label {
    display: inline-block;
    width: 70px;
}
td.video_ss input, span, img {
    vertical-align: top;
}
td.video_ss img {
    margin-bottom: 10px;
    width: 160px;
}
td.video_ss label:checked { font-weight: bold; }


/* control tables */
table.control {
	font-size: 11.5px;
	border-collapse: collapse;
}

table.control tbody tr:nth-child(even) {
	background: #dcdcdc;
}

table.control tbody tr:hover {
	background: #ffebad;
}

table.control tbody tr.highlighted {
	background: #6ef96e;
}

table.control, table.control td, table.control th {
	border: 1px solid white;
	text-align: left;
	padding: 3px 0;
	color: #59585A;
	vertical-align: top;
}

table.control td, table.control th {
	display: table-cell;
	vertical-align: inherit;
}

table.control thead th {
	font-weight: bold;
	padding: 3px 8px;
	background: url('/images/control/table-header-background.png') #657F9D repeat-x;
	color: #F7F9FA;
}

table.control td, table.control tbody th {
	padding: 3px 8px;
	border-color: #EFF2F6;
}

table.control td.check, table.control th.check {
	padding: 0px !important;
}

table.control thead th a {
	font-weight: bold;
	color: #F7F98A;
}

table.control thead th a.selected {
	color: #F79500;
}

table.control tr.highlight {
	background-color: rgb(255, 253, 124) !important;
}

input.filter_set, select.filter_set {
	background-color: #ffffaa;
}

.control_tag {
	border: 1px solid #cf9c64;
	background-color: #fff5d7;
	padding: 2px;
	font-weight: bold;
	display: inline-block;
	margin-top: 3px;
	color: #111;
}

.control_warning {
	border: 1px solid red;
	background-color: #FF9494;
	padding: 5px;
	font-weight: bold;
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #111;
}

button.control_btn:not([disabled]) {
	cursor: pointer;
}

a.control_btn {
	display: inline-block;
	padding: 2px 6px 2px 6px;
	border: 1px solid #999;
	border-radius: 2px;
	background-color: #eee;
	background: linear-gradient(#f8f8f8, #ddd);
	color: black;
	cursor: pointer;
}

a.control_btn.disabled {
	color: #bbb;
	pointer-events: none;
	cursor: default;
}

a.control_btn.disabled img {
	opacity: 0.4;
	filter: alpha(opacity=40); /* msie */
}

a.control_btn:hover {
	border: 1px solid #666;
	text-decoration: none;
}

/* on/off switch http://proto.io/freebies/onoff/  */
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #FF6600; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    width: 18px; height: 18px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; /*top: 0; */ bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

