
/* anchors */
#homepage #anchorTop a {
	float: right;
	background: url(/images/sprite-core.png) #1b6caa no-repeat 0px -315px;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFF;
	padding: 2px 4px 2px 14px;
	margin: 30px 0px 0px 0px; !important
}
#homepage .anchorLand {
	margin-top: -86px;
	position: absolute;
}

/* titles */
#homepage h1 {
	font-size: 13px;
	color: #1b6caa;
	line-height: 18px;	
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 125px;

}
#homepage h1 a {
	color: #1b6caa;
	padding-left: 15px;
	background: url(/images/sprite-core.png) no-repeat scroll 0 0;
	margin-left: 20px;
}
#homepage h1 a:hover, #homepage h2 a:hover {
	background: url(/images/sprite-core.png) no-repeat scroll 0px -40px #ff740e;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	padding: 2px 5px 2px 22px;
	overflow: visible;
	margin-left: 12px;
}
#homepage h2 {
	font-size: 16px;
	color: #186299;
	text-align: left;
	text-transform: uppercase;
	font-weight: bold;
	padding: 15px 0px 5px 0px;
	border-bottom: solid 1px #CCC;
}
#homepage h2 a, #homepage h2 a:visited {
	color: #186299;
	margin-top: -92px;
	position: absolute;
}
#homepage h2 a:hover {
	margin-left: 0px;
}
#homepage h3 {
	font-size: 14px;
	color: #ff740e;
	margin: 10px 0px;
}
#homepage h3 a, #homepage h3 a:visited {
	color: #ff740e !important;
}
#homepage h4 {
	font-size: 13px;
	color: #ff740e;
	margin: 0px;
	font-weight: bold;
	clear: both;
}

/* content architecture */
#homepage #top, #homepage #container {
	width: 980px;
	padding-top: 15px 0px;
	text-align: center;
	margin: 0 auto;
	display: block;
}
#homepage #main, #homepage #main2  {
	display: block;
	float: left;
	width: 950px;
	background: #FFF;
	padding: 0px 15px 30px 15px;
}
#homepage #main2 {
	margin-top: -10px;
}
#homepage .england .content_col {
	width: 125px;
}
#homepage .england {
	margin-right: 60px;
	float: left;
}
#homepage .europe .content_col, #homepage .otherUK .content_col {
	width: 140px;
}

#homepage .netherlands .content_col {
	width: 90px;
}
#homepage .netherlands {
	margin-right: 40px;
	float: left;
}
#homepage .england hr, #homepage .netherlands hr {
	border: 0px;
	color: #FFF;
	height: 26px;
}

#homepage .content_col {
	width: 180px;
	float: left;
	text-align: left;
	margin-right: 10px;
}
#homepage .metros {
	float: left;
	width: 150px;
}
#homepage #allcities a {
	position: relative;
	padding: 10px;
	margin: 00px 0px 10px 20px;
	float: left;
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	color: #FFFFFF;
	font-style: italic;
}

#homepage #countries {
	position: relative;
	padding: 10px;
	margin: 10px 0px 10px 20px;
	float: left;
}
#homepage #countries li {
	width: 109px;
	white-space: nowrap;
	overflow: hidden;
	color: #D8EEFF;
	text-overflow: ellipsis; }


#homepage #countries a {
	color: #d8eeff;
	line-height: 16px;
	font-size: 12px;
	padding-left: 11px;
	margin-right: 5px;
	background: url(/images/sprite-core.png) no-repeat scroll 0 -21px;
}
#homepage #countries a:hover {
	background: url(/images/sprite-core.png) no-repeat scroll 0px -40px #ff740e;
	color: #FFFFFF;
	text-decoration: none;
	padding: 2px 1px 2px 18px;
	overflow: visible;
	font-weight: bold;
	margin-left: -7px;
}
#homepage .content_4col {
	width: 980px;
	clear: both;
	text-align: center;
	margin: auto 0;
	border: solid 1px #186299;
}
#homepage .countries {
	float: left;
}
/* content styles */

#homepage #post {
	z-index: 1;
	position: relative;
	float: left;
}
#homepage #post a {
	background: url(/images/sprite-core.png) no-repeat 0px -239px;
	width: 320px;
	height: 33px;
	display: block;
	text-indent: -9999px;
	margin: 0px 0px 0px -26px;
}
#homepage #post a:hover {
	background-position: 0px -273px;
}
#homepage #top input {
	color: #000;
	font-size: 16px;
	padding: 8px;
	width: 250px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin-top: 20px;
}
#homepage .column_color img {
	margin: 0px 0px -18px 5px;
}
#homepage input:focus, #homepage textarea:focus {
	color: #000;
}
#homepage #search {
	padding: 0px 0px 0px 30px;
	width: 400px;
}
#homepage .selectLg {
		background: url(/images/sprite-core.png) no-repeat scroll 0px -120px;
		border: 0px;
		cursor: pointer;
		width: 44px;
		height: 44px;
		display: block;
		float: right;
		margin: 18px 70px 0px 0px;
}
#homepage #results {
	margin: 20px 20px 0px 20px;
	padding: 10px;
}
#homepage #results a {
	float: left;
	width: 165px;
	display: block;
	font-size: 14px;
	color: #d8eeff;
	font-weight: bold;
	padding: 0px 5px 4px 5px;
}
#homepage #results a:hover {
	background: url(/images/sprite-core.png) no-repeat scroll 0px -40px #ff740e;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	padding: 2px 0px 2px 20px;
	overflow: visible;
	width: 155px;
}
#homepage .title2 {
	font-size: 20px;
	color: #1b6caa;
	text-align: left;
	border-bottom: solid 1px #1b6caa;
	margin: 10px;
}
#homepage .title3 {
	font-size: 14px;
	color: #d8eeff;
	text-align: left;
	border-bottom: solid 1px #d8eeff;
	margin-bottom: 10px;
}
#homepage .title {
	font-weight: bold;
	font-size: 13px;
}
#homepage .bold {
	font-weight: bold;
}
#homepage .topContent2 {
	font-size: 16px;
	line-height: 20px;
	color: #d8eeff;
	float: left;
	margin: 24px 0px 0px 40px;
	width: 370px;
}
#homepage .pad20 {
	padding: 20px;
}
#homepage .indent {
	margin-left: 20px;
	font: inherit;
}
#homepage .sizer {
	font-size: inherit;
}
/* geos */
#homepage ul {
	margin:0;
	padding:0;
}
#homepage li {
	list-style: none;
}
#homepage #header li {
	padding: 0px;
	line-height: normal;
}
#homepage .geoUnit li a {
	color: #000;
	padding: 1px 2px 1px 18px;
}
#homepage .geoUnit {
	overflow:hidden;
	margin-bottom:0.75em;
}
#homepage .geoUnit li.more a {
	color: #1B6CAA;
}

#homepage .geoUnit li.more a:hover {
	background: none;
	text-decoration: underline;
}
#homepage .geoUnit a:hover {
	background: url(/images/sprite-core.png) no-repeat scroll 0px -42px #ff740e;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	overflow: visible;
}
#homepage .geoUnit h3 a:hover {
	background: #ff740e;
	color: white !important;
}
/* rounded corner backgrounds */
#homepage .roundeddiv {
	width: 980px;
	position: relative;
	background-color: #1b6caa;
	display: block;
	margin-top: 10px;
	text-align: left;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

}
#homepage #blueLeft {
	float: left;
	width: 480px;
}
#homepage .roundeddiv2 {
	width: 460px;
	position: relative;
	float: left;
	background-color: #FFF;
	padding: 10px;
	margin: 0px 4px 12px 0px;
	display: block;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
#homepage .column_color {
	position: relative;
	padding: 10px 8px;
}

