#xe_currency_convert {
    display: none;
    position: absolute;
    border: 1px solid #667293;
    background-color: white;
    color: #666;
    padding: 3px;
    z-index: 50;
    height: 290px;
}
#xe_currency_convert a.closer {
    color: #666;
    border: 1px solid #666;
    display: block;
    float: right;
    margin-right: 3px;
    padding-left: 2px;
    padding-right: 2px;
}
#xe_currency_convert a.closer:hover {
    text-decoration: none;
    font-weight: bold;
}
#xe_currency_convert td {
    width: 180px;
    padding-left: 3px;
    padding-right: 3px;
}
#xe_currency_convert ul {
    padding-left: 15px;
}
#xe_currency_convert li {
    display: block;
    margin-bottom: 5px;
    padding: 1px;
}
#xe_currency_convert li:not(:last-of-type) {
    border-bottom: 1px dashed #CCC;
}
#xe_currency_convert li:hover {
    font-weight: bold;
    cursor: pointer;
}
#xe_currency_convert li.highlight {
    color: #111;
}
#xe_currency_convert li.currency_preset {
    color: #2B50BF;
    font-weight: bold;
}
