@charset "utf-8";
/* CSS Document */
body {
    color: #000000;
    font-family: Tahoma,Geneva,Sans-Serif;
    font-size: 13px;
}
a:link, a:visited, #category td a:visited, #drilldown td a:visited {
	text-decoration: none;
	color: #186299;
}
a:hover, a:active {
	text-decoration: underline;
}
.clear {
	clear: both;
}
#forum.container {
	width: 730px;
	background: none repeat scroll 0 0 #EFEFEF;
    border: 5px solid #CCCCCC;
    padding: 20px;
	margin: 10px 0px 20px 0px;
	float: left;

}
#ppc {
	float: right;
	margin-top: 10px;
}
a.bigbutton,  input.bigbutton {
	background: none repeat scroll 0 0 #FF740E !important;
    color: #FFFFFF !important;
    text-transform: uppercase;
	font-size: 20px;
    text-shadow: 0 -1px 1px #333333;
	border: 1px solid #FFFFFF !important;
    box-shadow: 1px 1px 1px #999999;
	margin: 5px 2px;
    padding: 5px 10px;
	letter-spacing: 1px;
}
a.bigbutton:hover, input.bigbutton:hover {
	background: #333333 !important;
	text-decoration: none;
	cursor: pointer !important;
}
a.smallbutton, input.smallbutton {
	background: none repeat scroll 0 0 #FF740E !important;
    color: #FFFFFF !important;
    text-transform: uppercase;
	font-size: 11px;
    text-shadow: 0 -1px 1px #333333;
	border: 1px solid #FFFFFF !important;
    box-shadow: 1px 1px 1px #999999;
	margin: 0px 1px;
    padding: 3px 5px;
	letter-spacing: 1px;
}
a.smallbutton:hover, input.smallbutton:hover {
	background: #333333 !important;
	text-decoration: none;
	cursor: pointer !important;
}
.forumheader {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 0 rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 10px 15px;
}
.forumheader h1 {
    color: #333333;
    font-size: 28px;
    font-weight: lighter;
    margin: 0;
    text-transform: uppercase;
	line-height: 30px;
	padding-top: 5px;
}
.forumheader h2  {
    color: #333333;
    font-size: 14px;
    font-weight: lighter;
    margin: 5px 0px;
}
.forumheader a.bigbutton {
	float: right;
	margin-top: 12px;
}
.pagination {
	background: none repeat scroll 0 0 #186299;
    color: #FFFFFF;
    font-size: 15px;
	text-transform: uppercase;
	padding: 10px 15px 15px 15px;
	height: 20px;
}
.pagination .pagination_current, .pagination a {
    color: #FFFFFF;
    padding: 3px 6px;
	font-size: 15px;
}
.pagination .pagination_current {
    border-bottom: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
}
.searchForum {
	float: right;
}
form {
	margin: 0px;
}
.searchForum input {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #DEDEDE;
    color: #000000;
    padding: 3px;
	width: 200px;
}
.searchForum input.go {
    background: none repeat scroll 0 0 #EFEFEF;
    border: 2px solid #DEDEDE;
	width: 30px;
    bottom: 1px;
    box-shadow: none;
    color: #3B3B3B;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 3px 7px;
    position: relative;
    text-shadow: 0 1px 0 white;
}
.searchForum input.go:hover {
    background: none repeat scroll 0 0 #333333;
	color: #FFFFFF;
	cursor: pointer;
}

table {
	width: 100%;
	background: #CCCCCC;
}
td {
    background: #F5F5F5;
}
#category .col1, #category .col2, #category .col3 {
	font-size: 11px;
	color: #666666;
	padding: 15px 10px;
}
.iComments, .iFollow, .iQuote {
	width: 20px;
	height: 17px;
	display: block;
	float: left;
	margin: 5px 10px 0px 0px;
}
.singleTopic .forumheader a.bigbutton span {
	margin: 1px 10px 0px 0px;
}
.iComments {
	background: url(/images/iReply.png) no-repeat;
}
.iFollow {
	background: url(/images/iFollow.png) no-repeat;
}
.iQuote {
	background: url(/images/iQuote.png) no-repeat;
	margin: 5px 6px 0px 0px;
	width: 18px;
	height: 15px;
}
.editPost {
	padding-top: 10px;
}
/* table - category page, topic list */

#category .col1 {
	width: 66%;
	padding-left: 15px;
}
#category .col2 {
	width: 7%;
	text-align: center;
}
#category .col3 {
	width: 20%;
	text-align: right;
	color: #333333;
}
#category .col3 .lastpost {
	color: #666666;
}
#category .col1 .topic a, #category .col2 .number {
	font-size: 15px;
	font-weight: bold;
}
#category .title {
	background: none repeat scroll 0 0 #444444;
    color: #F5F5F5;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 10px;
    text-transform: uppercase;
}
#category .title.col1 {
	padding-left: 15px;
}
/* table - drilldown */
table#drilldown {
	margin-bottom: 30px;
}
#drilldown td {
	font-size: 15px !important;
	padding: 15px !important;
	color: #666666 !important;
}
#drilldown td a, #drilldown td a:visited {
	font-size: 15px !important;
	font-weight: bold !important;
}

#drilldown .count {
	float: right;
	font-weight: normal;
	text-align: right;
}
/* table - new post */
#newpost .col1 {
	width: 550px;
	font-size: 16px;
}
#newpost .newField {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #DEDEDE;
    color: #000000;
    padding: 3px;
	width: 100%;
	clear: both;
	margin: 5px 0px 20px 0px;
	font-size: 16px;
}
.textedit .addStyle {
	width: 21px;
	height: 21px;
	margin: 0px;
	border: 0px;
}
.addPhoto {
	height: 25px;
	width: 28px;
	float: right;
}
.addVideo {
	height: 25px;
	width: 35px;
	float: right;
	margin: 0px 5px 0px 10px;
}

#newpost .col1 select {
	width: auto;
}
#newpost .col1 textarea {
	 height: 220px;
 }
#newpost .textedit {
	float: right;
}
#newpost .col2 {
	text-align: right;
	padding-bottom: 20px;
}
#newpost .col2 a {
	margin: 0px 2px;
}
#newpost .follow {
    color: #333333;
    font-size: 16px;
    font-weight: lighter;
    margin: 0;
    text-transform: uppercase;
}
.emoticon {
	width: 22px;
}
#newpost .follow input {
	width: auto !important;
	margin-right: 5px !important;
}
#newpost .col1 .bigbutton {
	float: right;
}
input.bigbutton {
	width: auto !important;
}

/* table - single post page*/
.singleTopic .forumheader {
	font-size: 11px;
	color: #999999;
	line-height: 26px;
}
.singleTopic h1 {
	font-size: 22px;
	line-height: 22px;
}
.singleTopic h2 {
	text-transform: uppercase;
}
.singleTopic .forumheader a.bigbutton {
	font-size: 16px;
	padding: 5px 10px;
	margin-top: 25px;
}
.singleTopic .nav, #forum .reply {
	padding: 5px 10px;
	background: #186299;
	color: #FFFFFF;
	text-transform: uppercase;
}
.singleTopic .reply {
	margin-top: 20px;
	font-size: 14px;
}
.newPost  {
	font-size: 18px;
	margin-bottom: 20px;
	text-transform: capitalize !important;
}
.singleTopic .nav a, .singleTopic .nav {
	font-size: 12px;
	color: #FFFFFF;
}
.singleTopic .next {
	float: right;
}
.singleTopic .comment .user {
	text-align: right;
	font-size: 11px; 
	color: #666666;
	height: 20px;
	padding: 10px;
	background: #CCCCCC;
	line-height: 20px;
	margin-bottom: 20px;
}
.singleTopic .comment .user .name {
	float: left;
	font-size: 16px;
	color: #000000
}

.singleTopic .comment .avatar {
	float: left;
	font-size: 11px;
	width: 100px;
	text-align: center;
	margin: 0px 60px 0px 30px;
}
.singleTopic .comment .avatar img {
	border: solid 1px #666666;
	padding: 2px;
	width: 100px;
	height: 100px;
	display: block;
}
.singleTopic .comment a.quote, .singleTopic .comment a.quote:visited {
	float: right;
	font-size: 16px;
	font-weight: bold;
	border-radius: 4px;
	background: #CCCCCC;
	color: #FFFFFF !important;
    padding: 4px 10px;
}
.singleTopic .comment a.quote:hover {
	background: #333333;
	text-decoration: none;
}
#newpost td {
	vertical-align: bottom;
}
.quotebox {
	display: inline-block;
}
