#for { margin-left:0; margin-right:0; padding:0;
        font-family: arial,helvetica,verdana,sans-serif; font-size:13px; }

.for-hd  { border:none; margin:0;  height: 26px; background-image: url('/images/forum/But_Gry_32.jpg');
        background-repeat: repeat-x; background-position: left top;  }

.for-hdtxt  {  font-family: arial; text-decoration: none; font-size: 15px; color: #FFFFFF;
         font-weight: bold; line-height: 34px;}

.for-ttl  { font-size: 15px; font-weight: bold; text-decoration:none; line-height:30px;
         float:left; vertical-align: middle; padding-left: 10px; margin-bottom: 0px; }

.for-flag  { border:none; float:right; margin-bottom: 2px; margin-right:2px; }

ul#for { margin:0; font-size:13px; font-weight:normal; border:1px solid #f2f5ff; text-align:left;  }

#for-tbl { line-height:18px; padding-left:0;
        border:1px solid #f2f5ff; margin:0; text-indent:15px; font-weight:normal; }

#for a:link {    color: #003399; text-decoration: none; }

#for a:hover {   text-decoration: none; font-weight:bold;
        color: #FF4D00;}

#for a {  color: #003399; text-decoration: none; }


#for td.forum-city {height:25px; vertical-align:middle; text-indent: 10px;
border-bottom:1px solid #CADAFF; border-left:1px solid #CADAFF; background-color: #F8FAFF; text-align: left; width: 23%; vertical-align:middle; height: 28px;}

#for td.forum-city-first {text-indent: 10px; border-left: 2px solid #C9CCCE; border-right-width: text-align: left; width: 23%;
1px; border-top-width: 1px; border-bottom-width: 1px; border-bottom:1px solid #CADAFF; border-left:1px solid #CADAFF; vertical-align:middle;background-color: #F8FAFF;}

td.forum-state {height:25px; vertical-align:middle; text-indent: 10px;
border-bottom:1px solid #CADAFF; border-left:1px solid #CADAFF; background-color: #F8FAFF; text-align: left; width: 20%; vertical-align:middle; height: 28px;}

#for td.forum-state-first {text-indent: 10px; border-left: 2px solid #C9CCCE; border-right-width: text-align: left; width: 23%;
1px; border-top-width: 1px; border-bottom-width: 1px; border-bottom:1px solid #CADAFF; border-left:1px solid #CADAFF; vertical-align:middle;background-color: #F8FAFF;}

table .forum-states { border-collapse: collapse; border:0;border-left:1px solid #333333; border-right:1px
solid #808080; float:left; text-align:left; margin-left:2px; margin-top:0px; font-family:arial,helvetica,verdana,sans-serif; text-decoration:none; font-size:13px; 
table-layout:automatic; }

tr .state {background-position: left top; background-image:url('/images/forum/But_Blu1_28_Forum.jpg'); background-repeat:repeat-x;
padding-right:5px;}

.foruminputtext { border:1px solid #646464;}
.foruminputbutton {background-image:url(/images/forum/But_Wht_32.jpg); border:1px solid #646464; 
color:#000000;font-size:14px;font-weight:bold;height:22px;padding:2px;text-align:center;text-decoration:none;width:135px;font-family:arial,helvetica,verdana,sans-serif;background-position:left 
center;background-repeat:repeat-x;cursor:pointer;}
div .forumfixer { width:1000px;align:center; text-align:left;}

table.bulletin 
{
	background-color: #EEEEEE;
	font-family: Verdana;
	font-size: xx-small;
	font-weight: normal;
	color: #333333;
	text-align: left;
	text-indent: 3px;
}
table.bulletin th 
{
	background-color: #BBBBBB;
	text-align: left;
	padding: 3px;
	font-size: 16px;
}
table.bulletin td 
{
	padding: 5px;
}

.forumpostbody 
{
	font-size:12px;
	line-height:18px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}

.forumpostuser
{
	font-size:10px;
	line-height:14px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}

.normal td a{ text-decoration: underline; color: #003399; text-bold; }
.normal td a:hover { text-decoration: underline; color: #FF7662; text-bold;}

.fu-topban {  border: none; margin-left:auto; margin-right:auto; margin-top: 4px;
text-align:left; vertical-align:middle;  }

.fu-banlft {  border: none; clear: both; float: left; padding: 0px; width: 495px; }

.fu-banrt { border: none; float: left; padding: 0px; width: 495px;  }

/* user city links */

#fu-cont { border: none; margin: 0px 0px 0px 0px; width: 990px;
text-align: left; background-color: #ffffff; font-family: arial,helvetica,verdana,sans-serif; }

.fu-collft { border: none; margin-left: 2px; text-align: left; width: 1000px;
padding-top:2px; font-size: 15px; 
font-family: arial,helvetica,verdana,sans-serif;text-decoration: none;   }

.fu-colrt { border: none; margin: 0px; text-align: center; width: 180px;
padding-bottom: 20px; padding-left: 0px; padding-right: 0px; padding-top: 0px; background-color: #808080;
font-family: arial,helvetica,verdana,sans-serif; font-size: 13px; text-decoration: none;   }
 
/* user head */

#fu-city { border:none; margin:0; padding:0; font-size:14px; width: 1000px;
font-family: arial,helvetica,verdana,sans-serif; }

.fu-cityhd  { border:none; margin:0; height: 32px; line-height: 32px; width: 1000px;
font-family: arial; text-decoration: none; font-size: 14px; color: #003399;
font-weight: bold; background-image: url('/images/forum/But_Wht_32.jpg'); background-repeat: repeat-x; 
background-position: left bottom;  padding-left: 10px;}

.fu-cityhd a {  margin:0; border:0; font-size: 14px; color: #003399; font-weight:bold; text-decoration: none; }
.fu-cityhd a:link {  margin:0; border:0; font-size: 14px; color: #003399; font-weight:bold; text-decoration: none; }
.fu-cityhd a:visited {  margin:0; border:0; font-size: 14px; color: #003399; font-weight:bold; text-decoration: none; }
.fu-cityhd a:hover {  margin:0; border:0; font-size: 14px; color: #ff4d00; font-weight:bold; text-decoration: underline; }
.fu-cityhd active {  margin:0; border:0; font-size: 14px; color: #003399; font-weight:bold; text-decoration: none; }
.fu-cityhd caret  {  margin:0; border:0; font-size: 14px; color: #ff4d00; font-weight:bold; text-decoration: none; }

.fu-extra {  margin:0; border: none; float:left; clear: none; height: 32px; line-height: 32px; width: 170px;
font-size: 11px; color:#003399; font-weight: normal; font-style: italic; text-align: right;
background-image: url('/images/forum/But_Wht_32.jpg'); background-repeat: repeat-x;
padding-bottom: 0px; padding-left: 0px; padding-right: 10px; padding-top: 0px; }

.onlinenum   { color:#ffffff; font-size: 13px; font-weight: bold; margin-left: 2px; text-align:right; }

.fu-ttl { border: none; line-height: 28px; width: 1000px;
background-image: url('/images/forum/Bar_Blu_32.jpg'); background-position: left top;
background-repeat: repeat-x; color: #ffffff;
padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;  }

.fu-ttltxt   { border: none; text-align:left; line-height: 28px; width: 802px;
 color: #ffffff; font-weight:bold; font-size:15px; text-indent:25px; padding: 0px;  }

.fu-numposts {  margin:0; border: none; float:left; clear: none; height: 28px; line-height: 28px; width: 170px;
font-size: 11px; color:#ffffff; font-weight: normal; font-style: italic; text-align: right;
background-image: url('/images/forum/Bar_Blu_32.jpg'); background-repeat: repeat-x;
padding-bottom: 0px; padding-left: 0px; padding-right: 10px; padding-top: 0px; }

/* user content */

#fu-user  { border: none; text-align:left; height: 24px; width: 1000px; }

.fu-username{  border: none; height: 24px; width: 519px; text-indent:5px;
background-image: url('/images/forum/But_Wht_24.jpg'); background-position: left top; background-repeat: repeat-x; 
color: #e14400; text-decoration: none; 
font-size: 14px; font-weight: bold; text-align: left;
padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;   }

a.fu-username, a.fu-username:visited { color: #E14400; text-decoration: underline;}
a.fu-username:hover {color: #000000;}

.fu-vip  {border:none; margin:0; width: 25px; height: 16px; text-align:left;
padding-right: 3px; padding-left:3px; text-decoration: none; }

.fu-posted {  border: none; height: 24px; width: 212px; 
background-image: url('/images/forum/But_Wht_24.jpg'); background-position: left top;
background-repeat: repeat-x; color: #333333;
font-size: 11px; font-weight: normal; text-decoration: none; text-align: right;
padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;  }

.fu-posts {  border: none; height: 24px;
background-image: url('/images/forum/But_Wht_24.jpg'); background-position: left top;
background-repeat: repeat-x; color: #e14400;
font-size: 11px; font-weight: normal; text-decoration: none; text-align: right;
padding-bottom: 0px; padding-left: 0px; padding-right: 10px; padding-top: 0px;  }

.fu-ava { border: none; width: 150px;
background-color: #7c7c7c; background-image: url('/images/forum/Shad_Gry_Col.gif');
background-position: left top; background-repeat: repeat-x;
font-weight: normal; text-decoration: none; color: #ffffff; 
padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 6px; 
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:10px;
line-height:14px;
cellpadding:1px;
 }

.fu-postdiv { padding-left: 5px; } 

.fu-txt {  border: none; width: 850; text-align: left;
background-color: #ffffff; background-image: url('/images/forum/Shad_Gry.gif');
background-position: left top; background-repeat: repeat-x; color: #000000;
        font-size:12px;
        line-height:18px;
        font-family: Verdana,Arial,Helvetica,sans-serif;
border-right: 1px solid #999998;
text-decoration: none;
padding-bottom: 6px; padding-left: 10px; padding-right: 10px; padding-top: 8px; }

.fu-commentbar  { border:0; margin:0; padding:0; width:1000px; height:32px;  
border-right: 1px solid #999998;
}	
.fu-avatarbot {  border: none; padding: 0px; width: 150px;
background-color: #7c7c7c; line-height: 32px;  }

.fu-combar {  border: none; width: 850px; text-align: left;
background-image: url('/images/forum/But_Wht_28_ForumB1.jpg'); background-position: left top;
background-repeat: repeat-x; }

.fu-line { border: none; padding:0; text-align: left; width: 1000px; height: 10px;
padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;  }

.fu-lineimg  {  border:none; padding:0; width: 1000px; height: 10px; text-align: left;
background-image: url('/images/forum/ButF_Line2.jpg'); background-position: left top;
font-size:6px; text-decoration:none; background-repeat:repeat-x;
padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; }

/* user quick reply */

.fu-reply {  background-image: url('/images/forum/Bar_Gry_32.jpg'); background-position: left top;
background-repeat: repeat-x; padding: 0px; color:#FFFFFF; text-align: left; height: 28px; width: 100%;
font-family: arial,helvetica,verdana,sans-serif; font-size: 13px; text-decoration: none  }

.fu-reply1 {  width: 190px; height: 28px; text-indent: 15px;}

.fu-reply2 {  width: 390px; height: 28px;  }

.fu-reply3 {  width: 203px; height: 28px;  }

.fu-reply4 { width: 19px; height: 28px; }

.fu-style {  margin: 0; text-align: center; border-bottom: 1px solid #c0c0c0;
border-left: 1px solid #333333; border-right: 1px solid #c0c0c0; border-top: 1px solid #333333;
background-image: url('/images/forum/Bar_Gry_32.jpg'); background-position: left bottom;
background-repeat: repeat-x; font-size:13px; color:#ffffff;
padding-bottom: 1px; padding-left: 6px; padding-right: 6px; padding-top: 1px; }

.fu-replycont   {  border: none; padding: 0; margin:0; width: 804px;
background-position: left top; background-repeat: repeat-x; line-height: 100%;
overflow: hidden;  }
.fu-icons  {    margin: 0; border-bottom: 1px solid #c0c0c0; border-left: 1px solid #333333;
border-right: 1px solid #c0c0c0; border-top: 1px solid #333333;  }

.fu-textarea {  border: none; float: left; width: 563px;
padding-bottom: 4px; padding-left: 4px; padding-right: 0px; padding-top: 10px; }

.fu-txtspacer {  border: none; float: left; width: 19px;
padding-bottom: 4px; padding-left: 0px; padding-right: 0px; padding-top: 4px;  }

.fu-botgry {  border: none; padding: 0px; margin:0; width: 1000px;
background-image: url('/images/forum/Bar_Gry_18.jpg'); background-position: left top;
background-repeat: repeat-x; overflow: hidden; line-height: 100%;  }

.fu-button { 
border-color: rgb(28, 88, 188) rgb(0, 35, 106) rgb(0, 35, 106) rgb(28, 88, 188); border-width: 2px 1px 1px 2px; border-top: 2px solid rgb(28,
88, 188); border-left: 2px solid rgb(28, 88, 188); border-right: 1px solid rgb(0, 35, 106); padding: 1px 8px 0px; background-position: left center;
 margin-top: 3px;
font-weight: bold; font-size: 11px; background-image: url(/images/forum/But_Blu_40.jpg); text-transform: uppercase; color: rgb(255, 255, 255); background-repeat: 
repeat-x;
font-family: arial,helvetica,verdana,sans-serif; text-decoration: none; }

.fu-pager { width:1000px; height:40px; clear: both;}

span.fu-select {
background-color:#FFFFFF;
border:1px solid #FF4000;
color:#003399;
font-size:13px;
font-weight:bold;
display:inline-block;
padding:5px 2px 5px 22px;
width:740px;
vertical-align:middle;
float:left;
margin-left:4px;
}

span.fu-select select {border:1px solid #5F5F5F;}
#st-cont {  border:none; margin:0; width:1000px; font-family:arial,helvetica,verdana,sans-serif;
	background-color:#ffffff; text-align:left; padding:0; text-align:center; }
.st-hd-bkd { background-position: left bottom; font-weight: bold; font-size: 14px;
	background-image: url('/images/forum/But_Wht_32.jpg'); margin:0px; color:#003399; line-height: 32px;
	background-repeat: repeat-x; font-family: arial; height: 32px; text-decoration:none;  width:996px; }
.st-hd { color:#003399; padding-left:3px; font-weight: bold; font-size: 14px; height:28px;
	font-family: arial,helvetica,verdana,sans-serif; line-height:32px; margin:0px; border: none;
	text-decoration: none; width:996px;  }
.st-cityhd { background-position: left bottom; padding-left: 12px; font-weight: bold; font-size: 14px;
	background-image: url('/images/forum/But_Wht_32.jpg'); margin:0px; color:#333333; line-height: 32px;
	background-repeat:repeat-x; font-family: arial; height: 32px; text-decoration:none; text-align:left; }
.st-cityhd A { border-top-width:0px; font-weight:bold; border-left-width:0px; font-size:14px;
	border-bottom-width:0px; margin:0px; color:#003399; border-right-width:0px; text-decoration:none; }
.st-cityhd A:link {  border-top-width:0px; font-weight:bold; border-left-width:0px; font-size:14px;
	border-bottom-width:0px; margin:0px; color:#003399; border-right-width:0px; text-decoration:none; }
.st-cityhd A:visited {  border-top-width:0px; font-weight:bold; border-left-width:0px; font-size:14px;
	border-bottom-width:0px; margin:0px; color:#003399; border-right-width:0px; text-decoration:none; }
.st-cityhd A:hover {  border-top-width:0px; font-weight:bold; border-left-width:0px; font-size:14px;
	border-bottom-width:0px; margin:0px; color:#ff4d00; border-right-width:0px; text-decoration:underline; }
.st-cityhd A:active {  border-top-width:0px; font-weight:bold; border-left-width:0px; font-size:14px;
	border-bottom-width:0px; margin:0px; color:#003399; border-right-width:0px; text-decoration:none; }
.new-topic  { border:none; font-family: arial,helvetica,verdana,sans-serif; font-size:14px; padding:2px; 
             color:#FFFFFF; font-weight:bold; text-align:center; background-image: url('/images/forum/But_Blu_32.jpg'); 
             background-repeat: repeat-x; background-position: left center; width:135px; height:22px;
             text-decoration:none; }
.for-ttl-bkd  {background-image: url('/images/forum/But_Wht_32.jpg');background-repeat: repeat-x; background-position: left center;}
.st-tbl { padding:0px; font-size: 13px; margin:0px; width:996px; border:none; background-color:#999999; border:1px solid #999999; }
.st-numposts { font-weight:normal; font-size:14px; margin:0px; width:170px; color:#003399; border: none; line-height:28px;
	font-style:italic; height:28px; text-align:right; padding-left:0px; padding-right:10px; padding-bottom:0px; padding-top: 0px;}
	font-family: arial, helvetica, verdana, sans-serif; font-weight:normal; text-decoration:none; .st-tbl{ text-decoration: none;
	color: #333333; text-bold; font-size:13px; }
.st-tbl td { font-family: Verdana,Arial,Helvetica,sans-serif; }
.st-tbl td a { text-decoration: underline; color: #003399; text-bold; font-size:13px;}
.st-tbl td a:link { text-decoration: underline; color: #003399; text-bold; font-size:13px;}
.st-tbl td a:visited { text-decoration: underline; color: #003399; text-bold; font-size:13px;}
.st-tbl td a:hover { text-decoration: underline; color: #ff4d00; text-bold; font-size:13px;}
.st-tbl td a:active { text-decoration: underline; color: #003399; text-bold; font-size:13px;}
.wht  { background-color: #ffffff; margin-left:10px; margin-right:10px; margin-top:2px; margin-bottom:2px;}
.blu  { background-color: #efefef; margin-left:10px; margin-right:10px; margin-top:2px; margin-bottom:2px;}
.greybot {  background-image: url('/images/forum/Bar_Gry_18.jpg'); background-repeat: repeat-x; 
            background-position: left top}; width:1000px; height:16px; }

p .paging { font-family: Verdana,Arial,Helvetica,sans-serif; }


/* forum viewtopic */
.box {background: none repeat scroll 0 0 #E9F0F5;margin-bottom: 20px;padding: 10px 10px 1px;}
.box h2 {background: none repeat scroll 0 0 #0096DB;color: #FFFFFF;font-size: 1em; margin: -10px -10px 0; padding: 6px 12px; text-transform: uppercase;}
div#detailContainer {overflow: hidden;padding: 2px 2%;}
.rounded { -moz-border-radius: 8px 8px 8px 8px;background-color: #ffffff; border: 2px solid #9FB8C7; padding: 2px 6px; margin-top:10px}
.boxshadow {-moz-box-shadow: -1px 3px 5px #999999;}

div#detailContainer { overflow: hidden; padding: 2px 2%;}

.box .post {padding: 10px; border-top: 1px solid rgb(204, 204, 204);}
.box .postleft {width: 200px; float: left; line-height: 2em;}

dl {margin-bottom: 4px;}
dl dt, dl dd {line-height: 2em;}
dl dt {font-weight: bold; text-align: right;}
dl.modern {-moz-column-count: 2; -moz-column-gap: 1em; -moz-column-rule: 1px dotted #ccc; -webkit-column-count: 2; -webkit-column-gap: 1em; -webkit-column-rule: 1px dotted #ccc}
dl.modern dt {float: none;font-weight: bold;text-align: right;width: 110px; }
dl.modern dd {float: left; margin-left: 120px; margin-top: -2em; clear:both}
dl.modern dt, dl.modern dd {line-height: 2em;}
dl.old dt {width: 20%; float: left; padding-right: 8px;}
dl.old dd {width: 28%; float: left; overflow: hidden; margin-left: 0px;}
dl.old a {line-height: 2em}

.triangle-isosceles {-moz-border-radius: 8px 8px 8px 8px;-moz-box-shadow: 2px 3px 5px #999999;background: none repeat scroll 0 0 #FFFFFF;color: #000000;margin: 0 0 0 220px;padding: 15px;position: relative;}
.triangle-isosceles.leftc {margin-left:220px;background:#fff;word-wrap: break-word;}
.triangle-isosceles:after {content:"";display:block;position:absolute;bottom:-15px;left:20px;width:0;height:0;border-width:15px 15px 0;border-style:solid;border-color:#fff transparent;}
.triangle-isosceles.leftc:after {top:12px;left:-12px;bottom:auto;border-width:8px 12px 8px 0;border-color:transparent #fff;}
.triangle-isosceles.leftc {margin-bottom:10px}

html.boxshadow {-moz-box-shadow: none;}

.brd .main-content, #brd-index #brd-visit, #brd-qpost, #brd-index #brd-announcement {
    margin-bottom: 1em;
}
.brd .gen-content, .brd .main-content {
    background: none repeat scroll 0 0 #FBFBFB;
    border-color: #DFE6ED #DFE6ED #CBD1D8;
}
.brd .main-content, .brd .gen-content {
    border-style: solid;
    border-width: 1px;
}

.main-subhead {background: none repeat scroll 0 0 #F4F4F4;border-color: #DFE6ED #DFE6ED #CBD1D8;}
.main-subhead {border-bottom: medium none;border-style: solid solid none;border-width: 1px 1px medium;}
.main-subhead .hn {font-size: 1.084em;padding: 0.462em 1.417em;position: relative; font-weight: normal;}
.main-subhead h2 {margin: 0;padding: 0;text-align: left;}
p.options {border-top: medium none;float: right;}
.content-options, .ct-options {float: right; margin-top: -2.7em; padding: 0.5em 1.417em; position: relative;}
p, .hn { padding: 0.5em 0;}
.req-warn {display: none;}

.frm-buttons, .extension .options, .hotfix .options {
    border-color: #DBE0E4;
}
.frm-buttons {
    border-top-style: double;
    border-top-width: 3px;
    margin: 0.75em 1.417em 1em;
    padding: 0.8em 0 0.3em 18em;
    position: relative;
}
.frm-buttons span.submit {
    margin-right: 0.75em;
}

.frm-group{border-color: #DBE0E4;border-top-style: dashed;border-top-width: 1px;margin: 1.417em;padding: 1.3em 0 0;}
.group1 {border-top: medium none;padding-top: 0;}
fieldset{border: 0 none;}
.txt-set {margin: 0;}
.set1 {border-top: medium none;}
.txt-box {margin: 1.417em;padding: 0.3em 0;position: relative;}
.txt-box label {float: left;}
.txt-set {margin: 1.417em;padding: 0 0 0 17em;position: relative;}
label span {font-weight: bold;}
.txt-set .txt-input {position: relative;width: 100%;}
.txt-set .fld-input {display: block;padding: 0 0 0 1em;}
.txt-set textarea, .txt-set p {width: 95%;}
.txt-set .txt-box {margin: 0;}

.brd .txt-set label span {
    display: block;
    float: left;
    font-weight: bold;
    margin-left: -17em;
    padding: 2px 1em;
    position: relative;
    text-align: right;
    width: 16em;
}

.quotebox {background: none repeat scroll 0 0 #EDEBE8;border-color: #000000;
    border-style: solid;    border-width: 1px;    margin: 0.75em 1em;    padding: 1em 0.75em;}
.quotebox cite {display: block;font-style: normal;font-weight: bold;}
