﻿/* -------------------------------------
/*  html, body
/* -------------------------------------*/
abbr{border-bottom: 1px dotted #333;}
code{white-space: nowrap;}
div{margin: 0; padding: 0;}
form{margin: 0; padding: 0;}
h1{margin: 0; padding: 0;}
h2{margin: 0; padding: 0;}
h3{margin: 0; padding: 0;}
h4{margin: 0; padding: 0;}
img{margin:0; padding: 0; border: 0;}
input{margin: 0; padding: 0;}
option{margin: 0; padding: 0;}
p{margin: 0; padding: 0;}
select{margin: 0; padding: 0;}
.alert{font-size: 13px; font-weight: normal; color: #FF7500;}
html1{
  background-color: #e2e2e2;
  margin: 0;
  padding: 0;
  color: #333;
  font: 76% Arial, Helvetica, sans-serif;
  text-align: center;
}


.mainDiv{border-style: none;
	border-color: inherit;
	border-width: medium;
	position: relative;
	margin: 0 auto 0 auto;
	padding: 0;
	top: 0px;
	left: 0px;
}

.main-body{
	height: auto;
	clear: both;
	margin: 0;
	border-collapse: collapse;
	width:1000px;
	border:1px solid #ccc;
	background: #FFFFFF;
}

#div-main-body {
	width: 987px;
	height: auto;
	clear: both;
	background-image: url('../images/bg_body.png');
	background-repeat: repeat-y;
	margin: 0 auto 0 auto;
	border-collapse: collapse;
}
.border-top {
	position: relative;
	clear: both;
	padding: 0;
	margin: 10px 1px 0 1px;
	width: 988px;
	height: auto;
}
.border-bot {
	position: relative;
	clear: both;
  	padding:0 0 20px 0;
	margin: 0px 1px 0 1px;
	width: 710px;
	height: auto;
	top: 0px;
	left: 0px;
}

.eborder-bot {
	position: relative;
	clear: both;
  	padding:0 0 20px 0;
	margin: 0px 1px 0 1px;
	height: auto;
	border-bottom: 1px solid #ccc;
	top: 0px;
	left: 0px;
}
/*-------------------------------------
 	Drop Shadow Container
---------------------------------------*/

.drop-top {
	position: relative;
	clear: both;
	display: block;
	width: 980px;
	height: 15px;
	/* margin: 0 auto 0 auto; */
	background: url('/images/dropshad_top.jpg') no-repeat center;
}
.drop-mid {
	display: block;
	/*width: 980px;*/
	height: auto;
	margin: 0 0 0 0;
	/*background: url('/images/dropshad_mid.jpg') repeat-y center top;*/
}
.drop-bot {
	border-style: none;
	border-color: inherit;
	border-width: medium;
	position: relative;
	clear: both;
	padding: 0;
	display: block;
	width: 980px;
	height: 18px;
	/* margin: 0 0 4px 3px; */
	background: url('/images/dropshad_bot.jpg') no-repeat center;
}

#detail {
	float:left;
	border:none;
	padding:0 0 10px 0;
	margin:0 0 0 3px;
	width:710px;
	height:auto;
	font-family:Arial, Helvetica, sans-serif;
}

/*#detail a {color:#006699;}*/
.detail {
	float: left;
	clear: both;
	border: none;
	padding: 0;
	margin: 0;
	width: 100%;
	height: auto;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;	
}
.detail-cols {
	float: left;
	clear: both;
	border: none;
	padding: 0;
	margin: 10px 0 0 0;
	width: 100%;
	height: auto;
	background-color:#FBEFD5;
}
.detail .c1{
	float: left;
	border: none;
	padding: 5px 0 8px 0;
	margin: 0 4px;
	width: 265px;
	height: auto;
	font-size:12px;
	line-height:16px;
	color:#000000;
}

.detail .c2{
	float: left;
	border: none;
	padding: 5px 0 8px 0;
	margin: 0 4px;
	width: 200px;
	height: auto;
	font-size: 12px;
	line-height:16px;
	color:#000000;
}
.detail .c3{
	float: left;
	clear: right;
	border: none;
	padding: 5px 0 8px 0;
	margin: 0 4px;
	width: 220px;
	height: auto;
	font-size: 12px;
	line-height:16px;
	color:#000000;
}

.coupon { display:inline; }
.detail .cL{
	float: left;
	border: none;
	padding: 0;
	margin: 0 4px;
	width: 330px;
	height: auto;
	font-size: 10px;
	line-height:12px;
	background-color: #FFDDEE;
}
.detail .cR{
	float: left;
	border: none;
	padding: 0;
	margin: 0 4px;
	width: 330px;
	height: auto;
	font-size: 10px;
	line-height:12px;
	background-color: #FFDDEE;
}

.detail .bizEdit{
	float: left;
	border: none;
	padding: 10px 0 10px 0;
	margin: 8px 4px 10px 4px;
	width: 670px;
	height: auto;
	font-size: 11px;
	line-height: 12px;
	background-color: #fff;
}
.bizbut { float:left; border:none; outline:none; padding:0 6px 0 4px; margin:none;}
.detail .space { border:none; margin: 10px 0 0 0; padding:0; }
.detail .line {
	float: left;
	padding: 0;
	margin: 0 4px 4px 4px;
	width: 670px;
	height: 1px;
	border-bottom:1px solid #ccc;
}
#bizInfoHeader {
	width: 400px;
	margin:0 0 0 5px;
	padding:2px 0 4px 2px;
	color: #006699;
	font-size: 18px;
	line-height: 22px;
}
#bizInfoHeader #bizAddress {
	margin:5px 0 0 0;
	width: 450px;
	overflow: hidden;
	color: #5F5F5F;
	color: #000000;
	font-size: 13px;
	line-height: 15px;
}
.bizAddressL { float:left; clear:both; z-index:9999;}
.bizAddressR { float:left; clear:right; margin:0 0 0 40px; }	

#bizAddress a {text-decoration:underline; color: #006699;}
#bizAddress a:hover{ text-decoration:underline; color: #ff3a00;}

#bizInfoHeader #bizRating .rating { float: left; margin-right: 5px; top: 0px; left: 0px; }
.revs { color:#5f5f5f; font-size: 10px; font-style: italic; }
#bizPic {
	float: right;
	clear: right;
	margin: 0;
	border: none;
	width: 210px;
	height: auto;
	background-color: #fff;
	text-align: center;
}
.bizPic {
	text-align:left;
}
.bizPicTxt {
	border: none;
	float: left;
	height: auto;
	padding: 57px 0 0 0;
	width: 100px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;
	color: #006699;
}
.bizPicTxt a { text-decoration:none; font-size:11px;}
.bizPicTxt a:hover{	 color: #ff3a00; text-decoration:underline; }

.reviewPic {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}
.reviewPic table {
    border-collapse: collapse;
    border-spacing: 0px;
}
.reviewPic td {
    padding: 5px 5px 0px 0px;
}
/*-------------------------------------
 	Rating
---------------------------------------*/

DIV.rating { POSITION: relative; float:left; width: 84px; HEIGHT: 17px; OVERFLOW: hidden !important }
DIV.rating IMG { POSITION: absolute }
DIV.rating-small IMG { POSITION: absolute }
IMG.stars_0 { CLIP: rect(0px 83px 15px 0px) }
IMG.stars_0 { CLIP: rect(0px 83px 15px 0px) }
IMG.stars_1 { CLIP: rect(19px 83px 35px 0px); TOP: -19px }
IMG.stars_1_half { CLIP: rect(38px 83px 53px 0px); TOP: -38px }
IMG.stars_2 { CLIP: rect(57px 83px 72px 0px); TOP: -57px }
IMG.stars_2_half { CLIP: rect(76px 83px 91px 0px); TOP: -76px }
IMG.stars_3 { CLIP: rect(95px 83px 110px 0px); TOP: -95px }
IMG.stars_3_half { CLIP: rect(114px 83px 129px 0px); TOP: -114px }
IMG.stars_4 { CLIP: rect(133px 83px 148px 0px); TOP: -133px }
IMG.stars_4_half { CLIP: rect(152px 83px 168px 0px); TOP: -152px }
IMG.stars_5 { CLIP: rect(171px 83px 186px 0px); TOP: -171px }
DIV.rating-small { padding: 0px; POSITION: relative; WIDTH: 50px; FLOAT: left; HEIGHT: 9px; OVERFLOW: hidden !important; }
DIV.rating-small IMG.stars_0 { CLIP: rect(190px 50px 199px 0px); TOP: -190px }
DIV.rating-small IMG.stars_1 { CLIP: rect(204px 50px 213px 0px); TOP: -204px }
DIV.rating-small IMG.stars_1_half { CLIP: rect(218px 50px 227px 0px); TOP: -218px }
DIV.rating-small IMG.stars_2 { CLIP: rect(232px 50px 241px 0px); TOP: -232px }
DIV.rating-small IMG.stars_2_half { CLIP: rect(246px 50px 255px 0px); TOP: -246px }
DIV.rating-small IMG.stars_3 { CLIP: rect(260px 50px 269px 0px); TOP: -260px }
DIV.rating-small IMG.stars_3_half { CLIP: rect(274px 50px 283px 0px); TOP: -274px }
DIV.rating-small IMG.stars_4 { CLIP: rect(288px 50px 297px 0px); TOP: -288px }
DIV.rating-small IMG.stars_4_half { CLIP: rect(302px 50px 311px 0px); TOP: -302px;
	left: 0px;} 
DIV.rating-small IMG.stars_5 { CLIP: rect(316px 50px 325px 0px); TOP: -316px; }


/*-------------------------------------
 	Reviews
---------------------------------------*/
.euser-1st { border-style: none;
        border-color: inherit;
        border-width: medium;
        position:relative;
        float: left;
        clear: both;
        display: block;
        width: 710px;
        font-family: Arial, geneva, Helvetica, tahoma, sans-serif;
	border-top:1px solid #c0c0c0;
}
.euser-1st .user-tbl {
	float:left;
	clear:both;
	width: 700px;
	border-style: none;
	border-color: inherit;
	padding: 0;
	line-height: 13px;
	background-color: transparent;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #555555;
	text-align:left;
	margin: 0 0 8px 0;
}

.euser-1st .user-rev { 
	position:relative;
	margin: 6px 0 0 3px;
	float:left;
	clear:both;
	width: 710px; text-align:left;
 }

.user-1st { border-style: none;
	border-color: inherit;
	border-width: medium;
	position:relative;
	float: left;
	clear: both;
 	display: block;
 	width: 100%;
 	font-family: Arial, geneva, Helvetica, tahoma, sans-serif;
}

.user-1st2 { float:left; clear:both; border:none; padding:0; margin: 0 auto 5px auto;
	height:auto; width:988px; height: auto; }
 	
	.user-1st .arrow { 	float: left; clear:both; width: 67px; height: auto; background-color: transparent;	padding: 6px 0 0 2px; margin:0 0 0 14px;}
	.user-1st .pic { display:inline; width: 40px; height:40px; border:1px solid #666; padding:1px; }
	.user-1st .state { float:left;  font-weight:bold; color: #666; padding:  17px 0 0 8px; font-size: 10px; display:inline; }

/*-------------------------------
      User Review Table
----------------------------------*/

.user-rev { 
	position:relative;
	margin: 10px 0 0 1px;
	float:left;
	clear:both;
	width: 100%;
	text-align:left;
 }
.revclosed {display:inline-block:clear:both;}
.user-tbl {
	float:left;
	clear:both;
	width: 100%;
	border-style: none;
	border-color: inherit;
	padding: 0;
	line-height: 13px;
	background-color: transparent;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #555555;
	text-align:left;
	margin: 0 0 8px 0;
}
.user-tbl .det-txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	height: auto;
	padding: 4px;
	color: #555555;
	line-height:120%;
	width:819px;
}
.user-tbl .c1 {
	background-color: #E6EBF1;
	height: 28px;
	width: 225px;
	font-weight: 700;
	color: #006699;
	font-size: 12px;
	padding-bottom: 4px;
	padding-top: 4px;
text-align:left;
}
.user-tbl .c2 {
	background-color: #E6EBF1;
	border-top: 1px #CACAC7 solid;
	height: 28px;
	width: 435px;
	font-weight: 700;
	color: #006699;
	font-size: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.cspc { width: 4px; border-right: 1px #BFCBFF solid; }
.first { background-color: #EFEFEF; }
.user-tbl > tbody > tr > td {
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	margin:0; padding: 0 0 0 6px;
}
.user-tbl .ttl-bkd{
	height: 24px;
	width: 60px;
	font-weight: 700;
	color: #006699;
	font-size: 12px;
	text-align: left; vertical-align:top;
}
	
.user-tbl .txt { width: 100%; }

/*-----------------------
   Member No.1 Comments
---------------------------*/
.member-1st-pic {
clear:both;
float:left;
font-family:Arial,Helvetica,sans-serif;
margin:0;
padding:0;
width:34px;
}
.member-1st-pic img {
border:1px solid #C0C0C0;
padding:1px;
}

div.cap {
font-size:xx-small;
padding:2px 0 0;
text-align:center;
}
.member-1st .name {
color:#000000;
display:inline;
float:left;
font-size:11px;
height:auto;
padding:3px 0 0;
width:auto;
}
.member-1st .date {
color:#808080;
font-size:10px;
font-weight:bold;
clear:both;
}
.member-1st-det {
font-family:Arial,Helvetica,sans-serif;
margin:0;
}
.member-1st {
	clear: both;
	border: none;
	display: inline-block;
	padding: 0;
	margin: 5px auto 2px auto;
	width: 500px;
	height: auto;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	background-color:#FFFAEF;
}
.member-1st-ttl { display:inline-block;
	clear: both;
	border: none;
	margin: 10px 0 2px 0;
	width: 500px;
	height: 22px;
	border-top: 1px solid #605E5E;
	padding: 6px 0 0 5px;
	color: #605E5E;
	background-color: #E8E5E5;font-size:12px;
}

.member-1st-cont {
	padding: 0;
	margin: 0;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 15px;color:#333333;font-size:12px;
	width: 450px;
	padding-left:10px;
}
.member-1st-btn {
	float: left;
	clear: both;
	padding: 10px 0 0 4px;
	margin: 6px auto 2px auto;
	height: 28px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #666;
	text-align: left;
	background-color: transparent;
	outline: none;
	border: none;
}
.member-1st-btn .txt{ float:left; padding: 0 0 0 14px; margin:0; width: 500px; line-height:15px; }
.member-1st-btn .txt p {float:left;margin:4px 3px 3px;width:100px}
.member-1st-btn .num{ padding: 0 0 0 4px; vertical-align:top; width: auto; display:inline; margin:0; }
.member-1st-btn ul{ float:left; padding: 0; margin:0; width:auto; }
.member-1st-btn li{ padding: 0 0 0 10px; margin:0; display:inline; line-height:15px;}
div.member-1st-btn ul li {border-top:0 none;float:left;margin-right:8px;padding:0;}
div.member-1st-btn ul li a span, div.member-1st-btn ul li a {background:url("/images/icons/button/ufc_sprite.png") no-repeat scroll 0 0 transparent;}
div.member-1st-btn ul li a span {background-position:right -19px;display:block;font-size:9px;line-height:9px;padding:2px 15px 3px 8px;text-align:center;}
div.member-1st-btn ul li a:visited, div.member-1st-btn ul li a {color:#555555;display:block;float:left;height:14px;margin-right:2px;overflow:hidden;text-decoration:none;}
div.member-1st-btn ul li a:hover span {background-position:right -57px;}
div.member-1st-btn ul li a.voted {background-position:left -76px;}
div.member-1st-btn ul li a.voted span {background-position:right -95px;}

.txt {font-size:11px;}
/*-------------------------------------
 	 Member Comments
---------------------------------------*/
.member-ttl {
	position: relative;
	clear: both;
	border: none;
	margin: 10px auto 2px auto;
	width: 920px;
	height: 22px;
	padding: 6px 0 0 5px;
	font: normal normal bold 14/16 Arial, Helvetica, sans-serif;
	color: #ff3a00;
	text-align: left;
	background-color: #FBEFD5;
	border-top: 1px solid #ff3a00;
}

.member {
	position: relative;
	clear: both;
	border: none;
	padding: 6px 0 6px 0;
	margin: 8px auto 2px auto;
	width: 970px;
	height: 40px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	border-top: 2px solid #89B2DF;	
}
.member .arrow { float: left; clear:both; width: 56px; height: auto; background-color: transparent;	padding: 6px 8px 0 2px; margin:0;	}
.member-pic {
	float: left;
	border: none;
	padding: 0;
	margin: 0;
	width: 50px;
	height: auto;
	background-color: #FFFFCC;
	font-family: Arial, Helvetica, sans-serif; 
	display:inline;
}
.member-pic img { border:1px solid #c0c0c0; padding:1px;}
.member div.cap {text-align:center;	font-size: xx-small;}
.member-cont {
	float: left;
	border: none;
	padding: 0;
	margin: 0;
	width: 840px;
	height: auto;
	background-color: transparent;
	font-family: Arial, Helvetica, sans-serif;
}
.member-det {
	float: left;
	border: none;
	padding: 0;
	margin: 0;
	width: 840px;
	height: 24px;
	background-color: transparent;
	font-family: Arial, Helvetica, sans-serif;
	display:inline-table;
}
.member-det .name { float: left; width:auto; height: auto; color: #ff3a00; padding: 3px 0 0 0;
	display:inline; font-size:11px; color: #006699; }
.member-det .date { position:relative; float:left; display:inline; padding:  3px 0 0 15px;
		font-weight: bold; font-size: 10px; color: #666; }
.member-det .rev_extra { position:relative; float:left; display:inline; padding:  3px 0 0 35px;
		font-weight: bold; font-size: 12px; color: #666; }
.member-det .rev_extra em { color: #ff0000 }
.member-det .comment { clear:both; float: left; width:700px; height: auto; color: #ff3a00; padding: 20px 0 0 0;
	margin: 0 0 0 60px; font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height:15px; color:#333;}
.member-det .more { margin: 10px 0 0 0; padding: 10px 0 0 0; font-size: 14px;
	 font-family: Arial, Helvetica, sans-serif; line-height:15px; font-style: italic; color: #006699;
	 vertical-align:text-bottom; }
.member-det .more a {color:#003399;font-style:italic;font-weight:normal;font-size:12px;}
.member-det .more a:hover {color:#FF3A00}
.member-btn {
	float:left;
	clear: both;
	border-top: 1px solid #ff3a00;
	padding: 4px 0 0 4px;
	margin: 16px auto 2px auto;
	width: 830px;
	height: 28px;
	font: normal normal bold 14/16 Arial, Helvetica, sans-serif;
	color: #ff3a00;
	text-align: left;
	background-color: #FBEFD5;
}


/*-------------------------------------
 	review misc
---------------------------------------*/

.review_ss { LINE-HEIGHT: 1em; MARGIN-TOP: 10px; DISPLAY: none; CLEAR: left; BORDER-TOP: #eee 1px solid; PADDING-TOP: 10px; }
.review_ss H4 { MARGIN-BOTTOM: 10px; COLOR: #555; FONT-SIZE: 0.9em; }
.review_ss LI { MIN-HEIGHT: 2.5em; WIDTH: 425px; MARGIN-BOTTOM: 5px; OVERFLOW: hidden; }
.review_ss P { MARGIN-BOTTOM: 5px; PADDING-TOP: 5px; }
.review_ss .photoBox { FLOAT: left; MARGIN-RIGHT: 5px; }

/*-------------------------------------
 	Search Form
---------------------------------------*/
.review_search_section {  OVERFLOW: auto; }
.review_search_section LABEL { DISPLAY: block; COLOR: #345684; 	FONT-WEIGHT: bold; }
.review_search_section LABEL .formNote {FONT-WEIGHT: normal; }
.review_search_section p { FLOAT: left; MARGIN-RIGHT: 10px; }
.review_search_section p .ybtn { POSITION: relative; TOP: 13px }
.review_search_section FORM#search_form { display: inline }
#bizReviews { margin: 0; border-top: 1px solid #ccc; border-bottom:1px solid #ccc; background-color:#FBEFD5; }
#bizReviewsHeader { padding: 10px 0 7px 0; margin: 0px 5px; height:24px; display:block;}
.searchResults#bizReviewsHeader { BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 0px }
#bizReviewsHeader #returnFromQuery {TEXT-ALIGN: right; MARGIN: 5px 0px; DISPLAY: block; CLEAR: right }
#total_reviews { padding-bottom: 10px; margin: 0; max-width: 450px; FLOAT: left; font-size: 16px; color:#FE4D01;
	padding:2px 0 8px 0; }

#total_reviews span.yes {color:#0F3DAC;}
#total_reviews span.no {color:#EF380F;}

#review_search_form #review-search-query-wrap {display:block;float:left;}

#review_search_form {float: right;}
#review_search_form input { padding: 1px; vertical-align:bottom;}
#review_search_form p {margin:0; display:block;}
.ybtn { font-style:normal; float:right; padding: 0 0 0 10px; }
.smaller {font-size: 11px;}
EM{/*margin:0;padding:0;*/border:0;vertical-align:baseline;background:transparent}
.ybtn {background: url('/images/blank_buttons.png') no-repeat scroll right top; line-height:2; font-weight:bold;}
.ybtn {	LINE-HEIGHT: 2; BACKGROUND: url('/images/blank_buttons.png') no-repeat right top; FONT-WEIGHT: bold }
.ybtn span { LINE-HEIGHT: 2; BACKGROUND: url('/images/blank_buttons.png') no-repeat right top; FONT-WEIGHT: bold }
.ybtn button { LINE-HEIGHT: 2; BACKGROUND: url('/images/blank_buttons.png') no-repeat right top; FONT-WEIGHT: bold  }
.ybtn button span { display: block; WHITE-SPACE: nowrap; }

BUTTON.btn-y-s {background-position: right -114px;}
.btn-y-s {background-position: right -114px;}
.btn-y-s {background-position: left -82px; height: 23px; font-size:11px; color:#C41200;}
A.ybtn:hover {CURSOR: pointer; TEXT-DECORATION: none }
A.ybtn { DISPLAY: inline-block; }
A.ybtn SPAN { DISPLAY: inline-block; }
A.ybtn { TEXT-ALIGN: center; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 15px }
.ybtn BUTTON {BORDER: 0; POSITION: relative; PADDING: 0; MARGIN: 0px; FONT-FAMILY: inherit; OVERFLOW: visible; CURSOR: pointer;}
.ybtn BUTTON { 	TEXT-ALIGN: center; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 15px }
span.ybtn { background: none transparent scroll repeat 0% 0%; vertical-align:top;}
.ybtn span { PADDING-LEFT: 15px; }
.btn-r-l { 	BACKGROUND-POSITION: left 0px; HEIGHT: 31px; COLOR: #fff; FONT-SIZE: 14px }
.btn-r-l SPAN { BACKGROUND-POSITION: left 0px; HEIGHT: 31px; COLOR: #fff; FONT-SIZE: 14px }
BUTTON.btn-r-l { BACKGROUND-POSITION: right -41px }
.btn-r-l {	BACKGROUND-POSITION: right -41px }
.btn-y-s {	BACKGROUND-POSITION: left -82px; HEIGHT: 23px; COLOR: #FE4D01; FONT-SIZE: 11px }
.btn-y-s SPAN { BACKGROUND-POSITION: left -82px; HEIGHT: 23px; COLOR: #FE4D01; FONT-SIZE: 11px; }
BUTTON.btn-y-s { BACKGROUND-POSITION: right -114px }
.btn-y-s { BACKGROUND-POSITION: right -114px }
.btn-b-s { LINE-HEIGHT: 17px; BACKGROUND-POSITION: left -146px; HEIGHT: 17px; COLOR: #444; FONT-SIZE: 10px }
.btn-b-s SPAN { LINE-HEIGHT: 17px; BACKGROUND-POSITION: left -146px; HEIGHT: 17px; COLOR: #444; FONT-SIZE: 10px } 

/*-------------------------------------
 	Right Col
---------------------------------------*/
#colR { float: left; width:30%; padding:0; margin:0; border:none; vertical-align:top; min-width:271px}
.colR { float: left; width:100%; height:auto; margin:0 5px 0 1px; padding:0; vertical-align:top;text-align:center;border-left:1px solid #C0C0C0;padding:0 0 0 3px;}
#colR .header {  float: left; margin:3px 2px 2px 7px; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#4868FF; line-height: 11px;
	font-weight:bold; text-align:left; width: 240px; border-top:1px solid #ccc;}
#colR .header H2 { line-height: 12px; margin: 0; float: left; font-size: 11px; color:#4868FF; }
#colR .header H3 { line-height: 14px; margin: 0; padding: 8px 0 8px 0; float: left; font-size: 13px; color:#4868FF; }
.colR .content {
	width: 230px;
	height: auto;
	margin: 10px 0 0 5px;
	padding: 4px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #5f5f5f;
}
#colR a { color:#006699; }
#colR a:hover { color:#ff3a00; }
.colR .comment {
	display: block;
	width: 230px;
	height: auto;
	margin: 10px 0 0 5px;
	padding: 4px;
	line-height: 14px;
	background-color: #FFFFCC;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #5f5f5f;
}
.colRight {margin:0; padding:0; border:none;
	 font-size:11px; font-style:normal; line-height:12px;
}
.comment-name { font-size: 11px; font-weight: normal; color: #FF7500; }
.colR .pic { margin: 0; padding:4px; border:1px solid #c0c0c0;}
#nearby-biz { FLOAT: left; PADDING: 0; MARGIN: 0 3px 15px 8px; WIDTH: 230px;}
#nearby-biz H3 { FONT-SIZE: 13px; font-weight:bold; line-height:15px; padding:5px 0 3px 0; color:#4868FF; }
#nearby-biz UL a { FLOAT: left; PADDING: 0; MARGIN: 4px 3px 0 0; WIDTH: 230px; line-height:12px; color:#333; text-decoration:none;}
#nearby-biz UL a:hover { color:#006699; text-decoration: underline;}

.user-rt { font-size: 11px; font-weight: normal; color: #FF7500; }
DIV.clearStyles { border: medium none; margin: 0; }
.biz_rating { LINE-HEIGHT: 9px; MARGIN: 2px 0px; display:block; height: 10px; width:170px; }
.bizPhotoBox { FLOAT: left; clear:left; margin: 0 20px 0 0; line-height:24px; }

DIV.bizPhotoBox IMG { BORDER: #999 1px solid; PADDING: 1px; BACKGROUND-COLOR: #fff; MARGIN: 0 10px 0 0; DISPLAY: block;}
.bizPhotoBox IMG { BORDER: #999 1px solid; PADDING: 1px; BACKGROUND-COLOR: #fff; MARGIN: 0px; DISPLAY: block; }
.bizPhotoBox .sp { height:10px;}
/*-------------------------------------
 	Map
---------------------------------------*/
.map { width:259px; height:245px; border: 1px solid #c0c0c0; text-align:center; padding:0; margin:0 0 0 0; }
.mapLink { margin: 10px 0 10px 7px; width: 230px; font-size: 10px; color:#006699; text-align:center; }
.streetLink { margin: 10px 0 5px 7px; width: 230px; font-size: 10px; color:#006699; }
.streetview { display:block; width:238px; height:70px; border: 1px solid #c0c0c0; text-align:center; padding:0; margin:0 0 0 7px; }



/*-------------------------------------
   pagination
-------------------------------------*/
.spacer { position:relative; clear:both; height:7px; width:auto;}

#pages {  position:relative; clear:both; display:block; height:40px; width:100%; margin: 15px auto 0 auto;
	border-top: 1px solid #ccc; padding: 10px 0 10px 0; }
.pagelist { float:left; display:inline; width:auto; margin: 0;font-size:12px; }
.pages { float:left; display:inline; width: auto; }	
	.pages ul{ margin: 0; padding: 0; padding: 0 0 0 6px; } 
	.pages li { text-decoration: none; display:inline; padding: 0 2px 0 0;}
	.pages li a { color: #666666; font-weight:bold;}
	.pages li a:link{ text-decoration: none; color: #005599; }
	.pages li a:visited{ color: #666666; text-decoration: none; font-weight:normal; }
	.pages li a:hover{ color: #666666; text-decoration: underline; font-weight:bold; }
	
.writerev { display: block; width: 145px; height: 36px; float: left; margin-left: 210px;}
	
div.bizPic img {
background-color:#FFFFFF;
border:1px solid #999999;
display:block;
margin:0;
padding:1px;
}

.reviewtop {font-style:italic;font-size:11px;color:#858585;padding-left:5px;}
.review {padding:0 10px 10px;font-size:14px;}
.review .reviewcore {width:500px;padding-bottom:10px}
.review .reviewscore {float:left;}

#pricemenu h2 {color:#008C00;font-size:250%;margin:1em auto 0.3em;text-align:center;}

span.whole { clear:both;padding-bottom:2px;margin-bottom:5px;display:inline-table;width:700px;border:1px solid
#E6EBF1;cursor:move; }
#pricemenu span.image {float:left;width:80px;}
#pricemenu span image {padding-bottom:5px; }
#pricemenu span.mi {float:left;background: url(/images/dot.gif) repeat-x 0 1.5em;width:80%;margin-left:5px;}
#pricemenu span.item {float:left;padding-right: 3px;color: #F70000;font-size:16px;}
#pricemenu span.price {float:right;padding-left: 3px;color: #000000;font-size:16px; height:20px;}
#pricemenu div.ingredients {clear:both;padding: 3px 0;font: italic 100% Georgia,Times,sans-serif;color: #555}
#pricemenu .h2 {cursor:move;}
div#menuresult {color:blue;font-weight:bold;padding:15px;text-align:center;width:703px;font-size:14px;}
#pricemenu li {list-style-type:none;}

.reviewbox {border-top:1px solid #c0c0c0;display:inline-table;width:710px;}

.youtube {padding-bottom:10px}
a.website {color:#008000 !important;display:block; margin-top:3px}

.formInput3 {background:none repeat scroll 0 0 #FFFFFF;border:1px solid #BDD1D1;color:#333333;font-size:12px;height:18px;line-height:22px;margin:1px 10px 5px 0;padding:2px;vertical-align:bottom;width:200px;}
.formInput {border:1px solid #BDD1D1;color:#333333;font-size:12px;height:18px;line-height:22px;}

.rightcolsep {border-color: #CCCCCC -moz-use-text-color -moz-use-text-color;border-right:0 none;border-style:solid none none;border-width: 1px 0 0;}
.rightcolsep .title {padding:5px 0;color:#174C81}
.rightcolsep span.item {width:90%;display:block;height:30px;text-align:left;padding-left:10px;vertical-align:middle;}
span.item .extra {color:#767676;float:right;font-size:11px;font-style:italic}
.externalReviewActions {clear:left;list-style: none outside none;margin: 5px 0;overflow: hidden;padding: 0;width: 100%;}
.member-1st-det .username {color:#006699;font-weight:bold;}
.member-1st-cont span a {font-size:10px}
/*
div.place_video {
	width: 265px;
	height: 168px;
	margin-bottom: 10px;
}

div.place_video a {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}

div.place_video img.vid_thumb_img {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 99;
	border-radius: 10px;
    border: solid 1px #000000;
}

div.place_video img.vid_play_img {
	display: block;
	top: 59px;
	left: 105px;
	position: absolute;
	z-index: 100;
}

.playlist {
    width: 258px;
    height: 55px;
	background: none;
    border: solid 1px #555555;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: #eee;
	text-align: center;
	margin-bottom: 10px;
}

.scrollable {
        position: relative;
        overflow: hidden;
        float: left;
        width: 195px;
        height: 50px;
}

.scrollable .items {
        width: 20000em;
        position: absolute;
}

.items div {
        float: left;
        width: 200px;
        margin-top: 5px;
        margin-bottom: 5px;
}

.items div a {
        margin-right: 5px;
}

.items div a img {
	width: 78px;
	height: 42px;
	border: solid 1px #555555;
}

.playlist a.browse {
    background: url(/images/hori.png) no-repeat;
    display: block;
    width: 20px;
    height: 10px;
    float: left;
    margin: 17px 5px 0px 5px;
    cursor: pointer;
    font-size: 1px;
}

.playlist a.right {
        background-position: 0 -20px;
        clear: right;
}
.playlist a.right:hover {
        background-position: -20px -20px;
}
.playlist a.right:active {
        background-position: -40px -20px;
}

.playlist a.left:hover  {
        background-position: -20px 0;
}
.playlist a.left:active {
        background-position: -40px 0;
}

.playlist a.disabled {
    visibility:hidden !important;
}
*/
