@charset "utf-8";
/* CSS Document */
body {
		background-color: #E9E9E9;
}

#container {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
}
#container a:link, #container a:visited, #container a:hover, #container a:active, #container a:focus {
	text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
}
#logoModule #topnav {
	margin-top: 4px;
	height: 15px;
}
#logoModule #headCat select {
}
#ListLeft {
	float: left;
	width: 225px;
}
#ListRight {
	float: left;
	width: 205px;
	color: #666;
	padding: 10px 5px 5px 10px;
	background: #FFF;
	-moz-border-radius: 6px; /* Firefox */
	-webkit-border-radius: 6px; /* Safari, Chrome */
	border-radius: 6px; /* CSS3 */
}
#ListMid {
	float: left;
	width: 540px;
	margin: 0px 5px;
}
.clear {
	clear: both;
}
ul {
	margin:0;
}
#content ul {
		padding:0;
}
li {
	list-style: none;
}
.forumCrumb a {
	color: #000;
	float: left;
	font-size: 10px !important;
	margin: 10px 0px;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
}
.forumCrumb a:hover {
	text-decoration: underline !important;
}
input, select {
		font-size: 11px;

}
#search input, #search select {
	background: #E9E9E9;
}
.action {
	margin-top: 10px;
	display: block;
}
.action a, .postTitle a, .action input {
	padding: 1px 6px;
	color: #FFF;
	background: #ff740e !important;
	-moz-border-radius: 6px; /* Firefox */
	-webkit-border-radius: 6px; /* Safari, Chrome */
	border-radius: 6px; /* CSS3 */
	border: 0px;9
	font-size: 10px;
	color: #FFF;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
	float: right;
}
.action input:hover {
	background: #5eabe5;
}
.action a:hover, .postTitle a:hover, #search .action input:hover {
	background: #5eabe5 !important;
	cursor: pointer;
}

#refineResults .action {
	margin-top: 3px;
	margin-left: 10px;
}
#refineResults .action a {
	float: none;
	margin-right: 3px;
}
.postTitle {
	margin-top: 4px;
}
.ResultsTitle {
	font-size: 14px;
	color: #FFF;
	background: #186299;
	font-family: Verdana, Geneva, sans-serif;
	padding: 1px 6px 7px;
	margin-bottom: 8px;
	margin-top: 0px;
	font-weight: bold;
	clear: both;
	-moz-border-radius: 6px; /* Firefox */
	-webkit-border-radius: 6px; /* Safari, Chrome */
	border-radius: 6px; /* CSS3 */
	line-height: 14px;
}
.pagelist {
	text-align: right;
	color: #666;
	font-weight: normal;
	background:none;
	width: 100%;
	font-size: 11px;
	font-family: Verdana, Geneva, sans-serif;
}
.pagelist #sort {
	text-indent: 0px;
}
.pagelist #sort select {
	float: left;
}
ul.paging li a, ul.paging li a.sel {
	color: #186299;
	padding: 2px 5px;
	font-weight: normal;
	border: 0px;
	font-size: 11px;
	font-family: Verdana, Geneva, sans-serif;
}
ul.paging li a.sel {
	color: $666;
}
ul.paging li a:hover {
	color: #FFF;
	background: #ff740e;
	border: 0px;

}
.pagelist #sort #rssico, .pagelist #sort #rssico:hover {
	float: left;
	background: url(/images/classifieds/logo-rss.png);
	width: 36px;
	height: 14px;
	padding: 0px !important;
	margin-top: 0px;
	margin-right: 10px;
}
#content .breadcrumbs {
	margin-bottom: 10px !important;
}
/* sort results */
#sorting {
	font-family: Verdana, Geneva, sans-serif !important;
	font-size: 10px !important;
	text-transform: uppercase;
	text-align: right;
	font-weight: bold !important;
	padding-bottom: 10px;
	border-bottom: dotted 1px #666;
	height: 15px;
}
#sorting.viewRow {
	height: 25px;
}
#sorting select {
	float: left;
	text-transform: lowercase;
	margin-bottom: 10px;
	background: #FFF;
}

#sorting span a {
	background: url("/images/sort.png") no-repeat scroll left 1px transparent;
	padding-left: 12px;
	margin-left: 10px;
	color: #5eabe5;
	font-weight: bold;
	font-size: 10px !important;
}
#sorting .normal {
	background: url("/images/sort.png") no-repeat scroll left 1px transparent;
	color: #5eabe5;
}
#sorting span a:hover {
	background: url("/images/sort_desc.png") no-repeat scroll left 1px transparent;
	color: #000;
}
#sorting .descend  {
	background: url("/images/sort_desc.png") no-repeat scroll left 1px transparent;
	color: #000;
}
#sorting .descend:hover, #sorting .normal:hover {
	background: url("/images/sort_asc.png") no-repeat scroll left 1px transparent;
}
#sorting .ascend {
	background: url("/images/sort_asc.png") no-repeat scroll left 1px transparent;
	color: #000;
}
#sorting .ascend a:hover {
	background: url("/images/sort_desc.png") no-repeat scroll left 1px transparent;
}

.zeroResults {
	font-size: 14px;
	padding: 20px 40px;
}
.zeroResults li a {
	font-size: 14px !important;
	text-transform: capitalize;
}
/*  result styles */

.Listing {
	clear: both;
	border-bottom: dotted 1px #666;
	display: block;
	clear: both;
}
.Listing a {
	color: #737373;
	height: 77px;
	width: 515px;
	display: block;
	padding: 7px;
	-moz-border-radius: 6px; /* Firefox */
	-webkit-border-radius: 6px; /* Safari, Chrome */
	border-radius: 6px; /* CSS3 */
}
.Listing a:hover {
	color: #000;
	background: #d8eeff;
}
.Listing a:hover .ListingTitle, .Listing a:hover .ListingTagline, .Listing a:hover .ListingDeets, .Listing a:hover .ListingRight {
	color: #000;
}
.places a, .placesInt a {
	height: 98px;
}
.ListingTitle {
	font-size: 13px;
	font-weight: bold;
	color: #186299;
	line-height: 15px;
	margin: 0px 0px 5px 0px;
	font-family: Verdana, Geneva, sans-serif;
}
.places .ListingTitle, .placesInt .ListingTitle {
	margin-top: 0px;
}
.Listing img {
	float: left;
	border: solid 1px black;
	margin-right: 15px;
}
.ListingTagline {
    color: #186299;
    font-family: verdana;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
}
.ListingRight {
	float: right;
	text-align: right;
	bottom: 0px;
	padding-left: 3px;
}
.places .ListingRight, .placesInt .ListingRight {
	text-align: left;
	float: left;
	padding-left: 0px;
	width: 355px;

}
.places .withSponsor, .placesInt .withSponsor {
	}

.sponsor {
	font-size: 10px;
	color: #FFF;
	background: #c2c0c0;
	text-transform: uppercase;
	padding: 1px 3px;
	float: right;
	font-weight: bold;
	margin-top: 0px;
	-moz-border-radius: 3px; /* Firefox */
	-webkit-border-radius: 3px; /* Safari, Chrome */
	border-radius: 3px; /* CSS3 */
}
div.rateit div.rateit-range {
	margin-bottom: -3px;
}
.places .reviewLinks, .placesInt .reviewLinks {
	font-weight: bold;
	text-decoration: none;
	padding: 3px 3px 3px 0px;
}
.nonerotic {
	color: #666;
	text-transform: capitalize;
}
a.edit {
    background: none repeat scroll 0 0 #FF740E;
    border: 0 none;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    float: right;
    font-family: Verdana,Geneva,sans-serif !important;
    font-size: 10px;
    font-weight: bold;
    height: 14px;
    margin-right: 10px;
    margin-top: -20px;
    padding: 0 6px 1px;
    text-transform: uppercase;
    width: 30px;
}

.Listing #coupon, .Listing #video {
	border-radius: 4px;
	border: solid 1px #C2C0C0;
	padding: 0px 20px 0px 4px;
	color: #999;
	font-weight: bold;
	float: right;
	margin-top: 5px;
}
.Listing #coupon {
		background: url("/images/icon_coupon.png") top right no-repeat #FFF;
}
.Listing #video {
		background: url("/images/icon_video.png") top right no-repeat #FFF;
		clear: both;
}
.Listing .right {
	text-align: right;
}
/* results GALLERY VIEW */
#results.gallery {
	display: inline-block;
}
.gallery .Listing {
	clear: none;
	float: left;
}
.gallery .Listing img {
	width: 100px;
	height: 100px;
}
.gallery .Listing a {
	width: 150px;
	height: 160px;
	float: left;
	overflow: hidden;
	margin: 5px;
	padding-bottom: 20px;
}
.gallery .Listing a.edit {
	width: 35px;
	height: auto;
	float: none;
	padding: 0px 5px;
}
/* saf3+, chrome1+ */
@media screen and (-webkit-min-device-pixel-ratio:0) {
.gallery .Listing a {
	height: 157px;
}}
.gallery .ListingTitle {
	clear: both;
	line-height: 14px;
}
.gallery .ListingRight {
	display: none;
}
.gallery .pagelist {
	display: inline-block;
}
.gallery .sponsor {
	float: left;
}

.gallery #views {
	width: 100%;
	height: 40px;
}
.gallery .ResultsTitle {
	margin-bottom: 4px;
}

#view-list a, #view-photo a {
	background: url(/images/view-list-class.png) no-repeat 4px 4px #FFFFFF;
	width: 101px;
	height: 25px;
	border-radius: 5px;
	padding: 4px;
	margin-left: 14px;
	display: block;
	float: right;
	margin-top: -3px;
}
#view-list a {
	opacity: .5;
}
.gallery #view-photo a {
	opacity: .5;
}
.gallery #view-list a {
	opacity: 1;
}
#view-photo a {
		background: url(/images/view-gallery-class.png) no-repeat 4px 4px #FFFFFF;
}
#view-list a:hover {
	background: url(/images/view-list-class.png) no-repeat 4px 4px #d8eeff;
}
#view-photo a:hover {
	background: url(/images/view-gallery-class.png) no-repeat 4px 4px #d8eeff;
}
/* ie 8 tweak */
.reviewIE8 {
	border: solid 1px red;
}
/* left refinements and links */
#results {
	min-width: 98%;
}
#search, #refine, #forum, #results, #refineResults {
	padding: 10px 5px;
	background: #FFF;
	-moz-border-radius: 6px; /* Firefox */
	-webkit-border-radius: 6px; /* Safari, Chrome */
	border-radius: 6px; /* CSS3 */
	margin-bottom: 10px;
}
#refineResults {
	padding: 5px;
}
#search {
	font-weight: bold;
}
#refine, #forum {
	color: #666;
	padding-left: 10px;
	padding-right: 10px;
}
#refine li a {
	clear: both;
	color: #186299;
	line-height: 16px;
	padding: 1px 2px 1px 18px;
}
#forum li {
	list-style: square;
	margin: 1px 2px 1px 18px;
}
#forum li a {
	color: #186299;
}
#forum li a:hover {
	color: #FFF;
	background: #ff740e;
	font-weight: bold;
}
#refine a:hover {
	background: url("/images/hp/bullet_arrow.png") no-repeat scroll 0 0 #ff740e;
	color: #FFFFFF;
	font-weight: bold;
	overflow: visible;
}
#refine h4, #forum h4, #refineResults h4 {
	color: #ff740e;
	font-weight: bold;
	height: 3px;
	margin-top: 5px;
	font-size: 11px;
	font-family: Verdana, Geneva, sans-serif;
}
#refineResults h4 {
	color: #000;
	font-size: 12px;
}
#refine ul {
	border-bottom: dotted 1px #666;
	padding-bottom: 5px;
}
/* right column featured escorts */
.featTitle {
	color: #1C75C7;
	margin-left: -5px;
	margin-bottom: 10px;
}
#servicesThumb {
	border-top: dotted 1px #666;
	font-weight: bold;
	font-size: 12px;
	padding: 10px;
}
#servicesThumb .category, #reviewsThumb .name {
	font-size: 12px;
}
#servicesThumb a {
	font-size: 10px;
	clear: both;
	padding: 5px 0px 5px 5px;
	display: block;
	width: 160px;
	height: 60px;
	margin-left: -5px;
	color: #000;
}
#servicesThumb li {
	margin: 0px;
	list-style: none;
	font-weight: normal;
}
#servicesThumb a img {
	float: left;
	width: 60px;
	height: 60px;
	border: solid 1px #000;
	margin-right: 8px;
}
#servicesThumb a:hover, #servicesThumb a:active {
	background: #ff740e;
	text-decoration: none;
	color: #FFF;
	border-radius: 8px;
}


/* ratings */
div.rateit
{
    display: -moz-inline-box;
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

div.rateit div.rateit-range
{
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    background: url("/images/star.gif") repeat scroll 0 0 transparent;
    height: 16px;
}

/* for IE 6 */
* html div.rateit, * html div.rateit div.rateit-range
{
    display: inline;
}

/* for IE 7 */
* + html div.rateit, * + html div.rateit div.rateit-range
{
    display: inline;
}

div.rateit div.rateit-hover, div.rateit div.rateit-selected
{
    position: absolute;
    left: 0px;
}

div.rateit div.rateit-hover-rtl, div.rateit div.rateit-selected-rtl
{
    left: auto;
    right: 0px;
}

div.rateit div.rateit-hover
{
    background: url("/images/star.gif") left -32px;
}

div.rateit div.rateit-hover-rtl
{
    background-position: right -32px;
}

div.rateit div.rateit-selected
{
    background: url("/images/star.gif") left -16px;
}

div.rateit div.rateit-selected-rtl
{
    background-position: right -16px;
}

div.rateit div.rateit-preset
{
    background: url("/images/star.gif") left -48px;
}

div.rateit div.rateit-preset-rtl
{
    background: url("/images/star.gif") left -48px;
}

div.rateit div.rateit-reset
{
    background: url("//img.adultsearch.com/images/delete.gif") 0 0;
    width: 16px;
    height: 16px;
    display: -moz-inline-box;
    display: inline-block;
    float: left;
}

div.rateit div.rateit-reset:hover
{
    background-position: 0 -16px;
}

#side_sponsor {
	width: 202px;
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 1.15em;
}
#side_sponsor a {
	font-weight: bold;
	font-size: 1.2em !important;
}
#side_sponsor div.ss {
	width: 100%;
	margin-top: 10px;
	padding: 3px;
	background-color: #fafad2;
	border: 1px solid #e9e93a;
	overflow: hidden;
}
#side_sponsor div.ss p {
	margin-top: 4px;
	margin-bottom: 4px;
}
#side_sponsor div.ss img {
	vertical-align: top;
}
