body {
	background: #E9E9E9;
	margin: 0px;
	font-family: Arial,Helvetica,sans-serif;
	color: #000000;
	font-size: 12px;
}
a.link, a.visited {
	text-decoration: none;
}
.clear {
	clear: both;
}

/* wrapper */
#header {
	height: 45px;
	width: 100%;
	background: url('/images/mobile/logo.png?2') no-repeat 60px 2px  #186299;
	display: block;
}
#header a.back {
	font-size: 26px;
	font-weight: bold;
	float: left;
	padding: 7px 15px;
	border-right: solid 1px #FFFFFF;
	color: #FFFFFF;
	text-decoration: none;
}
#header a.mobileHome {
	display: block;
	float: left;
	height: 40px;
	width: 200px;
	border: 0px;
}
#login {
	float: right;
	color: #FFFFFF;
	text-align: right;
}
#login a {
    background: none repeat scroll 0 0 #FFFFFF;
    border: solid 1px #666666;
    border-radius: 3px 3px 3px 3px;
    color: #000000;
    display: block;
    font-size: 11px;
    font-weight: bold;
    margin: 2px 5px 0px 2px;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
#login a:hover {
	cursor: pointer;
}
#location {
    background: none repeat scroll 0 0 #186299;
    border-radius: 0 0 10px 10px;
    clear: both;
    margin: 0px 0 10px 45px;
    padding: 5px 5px 10px 20px;
    width: 180px;
}
#location #current {
    background: url('/images/location.png') no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 16px;
    height: 26px;
    letter-spacing: 0;
    line-height: 14px;
    margin: 5px 20px 0 0;
    padding-left: 28px;
}

#location .small {
    font-size: 10px;
	display: block;
}
#change, #loginForm {
    background: none repeat scroll 0 0 #FF740E;
    border-radius: 6px 6px 6px 6px;
    margin: 10px;
    padding: 10px;
	margin-bottom: 10px;
	color: #FFFFFF;
}
#loginForm {
	background: #186299;
	font-size: 14px;
}
#change {
	height: 50px;
}

#change input {
    margin: 2px 3px 2px 0;
    float: left;
	padding: 3px;
	font-size: 16px;
}
#change a {
    color: #FFFFFF;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0;
    margin-left: 4px;
	display: block;
	margin-right: 3px;
}
#loginForm a {
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 10px;
	text-decoration: none;
}
#loginForm input {
	font-size: 14px;
	margin: 5px 0px;
}
#change .close, #loginForm .close {
	float: right;
	font-size: 15px;
}
#change .close:hover, #loginForm .close:hover {
	cursor: pointer;
}

ul.ui-autocomplete {
	background: #FFFFFF;
	width: 300px !important;
	padding: 10px;
}
ul.ui-autocomplete li.ui-menu-item {
	font-size: 16px;
	line-height: 18px;
	margin-left: 15px;
}
#banner {
	padding: 0px 10px;
}
#banner a img {
	border: 1px solid #cccccc;
	text-align: center;
	width: 98%;
	margin-top: 10px;
	margin-left: 1px;
}
#footer {
    background: none repeat scroll 0 0 #186299;
    border-top: 2px solid #FF740E;
    bottom: 0;
    clear: both;
    margin-top: 10px;
	color:  #FFFFFF;
	height: 20px;
	padding: 8px;
}

#footer a {
    color: #FFFFFF;
    font-size: 10px !important;
    font-weight: bold;
    margin: 0px 3px;
    text-decoration: none;
    text-transform: uppercase;
	padding: 5px;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: none repeat scroll 0 0 #D9E0E5;
    border: 1px solid #186299;
    color: #186299;
    font-weight: bold;
}
/* main location page */
#search {
    color: #FFFFFF;
    font-size: 11px;
    padding: 0 0 0 10px;
    text-align: center;
    text-transform: uppercase;
	background-color: #186299;
    border-radius: 15px 15px 15px 15px;
    margin-top: 10px;
    text-align: center;
	height: 80px;
	margin-left: 10px;
	width: 300px;
}

#search input {
    border-radius: 8px 8px 8px 8px;
    color: #000000;
    float: left;
    font-size: 16px;
    margin: 13px 0 5px 0px;
    padding: 8px;
    width: 210px;
	margin-top: 13px;
	margin-bottom: 8px;
}
.selectLg {
    background: url('/images/sprite-core.png') no-repeat scroll 0 -120px transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    float: right;
    height: 44px;
    margin: 10px 10px 20px;
    width: 44px;
}
#main {
	margin: 0px 10px;
}
h2 a {
    border-bottom: 1px solid #CCCCCC;
    color: #186299;
    font-size: 18px;
    padding: 6px 0 5px;
    text-align: left;
    text-transform: uppercase;
	text-decoration: none;
	display: block;
	width: 100%;
	margin-left: 10px;
}
h2 a:hover, .subCategory a:hover {
	cursor: pointer;
}
.locationPage .subCategory  {
	clear: both;
    font-weight: bold;
    padding: 3px 0px 3px 50px;
    text-decoration: none;
	border: 0px;
	background: none;
	margin: 0px;
	border-radius: 0px;
}
.locationPage .subCategory a {
	font-weight: bold;
    color: #186299;
	font-size: 16px;
}
.locationPage .subSubCategory   {
	padding: 2px 0px 5px 70px;
}
.locationPage .subSubCategory a  {
	font-size: 14px;
	font-weight: bold;
    color: #186299;
}


/* city */

.mainCategory {
    color: #FF740E;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    text-transform: uppercase;
}
.subCategory {
	clear: both;
    background: url('/images/mobile/arrow-right-bg.png') right center no-repeat #FFFFFF;
    border: 1px solid #999999;
    border-radius: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    color: #000000;
    font-weight: bold;
/*  padding: 10px;*/
    text-decoration: none;
	display: block;
	overflow: hidden;
}

#city .subCategory  {
	border-radius: 10px;
}
.thumb a {
	height: 75px;
	margin-bottom: 10px;
}
.subCategory img {
    border: 1px solid #000000;
    margin-right: 10px;
	float: left;
}
#city .subCategory img {
    width: 75px;
    height: 75px;
}
#photoList .subCategory img {
	float: none;
}


/* escort list */
#view-list a, #view-photo a {
	background: url(/images/mobile/view-list.png) no-repeat 4px 4px #FFFFFF;
	width: 101px;
	height: 25px;
	border-radius: 5px;
	border: solid 1px #999999;
	padding: 4px;
	margin: 8px 0px 10px 14px;
	display: block;
	float: left;
}
#view-photo a {
		background: url(/images/mobile/view-photo.png) no-repeat 4px 4px #FFFFFF;
}
.view-active {
	opacity: .5;
}

/* video */

#cityVideo {
    /*background:#FFFFFF ;*/
	background: rgb(149,149,149); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(149,149,149,1)), color-stop(46%,rgba(13,13,13,1)), color-stop(50%,rgba(1,1,1,1)), color-stop(53%,rgba(10,10,10,1)), color-stop(76%,rgba(78,78,78,1)), color-stop(87%,rgba(56,56,56,1)), color-stop(100%,rgba(27,27,27,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Chrome10+,Safari5.1+ */
	background: none; /* Opera 11.10+ */ /* IE10+ */ /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
}

#cityVideo .playlistTitle  {
	background: url('//adultsearch.com/images/i_exclusive.png') no-repeat 2px 1px #ff6300;
	border-radius: 5px 5px 0px 0;
	float: left;
	padding-left: 20px;
	padding-right: 10px;
	 font-size: 11px;
	 color: #FFFFFF;
	 text-transform: uppercase;
	padding: 4px 10px 2px 20px;
	font-weight: bold;
}

#videoUpload {
	background: url('/images/icon_video.png') no-repeat scroll right top #FFFFFF;
	border: 1px solid #C2C0C0;
	border-radius: 4px 4px 4px 4px;
	color: #999999;
	float: right;
	font-weight: bold;
	margin-top: -2px;
	padding: 0 20px 0 4px;
	text-decoration: none;
	padding-bottom: 20px;
	margin-bottom: 10px;
}
#city #videoUpload {
	margin-bottom: 0px;
}
#city_video_name {
	background: #FFFFFF;
	font-size: 11px;
	color: #000000;
	top: 10px;
	position: absolute;
	z-index: 100;
	opacity: .7;
	padding: 5px;
	float: left;
}

div.main_video a#flow_vid_city {
	display: block;
	position: relative;
	margin-bottom: 10px;
}

div.main_video img.vid_thumb_img {
	width: 100%;
	position: relative;
	z-index: 99;
	border-radius: 10px;
	border: solid 1px #000000;
}

div.main_video img.vid_play_img {
	display: block;
	top: 35%;
	left: 43%;
	position: absolute;
	z-index: 100;
	opacity: .7;
}

.playlist {
	-moz-border-radius: 0px 0px 6px 6px;
	-webkit-border-radius: 0px 0px 6px 6px;
	text-align: center;
	overflow-y: hidden;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	clear: both;
	margin-right: 0px;
}

#places .playlist {
    background-color: #F1F1F1;
    border: 1px solid #CCCCCC;
    border-radius: 6px 6px 6px 6px;
    height: 100px;
    margin-top: 10px;
    text-align: center;
	overflow: hidden;
}
#photolist .playlist .scrollable .items div a img {
	width: 108px;
}
#city .scrollable {
    float: left;
    height: 95px;
    overflow: hidden;
    position: relative;
    width: 230px;
}
#city .items div {
    float: left;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 230px;
}
#city .scrollable .items {
    position: absolute;
    width: 20000em;
}

#xe_currency_convert a.closer {
	display: inline;
	float: none;
	border: 0px;
	text-transform: uppercase;
	font-size: 10px;
}
#photolist .playlist .scrollable .items div a {
	clear: none;
}
#photolist {
	width: 290px;
}

#photolist .playlist a.browse {
	height: 20px;
}

#city #cityVideo .scrollable a {
	margin: 10px 0px 10px 5px;
	float: left;
	max-width: auto;
	
}
#city #cityVideo .playlist {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FF6300;
    border-radius: 0 10px 10px 10px;
    height: 98px;
	overflow-x: hidden;
	margin-bottom: 10px;
}
.scrollable  a img {
	width: 103px;
	height: 70px;
	border: solid 1px #555555;
	margin-right: 3px;
}

.playlist a.browse {
    background: url(//adultsearch.com/images/hori.png) no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    margin: 27px 5px 0;
    cursor: pointer;
    font-size: 1px;
}
#places .scrollable  a {
	margin-right: 3px;
	float: left;
}

.playlist a.right {
	background-position: 0 -20px;
	clear: right;
}
.playlist a.right:hover {
	background-position: -20px -20px;
}
.playlist a.right:active {
	background-position: -40px -20px;
}


#photolist .playlist {
    background-color: #F1F1F1;
    border: 1px solid #CCCCCC;
    border-radius: 6px 6px 6px 6px;
    height: 100px;
    margin-top: 10px;
    text-align: center;
}
.playlist a.left:hover  {
	background-position: -20px 0;
}
.playlist a.left:active {
	background-position: -40px 0;
}

.playlist a.disabled {
    visibility:hidden !important;
}



#city #cityVideo .scrollable div.playlistTitle {
	float: none;
	text-align: left;
	padding-left: 5px;
	background: #999999;
}
#city #cityVideo div .playSm {
	 display: block;
    margin-left: 40px;
    opacity: 0.7;
    margin-top: -50px;
    z-index: 100;
	height: 25px;
	width: 25px;
	border: 0px;
}
.scrollable {
	position: relative;
	float: left;
	width: 1000px;
}

#photolist .playlist .scrollable {
    float: left;
    height: 120px;
    position: relative;
    width: 228px;
}

/* places */
#placeList .name,  #photoList .name, #escortList .name {
	color: #186299;
    font-size: 14px;
    font-weight: bold;
}

.subCategory a {
	font-weight: normal;
	text-decoration: none;
	color: #000000;
	display: block;
	padding: 10px;
}
#escortList .subCategory a {
	border-radius: 10px;
}
#city .subCategory a {
	font-weight: bold;
	padding: 10px;
}
div.rateit {
	background: none repeat scroll 0 0 #FFFFFF;
	padding: 2px;
	border-radius: 4px;
}
.bigPhone {
    clear: both;
    color: #186299;
    font-size: 20px;
    padding-top: 4px;
    text-align: center;
    text-decoration: underline;
	background: #FFFFFF;
	font-weight: normal;
}

#pager {
    background-color: #333333;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    font-size: 18px;
    margin: 10px 10px 3px 10px;
    padding: 10px;
}
#pager a, #pager a:visited {
	color: #FFFFFF;
	margin-left: 6px;
	padding: 5px 10px 5px 10px;
	border: 1px solid #666;
	border-radius: 4px;
}
#pager .curr {
	padding: 5px 5px 5px 10px;
}
#pager a.nextPage {
	background: url('/images/mobile/pager-right.png') no-repeat 0px 0px;
	border: 0px;
	height: 24px;
	width: 36px;
	float: right;
	display: block;
}
#pager a.prevPage {
	background: url('/images/mobile/pager-left.png') no-repeat 0px 0px;
	border: 0px;
	height: 24px;
	width: 36px;
	float: left;
	display: block;
	padding-right: 10px;
	margin-left: 0px;
}


#mobileRefine {
    border: 1px solid #999999;
    border-radius: 10px ;
    margin: 10px;
	padding: 10px 0px 0px 10px;
	overflow: hidden;
	background: url('/images/mobile/refine.png') no-repeat scroll 10px 3px #FFFFFF;
	display: block;
	margin-bottom: 10px;
}
#mobileRefine select {
	background: #FFFFB9;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	border: solid 1px #333333;
    font-size: 13px;
    padding: 4px;
	margin: 0px 3px 8px 0px;
}
#mobileRefine div {
	float: left;
	width: 140px;
}
#mobileRefine .title {
	padding-left: 50px;
	color: #186299;
	font-size: 16px;
	padding-bottom: 10px;
	float: none;
	font-weight: bold;
}
#mobileRefine div.title {
	width: auto;
}
#mobileRefine .title:hover {
	  cursor:pointer;
}
#icon1 {
	font-size: 12px;
}
#contentWrapper .title {
	padding-left: 10px;
	color: #186299;
	font-size: 16px;
	float: none;
	font-weight: bold;
}
#escortList #contentWrapper .title {
 padding-left: 0px;
}
#refineResults {
	border: 1px solid #999999;
    border-radius: 10px;
	margin: 10px;
}
#refineResults a {
	text-decoration: none;
}


/* ad */
#ad {
    float: none;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
    margin: 0px 10px;
    width: auto;
}
#ad h1 div {
	clear: both;
	text-decoration: underline;
}
#BioID {
	border: 0px;
	border-radius: 0px;
	padding: 0px;
	margin: 5px !important;
	width: auto;
}
#gallery img {
	max-width: 290px;
	width: 100%;
	cleasr: both;
}
#stats {
	width: auto;
}
.linkbutton a {
	margin-top: 10px;
}
.linkbutton {
	overflow: hidden;
}
.tagline {
	margin-bottom: 0px;
}
/* single location */
#places .name {
    color: #186299;
    font-size: 20px;
    font-weight: bold;
	line-height: 16px;
	margin: 0px;
}
#contentWrapper {
	margin: 0px 10px;
}
.reviewIndividual .comments {
	width: 90%;
}
#photos, #placesVideo, #directions {
	float: none;
	margin-left: 0px;
	overflow: hidden;
}
#photos #title {
	float: left;
}

#photos img {
    width: 288px;
	height: auto;
}
#photos.photosLarge img {
	width: 288px;
	height: auto;
	clear: both;
}
#photos.photosLarge {
	width: auto;
}
#places {
	margin-bottom: 10px;
	margin-top: 10px;
	width: 100%;
}
#places #intro {
	float: none;
	background: #FFFFFF;
	border-radius: 14px;
	width: 100%;
	margin-right: 10px;
}
#places #intro .introContent {
	padding: 10px;
}
#places #reviewBlock {
	background: #FFFFFF;
}
#cityVideo #videoUpload {
	 padding: 0px 20px 0px 4px;
}

#cityVideo .title {
	padding-left: 7px;
}
#hours .title, #reviewBlock .title {
    color: #186299;
    font-size: 20px;
	font-weight: normal;
	padding-left: 0px;
}
.intro_actions {
	overflow: hidden;
}
#photoUpload {
	display: none;
}
#directions {
	margin-top: 10px;
}
#hours {
	float: none;
	margin: 20px 0px;
	overflow: hidden;
	height: auto;
}
#hours label {
	height: auto;
	border-left: 0px;
	border-right: 1px solid #CCCCCC;
	font-size: 10px;
	width: auto;
	padding-right: 5px;

}
#reviewBlock, .reviewIndividual {
	width: auto;
	clear: both;
}
#reviewBlock {
	background: #FFFFFF;
	border-width: 3px;
}
#places .reviewIndividual .name {
    color: #FF740E;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

#places .reviewIndividual div.rateit {
	background: none;
	border-radius: 0px;
	padding: 0px;
	border: 0px;
	margin-top: 0px;
}
#videoUpload a, #photoUpload a, #writeReview a, #errorReport a, #yourBiz a {
	text-decoration: none;
}
#places .actions {
	overflow: hidden;
}
.writeReviewMobile a {
	float: right;
	border: 0px;
	margin: 5px 0px 10px 0px;
	width: 184px;
	height: 25px;
	background: url(/images/mobile/writeReview.png) no-repeat 0 0;
	display: block;
	
}
#lowerMain {
	clear: both;
}

#escortList .postDate {
    color: #186299;
    font-size: 14px;
    font-weight: bold;
	clear: both;
}
.action a {
    background: none repeat scroll 0 0 #FF740E !important;
    border: 0 none;
    border-radius: 6px 6px 6px 6px;
    color: #FFFFFF;
    font-family: Verdana,Geneva,sans-serif;
    font-weight: bold;
    padding: 1px 6px;
    text-transform: uppercase;
}

#refineResults .action {
    margin-left: 10px;
    margin-top: 3px;
}
