#content {
}
#places {
	width: 1000px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	clear: both;
	margin-top: 20px;
	margin-bottom: 20px;

}
#places a {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #186299;
}
a:hover {
	filter: alpha(opacity=70);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	-moz-opacity: 0.70;
	opacity:0.7;
	text-decoration: underline;
}
.hidden {
	display: none;
}


#places #intro {
	float: left;
	width: 305px;
}
#places #summary {
	margin: 10px 0px 10px 0px;
}

#ppc {
	float: left;
	margin: 20px 0px;
	border-left: dashed 1px #CCCCCC;
	padding: 0px 0px 20px 20px; 
}
 #places #stats a {
	color: #000000;
	text-decoration: underline;
}
#stats a img {
	margin-top: 5px;
}
#stats, #stats div a {
	/*font-size: 11px;*/
	clear: both;
}
#stats {
	margin: 10px 0px;
}
#stats div {
	text-transform: capitalize;
}
#stats label {
    font-weight: bold;
    padding-right: 5px;
    text-transform: uppercase;
	font-size: 10px;
}
#places .address {
	margin: 10px 0px;
}
#places a.website {
	background: url(/images/iWebsite.png) right 6px no-repeat;
	padding-right: 15px;
	color: #186299 !important;
	display: inline;
	float: left;
	margin-bottom: 15px;

}
.name {
		font-size: 20px;
	color: #186299;
	font-weight: bold;

}

.linkbutton {
	margin-bottom: 20px;
}
.linkbutton a {
	font-size: 9px;
	color: #333333;
	border: solid 1px orange;
	border-radius: 3px;
	background: #F5F5F5;
	margin-right: 5px;
	padding: 4px 8px;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}
.linkbutton a:hover {
	color: #FFFFFF;
	background: #666666;
	border: solid 1px #000000;;

}

#photosAlt {
	float: left;
	width: 720px;
	padding-top: 20px;
}
#directions, #photos {
	float: right;
	display: block;
	margin-left: 15px;
	margin-top: 10px;
}
#directions {
	width: 265px;
	margin-bottom: 10px;
}
#topContent #directions {
	margin-right: 5px;
}
.mapLink a {
	font-size: 9px !important;
	float: left; /* for chrome */
	margin-left: 12px;
}
#photos { 
width: 290px;
}
#photos.photosLarge {
	width: 330px;
}
#photosAlt #directions{
	margin-left: 30px;
	margin-right: 50px;
}
#photosAlt #photos {
	margin-left: 0px;
}om

#vote {
	color: #FFFFFF;
	padding: 15px;
	border-radius: 6px;
	background: #186299;
	margin-bottom: 50px;
	font-size: 12px;
}
#vote .name {
	color: #FFFFFF;
	font-size: 18px;
}
 #forums {
	display: block;
	border: solid 1px #CCCCCC;
	margin-top: 30px;
	border-radius: 0px 6px 6px 6px;
	font-size: 14px;
	float: right;
	width: 260px;
	margin-left: 10px;
}
#forums a {
	font-size: 14px;
	font-weight: bold;
}
#forums .forumBtn {
	float: right;
	margin: 0px 10px 10px 0px;
}
#forums li {
	margin: 20px 10px 15px 10px;
	list-style: none;
}
#action {
	clear: both;
	margin-top: 5px;
}
#directions img, #photos img {
	display: block;
	border: solid 1px #186299;
	float: left;
}
#photos #title {
	background: url(/images/place_title_photos.png) no-repeat 6px 1px #186299;
	border-radius: 4px 4px 0px 0px;
	padding: 4px;
	height: 12px;
	width: 82px;
}
 #directions #title {
	background: url(/images/place_title_map.png) no-repeat 6px 1px #186299;
	border-radius: 6px 6px 0px 0px;
	padding: 4px;
	height: 12px;
	width: 100px;
	float: left;
}
#photos img {
	height: 218px;
}
#photos.photosLarge img {
	height: 245px;
}
#photos #thumbs a img {
	width: 110px;
	height: 75px;
	margin: 10px 9px 0px 0px;
	border: solid 1px #000000;
	padding: 1px;
	border-radius: 4px;
	float: left;
	background: #CCCCCC;
}
#photos #thumbs #thumbScroll {
	width: 368px;
}
#forums #title {
	background: url(/images/place_title_forum.png) no-repeat 6px 1px #186299;
	border-radius: 4px 4px 0px 0px;
	padding: 4px;
	height: 12px;
	width: 82px;
	margin-top: -20px;
}
#topContent {
}

#lowerRight {
	float: right;
	width: 265px;
	display: block;
	margin-left: 10px;
	clear: both;
}
#lowerMain {
	overflow: auto;
}
#hours {
	height: 90px;
	float: left;
}
.width {
	width: 725px;
	overflow: auto;
}
#hours .title, #reviewBlock .title {
	font-size: 20px;
	color: #186299;
}
#hours label {
	float: left;
	width: 89px;
	height: 40px;
	border-left: solid 1px #CCCCCC;
	padding: 10px 0px 10px 8px;
	font-size: 11px;
}
#hours label .day {
	font-weight: bold;
	text-transform: uppercase;
	display: block;
}
#hours .active {
	background: #FFFFCC;
}
#reviewBlock {
    border: 10px solid #CCCCCC;
    clear: left;
    margin-top: 20px;
    padding: 20px 10px 10px 10px;
    width: 680px;
	min-height: 120px;
}
.reviewIndividual .name {
	font-weight: bold;
	color: #ff740e;
	font-size: 14px;
	margin-bottom: 10px;
}
.reviewIndividual .date {
	font-style: italic;
	font-weight: normal;
	color: #000000;
	margin-left: 10px;
	font-size: 12px;
}
.reviewIndividual .ratings {
}
.reviewIndividual .thumb {
	float: left;
	margin: 5px 15px 0px 0px;
	border: solid 1px #000000;
}
.reviewIndividual textarea {
	font-family: Verdana, Geneva, sans-serif;
	background: #FFFFCC;
	margin-top: 20px;
	font-size: 12px;
}

#videoUpload a, #photoUpload a, #writeReview a, #errorReport a, #yourBiz a {
    border: 1px solid #C2C0C0;
    border-radius: 4px 4px 4px 4px;
    color: #999999;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 0 19px 0 4px;
	font-size: 10px;
	float: left;
}
#videoUpload a {
    background: url("/images/iVideo.png") no-repeat scroll right top #FFFFFF;
	margin-right: 14px;

}
#photoUpload a {
    background: url("/images/iPhoto.png") no-repeat scroll right top #FFFFFF;
}
#photos #photoUpload {
	float: right;
}
#photos #photoUpload a {
	margin-bottom: 0px;
}
#writeReview a {
	    background: url("/images/iPencil.png") no-repeat scroll right top #FFFFFF;
}
#errorReport a {
	background: url("/images/iError.png") no-repeat scroll right top #FFFFFF;
	margin-right: 0px;
}
#yourBiz a {
	    background: url("/images/iBiz.png") no-repeat scroll right top #FFFFFF;
}
.bottom {
	text-align: right;
}
.emp {
	display: block; 
	background: url(/images/btn_emp.png) no-repeat;
	height: 25px;
	width: 199px;
	margin: 2px 15px 0px 0px;
}

#reviewBlock #errorReport a, #reviewBlock #yourBiz a {
    border: 1px solid #999999;
    color: #666666;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 5px;
	float: right;
}

#reviewBlock #videoUpload a, #reviewBlock #photoUpload a {
	margin-right: 10px;
	height: 51px;
	width: 51px;
	border: 0px;
	padding: 0px;
	float: right;
}
#reviewBlock .bottom {
	clear: left;
}
#reviewBlock #writeReview a {
	background: url(/images/btn_review3.png)0 0 no-repeat;
	margin-right: 10px;
	height: 51px;
	width: 132px;
	border: 0px;
	padding: 0px;
	float: right;

}
#reviewBlock #photoUpload a {
	background: url(/images/btn_photo.png) 0 -51px no-repeat;
}
#reviewBlock #photoUpload a:hover {
	background: url(/images/btn_photo.png) 0 0 no-repeat;
}
#reviewBlock #videoUpload a {
	background: url(/images/btn_video.png) 0 -51px no-repeat;
}
#reviewBlock #videoUpload a:hover {
	background: url(/images/btn_video.png) 0 0 no-repeat;
}

#videoUpload a:hover, #photoUpload a:hover, #writeReview a:hover, #errorReport a:hover, #yourBiz a:hover {
	text-decoration: none;
	color: #186299;
}
#suggestFB {
	float: right;
}
#overallRate {
	height: 35px;
	margin-top: 5px;
}
.rateOverall {
	font-size: 9px;
	color: #999999;
	text-transform: uppercase;
	width: 200px;
	margin: 5px 0px 10px 0px;
}
.reviewIndividual {
	border-top: solid 1px #CCCCCC;
	padding: 10px;
	margin: 10px 0px;
	width: 650px;
}
.reviewIndividualMobile {
	border-top: solid 1px #CCCCCC;
}

#addressIP {
	font-size: 11px;
	margin-top: 10px;
	font-style: italic;
	background: #e5f4ff;
	padding: 5px;
	border-radius: 8px;
}

.reviewIndividual .comments {
	margin: 10px 0px 0px 40px;
	font-size: 12px;
	width: 600px;
}
.reviewIndividual form {
	clear: left;
}

.reviewIndividual .commentSingle {
	display: block;
	clear: both;
	padding-bottom: 5px;
}
.reviewIndividual .comments .commentsTitle {
	font-size: 13px;
	font-weight: bold;
	background: #999999;
	padding: 3px 0px 3px 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	color: #FFFFFF;
}
.reviewIndividual .comments img {
	float: left;
	margin-right: 10px;
	border: solid 1px #000000;
	margin-bottom: 10px;
	width: 32px;
	height: 32px;
	margin-top: 3px;
}
.reviewIndividual .comments .userName  {
	font-weight: bold;
	color: #186299;
}

.reviewIndividual .comments  .commentDate {
	font-size: 11px;
	font-style: italic;
	color: #666;
	float: right;
	margin-right: 10px;
}
.reviewIndividual .comments .userComment  {
	margin-left: 45px;
}
#moreComments {
	text-align: right;
	border-top: dotted 1px #cccccc;
	clear: both;
	margin-top: 10px;
	padding-top: 4px;
}

#moreComments a {
	color: #ff740e;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 10px;
}


#page, #page a {
	font-weight: bold;
	margin-bottom: 20px;
}

.nextPage {
    margin: -3px 0px 0px 8px;
    background: url("/images/icons/next.gif") no-repeat scroll 0 3px transparent;
    height: 20px;
    width: 16px;
	float: right;
}
.linkbutton {
	margin-bottom: 5px;
	float: left;
	width: 100%;
}
.linkbutton a {
	font-size: 10px !important;
	color: #FFFFFF !important;
	border-radius: 3px;
	background: #FF740E;
	margin-left: 5px;
	padding: 0 6px 1px;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	float: right;
}
.linkbutton a:hover {
	color: #FFFFFF;
	background: #666666;
	border: #000000;;

}

.acronym abbr {
    background: url("//adultsearch.com/images/tooltip.png") no-repeat scroll right 0 transparent;
    border-bottom: 1px dotted #206AB6;
    color: #206AB6;
    cursor: help;
    padding-right: 12px;
    padding-top: 1px;
    position: relative;
}
.dictionary {
    background: none repeat scroll 0 0 #333333;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    margin-top: 20px;
    padding: 5px;
    position: absolute;
    width: 150px;
    z-index: 1000;
}

div.intro_actions div {
	float: left;
}
div.intro_actions a {
	color: #666666 !important;
	text-decoration: none !important;
	margin-right: 5px;
}

/***************************** VIDEO *****************************************/
#placesVideo {
    /*background:#FFFFFF ;*/
	background: rgb(149,149,149); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(149,149,149,1)), color-stop(46%,rgba(13,13,13,1)), color-stop(50%,rgba(1,1,1,1)), color-stop(53%,rgba(10,10,10,1)), color-stop(76%,rgba(78,78,78,1)), color-stop(87%,rgba(56,56,56,1)), color-stop(100%,rgba(27,27,27,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
    border-radius: 6px 6px 6px 6px;
    float: right;
    margin: 10px 0px 10px 10px;
    padding: 6px 6px 0px 6px;
	height: 235px;
	width: 350px;
}

div#placesVideo a#flow_vid_place {
	display: block;
	height: 210px;
}

div#placesVideo #videoUpload {
    background: url("/images/icon_video.png") no-repeat scroll right top #FFFFFF;
    border: 1px solid #C2C0C0;
    border-radius: 4px 4px 4px 4px;
    color: #999999;
    float: right;
    font-weight: bold;
    padding: 0 20px 0 4px;
	font-size: 10px;
}
div#placesVideo #videoUpload:hover {
	color: #186299;
	text-decoration: none;
}

div#placesVideo img.vid_thumb_img {
    width: 100%;
    height: 90%;
    position: relative;
    z-index: 99;
    border-radius: 10px;
    border: solid 1px #000000;
}

div#placesVideo img.vid_play_img {
    display: block;
    left: -2px;
    position: relative;
    top: -125px;
    z-index: 100;
}

div#placesVideo .playlist {
	display: none;
clear: both;
    background-color: #666666;
    border-radius: 6px 6px 6px 6px;
    height: 270px;
    margin-top: 0;
    text-align: center;
    width: 125px;
	float: right;
	border: solid 1px #555555;
	margin-left: 15px;
}

div#placesVideo .playlist .scrollable {
    float: left;
    height: 230px;
    overflow: hidden;
    position: relative;
	width: 125px;
}

div#placesVideo .playlist .scrollable .items {
	position:absolute;
	height:20000em;
}

div#placesVideo .playlist .scrollable .items div {
	width: 125px;
	float: none;
	margin: 0px;
}

div#placesVideo .playlist .scrollable .items div a img {
    border: 1px solid #000000;
	height: 70px;
    margin: 2px;
    width: 110px;
	border-radius: 5px;
}

div#placesVideo .playlist a.browse {
    background: url(/images/hori2.png) no-repeat;
    display: block;
    width: 20px;
    height: 10px;
    margin: 0px 58px 0px 0px;
	text-align: center;
    cursor: pointer;
    font-size: 1px;
	float: right;
}
h3#videoName {
	color: #FFFFFF;
	padding-bottom: 5px;
}

/*************  PHOTOS  *****************/
#photolist {
	clear: both;
	width: 295px;
}

#photolist .playlist {
	height: 100px;
    background-color: #f1f1f1;
    margin-top: 10px;
    text-align: center;
	border: solid 1px #CCCCCC;
    border-radius: 6px 6px 6px 6px;
}
#photolist .playlist .scrollable {
	float: left;
	position: relative;
	overflow: hidden;
	width: 230px;
	height: 90px;
}

#photolist .playlist .scrollable .items {
	width: 20000em;
	position: absolute;
}

#photolist .playlist .scrollable .items div {
    float: left;
	height: 90px;
    margin-top: 5px;
    margin-bottom: 5px;
}
	
#photolist .playlist .scrollable .items div a {
	display: inline-block;
    margin-right: 2px;
	clear: both;
}

#photolist .playlist .scrollable .items div a img {
    border: 1px solid #555555;
    height: 75px;
    width: 110px;
	margin-top: 2px;
}

#photolist .playlist a.browse {
    background: url(/images/hori.png) no-repeat;
    display: block;
    width: 20px;
    height: 10px;
    float: left;
    margin: 37px 5px 0px 5px;
    cursor: pointer;
    font-size: 1px;
}

.photosLarge #photolist {
	clear: both;
	width: 330px;
}

.photosLarge #photolist .playlist .scrollable {
	float: left;
	position: relative;
	overflow: hidden;
	width: 262px;
	height: 90px;
}

.photosLarge #photolist .playlist .scrollable .items div a img {
    border: 1px solid #555555;
    height: 80px;
    width: 125px;
	margin-top: 5px;
}

#errorReport, #yourBiz {
	margin-top: 7px;
}

/* playlist commons */
.playlist a.right {
	background-position: 0 -20px !important;
	clear: right;
}
.playlist a.right:hover {
	background-position: -20px -20px !important;
}
.playlist a.right:active {
	background-position: -40px -20px !important;
}
.playlist a.left:hover  {
	background-position: -20px 0 !important;
}
.playlist a.left:active {
	background-position: -40px 0 !important;
}
.playlist a.disabled {
    visibility:hidden !important;
}


/***************  rate  ******************/
div.bigstars div.rateit-range {
    background: url(/images/star-white32.png);
    height: 32px !important;
	width: 160px !important;
}

div.bigstars div.rateit-selected {
    background: url(/images/star-gold32.png);
    height: 32px !important;
}

#places .back-to-map {
	float: right;
	color: white;
	background-color: rgb(24, 98, 153);
	border-radius: 6px;
	text-decoration-line: none;
	padding: 1px 4px 4px 4px;
	height: 12px;
	margin-top: 9px;
	font-size: 12px;
}

/* end */
