#my_main {
	padding-top: 20px;
}
#my_sidecol {
	float: left;
	width: 170px;
	min-height: 300px;
}
#my_maincol {
	float: left;
	max-width: 550px;
}
#my_sidecol a {
	display: block;
	font-size: 1.3em;
	font-weight: bold;
	cursor: pointer;
	margin-bottom: 10px;
}
#my_maincol h1 {
	margin-top: 0px;
}
form#pm_compose {
	width: 550px;
}
form#pm_compose div {
	width: 100%;
	margin-bottom: 10px;
}
form#pm_compose div textarea {
	width: 100%;
	padding-top: 5px;
}
form#pm_compose label {
	font-weight: bold;
	color: #206ab6;
}
form#pm_compose #pm_send {
	background: coral;
	padding: 5px;
	color: white;
	border: 1px solid coral;
	font-size: 1.3em;
	font-weight: bold;
	cursor: pointer;
	margin: 10px 0px 10px 0px;
}
form#pm_compose #pm_send:hover {
	background-color: lightcoral;
	border: 1px solid lightcoral;
}
#my_main table.msg_list {
	border-collapse: collapse;
}
#my_main table.msg_list td, #my_main table.msg_list th {
	padding: 3px;
}
#my_main table.msg_list th {
	color: #206ab6;
}
#my_main .tr_msg:hover {
	background-color: antiquewhite;
}
#my_main .tr_msg a {
	color: #333;
	text-decoration: none;
	padding-right: 20px;
}
#my_main .tr_msg.already_read a {
	font-weight: bold;
}
#my_main .tr_msg a {
	text-decoration: none;
}
#msg_content {
	border: 1px solid coral;
	border-radius: 5px;
	padding: 10px;
}

.pm_btn {
	padding: 5px;
	font-weight: bold;
	cursor: pointer;
	margin: 10px 0px 10px 0px;
	font-size: 1.2em;
	display: inline-block;
}
.pm_btn_small {
	padding: 1px;
	font-weight: bold;
	cursor: pointer;
	display: inline-block;
	padding: 1px 5px 1px 5px;
}
.pm_btn:hover {
	text-decoration: none;
}
.pm_btn_coral {
	background: coral;
	color: white !important;
	border: 1px solid coral;
}
.pm_btn_coral:hover {
	background-color: lightcoral;
	border: 1px solid lightcoral;
}
.pm_btn_white {
	background: white;
	color: #666 !important;
	border: 1px solid coral;
}
.pm_btn_white:hover {
	border: 1px solid lightcoral;
	color: black !important;
}
