
/* ratings */
div.rateit, div.rateit_12 {
    display: -moz-inline-box;
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

div.rateit div.rateit-range {
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    background: url("/images/star.gif") repeat scroll 0 0 transparent;
    height: 16px;
}

div.rateit_12 div.rateit-range {
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    background: url("/images/star_12.gif") repeat scroll 0 0 transparent;
    height: 12px;
}

/* for IE 6 */
* html div.rateit, * html div.rateit div.rateit-range, * html div.rateit_12, * html div.rateit_12 div.rateit-range
{
    display: inline;
}

/* for IE 7 */
* + html div.rateit, * + html div.rateit div.rateit-range, * + html div.rateit_12, * + html div.rateit_12 div.rateit-range
{
    display: inline;
}

div.rateit div.rateit-hover, div.rateit div.rateit-selected, div.rateit_12 div.rateit-hover, div.rateit_12 div.rateit-selected
{
    position: absolute;
    left: 0px;
}

div.rateit div.rateit-hover-rtl, div.rateit div.rateit-selected-rtl, div.rateit_12 div.rateit-hover-rtl, div.rateit_12 div.rateit-selected-rtl
{
    left: auto;
    right: 0px;
}

div.rateit div.rateit-hover {
    background: url("/images/star.gif") left -32px;
}

div.rateit_12 div.rateit-hover {
    background: url("/images/star_12.gif") left -24px;
}

div.rateit div.rateit-hover-rtl {
    background-position: right -32px;
}

div.rateit_12 div.rateit-hover-rtl {
    background-position: right -24px;
}

div.rateit div.rateit-selected {
    background: url("/images/star.gif") left -16px;
}

div.rateit_12 div.rateit-selected {
    background: url("/images/star_12.gif") left -12px;
}

div.rateit div.rateit-selected-rtl {
    background-position: right -16px;
}

div.rateit_12 div.rateit-selected-rtl {
    background-position: right -12px;
}

div.rateit div.rateit-preset {
    background: url("/images/star.gif") left -48px;
}

div.rateit_12 div.rateit-preset {
    background: url("/images/star_12.gif") left -36px;
}

div.rateit div.rateit-preset-rtl {
    background: url("/images/star.gif") left -48px;
}

div.rateit_12 div.rateit-preset-rtl {
    background: url("/images/star_12.gif") left -36px;
}

div.rateit div.rateit-reset {
    background: url("//img.adultsearch.com/images/delete.gif") 0 0;
    width: 16px;
    height: 16px;
    display: -moz-inline-box;
    display: inline-block;
    float: left;
}

div.rateit_12 div.rateit-reset {
    background: url("//img.adultsearch.com/images/delete.gif") 0 0;
    width: 12px;
    height: 12px;
    display: -moz-inline-box;
    display: inline-block;
    float: left;
}

div.rateit div.rateit-reset:hover {
    background-position: 0 -16px;
}

div.rateit_12 div.rateit-reset:hover {
    background-position: 0 -12px;
}

