body  { height:100%;
	font: 100% Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#333;
	background: #ffffff;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: left; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000; 
}

input.btnhov {  border-color: #c63 #930 #930 #c63;}

.formHeight { height:23px; font-size:13px;border-bottom: #afc4dd 1px solid; border-left: #afc4dd 1px solid; padding-bottom: 0px; background-color: #f2f6fa; padding-left: 0px;padding-right: 0px; color: #1c75c7; border-top: #afc4dd 1px solid; border-right: #afc4dd 1px solid; padding-top: 0px;}

.formHeightZip { height:18px; font-size:13px;}

.uploadbtn { padding-top:7px;}

a {
	font-size: 12px;
	color: #F60;
	font-family: Arial, Helvetica, sans-serif;

}
a:visited {
	color: #F60;
}
a:hover {
	color: #666;
}
a:active {
	color: #666;
}
div.rollover:hover {background-color:#e6ebf1;display:block; height:112px;}

table.rev-tbl tr:hover {background-color:#d5e3fc;}

.advertise { float:right; padding-top:13px;} 

.linkedIn { width:455px; float:left; padding-top:10px;}
.clheader {width:100%}

.pageFound { float:left; padding-top:10px; width:500px; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#F60; } 

.addNew { float:right; width:200px; padding-top:7px;}

.searchIn { float:left; width:228px; height:34px; margin-left:2px; background-image:url(../images/Refine-your-search-by.png); background-repeat:no-repeat; margin-top:4px;}

.createAccount { float:left; width:190px; height:34px; margin-left:5px; background-image:url(../images/Create_Account.png); background-repeat:no-repeat; margin-top:4px;}

.button {cursor:pointer; height:25px;
 color: #1c75c7;
  border: 1px solid #75b9ff;
  font-weight: bold; padding-bottom:3px;
    background: url('/images/btn_on.jpg');
}
.button:hover {cursor:pointer; height:25px;
 color: #fff;
  border: 1px solid #75b9ff;
  font-weight: bold; padding-bottom:3px;
    background: url('/images/btn_hover.jpg');
}

.buttono {background: url('/images/btn_hover.jpg'); color: #fff;border: 1px solid #75b9ff;font-weight: bold; padding-bottom:3px;height:25px;}
.buttono:hover {background: url('/images/btn_on.jpg');color: #1c75c7; border: 1px solid #75b9ff;font-weight: bold; padding-bottom:3px;}

.buttonHome {cursor:pointer; height:24px;
 color: #1c75c7;
  border: 1px solid #75b9ff;
  font-weight: bold; padding-bottom:3px; margin-top:1px;
    background: url('/images/btn_on.jpg');
}


.buttonHome:hover {cursor:pointer; height:24px;
 color: #fff;
  border: 1px solid #75b9ff;
  font-weight: bold; padding-bottom:3px; margin-top:1px;
    background: url('/images/btn_hover.jpg');
}

.browse { padding-top:10px;}

.myaccount { float:left; width:190px; height:34px; margin-left:5px; background-image:url(../images/myaccount.png); background-repeat:no-repeat; margin-top:4px;}

.signin{ float:left; width:320px; height:34px; margin-left:5px; background-image:url(../images/signin.png); background-repeat:no-repeat; margin-top:4px;}

.topLinkleft { float:left; width:250px; }

.newuserLink { float:left; padding-left:58px; color: #F60;}

div.newuserLink:hover { color:#206AB6; text-decoration:underline;}

div.newuserLink a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #F60;
}



.headingProfile { font-family:Arial, Helvetica, sans-serif; font-size:18px;  border-bottom:#6f98cd solid; border-bottom-width:thin; padding-bottom:2px;}

.headingMyaccount { font-family:Arial, Helvetica, sans-serif; font-size:18px;  border-bottom: #999 solid; border-bottom-width:thin; padding-bottom:2px;}

.accountHeader { font-family: Arial, Helvetica, sans-serif; font-size:18px; color:#000; font-weight:bold; padding-top:3px;}

.signupTitle { font-family:Arial, Helvetica, sans-serif; font-size:20px;/* color:#FFF; */font-weight:bold; padding-left:44px; padding-top:40px;}

.signupFont { font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#333;}
.topHeader a:link { font-family:Arial, Helvetica, sans-serif; font-weight:normal;
	color: #206AB6;
}
.topHeader a:visited {
	color: #206AB6;
}
.topHeader a:hover {
	color: #FF6600;
}
.topHeader a:active {
	color: #206AB6;
}

.titleSignup { float:left; padding-top:9px; padding-left:5px; font-size:18px; font-weight:bold;} 

.numbers { font-family: Verdana, Geneva, sans-serif; color:#666; margin-left:2px; font-size:10px;} 

.createAccountTitles { padding-top: 2px; font-size:13px;  }

.reqired { color:#F60;}

.contentHeader a:link { font-family: Verdana, Geneva, sans-serif; font-weight:bold; font-size:13px;
	color: #FF6600;
}
.contentHeader a:visited {
 font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:13px;
	color: #FF6600;
}
.contentHeader a:hover {
	 font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:13px;
	color: #FF6600;
}
.contentHeader a:active {
 font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:13px;
	color: #FF6600;
}

.terms { padding-left:10px; padding-right:10px;}

.topHeader { padding-left:7px; padding-top:10px; padding-right:7px; padding-bottom:3px;  border-bottom:#6f98cd solid; border-bottom-width:thin; height:17px; }

.bottHeaderWhite {margin-left:4px; padding-left:0px; padding-top:0px; padding-right: 10px; padding-bottom:0px; background-color:#ffffff; height:42px; font-family:Arial, Helvetica, sans-serif; font-size:17px; color: #F60; clear:both;  }

.bottHeaderFooter { margin-top:25px; margin-left:0px; padding-left:10px; padding-top:10px; padding-right: 220px; padding-bottom:4px; background-color:#e6ebf1; height:30px; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#333;  border-top:#6f98cd solid; border-top-width:thin; text-align:right; margin-bottom:15px;}

.search { background-color:#fbf0d6; padding-left:30px; padding-right:30px; padding-top:7px; padding-bottom:7px; float:right; width:700px; height:60px;  }

.Search_for { float:left; width:330px;}
.strong { font-family:Arial, Helvetica, sans-serif; color:#C00; font-size:16px;}

.searchForlinks { width:580px; clear:both; padding:5px; }

.searchForlinks2 a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
	font-weight: bold;
}
.searchForlinks2 a:link {
	text-decoration: none;
	color: #C00;
}
.searchForlinks2 a:visited {
	text-decoration: none;
	color: #C00;
}
.searchForlinks2 a:hover {
	text-decoration: underline;
	color: #C00;
}
.searchForlinks2 a:active {
	text-decoration: none;
	color: #000;
}


.reviewLinks a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	font-weight: bold;
}
.reviewLinks a:link {
	color: #333;
	text-decoration: none;
}
.reviewLinks a:visited {
	color: #333;
	text-decoration: none;
}
.reviewLinks a:hover {
	color: #666;
	text-decoration: underline;
}
.reviewLinks a:active {
	color: #666;
	text-decoration: none;
}

.contentAddr { font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;}

.contentHeader { padding-bottom:1px;  font-family: Verdana, Geneva, sans-serif; font-weight:bold; font-size:12px;
	color: #FF6600; clear:left;}
	
.contentHeaderStates { padding-bottom:8px; padding-top:2px;  font-family: Verdana, Geneva, sans-serif; font-weight:bold; font-size:12px;
	color: #FF6600; }


.leftSideLinks a {clear:left;float:left;}

#contentHeaderLocation { padding-bottom:7px;}


.spcace{ padding-top:7px;}
.spcaceAdwords{ padding-top:7px;}

.logo { float:left; padding-top:7px; width:240px; }

.video { background-image:url(../images/video4.png); background-repeat:no-repeat; float:right; width:20px; height:25px; padding-right: 2px;}


.leftSideLinks a {
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}
a:link {
	text-decoration: none;
	color: #206AB6;
}
a:visited {
	text-decoration: none;
	color: #206AB6;
}
a:hover {
	text-decoration: underline;
	color: #F60;
}
a:active {
	text-decoration: none;
	color: #F60;
}


.bottomLogolinksleft { float:left; width:190px; padding-top:0px;}
.bottomLogolinksright { float:right; width:480px;  padding-top:2px;}

#bottomLogolinksright { float:left; display:block; font-weight:bold; color:#000; padding-left:0px; }

#bottomLogolinksrightFooter { float:right; display:block; font-weight:bold; color:#000; padding:5px; }







.bottomLogolinksright a { display:block; float:right; padding-left:10px; padding-bottom:10px; padding-right:10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
	font-weight: bold;
}
.bottomLogolinksright a:link {
	text-decoration: none;
	color: #999;
}
.bottomLogolinksright a:visited {
	text-decoration: none;
	color: #999;
}
.bottomLogolinksright a:hover { background-image:url(../images/arrow-on.gif); background-repeat:no-repeat; background-position: bottom;
	text-decoration: underline;
	color: #F60;
}
.bottomLogolinksright a:active {
	text-decoration: none;
	color: #F60;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	font-family: 'Trebuchet MS',Arial,Geneva,Helvetica,sans-serif;
	line-height: 1.3em;
}

body #header {  border-bottom:#6f98cd solid; border-bottom-width:thin; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666;
margin-left:0px;

	height: 55px; /* if you're changing the source order of the columns, you'll may want to use a height on the header so that you can give the columns a predictable top value */
	/*background: #fff; */
	padding: 0px 0px 0px 0px;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
} 
body #header h1 {
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 10px 0; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
}
body #sidebar1 { height:410px;
	margin-top:5px; 

	top: 75px;
	left: 0;
	width: 200px; /* the actual width of this div, in standards-compliant browsers, or standards mode in Internet Explorer will include the padding and border in addition to the width */
	/*background: #EBEBEB; *//* the background color will be displayed for the length of the content in the column, but no further */
	padding: 0px 10px 15px 0px; /* padding keeps the content of the div away from the edges */
}

#searchmp .pages {
color:#206AB6;
padding-left:8px;
text-align:left;
}

#searchmp ul.pages {
display:inline;
float:right;
margin:2px 0 0;
overflow:hidden;
}

.side1searchbox {  border-top:#ccc solid; border-top-width:thin; border-right:#ccc solid; border-right-width:thin; width:219px; background-color:#E6EBF1; 
text-align:center; color:#1e6cb7; font-weight:bold; font-family:Arial, Helvetica, sans-serif; font-size:12px; height:20px; padding-top:10px; }
.side1searchboxDesc { border-right:#ccc solid; border-right-width:thin; width:219px; background-color:#fefaed; text-align:left; height:auto; 
margin-bottom:5px;font-size:11px;}

.pagelist { background-color:#E6EBF1; margin-bottom:5px; margin-left:5px; height:20px; padding-top:8px; padding-right:5px; padding-bottom:5px; }
.clpagelist { background-color:#E6EBF1; margin-bottom:5px; height:20px; padding-top:5px; padding-right:5px; padding-bottom:5px; display:inline-table; 
width:100%}

body #sidebar2 {border-left:#6f98cd 1px solid;
margin-top: 0px; float:right; 
 
	text-align:left;
	top: 75px;
	right: 0;
	width: 190px; /* the actual width of this div, in standards-compliant browsers, or standards mode in Internet Explorer will include the padding and border in addition to the width */
	/*background: #fff;*/ /* the background color will be displayed for the length of the content in the column, but no further */
	padding: 5px 10px 15px 10px; /* padding keeps the content of the div away from the edges */
}
body #mainContent { margin-left:0px; margin-right:0px; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333; height:100%;
	  /* the right and left margins on this div element creates the two outer columns on the sides of the page. No matter how much content the sidebar divs contain, the column space will remain. */
	padding: 0 0px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
}

#mainContent span.error {padding:50px 20px 0 20px;color:#000000;display:block;}



.ContentlinksTitle {
font-family:Arial,'Trebuchet MS',Helvetica,sans-serif;
font-size:10px;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:10px;
text-align:left;
padding-bottom:5px; padding-top:5px; 
 }

.ContentlinksTitle a {font-size:14px;color:#206AB6;text-decoration:underline;}

.ContentlinksTitlealmost {
color:#206AB6;
font-family:Arial,'Trebuchet MS',Helvetica,sans-serif;
font-size:24px;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:14px;
text-align:center;
text-decoration:none;
padding-bottom:20px; padding-top:20px; padding-left:10px; 
 }

div.ContentlinksTitle span a {color:#000000;font-size:11px;font-style:italic;}


/*.adwordgreen { color:#439203;}*/

div.img { height:98px; width:131px; padding:7px; float:left;display:inline-block;}
.mainContentMore { float:left; padding:5px; width:330px;}

.col_L { font-family:Arial, Helvetica, sans-serif; font-size:11px; padding-left:7px; color:#333;}

div.line {  border-bottom:#6f98cd solid; border-bottom-width:thin; clear:both;}
/*div.lineDottop {  border-bottom:#6f98cd dotted; border-bottom-width:thin; clear:both; margin-bottom:5px;}*/
div.lineDot {  border-bottom:#6f98cd dotted; border-bottom-width:thin; clear:both; margin-top:5px; margin-bottom:5px;}
td.lineDotleft {  border-left:#6f98cd dotted; border-left-width:thin; clear:both; margin-top:3px; margin-bottom:3px;}

div.linew {  border-bottom:#ffffff solid; border-bottom-width: thick; clear:both; padding-top:5px;}
div.linewt {  border-top:#ffffff solid; border-top-width: thick; clear:both; padding-bottom:5px;}

body #footer { text-align:center; padding:10px; height:20px; border-top:#6f98cd solid; border-top-width:thin; /* this padding matches the left alignment of the elements in the divs that appear above it. */
	background:#ffffff; position:absolute; width:99%; 

} 


/*.bottFooter { text-align:center; padding:10px;   border-top:#6f98cd solid; border-top-width:thin; height:13px;}*/

#topHeader a:link {
	color: #206AB6;
}
#topHeader a:visited {
	color: #206AB6;
}
#topHeader a:hover {
	color: #FF6600;
}
#topHeader a:active {
	color: #FF6600;
}

.webHeader a:link {
	color: #FF6600;
}

ul {
	list-style-type: none;
}

input.searchinput {
border: 1px solid rgb(175, 196, 221); padding: 0px; background-color: rgb(242, 246, 250); color: #000000; font-weight:bold; height:23px;font-size:14px;
}

div.side1searchboxDesc .text {border:1px solid #7F9DB9;padding:2px;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;line-height:18px;color:#333333;}
div.side1searchboxDesc .phone {font-size:11px;width:30px;}

.side1searchboxDesc table.tbl_L {padding-top:5px;padding-left:2px;}
.side1searchboxDesc .tbl_L td {padding-bottom:4px;}
.side1searchboxDesc select.text {font-size:11px;}

.mapinfo {font-size:14px;padding-bottom:10px;}
.mapinfo a {font-size:14px;font-weight:bold;}


#cl { display:block;background:none repeat scroll 0 0 #EBF4FB;border:2px solid #B7DDF2; width:986px; padding:5px;}
#cl h1  { font-size:14px; font-weight:bold;margin-bottom:8px;}
#cl p { border-bottom:1px solid #B7DDF2; color:#666666;font-size:11px;margin-bottom:20px;padding-bottom:10px;}
#cl .small {color:#666666;display:block;font-size:11px;font-weight:normal;text-align:right;width:240px;}
#cl .smallr {color:#666666;display:block;font-size:11px;font-weight:normal;text-align:left; margin:0 0 10px 10px;}
#cl .second {font-weight:bold;}
#cl td.submit {padding:20px;text-align:center;}
#cl .error {text-align:center;padding:10px;}

table.b td.first {width:240px;text-align:right;font-weight:bold;vertical-align:top;line-height:36px}
table.b td.second {vertical-align:top;min-height:25px;}
table.b td span.required {color:#FF0000;font-weight:bold}
table.b td div.stitle {font-size:16px;font-weight:bold;padding: 10px 0 0 3px;}

table.b td.second input, table.b td.second select, table.b td.second textarea {
border:1px solid #AACFE4;
font-size:14px;
margin:2px 0 5px 10px;
padding:4px 2px;
}

#classified-post div.images {display:block;float:right;width:150px; border-left:1px solid #c0c0c0; text-align:center;}
#classified-post div.images span {display:block;padding-bottom:15px;}
#classified-post div.images img {border:1px solid #000000;}
#classified-post div.images a {text-decoration:none}
#classified-post div.body {width:830px;float:left;overflow:hidden;}
#classified-post div.body p.phone {padding-top:15px;font-size:14px;}
#classified-post div.body p.ter {padding-top:5px;}
#classified-post div.body p.reply {font-weight:bold}
#classified-post div.body p a {font-size:14px; text-decoration:underline;color:#0000FF;font-weight:normal}

div.classifiedcat ul {float:left}

div.classifiedcat ul li {width:250px;padding-bottom:10px; list-style-type:square;line-height:200%}
div.classifiedcat ul li a {font-size:14px;}

div.classifiedloc ul li {float:left;width:250px;padding-bottom:10px; list-style-type:square;line-height:200%}
div.classifiedloc ul li a {font-size:14px;}

.postInfo span{color:#c0c0c0;}
a.editlink {border: 1px dotted black; padding: 2px; display: inline; background-color: rgb(39, 104, 30); color: rgb(231, 236, 95); font-weight: bold; font-size: 
10px;text-decoration: none;}
a.paylink {border: 1px dotted black; padding: 2px; display: inline; background-color: #FF0000; color: rgb(231, 236, 95); font-weight: bold; font-size:
10px;text-decoration: none;}

ul.states {float:left;margin-left:0;margin-right:0;margin-top:10px;}
.state div {border-bottom:thin solid #6F98CD;color:#555555;font-family:arial,'Lucida Grande','Bitstream Vera Sans',verdana,sans-serif;font-size:16px;font-weight:700;text-align:left;margin-bottom:10px}
ul.cities li {color:#555555;font-family:verdana;font-size:12px;line-height:20px;margin:0;padding:0;text-align:left;}
ul.states, ul.cities, #extracity li {list-style-type:none;margin:0;padding:0;}
ul.cities li, ul.states li {margin:0 10px 0 0;padding:0 1px 3px 0;width:235px;color:#000000;font-size:11px;}
ul.cities li span, #extracity li span {font-size:10px; color:#6F6F6F;}
ul.cities li input {margin:0 !important;}

.linkL {
	font-weight: normal;
	font-family: Arial,Geneva,Helvetica,sans-serif,'Trebuchet MS';
	font-size: 13px;
	color: #333333;
	line-height: 1.3em;
	width: 240px;
	padding: 4px 0 4px 10px;
}
.linkL .img {
	float: left;
	display: inline;
	padding: 2px 6px 0 0;
}
.linkL td {
	margin: 0;
	padding: 4px 0 4px 0;
	text-align: left;
}
.linkL th {
	margin: 0;
	padding: 4px 0 2px 0;
	text-align: left;
	height: 30px;
}
.linkL a {
	color: #ff4d00;
	font-size: 12px;
	padding: 2px;
	text-decoration: underline;
}
.linkL a:link {
	color: #FF4D00;
	padding: 2px;
	text-decoration: underline;
}
.linkL a:hover {
	color: #003399;
	padding: 2px;
	text-decoration: underline;
}


.tbl_L ul {padding:0}
.tbl_L ul li {height: 33px; line-height:33px;padding-left:10px;}
.tbl_L ul li:hover {background-color:#FFCD7F}
.tbl_L ul li a {white-space:nowrap;}

div.clsponsor {
background-color:#FAFAD2;
border:1px solid #E9E93A;
color:#000000;
font:9pt arial;
margin-bottom:10px;
padding:0;
position:relative;
text-align:left;
width:198px;
}
div.clsponsor span {display:block;overflow:hidden;}
div.clsponsor span a {color:#0000FF;font-size:14px}
div.clsponsor span.clsponsori {display:block;padding-left:4px}
div.clsponsor span.clsponsori img {margin-left:3px;border:1px solid #0000FF;}

#ad_preview_displayurl {font-size:14px;color:#008000;}
