@charset "utf-8";
/* CSS Document */

#stats .title {
	font-weight: bold;
	color: #ff740e;
	border-bottom: solid 1px #CCCCCC;
	margin-left: 0px;
	font-size: 14px;
	font-family: Verdana, Geneva, sans-serif;
}

#ad {
	width: 780px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	float: left;
}
#ppc {
	float: left;
	border-left: solid 1px #CCCCCC;
	padding: 10px; 
	width: 175px;
}
#ad #stats a {
	color: #000000;
	text-decoration: underline;
	font-family: Verdana, Geneva, sans-serif;
}
#stats {
	font-size: 12px;
	width: 600px;
}
#stats div {
	margin-bottom: 8px;
	margin-left: 120px;
}
label {
	width: 120px;
	float: left;
	font-weight: bold;
	margin-left: -120px;
}
#stats #cc img {
	margin-right: 10px;
}
.summary {
	margin-left: 0px;
	margin-top: 10px;
}
.name {
	font-size: 20px;
	color: #ff740e;
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
	margin: 0px;
	clear: both;
}
.name a {
	font-size: 20px;
	color: #ff740e;
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
}
.tagline {
	font-style: italic;
		margin-bottom: 20px;
}
.posteddate {
	color: #999999;
	font-size: 10px;
	text-transform: uppercase;
}
#BioID  {
	font-weight: normal;
	color: #000000;
	padding: 20px;
	border: solid 1px #ff740e;
	margin: 20px 30px 30px 0px !important;
	border-radius: 20px;
	width: 700px;
}
#BioID .title {
	border: 0px;
		font-weight: bold;
	color: #ff740e;
	margin-left: 0px;
	font-size: 14px;
	margin-bottom: 10px;

}
.linkbutton {
	margin-bottom: 20px;
}
.linkbutton a {
	font-size: 9px;
	color: #333333;
	border: solid 1px orange;
	border-radius: 3px;
	background: #FFFFFF;
	margin-right: 5px;
	padding: 4px 8px;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	float: left;
}
.linkbutton a:hover {
	color: #FFFFFF;
	background: #666666;
	border: solid 1px #000000;;
}
.place_fb {
	float: none;
}
.place_fb iframe {
    top: 1px;
}

#foto a {
  background: none repeat scroll 0 0 #FF740E !important;
  border: 0 none;
  border-radius: 6px 6px 6px 6px;
  color: #FFFFFF;
  float: right;
  font-weight: bold;
  padding: 1px 6px;
  text-transform: uppercase;
  margin-right: 10px;
}
.photo {
    margin-top:-86px;
}
#gallery {
	margin-top: 86px;
}
#gallery img {margin-top: 20px;border: solid 1px #000000;max-width:700px;}
.precontent {
    border: solid 1px #CCCCCC;
    border-radius: 20px 20px 20px 20px;
    margin: 20px 0;
    padding: 10px;
}
	
#anchorTop a {
  background: url("/images/sprite-core.png") no-repeat scroll 0 -315px #1B6CAA;
  color: #FFFFFF;
  float: right;
  font-size: 10px;
  padding: 2px 4px 2px 14px;
  text-transform: uppercase;
  border-radius: 4px;
}
ul.marquee {
	width: 980px;
}

.bpbutton {
    font-size: 12px;
    color: #333333;
    border: solid 1px #afbed8;
    border-radius: 3px;
    background: #506fa3;
    margin-right: 5px;
    padding: 2px 8px;
    color: white;
    font-weight: bold;
    float: left;
}

.paidbutton {
    font-size: 12px;
    color: #333333;
    border: solid 1px coral;
    border-radius: 3px;
    background: coral;
    margin-right: 5px;
    padding: 2px 8px;
    color: black;
    font-weight: bold;
    float: left;
}

