#carousel {
	width:130px;
	margin-left: 20px;
	overflow:hidden;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9px;
	color: #000;
	float: right;
}
#slides {
	overflow:hidden;/* fix ie overflow issue */
	position:relative;
	width:130px;
}
#slides ul {
	position:relative;
	left:0;
	top:0;
	list-style:none;
	margin:0;
	padding:0;
	width:750px;
}
#slides li {
	float:left;
}
#slides li img {
	padding:4px;
	width: 120px;
	max-height: 165px;
	border:1px solid #000;
}
#buttons {
	padding:0 0 5px 0;
	float:right;
}
#buttons a {
	display:block;
	width:26px;
	height:33px;
	text-indent:-999em;
	float:left;
	outline:0;
	background:url(/images/sliderArrows.png)no-repeat 0px 0px;
}
a#prev {
	background-position: left top;
}
a#prev:hover {
	background-position: left bottom;
}
a#next {
	background-position: right top;
}
a#next:hover {
	background-position: right bottom;
}
.clear {
	clear:both
}
.review .reviewcore {
	float: none;
	width: auto;
	padding-right: 20px;
}
