div#content {
	width: 95%; !important
}
table {
  font-size: 10.5px;
  border-collapse: collapse;
}
table td a {
  font-size: 10.5px;
}
td {
  border: 1px solid #ddd;
  padding: 2px;
}
table.unidir_explorer thead tr th {
	background-color: #E6EEEE;
	border: 1px solid #aaa;
	padding: 2px;
	font-weight: bold;
}
table.unidir_explorer thead tr th a {
	font-weight: bold;
}
table.unidir_explorer tbody tr:nth-child(odd) td {
	background-color: #F0F0F6;
}

#unidir_filters .filter_set {
	border: 1px solid #FF8E8E;
	padding: 1px;
}
#unidir_filters .filter_set:hover {
	background-color: #CC98A5;
}

table.unidir_explorer a.sort {
	background-image: url('/images/sort.png');
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 10px;
}
table.unidir_explorer a.sort-desc {
	background-image: url('/images/sort_desc.png');
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 10px;
}
table.unidir_explorer a.sort-asc {
	background-image: url('/images/sort_asc.png');
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 10px;
}
