/* production urls are (//img.adultsearch.com/images/header/___.png */

body {
	background: url(/images/header/logo2_bg.png?1) repeat-x 0 0;
	margin: 0px;
}
body.homepage {
	background: url(/images/header/logo2_bg.png?1) repeat-x #f9f9f9 !important;
}

.pagelist a img {
	margin-top: 8px;
}
#logoModule {
	background: url(/images/header/logo2_bg.png?1) repeat-x;
	margin: 0px;
	top: 0px;
	left: 0px;
	width: 100%;
	display: block;
}
#logoModule #header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 1000px;
	background: url(/images/logo2.png?2) no-repeat;
	height: 86px;
	top: -1px;
	border: 0;
	top:0;
	margin: 0 auto;
	height: 86px;
	z-index: 200;

}
#logoModule #header a {
	text-decoration: none;
	color: #FFF;
}
#logoModule #header a#current {
	min-height: 30px;
}
#logoModule #topnav > ul {
	margin-top: 5px;
}
#logoModule #topnav .left {
	float: left;
}
#logoModule #topnav {
	float: right;
	text-align: right;
	background: none;
	margin: 0px 0px 0px 100px;
	width: 910px;
	font-size: 12px;
	height: 27px;

}
#logoModule #topnav a {
	color: #d9e0e5;
	border-right: solid 1px #000;
	padding: 6px 8px 8px 8px;

}
#logoModule #topnav a:hover {
	background: #000;
	text-decoration: none;
	color: #5eabe5;
}
#logoModule .leftborder {
	border-left: solid 1px #000 !important;
}
#logoModule .stretch {
	text-transform: uppercase;
	color: #FFF;
	font-size: 11px;
}

#logoModule #topnav a.navbar_signup {
	color: white;
	background-color: #0b8000;
	background-image: linear-gradient(#12d200, #0b8000);
}
#logoModule #topnav a.navbar_signup:hover {
	color: white;
	background-color: #086300;
	background-image: linear-gradient(#0b8000, #086300);
}
form {
	margin: 0px; /* need for IE7 and below */
}

#logoModule #headCat {
	float: right;
	text-align: left;
	margin: 17px 0px 2px 2px;
	letter-spacing: 1px;
	*margin: 0px 0px 2px 2px;  /* IE7 and below */
	*width: 220px;  /* IE7 and below */
}
#logoModule #headCat select {
	color: #000;
	font-size: 11px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 2px;
	margin-right: 5px;
	letter-spacing: 0px;
	width: 165px;
}
#logoModule input {
	float: right;
}

#logoModule .breadcrumbs {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
text-align: left;
width: 800px;
position: absolute;
margin: 90px 0px 0px 5px;
}

/* location switcher */
#logoHome a {
	width: 270px;
}
#logoModule #change {
    background: none repeat scroll 0 0 #FF740E;
    border-radius: 6px 6px 6px 6px;
    display: block;
    float: right;
    margin-left: 20px;
    margin-top: -5px;
    padding: 6px 6px 3px 6px;
    width: 220px;
/*
	display: none;
*/
}
#logoModule .changeBlock {
    width: 220px;
	letter-spacing: 1px;
	float: right;
	margin: 10px 7px 2px 10px;
	text-align: left;
	font-size: 11px;
}
#logoModule #change input {
	margin: 2px 4px 2px 0px;
}
#logoModule #change .locationHead {
	width: 180px;
	padding: 2px;
	font-size: 13.5px;
}
#logoModule #change a {
    color: #FFF;
    margin-left: 4px;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0;
	cursor: pointer;
}
#logoModule #change .close {
	float: right;
	margin-right: 5px;
}
#logoModule #current  {
	background: url(/images/location.png) no-repeat 0 0;
	padding-left: 24px;
	font-size: 20px;
	letter-spacing: 0px;
	color: #FFF;
	float: right;
	margin: 20px 20px 2px 2px; cursor: pointer;
}
#logoModule #current .small {
	clear: both;
	margin-right: 0px;
    color: #FFF;
    font-size: 11px;
    font-weight: bold;
}
#logoModule #current a:hover {
	cursor: pointer;
}
#share {
	margin: 0px 4px 0px 0px;
	float: right; 
}

#logoModule .breadcrumbs a:hover {
	font-weight: bold;
}
.ui-menu-item a {
	font-size: 14px;
	color: #000;
}
.ui-menu-item a:hover {
	cursor: pointer;
}
.ui-corner-all {
	padding: 2px 5px;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header 
.ui-state-focus{
	border: 0px;
	background: #E9E9E9;
	font-weight: normal;
	color: #026890;
}
.ui-menu {
	width: 250px !important;
}

/* footer */
#footerx {
	background: #186299;
	border-top: solid 2px #ff740e;
	height: 208px;
	clear: both;
	display: block;
	width: 100%;
	bottom:0;
}
.nobanner {
	height: 130px !important;
}

#footer_content {
	margin: 0 auto;
	font-size: 10px !important;
	font-weight: bold;
	text-transform: uppercase;
	clear: both;
	color: #5eabe5;
	text-align: center;
	padding-top: 13px;
}
#footer_content a {
	color: #FFF;
	margin: 0px 5px;
	font-size: 10px !important;
	font-weight: bold;
	text-transform: uppercase;

}
#footer_content a:hover {
	color: #5eabe5;
}

#footer_city_links {
    margin: 0 auto;
    clear: both;
    color: #5eabe5;
    text-align: center;
    padding-top: 13px;
    width: 960px;
}
#footer_city_links a {
    color: #FFF;
    margin: 0px 5px;
    font-size: 12px !important;
    font-weight: bold;
	white-space: nowrap;
}
#footer_city_links a:hover {
	color: #5eabe5;
	text-decoration: underline;
}

.foot_fb a, .foot_gp a {
	width: 22px;
	height: 22px;
	border: 0px;
	margin-top: -3px !important;
	float: left;
	display: block;
}
.foot_fb , .foot_gp  {
	width: 22px;
	height: 22px;
}

.foot_fb a{
	background: url(/images/sprite-core.png) no-repeat 0px -435px;
}
.foot_gp a {
	background: url(/images/sprite-core.png) no-repeat 0px -467px;
}
.head_tw {
    background: url("/images/icons/iTwitter.png") no-repeat scroll -2px -1px #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    color: #999999 !important;
    display: block;
    float: left;
    margin-right: 5px;
    padding: 1px 5px 0 0;
}
.head_tw a{
    color: #999999 !important;
        padding-left: 18px;
}
.head_wiki {
    background: url("/images/icons/iWiki.png") no-repeat scroll 2px 2px #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    display: block;
    float: left;
    margin-right: 5px;
}
.head_wiki a {
width: 16px;
        height: 15px;
        display: block;
}
.foot_fb a:hover, .foot_gp a:hover {
filter: alpha(opacity=70);
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
-moz-opacity: 0.70;
opacity:0.7;
}
.leaderboard {
	width: 728px;
	height: 90px;
	text-align: center;
	margin: 0 auto;
	clear: both;
	padding: 20px;
}

.navlogin { color: #FFF;}
.navlogin ul {float: right;padding-left: 0px;}
.navlogin .leftborder { margin-left: 10px; }
.navlogin ul ul {width:160px;display: block;visibility:hidden;position:absolute;top: 25px; margin-left:10px; z-index: 19;}
.navlogin ul li {float: left; list-style: none;}
.navlogin ul ul a.drop, .navlogin ul ul a.drop:visited {background:#000;}
.navlogin ul ul a.drop:hover {background:#000;}
.navlogin ul ul :hover > a.drop {background:#000;}
.navlogin ul ul a, .navlogin ul ul a:visited {background:#000;height:auto;width:140px;float: right;z-index: 20;text-align: left;}
.navlogin a:hover, .navlogin ul ul a:hover {color:#FFF;background:#000;}
.navlogin :hover > a, .navlogin ul ul :hover > a {color:#FFF;background:#fc000d6a7;}
.navlogin ul li:hover ul, .navlogin ul a:hover ul {visibility:visible;}
#logoHome a {border: 0px;float: left;height: 60px;}
#content {padding-top: 2px !important; width:1000px;margin: 0 auto;}
#rssico {float: left; margin: -30px 0px 15px 0px; }
#content .breadcrumbs {
    font-size: 11px !important;
    margin-bottom: 10px;
    text-align: left;
	font-family: Arial, Helvetica, sans-serif; 
}
#content .breadcrumbs a {
	color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 11px !important;}

/*
 * Examples and documentation at: http://fancybox.net
 * Version: 1.3.1 (05/03/2010)
 */
#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	height: 40px;
	width: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}

* html #fancybox-loading {	/* IE6 */
	position: absolute;
	margin-top: 0;
}

#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url('/js/tools/fancybox/fancybox.png');
}

#fancybox-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #000;
	z-index: 1100;
	display: none;
}

* html #fancybox-overlay {	/* IE6 */
	position: absolute;
	width: 100%;
}

#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 20px;
	z-index: 1101;
	display: none;
}

#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #FFF;
}

#fancybox-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: 0;
	outline: none;
	overflow: hidden;
}

#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
}

#fancybox-close {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background-image: url('/js/tools/fancybox/fancybox.png');
	background-position: -40px 0px;
	cursor: pointer;
	z-index: 1103;
	display: none;
}

#fancybox_error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 7px;
	margin: 0;
}

#fancybox-content {
	height: auto;
	width: auto;
	padding: 0;
	margin: 0;
}

#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
	-ms-interpolation-mode: bicubic;
}

#fancybox-frame {
	position: relative;
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

#fancybox-title {
	position: absolute;
	bottom: 0;
	left: 0;
	font-family: Arial;
	font-size: 12px;
	z-index: 1102;
}

.fancybox-title-inside {
	padding: 10px 0;
	text-align: center;
	color: #333;
}

.fancybox-title-outside {
	padding-top: 5px;
	color: #FFF;
	text-align: center;
	font-weight: bold;
}

.fancybox-title-over {
	color: #FFF;
	text-align: left;
}

#fancybox-title-over {
	padding: 10px;
	background-image: url('/js/tools/fancybox/fancy_title_over.png');
	display: block;
}

#fancybox-title-wrap {
	display: inline-block;
}

#fancybox-title-wrap span {
	height: 32px;
	float: left;
}

#fancybox-title-left {
	padding-left: 15px;
	background-image: url('/js/tools/fancybox/fancybox.png');
	background-position: -40px -90px;
	background-repeat: no-repeat;
}

#fancybox-title-main {
	font-weight: bold;
	line-height: 29px;
	background-image: url('/js/tools/fancybox/fancybox-x.png');
	background-position: 0px -40px;
	color: #FFF;
}

#fancybox-title-right {
	padding-left: 15px;
	background-image: url('/js/tools/fancybox/fancybox.png');
	background-position: -55px -90px;
	background-repeat: no-repeat;
}

#fancybox-left, #fancybox-right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	background-image: url('blank.gif');
	z-index: 1102;
	display: none;
}

#fancybox-left {
	left: 0px;
}

#fancybox-right {
	right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block;
}

#fancybox-left-ico {
	background-image: url('/js/tools/fancybox/fancybox.png');
	background-position: -40px -30px;
}

#fancybox-right-ico {
	background-image: url('/js/tools/fancybox/fancybox.png');
	background-position: -40px -60px;
}

#fancybox-left:hover, #fancybox-right:hover {
	visibility: visible;    /* IE6 */
}

#fancybox-left:hover span {
	left: 20px;
}

#fancybox-right:hover span {
	left: auto;
	right: 20px;
}

.fancy-bg {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1001;
}

#fancy-bg-n {
	top: -20px;
	left: 0;
	width: 100%;
	background-image: url('/js/tools/fancybox/fancybox-x.png');
}

#fancy-bg-ne {
	top: -20px;
	right: -20px;
	background-image: url('/js/tools/fancybox/fancybox.png');
	background-position: -40px -162px;
}

#fancy-bg-e {
	top: 0;
	right: -20px;
	height: 100%;
	background-image: url('/js/tools/fancybox/fancybox-y.png');
	background-position: -20px 0px;
}

#fancy-bg-se {
	bottom: -20px;
	right: -20px;
	background-image: url('/js/tools/fancybox/fancybox.png');
	background-position: -40px -182px; 
}

#fancy-bg-s {
	bottom: -20px;
	left: 0;
	width: 100%;
	background-image: url('/js/tools/fancybox/fancybox-x.png');
	background-position: 0px -20px;
}

#fancy-bg-sw {
	bottom: -20px;
	left: -20px;
	background-image: url('/js/tools/fancybox/fancybox.png');
	background-position: -40px -142px;
}

#fancy-bg-w {
	top: 0;
	left: -20px;
	height: 100%;
	background-image: url('/js/tools/fancybox/fancybox-y.png');
}

#fancy-bg-nw {
	top: -20px;
	left: -20px;
	background-image: url('/js/tools/fancybox/fancybox.png');
	background-position: -40px -122px;
}

/* IE */

#fancybox-loading.fancybox-ie div	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/js/tools/fancybox/fancy_loading.png', 
sizingMethod='scale'); }
.fancybox-ie #fancybox-close		{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/js/tools/fancybox/fancy_close.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-title-over	{ background: transparent; filter: 
progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/js/tools/fancybox/fancy_title_over.png', sizingMethod='scale'); zoom: 1; }
.fancybox-ie #fancybox-title-left	{ background: transparent; filter: 
progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/js/tools/fancybox/fancy_title_left.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-title-main	{ background: transparent; filter: 
progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/js/tools/fancybox/fancy_title_main.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-title-right	{ background: transparent; filter: 
progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/js/tools/fancybox/fancy_title_right.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-left-ico		{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/js/tools/fancybox/fancy_nav_left.png', 
sizingMethod='scale'); }
.fancybox-ie #fancybox-right-ico	{ background: transparent; filter: 
progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/js/tools/fancybox/fancy_nav_right.png', sizingMethod='scale'); }

.fancybox-ie .fancy-bg { background: transparent !important; }

.fancybox-ie #fancy-bg-n	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/js/tools/fancybox/fancy_shadow_n.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-ne	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/js/tools/fancybox/fancy_shadow_ne.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-e	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/js/tools/fancybox/fancy_shadow_e.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-se	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/js/tools/fancybox/fancy_shadow_se.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-s	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/js/tools/fancybox/fancy_shadow_s.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-sw	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/js/tools/fancybox/fancy_shadow_sw.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-w	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/js/tools/fancybox/fancy_shadow_w.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-nw	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/js/tools/fancybox/fancy_shadow_nw.png', sizingMethod='scale'); }
