<link href="/css/landing/v2/styles.css" rel="stylesheet" type="text/css"/>

<div class="landing-body landing{$pageId}">
	<div class="landing-container">
		<div class="landing-content">
			<div class="escorts-image">
				<img src="../../images/landing/v2/escorts.png" alt="escorts">
			</div>
			<div class="information">
				<h1 class="title">
					FIND A <span>HORNY ESCORT</span> IN YOUR CITY!
				</h1>

				<a class="escorts-link" href="{$urlFemaleEscorts}" data-ajax="false">SEE THE LIST</a>

				<p class="message"><span>578</span> Horny Escorts Near You</p>
			</div>
		</div>
	</div>
	<div class="landing-footer">© Adultsearch.com 2019</div>
</div>
