<?xml version="1.0" encoding="UTF-8" ?> 
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/">
<channel>
<title>adultsearch.com | escorts</title> 
<webMaster>noreply@adultsearch.com</webMaster>
<link><![CDATA[{$link}]]></link>
<description>escort classified ads</description>
<language>en-us</language>
<lastBuildDate>{$built}</lastBuildDate>
<copyright>Adventurous Spirit B.V.</copyright>
<ttl>36000</ttl>
{section name=s loop=$cl}{assign var=p value=$cl[s]}
      <item>  
        <title><![CDATA[{$p.title}]]></title>
        <pubDate>{$p.date} -0700</pubDate>
        <link><![CDATA[{$p.link}]]></link>
        <guid>{$p.id}</guid>   
        <description><![CDATA[{$p.content}]]></description>
	<city>{$p.city}</city>
	<state>{$p.state}</state>
	<state2>{$p.state2}</state2>
        <comment>{$config_image_server}/classifieds/{$p.id}.jpg</comment>
      </item>
{/section}
</channel>
</rss>

