<div id="classified-promo">
<h1 class="classified-promo-header">Get Your Ad on AdultSearch<br />for <span class="red">FREE!</span></h1>

<h3>We will keep posting your ad automatically as long as you keep the 
link live!</h3>

<div class="postbody">
<div class="body2">Just Link your BackPage ad to your AdultSearch ad.<br/><br/>
	Just copy/paste your link below into your Backpage ad.<br/><br/>
	There is no limit for how many ads you link or get for free! <br/>(Nationwide ads are not included to this promotion)

{section name=s loop=$classifieds}{assign var=c value=$classifieds[s]}
<p class="code">Code for <a href="http://{$c.csub}adultsearch.com{$c.loc_name}{$c.module}/{$c.id}" target="_blank"><b>{$c.title}</b></a>:
{if $c.thumb}<a href="/classifieds/look?id={$c.id}" target="_blank"><img src="//img.adultsearch.com/classifieds/{$c.thumb}" alt="" 
border="0" /></a>{/if}
<textarea name="texttocopy" class="codelink" rows="4" cols="80" onclick="this.select();">
More Pictures and Info:
<a href="http://{$c.csub}adultsearch.com{$c.loc_name}{$c.module}/{$c.id}">http://{$c.csub}adultsearch.com{$c.loc_name}{$c.module}/{$c.id}</a></textarea><br />
<hr />
</p>
{/section}

</div>

<table style="text-align: left; width: 992px">
 <tr>
  <td valign="top" style="text-align: center; font-weight: 700">
	<table style="width: 980px; background-color: #FEED54" class="style1">
	 <tr>
		<td>
			Backpage no longer allows certain images and information, But we do!!! 
		</td>
	</tr>
	</table>
  </td>
 </tr>
 <tr>
  <td><p style="border-style: solid; border-width: 1px; padding: 1px 4px">
	<img alt="" src="/images/classifieds/free_ad_example.jpg" width="775" height="1117"/>&nbsp;
     </p>
  </td>
 </tr>
</table>
	
<table style="text-align: left; width: 992px">
 <tr>
  <td valign="top" style="text-align: center; font-weight: 700">
	<table style="width: 980px; background-color: #FEED54" class="style1">
	 <tr>
		<td> BackPage Ad with your Link<br>&nbsp;(in red)</td>
	</tr>
	</table>
  </td>
 </tr>
 <tr>
  <td><p style="border-style: solid; border-width: 1px; padding: 1px 4px">
	<img alt="" src="/images/classifieds/free_ad_backpage.jpg" width="800" height="1109" /></p>
  </td>
 </tr>
</table>
</div>
</div>

