<?xml version="1.0" encoding="ISO-8859-1" ?> 
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/">
<channel>
<title>adultsearch.com | escorts | {$loc_name}, {$s}</title> 
<webMaster>noreply@adultsearch.com</webMaster>
<link><![CDATA[{$link}]]></link>
<description>{$loc_name} escort classified ads</description>
<language>en-us</language>
<lastBuildDate>{$built}</lastBuildDate>
<copyright>Adventurous Spirit B.V.</copyright>
<ttl>600</ttl>
{section name=s loop=$cl}{assign var=p value=$cl[s]}
      <item>  
        <title><![CDATA[{$p.title}]]></title>
        <pubDate>{$p.date} -0800</pubDate>
        <link><![CDATA[{$p.link}]]></link>
        <guid>{$p.id}</guid>   
        <description><![CDATA[{$p.content}]]></description>
        <comment>{$config_image_server}/classifieds/{$p.id}.jpg</comment>
      </item>
{/section}
</channel>
</rss>

