<html>
<head>
<style type="text/css" rel="stylesheet">
#servicesThumb a { font-size: 10px;clear: both;padding: 5px 0px 5px 5px;display: block;width: 140px;height: 60px;margin-left: -5px;}
#servicesThumb a img { float: left;width: 60px;height: 60px;border: solid 1px black;margin-right: 8px;}
#servicesThumb .category, #reviewsThumb .name { font-weight: bold;font-size: 12px;}
#servicesThumb li, #reviewsThumb li { margin: 0px;list-style: none;}
a:link, a:visited { text-decoration: none;cursor: pointer;color: black;}
h5 { margin:0; text-transform:uppercase;}
</style>
</head>

<body>
{if $ads}
<h5>Escorts near You</h5>
<div id="servicesThumb">
{section name=cl loop=$ads}{assign var=p value=$ads[cl]}
<a href="{$p.link}" target="_blank"><img src="{if $p.avatar}{$p.avatar}{else}http://{$core_host}/images/icons/User_1.jpg{/if}" alt="" border="0" />
<div class="category">{$p.category}</div>
<li>{$p.info}</li></a>
{/section}
</div>
{/if}

</body>
</html>
