<script type="text/javascript" src="/js/jquery.js"></script>

<form method="get" action="" id="duplicate"><input type="hidden" name="id" value="{$id}" />
<h3>Please select the category that you want to duplicate your ad into</h3>
<select name="type">{$type}</select><input type="button" value="Duplicate into this category" onclick="duplicate();" />
</form>

<div id="example"></div>

<script type="text/javascript">
<!--
function duplicate() {
  var param = $("#duplicate").serialize();
  $("#example").load('/classifieds/duplicate', param, function(){ });
}
-->
</script>
