<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/"
                   xmlns:backpage="http://www.backpage.com/rss/2.0">

<channel>  
  <title>adultsearch.com</title>
  <webMaster>burak@adultsearch.net</webMaster>
  <language>en-us</language>
  <lastBuildDate>{$built}</lastBuildDate>
  <copyright>Copyright 2010-2013, Adventurous Spirit B.V.</copyright>
  <ttl>600</ttl>

<backpage:import user="burak@adultsearch.net" site="http://lasvegas.backpage.com" />
{section name=c loop=$ch}{assign var=p value=$ch[c]}
  <item>
    <backpage:site>http://{$p.loc_link}.backpage.com</backpage:site>
    <backpage:id>{$p.id}</backpage:id>
    <backpage:category>FemaleEscorts</backpage:category>
    <backpage:replyEmail>noreply@adultsearch.com</backpage:replyEmail>
    <backpage:allowReplies>No</backpage:allowReplies>
    <backpage:superRegion>{$p.superregion}</backpage:superRegion>
    <backpage:region>{$p.loc_name}</backpage:region>
    <backpage:adPlacedBy>Agency/Locator Service</backpage:adPlacedBy>
    <pubDate>{$p.date} -0700</pubDate>
    <link><![CDATA[{$p.link}]]></link>
    <title><![CDATA[{$p.title}]]></title>
    <description><![CDATA[
	{$p.content}
    ]]></description>
  </item>
{/section}

</channel>

</rss> 
