<div id="container">
	<div class="bottHeaderWhite">
		<div class="addNew"><a href="{$config_site_url}/adbuild/" rel="nofollow" class="bsubmit bsubmit-r"><span>Post Your Ad</span></a></div>
	</div>
</div>

<div class="classifiedloc">
	{section name=s loop=$loc_columns}
	{assign var=s value=$loc_columns[s]}
		<ul class="updown">
		{section name=s2 loop=$s}
		{assign var=l value=$s[s2]}
			<li><a href="{$l.link}" title="{$l.loc_name} {$cat_name}">{$l.loc_name} <span>({$l.c})</span></a></li>
		{/section}
		</ul>
	{/section}
</div>
