<?xml version="1.0" encoding="UTF-8" ?> 
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/">
<channel>
<title>adultsearch.com | escorts</title> 
<webMaster>noreply@adultsearch.com</webMaster>
<link><![CDATA[{$link}]]></link>
<description>escort classified ads</description>
<language>en-us</language>
<lastBuildDate>{$built}</lastBuildDate>
<copyright>Adventurous Spirit B.V.</copyright>
<ttl>1</ttl>
{section name=s loop=$purchase}{assign var=p value=$purchase[s]}
      <item>  
        <purchase>{$p.id}</purchase>
        <date>{$p.date}</date>
        <spent>{$p.total}</spent>   
	<saved>{$p.saved}</saved>
	<item>{$p.item_id}</item>
      </item>
{sectionelse}
{/section}
</channel>
</rss>

