{% extends 'email/base_yeobill.html.twig' %}
  
{% block title %}Your ad is now live{% endblock %}

{% block content %}
<tr>
	<td colspan="2" align="center">
		<br />
		Hello,<br />
		The verification of your classified ad was successful and your ad is now live.<br /><br />
	</td>
</tr>
<tr>
	<td align="right" width="50%" style="width: 50%;"><strong>Ad ID</strong></td>
	<td style="padding-left: 5px;">{{ id }}</td>
</tr>
<tr>
	<td align="right" width="50%" style="width: 50%;"><strong>Location</strong></td>
	<td style="padding-left: 5px;">
		{% for loc in locations %}
			{{ loc }}<br />
		{% endfor %}
	</td>
</tr>
{% endblock %}
