{% extends 'email/base_yeobill.txt.twig' %}
  
{% block title %}Your ad is now live{% endblock %}

{% block content %}
The verification of your classified ad was successful and your ad is now live.

Ad #id: {{ id }}
Locations: {% for loc in locations %}{% if loop.first %}}{{ loc }}{% else %}; {{ loc }}{% endif %}{% endfor %}

{% endblock %}
