{% block title %}Adultsearch{% endblock %}

-------------------------------------

{% block content %}
Dear User {{ username }},

We are happy to announce that out Sticky upgrades are now available for all ad types including Body Rubs
You can buy upgrades or manage your ads in the My Classifieds Ads section under My Account.
{% endblock %}


For help please contact:
U.S. & Canada:
1-702-935-1688
(9am to 5pm EST Mon - Fri)
or
support@adultsearch.com

Thank you for advertising with us.
Sincerely,
Team Adultsearch
