<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width"/>
		<title>{% block title %}Adultsearch{% endblock %}</title>
		<style type="text/css">
			body {height:100% !important; margin:0; padding:0; width:100% !important; color: #333;}
			table{border-collapse:collapse;}
			img, a img{border:0; outline:none; text-decoration:none;}
			h1, h2, h3, h4, h5, h6 {margin: 0; padding: 0;}
			p {margin: 1em 0; color: #333; text-align: left;}
			table, td{mso-table-lspace:0pt; mso-table-rspace:0pt;}
			body, table, td, p, a, li, blockquote{-ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;}
			body {width: 100%; background-color: #eee;}
			h1, h2, h3, h4, h5, h6 {color:#202020; font-family: Helvetica,sans-serif; font-size: 20px; line-height: 125%; text-align: left; margin: 10px 0px 10px 0px;}
			#main { display: block; width: 100% !important; max-width: 640px !important; margin: 0 auto; border: solid 1px black; border-radius: 4px; background-color: white;}
		</style>
	</head>
	<body>
		<div id="main" style="display: block; width: 100% !important; max-width: 640px !important; margin: 0 auto; border: solid 1px black; border-radius: 4px; background-color: white;">
			<table width="100%" align="center" cellpadding="5" cellspacing="0" style="font-family: Verdana, Geneva, sans-serif; font-size: 12px;">
			<tr>
				<td colspan="2" align="center"><h1 style="text-align: center;">Adultsearch</h1></td>
			</tr>
			{% block content %}
				<td colspan="2" style="padding: 30px;">
				<p>Dear User {{ username }},</p>
				<br />
				<p>We are happy to announce that out Sticky upgrades are now available for all ad types including Body Rubs.</p>
				<p>You can buy upgrades or manage your ad by following the link: <a href="https://adultsearch.com/classifieds/myposts">Manage My Ads</a></p>
			</td>
			{% endblock %}
			<tr>
				<td colspan="2" style="padding: 30px;">
					<strong>For help please contact:</strong><br />
					U.S. &amp; Canada:<br />
					1-702-935-1688<br />
					(9am to 5pm EST Mon - Fri)<br />
					or<br />
					<a href="mailto:support@adultsearch.com">support@adultsearch.com</a><br />
					<br />
					Thank you for advertising with us.<br />
					Sincerely,<br />
					Team Adultsearch
				</td>
			</tr>
			</table>
		</div>
	</body>
</html>
