{% extends 'email/base_yeobill.txt.twig' %}
  
{% block title %}Receipt for your advertisement{% endblock %}

{% block content %}
Here is the receipt from "Yeobill" for the classified ad you have just posted:

Ad #id: {{ id }}
Locations: {% for loc in locations %}{% if loop.first %}}{{ loc }}{% else %}; {{ loc }}{% endif %}{% endfor %}
Paid: ${{ paid }}

You can cancel your payment anytime.
{% endblock %}
