{% extends 'email/base_yeobill.html.twig' %}
  
{% block title %}Receipt for your advertisement{% endblock %}

{% block content %}
<tr>
	<td colspan="2" align="center">
		<br />
		Hello,<br />
		Here is the receipt from <span style="font-weight: bold; color: black;">Yeobill</span> for the advertisement you have just posted:<br /><br />
	</td>
</tr>
<tr>
	<td align="right" width="50%" style="width: 50%;"><strong>Ad ID</strong></td>
	<td style="padding-left: 5px;">{{ id }}</td>
</tr>
<tr>
	<td align="right" width="50%" style="width: 50%;"><strong>Location</strong></td>
	<td style="padding-left: 5px;">
		{% for loc in locations %}
			{{ loc }}<br />
		{% endfor %}
	</td>
</tr>
<tr>
	<td align="right" width="50%" style="width: 50%;"><strong>Paid</strong></td>
	<td style="padding-left: 5px;">${{ paid }}</td>
</tr>
{% if trans_id %}
<tr>
	<td align="right" width="50%" style="width: 50%;"><strong>Transaction ID#</strong></td>
	<td style="padding-left: 5px;">{{ trans_id }}</td>
</tr>
{% endif %}
	<td colspan="2" style="padding: 30px;">
		Please keep this receipt for future reference. You can cancel your payment anytime.
	</td>
</tr>
{% endblock %}
