{% extends 'email/base_adultsearch.html.twig' %}

{% block title %}Adultsearch Sticky Ad Upgrade - Availability now!{% endblock %}

{% block content %}
<tr>
	<td colspan="2" style="padding: 30px;">
		Adultsearch <b>Sticky Ad for {{ location_name }} is available</b> for you to purchase right now!<br>
		Hurry up and purchase now - it is very rare that these sticky ads become available!
	</td>
</tr>
<tr>
	<td colspan="2" style="padding: 30px;">
		<a href="http://adultsearch.com/classifieds/myposts" target="_blank">Buy your sticky upgrade for {{ location_name }} here</a>
	</td>
</tr>
{% endblock %}
