{% extends 'email/base_adultsearch.txt.twig' %}

{% block title %}Adultsearch Sticky Ad Upgrade - Availability now!{% endblock %}

{% block content %}
	Adultsearch Sticky Ad Upgrade for {{ location_name }} is available for you to purchase right now!
	You have 24 hours to purchase this sticky.

	If you do not purchase this ad upgrade within 24 hours, we will open this sticky upgrade slot to the rest of the users on the website.

	Buy your sticky upgrade for {{ location_name }} here: http://adultsearch.com/classifieds/myposts
{% endblock %}
