{% extends 'email/base_adultsearch.html.twig' %}

{% block title %}Adultsearch Sticky Ad Upgrade - Availability now!{% endblock %}

{% block content %}
	<tr>
		<td colspan="2" style="padding: 30px;">
			Adultsearch Sticky <b>Ad Upgrade for {{ location_name }} is available for you</b> to purchase right now!
			<b>You have 24 hours to purchase this sticky.</b><br />
		</td>
	</tr>
	<tr>
		<td colspan="2" style="padding: 30px;">
			If you do not purchase this ad upgrade within 24 hours, we will open this sticky upgrade slot to the rest of the users on the website.
		</td>
	</tr>
	<tr>
		<td colspan="2" style="padding: 30px;">
			<a href="http://adultsearch.com/classifieds/myposts" target="_blank">Buy your sticky upgrade for {{ location_name }} here</a>
		</td>
	</tr>
{% endblock %}
