{% extends 'email/base_adultsearch.txt.twig' %}

{% block title %}Adultsearch Sticky Ad Upgrade - Availability now!{% endblock %}

{% block content %}
	Adultsearch Sticky Ad for {{ location_name }} is available for you to purchase right now!
	Hurry up and purchase now - it is very rare that these sticky ads become available!

	Buy your sticky upgrade for {{ location_name }} here: http://adultsearch.com/classifieds/myposts
{% endblock %}
