<form method="post" action="/mng/agents">
<input type="hidden" name="uagent" value="{$row.user}"/>
User: <b>{$row.user}</b><br/>
To change the user name, type the new user into the following box: <input type="text" name="user" value="" /><br/>
Commission: <input type="text" name="rate" size="2" value="{$row.rate}" >%<br/>
Zone: $<input type="text" size="4" name="zone" value="{$row.zone}" ><br/>
Agent Group: <select name='supervisor'>{$agroup}</select>
<input type="submit" value="update" /> <input type="button" value="go back" onclick="window.location='/mng/agents'" />
</form>

