{literal}
<style type="text/css">
th {text-align: left; font-size: 90%; font-weight: bold; }
.header {font-size: 150%; font-weight:bold; }
.odd {background-color: #F4F4F4; }
</style>
{/literal}

{if $error}<p class='error'>{$error}</p>{/if}

{section name=ads loop=$ads}{assign var=ad value=$ads[ads]}
<p>Link: <a href="/classifieds/look?id={$ad.id}" target="_blank">http://adultsearch.com/classifieds/look?id={$ad.id}</a><br>
Status: <b>{if $ad.status==1}<span class="status_active">Live</span>{else}<span class="status_deleted">Expired</span>{/if}</b><br>
Location: <b>{$ad.loc_name}</b><br>
Posted: <b>{$ad.posted}</b><br>
Expires: <b>{$ad.expires}</b><br>
Ad: {$ad.content}<br>
<hr/>
</p>
{/section}

<span class="header">Add Comment to this account</span> <br/>
<form method="post" action="">
<input type="hidden" name="account_id" value="{$account_id}" />
<table width="100%">
<tr>
 <tr><td colspan="2"><textarea name="comment" id="respond_" cols="50" rows="10">{$comment}</textarea></td></tr>
 <tr><td colspan="2">
	<input type="submit" value="Add Comment" />
  </td></tr>
</table>
</form>

