<div class="forumfixer">

<table id=st-cont cellspacing="0" cellpadding="0">
 <tr>
  <td valign="top">
   <table id="st-city" cellspacing="0" cellpadding="0" width="996" border="0" class="st-cityhd">
    <tr class="st-cityhd">
      <td class="st-hd-bkd" width="998">
	<a title="forum home" href="{if $forum_home_link}{$forum_home_link}{else}/sex-forum/{/if}" class="st-hd">Forum Home</a>
<font color="#FF4D00">&nbsp;&gt;&gt;</font>&nbsp; <a href="{if $forum_search_link}{$forum_search_link}{else}/sex-forum/forum_search{/if}" title="Forum Search">Forum Search</a>
      </td>
     </tr>
    </table>
    <table width="996" cellspacing="0" cellpadding="0" style="margin-top: 6px; margin-bottom: 6px"> 
    <tr>
     <td style="padding-left: 10px;text-align:left;">
        <table cellspacing="0" cellpadding="2" style="padding-left: 30px">
        <tr><td>
<form action="{if $forum_search_link}{$forum_search_link}{else}{$core_loc_link}forum/forum_search{/if}" method="get" style="padding:0">
<input type="text" name="search" value="{$search}" class="foruminputtext" size="50" />
        </td><td>
	<span class="bsubmit"><button class="bsubmit-r" type="submit" value="Forum Search"/><span>Forum Search</span></button></span></form>
        </td>
        </tr>
        </table>
	  </td>
	   <td class="st-numposts" align="right">Total Topic: <strong>{$forum_posts}</strong> | Pages: <b>{$paging}</b>
	 </tr>
	</table>
    </td>
   </tr>
</table>

{if $topics} 
<table class="st-tbl" cellspacing="1px" cellpadding="0" style="border-width: 0">
 <tr class="st-cityhd"> 
  <th width="56%" align="left" style="padding-left: 6px">&nbsp;Title</th>
  <th width="10%" align="center">Replies</th>
  <th width="34%" align="center">Last Message</th>
 </tr>
 {section name=mainforum loop=$topics}
  {assign var=t value=$topics[mainforum]}
   <tr class="{cycle values="wht,blu"}">
  <td valign="middle" style="padding-left: 10px; height:41px;" align="left">
	{if $t.important}Sticky: {/if}

	<a href="{$t.post_link}" class="normal"><b>{$t.topic_title}</b></a> (<b>{$t.forum_name}</b>)

	{$t.paging} {$t.extra}
                <br />{$t.message|truncate:50}
  </td>
  <td align="center"><b>{$t.topic_replies}</b></td>
  <td align="center">{$t.last}</td>
 </tr>
{/section}
 <tr>
  <td style="padding-left: 5px" colspan="3" class="greybot">
	&nbsp;</td>
  </tr>
</table>
{/if}

<p class="paging"><div align="center">{$paging}</div></p>

</div>

