<div class="forumfixer">
<table cellpadding="0" width="1000" class="forum-states">
 <tr>
  <td height="28" bgcolor="#FFFFFF" class="state" colspan="5">
   <h1>Select a Location</h1>
  </td>
 </tr>

 <tr>
{section name=forum loop=$states}
  <td valign="top">
    <table cellspacing="0" cellpadding="0">
{assign var=tt value=$states[forum]}
{section name=forum2 loop=$tt}
{assign var=t value=$tt[forum2]}
 <tr>
  <td class="forum-state">
        <a href="{$t.forum_url}" title="New topic in forum {$t.forum_name}">{$t.forum_name} ({$t.forum_posts})</a> {if $t.updated} <font style="color:red;font-weight:bold;font-size:9px;">*new post*</font>{/if}
  </td>
 </tr>
   {if !$smarty.section.forum2.last}<tr>{/if}
 {/section}
 {if $smarty.section.forum.last}
  {section name=miss loop=$missing1}
 <tr>
  <td class="forum-state">
  </td>
 </tr>
  {/section}
  {/if}
   </table>
  </td>
{/section}
 </tr>
</table>
</div>

