<table align="center">
 <tr>
  <td>
<h3>Where do you want to move the topic ? <br />
<form method="post">
<input type="hidden" name="topic_id" value="{$topic_id}">
<input type="hidden" name="old_forum" value="{$forum_id}">
<select name=forum_id>
{section name=s1 loop=$forums}
{assign var=f value=$forums[s1]}
 <option value="{$f.forum_id}"{if $forum_id==$f.forum_id} selected{/if}>{$f.forum_name}</option>
 {section name=alt loop=$f.alt}
 {assign var=a value=$f.alt[alt]}
	<option value="{$a.forum_id}"{if $forum_id==$a.forum_id} selected{/if}>  |-- {$a.forum_name}</option>
	{section name=alt2 loop=$a.alt}
	{assign var=a2 value=$a.alt[alt2]}
		<option value="{$a2.forum_id}"{if $forum_id==$a2.forum_id} selected{/if}>&nbsp;&nbsp;&nbsp;&nbsp;|-- {$a2.forum_name}</option>
	{/section}
 {/section}
{/section}
</select>
<input type="submit" name="move" value="Move">
<input type="button" name="cancel" value="Cancel - Go back" onclick="location.href='{$link}';">
</form>
  </td>
 </tr>
</table>
