<table class="normal" width="1000">
	<tr>
		<td class="normal">
			<a href="{if $forum_link}{$forum_link}{else}/sex-forum/{/if}" title="forum home">Forum Home</a>
			{section name=section loop=$f}
			{assign var=forum value=$f[section]}
			&gt;&gt; <a href="{$forum.forum_url}" title="Forum: {$forum.forum_name}">{$forum.forum_name}</a>
			{/section}
			&gt;&gt; <a href="{$topic_link}" title="Forum Topic: {$topic_title}">{$topic_title}</a>
		</td>
	</tr>
</table>
