
<table id="st-cont" cellspacing="0" cellpadding="0">
 <tr>
  <td valign="top">
   <table id="st-city" cellspacing="0" cellpadding="0" width="1000" border="0" class="st-cityhd">
    <tr class="st-cityhd">
      <td class="st-hd-bkd" width="1000">
	<a href="/sex-forum/" title="forum home">Forum Home</a>
{section name=section loop=$f}
{assign var=forum value=$f[section]}
<font color="#FF4D00">&nbsp;&gt;&gt;</font>&nbsp;
<a href="{$forum.forum_link}" title="Forum: {$forum.forum_name}">{$forum.forum_name}</a>
{/section}
<font color="#FF4D00">&nbsp;&gt;&gt;</font>&nbsp;
<a href="/sex-forum/viewtopic?topic_id={$topic_id}" title="Forum Topic: {$topic_title}">{$topic_title}</a>
      </td>
     </tr>
    </table>
     </td>
   </tr>
</table>
