div.container.account {
	max-width: 850px;
}

div.container.account #status {
	padding-top: 10px;
	min-height: 45px;
}

div.container.account div.wrap {
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px 20px 5px 20px;
	margin-bottom: 10px;
}
#edit-payment-method{
	margin-top: 20px;
	margin-bottom: 10px;
	margin-right: 10px;
	color: #FFFFFF;
	border: 0 none;
	border-radius: 6px 6px 6px 6px;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	padding: 6px;
	font-size: 12px;
	background-color: #5bb75b;
	text-transform: none;
}

.error {margin-left: 85px;}

#change{font-size: 10px;}

div.container.account div.wrap div.row {
	margin-bottom: 15px;
}

div.container.account div.wrap div.actions {
	background: #FFFFB9;
	border-radius: 20px;
	padding: 20px;
	text-transform: uppercase;
	width: 320px;
	float: left;
}
div.container.account div.wrap div.actions select {
	border-radius: 6px 6px 6px 6px;
	font-size: 16px;
	padding: 5px;
	background: #ffffff;
	margin-left: 0px;
	text-transform: capitalize;
}

div.container.account div.wrap div.details .col1 a img {
    border: solid 1px #000000;
    margin-bottom: 10px;
}
div.container.account div.wrap div.details .col1, .mgmt  label {
    text-align: right;
    width: 175px;
    color: #999999;
    padding-right: 10px;
}
