{if $ebiz_login_url}
<label>Escorts.biz</label>
<div>
    <a href="{$ebiz_login_url}" class="pm_btn pm_btn_white" target="_blank">Login to Escorts.biz</a>
</div>
{/if}

<hr />
<div>
    For help please contact:<br />
    U.S. &amp; Canada: <a href="tel:+17029351688">1-702-935-1688</a><br />
    {if $agency}
        <a href="mailto:agency@adultsearch.com">agency@adultsearch.com</a>
    {else}
        <a href="mailto:support@adultsearch.com">support@adultsearch.com</a>
    {/if}
</div>
