<table class="table table-striped table-condensed"><tbody><tr><th>Id</th><th>Name</th><th>Image</th><th>HMTL code</th><th>URL</th></tr><tr><td>1</td><td>Skyscraper</td><td><img src="/tmp/banners/ecc_ver1.png?time=1531426014" style="width: 160px; height: 600px;" /></td><td style="font-family: monospace;">&lt;img src=&quot;ecc_ver1.png&quot; style=&quot;width: 160px; height: 600px;&quot; /&gt;</td><td>https://adultsearch.com?utm_source=usg&utm_medium=banner&utm_campaign=ecc_468_60</tr>
</tbody></table>