<style type="text/css">
.left_column {
	background-color: #91BAD9;
}
.right_column {
	background-color: #FEFFC1;
}
.sign_up_button {
	border: 1px solid goldenrod;
	background-color: gold;
	font-size: 1.5em;
	font-weight: bold;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
}
</style>

<h1>Become an Adultsearch Affiliate Today !</h1>
<h2>30% on every purchase</h2>
<ol>
<li>Make money with AdultSearch today ...</li>
<li>Spend it on girls tomorrow !</li>
</ol>
<h2>Earn 30% on every AdultSearch membership for the lifetime of the membership</h2>
<h2>Why is it Easy to Make Money with AdultSearch Affiliate Program ?</h2>
<ul style="list-style-type: disc !important;">
<li>High conversion rates</li>
<li>Fast payout through check</li>
<li>Minimum payout is $25, pay as you go system!</li>
</ul>
<form action="https://admin.ccbill.com/signup.cgi" method=POST>

<input type=hidden name=CA value="948343-0000">
<!-- Place a Group Name or Group ID number in the value for GR to automatically add new affiliates into a group.  The Group must exist in your admin setup for this option to work. -->
<input type=hidden name=GR value="">
<!--
page_background: Full URL to a background image.
page_bgcolor:    Page background color.
page_text:       Color of text outside of table.
page_link:       Link color of all hyperlinks.
page_vlink:      Visited link color of all hyperlinks.
page_alink:      Active link color of all hyperlinks.
table_left:      Color of left side of table.
table_right:     Color of right side of table.
table_text:      Color of text inside of table.
star_color:      Color of the asterisks for required fields.
-->
<input type=hidden name=page_background value="">
<input type=hidden name=page_bgcolor value="#FFFFFF">
<input type=hidden name=page_text value="#000000">
<input type=hidden name=page_link value="blue">
<input type=hidden name=page_vlink value="purple">
<input type=hidden name=page_alink value="blue">
<input type=hidden name=table_left value="#91BAD9">
<input type=hidden name=table_right value="#FEFFC1">
<input type=hidden name=table_text value="#000000">
<input type=hidden name=star_color value="#CC0000">

<br>

<button type="submit" class="sign_up_button">Sign Up Now!</button>
<input type=hidden name=second value=1>
</form>


<br><br>
<hr />
If you are already sign up, to load your current data, please enter your ID, username and password:
<br><br>

<form action="https://admin.ccbill.com/signup.cgi" method=POST>

<input type=hidden name=CA value="948343-0000">
<!--
Place a Group Name or Group ID number in the value for GR to
automatically add new affiliates into a group.  The Group must
exist in your admin setup for this option to work.
-->
<input type=hidden name=GR value="">
<input type=hidden name=page_background value="">
<input type=hidden name=page_bgcolor value="#FFFFFF">
<input type=hidden name=page_text value="#000000">
<input type=hidden name=page_link value="blue">
<input type=hidden name=page_vlink value="purple">
<input type=hidden name=page_alink value="blue">
<input type=hidden name=table_left value="#186299">
<input type=hidden name=table_right value="#FEFFC1">
<input type=hidden name=table_text value="#000000">
<input type=hidden name=star_color value="#CC0000">

<table border=0 cellpadding=4 cellspacing=2 width=30%>
	<tr valign=middle align=left>
		<td class="left_column">Current ID</td>
		<td class="right_column"><input type=text name=EID size=15 maxlength=15></td>
	</tr>
	<tr valign=middle align=left>
		<td class="left_column">Username</td>
		<td class="right_column"><input type=text name=username size=15 maxlength=15></td>
	</tr>
	<tr valign=middle align=left>
		<td class="left_column">Password</td>
		<td class="right_column"><input type=password name=password size=15 maxlength=15></td>
	</tr>
	<tr valign=middle align=left>
		<td>   </td>
		<td>
			<input type=submit value="Retrieve data">    
			<input type=reset value=Clear>
		</td>
	</tr>
</table>

<input type=hidden name=second value=1>

</form>
