html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, 
q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, 
td {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	font-size: 100%;
	margin: 0;
	outline: 0 none;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none outside none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0 none;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	background: none repeat scroll 0 0 #333333;
	color: #CCCCCC;
	font: 12px/15px sans-serif;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
	padding: 0;
}

a:link, a:visited, a:hover, a:active, a:focus {
	color: #FED100;
	text-decoration: none;
}
#breadcrumbs a:hover, #breadcrumbs a:active, #breadcrumbs a:focus, #content a:hover, #content a:active, #content a:focus {
	background-color: #666666;
	color: #FFFFFF;
}
#content a img {
	border: 1px solid #FED100;
}
#content a:hover img, #content a:active img, #content a:focus img {
	border: 1px solid #FFFFFF;
}
.required {
	color: #FF6F6F;
}
.error {
	color: #FF9999;
	padding-top: 1em;
}
#wt {
	background: none repeat scroll 0 0 #ACACD7;
}
hr {
	clear: both;
	color: #CCCCCC;
   /* margin: 0 4px 11px; */
}
#header {
	background: url("/img/mobile/bg_header.gif?4.0.3-10") no-repeat scroll 100% 100% #FED100;
	border-bottom: 1px solid #666666;
	color: #333333;
	padding: 0;
}
#header h1, #header h3 {
	font-size: 18px;
	font-weight: bold;
	left: 80px;
	margin-bottom: 8px;
	position: absolute;
	top: 5px;
}
#header .search {
	margin: 0 0 3px 5px;
}
.form_button {
	-moz-border-radius: 5px 5px 5px 5px;
	background: url("/img/mobile/bg.gif?4.0.3-10") repeat-x scroll 0 -400px #333333;
	border-width: 1px;
	color: #FFFFFF;
	margin-left: 8px;
	text-transform: uppercase;
}
#content {
	padding: 3px 0;
}
#content p, #content form, #gallery, #content dl {
	margin: 0 6px 1em;
}
#content h1 {
	font-size: 14px;
	font-weight: bold;
	margin: 0 6px 0.25em;
}
.ads {
	clear: both;
	margin: 1em 0;
	text-align: center;
}
.ads #banner {
	margin: 10px auto;
	width: 100%;
}
#content .ads img, #content .ads a:hover img, #content .ads a:active img {
	border: 0 none;
}
#content .ads a:hover, #content a:active, #content a:focus {
	background: none repeat scroll 0 0 transparent;
}
#content .ads #b_affiliates {
	-moz-border-radius: 14px 14px 14px 14px;
	background: url("/img/mobile/bg.gif?4.0.3-10") repeat-x scroll 0 -200px #000000;
	border: 1px solid #999999;
	font-weight: bold;
}
.ads #b_affiliates a {
	-moz-border-radius: 14px 14px 14px 14px;
	display: block;
	padding: 6px;
}
.ads #b_affiliates a:hover, .ads #b_affiliates a:active, .ads #b_affiliates a:focus {
	background: none repeat scroll 0 0 #666666;
}
#footer {
	background: url("/img/mobile/bg.gif?4.0.3-10") repeat-x scroll 0 -100px #ACACD7;
	clear: both;
	color: #FFFFFF;
	padding: 13px 13px 50px;
	position: relative;
	text-transform: lowercase;
}
#footer a {
	padding: 2px;
}
#footer a:link, #footer a:visited {
	color: #333366;
}
#footer a:hover, #footer a:active, #footer a:focus {
	background: none repeat scroll 0 0 #666699;
	color: #FFFFFF;
}
#breadcrumbs {
	background: url("/img/mobile/bg.gif?4.0.3-10") repeat-x scroll 0 -500px #292929;
	font-size: 10px;
	padding: 3px 6px;
}
#breadcrumbs a {
	color: #CCCCCC;
}
.b_next {
	background: url("/img/mobile/b_next.gif?4.0.3-10") no-repeat scroll 0 0 #9999CC;
	float: right;
}
.b_prev {
	background: url("/img/mobile/b_prev.gif?4.0.3-10") no-repeat scroll 0 0 #9999CC;
	float: left;
}
.section {
	position: relative;
}
.nav_skip-top {
	position: absolute;
	right: 0;
	top: 0;
}
.nav_skip-top_bottom {
	position: relative;
	text-align: left;
}
.nav_skip-top_bottom a, .nav_skip-top a, .nav_skip-down a, .nav_jump strong {
	background: url("/img/mobile/icons.gif?4.0.3-10") no-repeat scroll 100% 0 transparent;
	color: #FED100;
	padding-right: 12px;
}
.nav_skip-top_bottom a, .nav_skip-top a {
	background-position: 100% -300px;
}
.nav_skip-down a, .nav_jump strong {
	background-position: 100% -398px;
}
.nav_jump strong {
	color: #CCCCCC;
}
.nav_skip-top_bottom a:hover, .nav_skip-top_bottom a:active, .nav_skip-top_bottom a:focus, .nav_skip-top a:hover, .nav_skip-top a:active, .nav_skip-top a:focus {
	background-position: 100% -350px;
}
.nav_skip-down a:hover, .nav_skip-down a:active, .nav_skip-down a:focus {
	background-position: 100% -448px;
}
.splash_a #welcome {
	margin: 22px 20px 1em;
}
.splash_a #b_enter {
	margin: 3em 0;
	text-align: center;
}
#b_enter a {
	-moz-border-radius: 0.5em 0.5em 0.5em 0.5em;
	background: url("/img/mobile/bg.gif?4.0.3-10") repeat-x scroll 0 -300px #9999CC;
	border: 1px solid #9999CC;
	color: #333366;
	font-size: 24px;
	font-weight: bold;
	padding: 0.25em 1em;
}
#b_enter a:hover, #b_enter a:active, #b_enter a:focus {
	background: none repeat scroll 0 0 #9999CC;
	border-color: #CCCCFF;
	color: #CCCCFF;
}
.eros_c .section h2, .sms-alert_c .section h2 {
	background: none repeat scroll 0 0 #000000;
	color: #CCCCCC;
	padding: 3px 6px;
	text-transform: uppercase;
}
.eros_c .nav_skip-top {
	top: 3px;
}
.eg_a .categories, .splash_c .categories {
	border-top: 4px solid #999999;
}
.eros_c .categories {
	border-top: 1px solid #666666;
}
.categories li {
	background: url("/img/mobile/bg.gif?4.0.3-10") repeat-x scroll 0 0 #333333;
}
.categories li a {
	background: url("/img/mobile/i_category.gif?4.0.3-10") no-repeat scroll 100% 50% transparent;
	border-bottom: 1px solid #666666;
	color: #CCCCCC;
	display: block;
	padding: 16px;
}
.categories li a:hover, .categories li a:active, .categories li a:focus {
	background: url("/img/mobile/i_category.gif?4.0.3-10") no-repeat scroll 100% 50% #666666;
	color: #FFFFFF;
}
.results {
	margin-bottom: 0.75em;
}
.pagination a {
	color: #333366;
	height: 21px;
	margin-bottom: 1em;
	overflow: hidden;
	padding-top: 2px;
	text-align: center;
	width: 64px;
}
.pagination a:hover, #listings .pagination a:active, #listings .pagination a:focus {
	color: #FFFFFF;
}
#listings {
	clear: both;
	margin: 0 6px 1em;
}
#listings span {
	display: block;
}
#listings li {
	-moz-border-radius: 5px 5px 5px 5px;
	clear: both;
	display: block;
	margin-bottom: 1em;
}
#listings .norm {
	background: none repeat scroll 0 0 #666666;
}
#listings .vip {
	background-color: #9999CC;
}
#listings li a {
	-moz-border-radius: 5px 5px 5px 5px;
	background: url("/img/mobile/bg_listing.gif?4.0.3-10") no-repeat scroll 97% 100% transparent;
	color: #CCCCCC;
	display: block;
	min-height: 75px;
	padding: 6px;
}
#listings .vip a {
	background-image: url("/img/mobile/bg_listing_vip.gif?4.0.3-10");
	color: #333333;
}
#listings li a:hover, #listings li a:active, #listings li a:focus {
	background: url("/img/mobile/bg_listing.gif?4.0.3-10") no-repeat scroll 98% 100% #999999;
	color: #FFFFFF;
}
#listings a:link strong img, #listings a:visited strong img, #listings a:hover strong img, #listings a:active strong img, #listings a:focus strong img {
	border: 0 none;
	float: none;
}
#listings .vip a:hover, #listings .vip a:active, #listings .vip a:focus {
	background-color: #CCCCFF;
	background-image: url("/img/mobile/bg_listing_vip.gif?4.0.3-10");
	color: #000000;
}
#listings li img {
	border: 1px solid #CCCCCC;
	float: left;
	margin-right: 6px;
}
#listings span img {float:none;}
#listings .vip img {
	border: 1px solid #CCCCCC;
	float: left;
	margin-right: 6px;
}
#listings li img.favorited, #listings li img.rating {
	border: 0 none;
	float: none;
}
#listings li a strong {
	color: #FED100;
	font-size: 14px;
	font-weight: bold;
}
#listings .vip a strong {
	color: #333366;
}
#listings .vip em {
	background: url("/img/mobile/i_vip.gif?4.0.3-10") no-repeat scroll 100% 50% transparent;
	font-style: normal;
	padding-right: 13px;
}
#listings p {
	margin: 0;
}
#listings .visiting {
	text-transform: uppercase;
}
#listings .vip .updated {
	color: #000000;
}
#listings .updated {
	color: #FFFFFF;
	font-size: 11px;
}
#listings .offline {
	background: none repeat scroll 0 0 #505050;
	color: #999999;
	min-height: 75px;
	padding: 6px;
}
#listings .offline .updated {
	color: #CCCCCC;
}
.avail-text {
	background: url("/img/i_availablenow.png?4.0.3-10") no-repeat scroll 0 0 transparent;
	border: 0 none;
	clear: right;
	height: 13px;
	margin-left: 80px;
	width: 79px;
}
#content h1 {
	font-size: 14px;
	font-weight: bold;
	margin: 0 6px 0.25em;
}
#gallery img {
	margin-right: 3px;
}
.visiting-dates {
	color: #FFFFFF;
	font-weight: bold;
}
.ad_c .email, .ad_c .phone, .ad_c .site {
	background: url("/img/mobile/icons.gif?4.0.3-10") no-repeat scroll 0 0 transparent;
	color: #FED100;
	padding-left: 12px;
}
.ad_c #content a:hover, .ad_c #content a:active, .ad_c #content a:focus, .ad_c .phone:hover, .ad_c .phone:active, .ad_c .phone:focus {
	background-color: #666666;
	color: #FFFFFF;
}
.ad_c .phone:hover, .ad_c .phone:active, .ad_c .phone:focus {
	background-position: 0 -50px;
}
.ad_c .email {
	background-position: 0 -97px;
}
.ad_c .email:hover, .ad_c .email:active, .ad_c .email:focus {
	background-position: 0 -147px;
}
.ad_c .site {
	background-position: 0 -198px;
}
.ad_c .site:hover, .ad_c .site:active, .ad_c .site:focus {
	background-position: 0 -248px;
}
.ad_c dl {
	overflow: hidden;
}
.ad_c dt {
	clear: both;
	display: inline;
	float: left;
	font-weight: bold;
	width: 6em;
}
.ad_c dd {
	float: left;
	margin: 0;
	padding: 0;
	text-indent: 0;
}
.ad_c h2 {
	border-bottom: 1px solid #CCCCCC;
	clear: both;
	font-size: 14px;
	margin: 0.5em 6px;
}
.ad_c #gallery a:hover, .ad_c #gallery a:active, .ad_c #gallery a:focus {
	background: none repeat scroll 0 0 transparent;
}
.contact dd a, .contact dd .phone {
	display: block;
}
.disclaimer {
	border: 1px solid #CCCCCC;
	font-style: italic;
	padding: 10px;
}
.disclaimer_c ol {
	list-style: decimal outside none;
	margin-left: 3em;
}
.disclaimer_c ol li {
	margin-bottom: 1em;
}
.disclaimer_c h2 {
	font-weight: bold;
	margin-left: 6px;
}
.disclaimer_c ol h2 {
	margin: 0;
}
.disclaimer_c ol ol {
	list-style: upper-alpha inside none;
	margin-left: 1em;
}
.disclaimer_c ol ol ol {
	list-style: decimal inside none;
}
.disclaimer_c #content ul {
	margin-left: 6px;
}
.disclaimer_c #content ul p {
	margin-left: 1em;
}
.disclaimer_c .toc li {
	margin-bottom: 0;
}
.disclaimer_c .toc {
	margin-bottom: 1em;
}
.privacy_a ol {
	list-style: upper-roman outside none;
}
.affiliates_a #content h1 {
	margin-bottom: 1em;
}
.affiliates_a dt {
	margin-top: 10px;
}
.network {
	font-weight: bold;
	margin-left: 6px;
}
.network ul {
	font-weight: normal;
	margin: 0 6px 1em;
}
.network ul ul {
	margin: 0 6px 1em;
}
label {
	display: block;
}

.paging a, a.link, a.link:hover, a.link:visited {height:24px; border:1px solid #ffffcc; font-size:14px; text-align:center; padding:2px; display:inline-block; 
margin:5px; 
line-height:20px }

