
<div style="background-color: #FFFFB9; border-radius: 10px; padding: 20px;">

	<h1>This computer has been used recently to post an ad on Adultsearch.</h1>

	<h2>Please use different computer / ip address to post an ad</h2>

	<h2>Your ip address: <span style="color: #ff0037;">{$ipaddress}</span>{if $vpn_host} - <span style="color: #00a271;">{$vpn_host}</span>{/if}</h2>

	<p>
		If you are  not sure what this means, please contact us at <a href="mailto:support@adultsearch.com">support@adultsearch.com</a>
	</p>

	<form method="" action="">
		<input type="submit" name="submit" value="Go back" />
		<input type="submit" name="submit" value="Check again" />
	</form>
</div>


{literal}
<script type="text/javascript">
$(document).ready(function() {
});
</script>
{/literal}
