{% extends 'email/base_yeobill.html.twig' %}
  
{% block title %}Renewal of subscription #{{ subscription_id }} succeeded{% endblock %}

{% block content %}
<tr>
	<td colspan="2" align="center">
		<br />
		Hello,<br />
		This is notification from <span style="font-weight: bold; color: black;">Yeobill</span> that automatic renewal of your subscription succeeded. Details about transaction are below. Please note that we have refund policy and if you are not satisfied with our services, let us know and we will refund you your money.<br /><br />
	</td>
</tr>
<tr>
	<td align="right" width="50%" style="width: 50%;"><strong>Subscription ID#</strong></td>
	<td style="padding-left: 5px;">{{ subscription_id }}</td>
</tr>
{% if trans_id %}
<tr>
	<td align="right" width="50%" style="width: 50%;"><strong>Transaction ID#</strong></td>
	<td style="padding-left: 5px;">{{ trans_id }}</td>
</tr>
{% endif %}
<tr>
	<td align="right" width="50%" style="width: 50%;"><strong>Amount</strong></td>
	<td style="padding-left: 5px;">${{ amount }}</td>
</tr>
{% if card_label %}
	<tr>
		<td align="right" valign="top"><strong>Card</strong></td>
		<td style="padding-left: 5px;">{{ card_label }}</td>
	</tr>
{% endif %}
<tr>
	<td align="right" valign="top"><strong>Order details</strong></td>
	<td style="padding-left: 5px;">
		{% for item in items %}
			{{ item }}<br />
		{% endfor %}
	</td>
</tr>
<tr>
	<td colspan="2" style="padding: 30px;">
		You can contact us at support@adultsearch.com if you have any questions or if you want a refund.
	</td>
</tr>
{% endblock %}
