{% extends 'email/base_yeobill.html.twig' %}
  
{% block title %}Subscription #{{ subscription_id }} canceled - receipt{% endblock %}

{% block content %}
<tr>
	<td colspan="2" align="center">
		<br />
		Hello,<br />
		Here is the receipt from <span style="font-weight: bold; color: black;">Yeobill</span> for the subscription cancellation.<br /><br />
		We are canceling following subscription:<br /><br />
	</td>
</tr>
<tr>
	<td align="right" width="50%" style="width: 50%;"><strong>Subscription ID#</strong></td>
	<td style="padding-left: 5px;">{{ subscription_id }}</td>
</tr>
<tr>
	<td align="right" width="50%" style="width: 50%;"><strong>Amount</strong></td>
	<td style="padding-left: 5px;">${{ amount }}</td>
</tr>
{% if trans_id %}
<tr>
	<td align="right" width="50%" style="width: 50%;"><strong>Transaction #Id</strong></td>
	<td style="padding-left: 5px;">${{ trans_id }}</td>
</tr>
<tr>
	<td align="right" width="50%" style="width: 50%;"><strong>Transaction Date/time</strong></td>
	<td style="padding-left: 5px;">{{ trans_date_time }}</td>
</tr>
{% endif %}
{% endblock %}
