{% extends 'email/base_yeobill.txt.twig' %}
  
{% block title %}Transaction #{{ trans_id }} refunded - receipt{% endblock %}

{% block content %}
Hello,
Here is the receipt from "Yeobill" for the refund we have issued to you.
We are refunding you money for the following transaction:

Transaction ID#: {% if trans_id == 'budget' %}{{ transaction_id }}{% else %}{{ trans_id }}{% endif %}
Transaction Date/time: {{ trans_date_time }}
Amount: ${{ amount }}
{% if trans_id != 'budget' %}
Card: {{ card_label }}

Please note, that it might take up to 3 business days for this refund to show up on your credit card statement. This is something we can't influence as it depends processing times between your and our bank.
{% else %}

The amount has been re-added to your budget balance and is available for another purchase immediately.
{% endif %}

{% endblock %}
