{% extends 'email/base_yeobill.html.twig' %}
  
{% block title %}Upcoming charge{% endblock %}

{% block content %}
<tr>
    <td colspan="2" style="padding: 30px;">
        <br />
        Hello, this is a notification from <span style="font-weight: bold; color: black;">Yeobill</span> that {% if diff_in_days == 1 %}tomorrow{% else %}in {{ diff_in_days }} days{% endif %} we will run a charge, because you have set up recurring monthly payment that has renewal on {{ next_renewal_date }}.
		<br /><br />
		This is just a heads up email. 
{% if processor == 'budget' %}
	{% if budget >= recurring_amount %}
		Please make sure you have sufficient amount in your budget.
	{% else %}
		<strong>It seems you don't currently have sufficient budget in your account to make this payment</strong>. Please top-up your budget balance before this payment is up. If you need assistance, please contact us.
	{% endif %}
{% else %}
	If your billing details have changed, please make sure your billing details are up-to-date.
{% endif %}
		<br /><br />
		If you don't want to advertise with us anymore and want to cancel your subscription, please click on following <a href="{{ cancel_link }}">1-click cancel link</a> and cancel your recurring subscription now.
		<br /><br />
    </td>
</tr>
<tr>
    <td align="right" width="50%" style="width: 50%;"><strong>Payment Summary</strong></td>
    <td style="padding-left: 5px;">{{ payment_summary|nl2br }}</td>
</tr>
{% if processor == 'budget' %}
<tr>
    <td align="right" valign="top"><strong>Current budget balance</strong></td>
    <td style="padding-left: 5px;">${{ budget|number_format(2,".",",") }}</td>
</tr>
{% elseif card_label %}
<tr>
    <td align="right" valign="top"><strong>Card</strong></td>
    <td style="padding-left: 5px;">{{ card_label }}</td>
</tr>
{% endif %}
<tr>
    <td align="right" width="50%" style="width: 50%;"><strong>Payment Amount</strong></td>
    <td style="padding-left: 5px;">${{ recurring_amount }}</td>
</tr>
<tr>
    <td colspan="2" style="padding: 30px;">
        If you are not satisfied with our services, please contact us and let us know.<br />
        You can cancel your payment anytime, either by yourself in your member area on our website, or by contacting us.<br />
        We have a 30-days refund policy, so if you are not happy, we will always return your money, no questions asked.<br />
    </td>
</tr>
{% endblock %}
