{% extends 'email/base_yeobill.txt.twig' %}
  
{% block title %}Renewal of subscription #{{ subscription_id }} failed - notification{% endblock %}

{% block content %}
Hello,
This is notification from "Yeobill" that automatic renewal of your subscription failed, the reason is: '{{ reason }}'.

Subscription ID#: {{ subscription_id }}
Amount: ${{ amount }}
{% if card_label %}
Card: {{ card_label }}
{% endif %}
Reason: {{ reason }}

You can contact us at support@adultsearch.com for help with solving this situation.
{% endblock %}
