{% extends 'email/base_yeobill.txt.twig' %}
  
{% block title %}Subscription #{{ subscription_id }} canceled - receipt{% endblock %}

{% block content %}
Hello,
Here is the receipt from "Yeobill" for the subscription cancellation.
We are canceling following subscription:

subscription ID#: {{ subscription_id }}
Amount: ${{ amount }}
{% if trans_id %}
Transaction ID#: {{ trans_id }}
Transaction Date/time: {{ trans_date_time }}
{% endif %}
{% endblock %}
