{% extends 'email/base_yeobill.html.twig' %}
  
{% block title %}Renewal of subscription #{{ subscription_id }} failed - notification{% endblock %}

{% block content %}
<tr>
	<td colspan="2" align="center">
		<br />
		Hello,<br />
		This is notification from <span style="font-weight: bold; color: black;">Yeobill</span> that automatic renewal of your subscription failed, the reason is: '{{ reason }}'.<br /><br />
	</td>
</tr>
<tr>
	<td align="right" width="50%" style="width: 50%;"><strong>Subscription ID#</strong></td>
	<td style="padding-left: 5px;">{{ subscription_id }}</td>
</tr>
<tr>
	<td align="right" width="50%" style="width: 50%;"><strong>Amount</strong></td>
	<td style="padding-left: 5px;">${{ amount }}</td>
</tr>
{% if card_label %}
	<tr>
		<td align="right" valign="top"><strong>Card</strong></td>
		<td style="padding-left: 5px;">{{ card_label }}</td>
	</tr>
{% endif %}
<tr>
	<td align="right" valign="top"><strong>Reason</strong></td>
	<td style="padding-left: 5px;">{{ reason }}</td>
</tr>
<tr>
	<td colspan="2" style="padding: 30px;">
		You can contact us at support@adultsearch.com for help with solving this situation.
	</td>
</tr>
{% endblock %}
