{% extends 'email/base_yeobill.txt.twig' %}
  
{% block title %}Upcoming charge{% endblock %}

{% block content %}
Hello,

this is a notification from *Yeobill* that {% if diff_in_days == 1 %}tomorrow{% else %}in {{ diff_in_days }} days{% endif %} we will run a charge, because you have set up recurring monthly payment that has renewal on {{ next_renewal_date }}.

This is just a heads up email. {% if processor == 'budget' %}{% if budget >= recurring_amount %}Please make sure you have sufficient amount in your budget.{% else %}<strong>It seems you don't currently have sufficient budget in your account to make this payment</strong>. Please top-up your budget balance before this payment is up. If you need assistance, please contact us.{% endif %}{% else %}If your billing details have changed, please make sure your billing details are up-to-date.{% endif %}

If you don't want to advertise with us anymore and want to cancel your subscription, please click on following 1-click cancel link and cancel your recurring subscription now:
{{ cancel_link }}

Payment Summary:
{{ payment_summary }}
{% if processor == 'budget' %}
Current budget balance: ${{ budget }}
{% elseif card_label %}
Card: {{ card_label }}
{% endif %}
Payment Amount: ${{ recurring_amount }}

If you are not satisfied with our services, please contact us and let us know.
You can cancel your payment anytime, either by yourself in your member area on our website, or by contacting us.
We have a 30-days refund policy, so if you are not happy, we will always return your money, no questions asked.
{% endblock %}
