{% extends 'email/base_yeobill.html.twig' %}
  
{% block title %}Transaction #{{ trans_id }} refunded - receipt{% endblock %}

{% block content %}
<tr>
	<td colspan="2" align="center">
		<br />
		Hello,<br />
		Here is the receipt from <span style="font-weight: bold; color: black;">Yeobill</span> for the refund we have issued to you.<br /><br />
		We are refunding you money for the following transaction:<br /><br />
	</td>
</tr>
<tr>
	<td align="right" width="50%" style="width: 50%;"><strong>Transaction ID#</strong></td>
	<td style="padding-left: 5px;">{% if trans_id == 'budget' %}{{ transaction_id }}{% else %}{{ trans_id }}{% endif %}</td>
</tr>
<tr>
	<td align="right" width="50%" style="width: 50%;"><strong>Transaction Date/time</strong></td>
	<td style="padding-left: 5px;">{{ trans_date_time }}</td>
</tr>
<tr>
	<td align="right" width="50%" style="width: 50%;"><strong>Amount</strong></td>
	<td style="padding-left: 5px;">${{ amount }}</td>
</tr>
{% if trans_id != 'budget' %}
<tr>
	<td align="right" valign="top"><strong>Card</strong></td>
	<td style="padding-left: 5px;">{{ card_label }}</td>
</tr>
<tr>
	<td colspan="2" style="padding: 30px;">
		Please note, that it might take up to 3 business days for this refund to show up on your credit card statement. This is something we can't influence as it depends processing times between your and our bank.
	</td>
</tr>
{% else %}
<tr>
	<td colspan="2" style="padding: 30px;">
		The amount has been re-added to your budget balance and is available for another purchase immediately.
	</td>
</tr>
{% endif %}
{% endblock %}
