<table>
 <tr>
  <td>
	{section name=hh loop=$hh}{assign var=hh value=$hh[hh]}
	<div>{$hh.title}: from <select name="{$hh.col_start}">{$hh.open}</select> to <select 
name="{$hh.col_end}">{$hh.close}</select></div>
	{/section}
  </td>
 </tr>
</table>
