<form method="get" action="">
<p><input type="checkbox" name="image" value="1"{if $image} checked="checked"{/if} /> Show places that have picture <p>
<input type="submit" value="show" /></form>

<table>

{section name=s1 loop=$state}
{assign var=s value=$state[s1]}
 <tr>
  <td colspan="3"><u><b>{$s.name}</b> total: {$s.total}</u></td>
 </tr>

 <tr>
  <td>TYPE</td> 
  <td>ID</td>
  <td>Name</td>
  <td>Picture</td>
  <td>Phone</td>
  <td>Address</td>
  <td>City</td>
  <td>Zip</td>
  <td>State</td>
  <td>Country</td> 
  <td>Date Added</td> 
 </tr>

{section name=s2 loop=$state[s1].c}
{assign var=c value=$state[s1].c[s2]}
 <tr bgcolor="{cycle values="#F0C040,#F8E1A0"}">
 <td>{$c.type}</td> 
  <td>{$c.id}</td>
  <td>{$c.name}</td>
  <td>&nbsp;</td>
  <td>{$c.phone}</td>
 <td>{$c.address}</td> 
 <td>{$c.city}</td> 
 <td>{$c.zip}</td> 
 <td>{$c.state}</td> 
 <td>{$c.country}</td> 
 <td>{$c.added}</td> 
 </tr>
{/section}

{/section}

</table>
