<html>
<head>
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" Content="no-cache, must-revalidate">
<meta http-equiv="Expires" content="Mon, 22 Jul 2002 11:12:01 GMT">
{literal}
<style type="text/css" rel="stylesheet">
<!--
html{font-size:12px}
body{font-size:12px;color:#000000;}
ol, ul, li {border:0 none;margin:0;padding:0;}
ol li{list-style:none outside none;}
li{line-height:1.3;white-space:nowrap}
li.g, body, html, .std, .c h2, #mbEnd h2, h1 {font-family:arial,sans-serif;font-size:small;}
#mbEnd {margin:0 0 32px 1px;font-size:12px}
#mbEnd li {margin:12px 2px 0 0;}
cite{font-style:normal;color:#0E774A;}
h3, .med {font-size:13px;font-weight:normal;margin:0;padding:0;}
a:link, a:visited, .w, .q:active, .q:visited, .tbotu {color:#1C75C7;cursor:pointer;}
a.as, a.as:visited, a.as:active {color:#767676;font-size:11px}
-->
</style>
{/literal}
<base target="_top"></base>
</head>
<body>

{if $ad}
<table width="205px" cellspacing="0" cellpadding="0" border="0" id="mbEnd">
 <tbody>
  <tr>
{*
   <td valign="top">
    <a class="as" href="http://adultsearch.com/advertise/">Advertise Here</a>
   </td>
   </tr>
   <tr>
*}
    <td>

<ol>
{section name=ad loop=$ad}{assign var=s value=$ad[ad]}
{if $s.current}
<li><h3><a href="clickthrough?sid={$s.current}&amp;u={$u}&adurl={$s.ad_url}&r={$r}">{$s.ad_title}</a></h3>
{$s.ad_line1}<br>
{$s.ad_line2}<br>
<cite>{$s.ad_durl}</cite>
</li>
{/if}
{/section}
</ol>

    </td>
   </tr>

 </tbody>
</table>
{/if}
</body>
<html>
