@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: bold;
    font-display: swap;
}

#header, #footerx, .breadcrumbs, #logoModule, br, .ui-header.ui-bar-inherit, .ui-footer.ui-bar-inherit {
    display: none;
}

.ui-content {
    padding: 0;
}

body #content {
    padding-top: 0!important;
    margin: 0;
    width: 100%;
}

.landing-body {
    min-height: 100vh;
    height: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.landing-body .landing-container {
    background: transparent;
    font-family: Montserrat;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.landing-body .landing-container footer {
    text-align: center;
    margin-bottom: 10px;
}
.landing-body .landing-container footer span {
    font-weight: normal;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
    letter-spacing: 0;
}
.landing-body .landing-container .landing-title {
    font-family: Montserrat;
    width: 750px;
    font-weight: bold;
    font-size: 62px;
    margin: 0;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    /*background: linear-gradient(to right, #E32424 0%, #F86D6D 100%);*/
    background: linear-gradient(to right, #1565C0 0%, #68A5EB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 1px 0 #093364);
}
.landing-body .landing-container .location-url-container {
    background: #1565C0;
    border-radius: 4px;
    text-align: center;
    line-height: 26px;
    padding: 14px 53px;
    margin-bottom: 65px;
}
.landing-body .landing-container .location-url-container a {
    font-family: Montserrat;
    display: block;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 500;
    text-decoration: none;
}
.landing-body .landing-container .location-url-container a:hover, .landing-body .landing-container .location-url-container a:active, .landing-body .landing-container .location-url-container a:focus {
    text-decoration: none;
}
.landing-body .landing-container .profiles-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;
    margin-bottom: 105px;
}
.landing-body .landing-container .profiles-container .profile {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
    margin-right: 55px;
    margin-top: 40px;
}
.landing-body .landing-container .profiles-container .profile:hover, .landing-body .landing-container .profiles-container .profile:active, .landing-body .landing-container .profiles-container .profile:focus {
    text-decoration: none;
}
@media screen and (min-width: 767px) {
    .landing-body .landing-container .profiles-container .profile {
        transition: 0.5s ease-in-out;
    }
    .landing-body .landing-container .profiles-container .profile:hover {
        transform: rotateZ(-10deg) scale(1.25);
        box-shadow: 0 2px 24px 0 rgba(30, 101, 192, 0.7);
        z-index: 3;
    }
}
.landing-body .landing-container .profiles-container .profile img {
    position: absolute;
    z-index: 1;
    width: 250px;
    height: 250px;
    object-fit: cover;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.landing-body .landing-container .profiles-container .profile .info {
    z-index: 2;
}
.landing-body .landing-container .profiles-container .profile .info p {
    letter-spacing: 0;
    margin: 0;
    word-wrap: break-word;
    text-shadow: 0 1px 0 #000000;
}
.landing-body .landing-container .profiles-container .profile .info p.name {
    font-family: Montserrat;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 24px;
    padding: 0 20px;
}
.landing-body .landing-container .profiles-container .profile .info p.location {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.9);
    padding: 0 20px 20px 20px;
}
@media screen and (min-width: 767px) and (max-width: 992px) {
    .landing-body .landing-container .profiles-container .profile:nth-child(2n) {
        margin-right: 0;
    }
}
@media screen and (min-width: 992px) {
    .landing-body .landing-container .profiles-container .profile:nth-child(3n) {
        margin-right: 0;
    }
}

@media screen and (max-width: 767px) {
    .landing-body {
        display: flex;
        align-items: center;
    }
}
@media screen and (max-width: 767px) {
    .landing-body .landing-container {
        padding: 10px 15px 0 15px;
        margin: 0;
        width: 100%;
    }
    .landing-body .landing-container .location-url-container {
        width: 100%;
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .landing-body .landing-container .landing-title {
        margin-bottom: 10px;
        font-size: 27px;
        width: 330px;
        text-align: left;
        margin-right: auto;
        margin-left: 10px;
    }
    .landing-body .landing-container .profiles-container {
        margin: 0;
    }
    .landing-body .landing-container .profiles-container .profile {
        width: calc(50vw - 35px);
        height: calc(50vw - 35px);
        margin: 10px;
        text-decoration: none;
    }
    .landing-body .landing-container .profiles-container .profile .info p.name {
        font-size: 18px;
        padding: 0 5px 10px 10px;
    }
    .landing-body .landing-container .profiles-container .profile .info p.location {
        display: none;
    }
}
@media screen and (min-width: 525px) and (max-width: 767px) {
    .landing-body .landing-container .profiles-container .profile {
        width: calc(50vw - 45px);
        height: calc(50vw - 45px);
    }
}
@media screen and (max-width: 335px) {
    .landing-body .landing-container {
        padding: 10px;
    }
    .landing-body .landing-container .landing-title {
        width: 100%;
    }
    .landing-body .landing-container .profiles-container {
        width: 100%;
    }
}

/*Styles for different versions*/
.landing-body.landing2 {
    background: url(../../images/landing/background2.jpg) center;
}
.landing-body.landing2 .landing-container .landing-title {
    background: linear-gradient(to right, #DEEDFF 0%, #C7E1FF 100%);
    -webkit-background-clip: text;
}

.landing-body.landing2 .landing-container .location-url-container {
    background: #FFFFFF;
}
.landing-body.landing2 .landing-container .location-url-container a {
    color: #1565C0;
}

.landing-body.landing3 {
    background: url(../../images/landing/background3.jpg) center;
}
