{% macro hours(name, options, value) %}
	<select class="form-control input-sm" id="{{ name }}" name="qv[{{ name }}]" style="display: inline-block; width: 120px;">
		<option value="">- Don't Know -</option>
		{% for v,l in options %}
		<option value="{{ v }}"{% if value and v == value %} selected="selected"{% endif %}>{{ l }}</option>
		{% endfor %}
	</select>
{% endmacro %}
{% macro hours_day_row(title, name, q, question_values) %}
	{% import _self as forms %}
	<tr class="oh_day_row">
		<td style="width: 100px;">{{ title }}:</td>
		<td>From: {{ forms.hours(name~'_from', q.options_from, attribute(question_values, name~'_from')) }}</td>
		<td>To: {{ forms.hours(name~'_to', q.options_to, attribute(question_values, name~'_to')) }}</td>
		<td><div class="checkbox"><label><input type="checkbox" class="oh_allday" id="{{ name }}_allday"> All day</label></div></td>
		<td>
			<div class="checkbox" style="display: inline-block;"><label><input type="checkbox" class="oh_closed" id="{{ name }}_closed" name="qv[{{ name }}_closed]" value="1" {% if attribute(question_values, name~'_from') == -1 and attribute(question_values, name~'_to') == -1 %}checked="checked" {% endif %}> Closed</label></div>
		</td>
	</tr>
{% endmacro %}
{% import _self as forms %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<style type="text/css">
div#edit_place {
	border: 1px solid #C0C0C0;
	border-radius: 5px;
	background-color: #F2F5FF;
	max-width: 1000px;
}
div#edit_place h1 {
	font-size: 2em;
}
div#edit_place div#type_select_modifier {
	padding-bottom: 10px;
}
table.table_oh td {
	vertical-align: baseline;
	padding-left: 3px;
	padding-right: 3px;
}
table.table_oh select {
	margin-bottom: 5px;
}
.form-group.required .control-label:after {
  content:" *";
  color:red;
}
div#edit_place select.form-control {
	width: auto;
}
div#edit_place input {
	max-width: 500px;
}
</style>

{#
<div id="loading" style="display:none;position:absolute;top:200px;color:red"><img src="{$config_site_url}/images/ajax-loader.gif" alt="" /></div>

{if $owner_mode}
	<div id="owners" style="clear:both">
		<span class="ownermenu">
			<a href="{$owner_link}?id={$id}" title="">Business Main Page</a>
		</span>
		<span class="ownermenu">
			<a href="owner?id={$id}" class="active" title="">Edit My Business</a>
		</span>
		<span class="ownermenu"><a href="/account/payments" title="">Billing</a></span>
	</div>
{/if}
#}

<div id="edit_place" class="container">

{% if id is defined and id %}
	<h1>Edit place #{{ id }} - {{ name }} ({{ type_name }})</h1>
{% else %}
	<h1>Add new place</h1>
{% endif %}

{% if place_view_url %}
	<a href="{{ place_view_url }}" class="btn btn-sm btn-primary">View place #{{ id }}</a><br />
{% endif %}

<div id="type_select_modifier"></div>

{% if error %}
	<div class="flash_msg flash_msg_error">{{ error }}</div>
{% endif %}

<form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
{% for q in questions %}
	{% if q.type == "select" %}
	<div class="form-group {% if q.mandatory == true %}required{% endif %}">
		<label for="{{ q.name }}" class="col-sm-3 control-label">{{ q.label }}</label>
		<div class="col-sm-9">
			<select class="form-control" id="{{ q.name }}" name="qv[{{ q.name }}]">
			<option value="">-</option>
			{% for option_value, option_label in q.options %}
				<option value="{{ option_value }}"{% if attribute(question_values, q.name) == option_value %} selected="selected"{% endif %}>{{ option_label }}</option>
			{% endfor %}
			</select>
		</div>
	</div>
	{% elseif q.type == "select_from_to" %}
	<div class="form-group {% if q.mandatory == true %}required{% endif %}">
		<label for="{{ q.name }}" class="col-sm-3 control-label">{{ q.label }}</label>
		<div class="col-sm-9">
			<select class="form-control" id="{{ q.name }}_from" name="qv[{{ q.name }}_from]">
			<option value="">-</option>
			{% for option_value, option_label in q.options %}
				<option value="{{ option_value }}"{% if attribute(question_values, q.name~'_from') == option_value %} selected="selected"{% endif %}>{{ option_label }}</option>
			{% endfor %}
			</select>
			goes to
			<select class="form-control" id="{{ q.name }}_from" name="qv[{{ q.name }}_to]">
			<option value="">-</option>
			{% for option_value, option_label in q.options %}
				<option value="{{ option_value }}"{% if attribute(question_values, q.name~'_to') == option_value %} selected="selected"{% endif %}>{{ option_label }}</option>
			{% endfor %}
			</select>
		</div>
	</div>
	{% elseif q.type == "string" %}
	<div class="form-group {% if q.mandatory == true %}required{% endif %}">
		<label for="{{ q.name }}" class="col-sm-3 control-label">{{ q.label|raw }}</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" id="{{ q.name }}" name="qv[{{ q.name }}]" placeholder="" value="{% if attribute(question_values, q.name) %}{{ attribute(question_values, q.name) }}{% endif %}" {% if q.style is defined %}style="{{ q.style }}" {% endif %}>
			{% if q.name == 'phone1' %}
				<div class="checkbox"><label><input type="checkbox" name="phone1_skip_unique" value="1" {% if phone1_skip_unique %}checked="checked"{% endif %} /> Skip unique phone number control</label></div>
			{% endif %}
		</div>
	</div>
	{% elseif q.type == "text" %}
	<div class="form-group {% if q.mandatory == true %}required{% endif %}">
		<label for="{{ q.name }}" class="col-sm-3 control-label">{{ q.label|raw }}</label>
		<div class="col-sm-9">
			<textarea class="form-control" id="{{ q.name }}" name="qv[{{ q.name }}]" placeholder="">{% if attribute(question_values, q.name) %}{{ attribute(question_values, q.name) }}{% endif %}</textarea>
		</div>
	</div>
	{% elseif q.type == "checkbox" %}
	<div class="form-group {% if q.mandatory == true %}required{% endif %}">
		<label for="{{ q.name }}" class="col-sm-3 control-label">{{ q.label|raw }}</label>
		<div class="col-sm-9">
			<div class="checkbox"><label><input type="checkbox" id="{{ q.name }}" name="qv[{{ q.name }}]" value="1" {% if attribute(question_values, q.name) == 1 %}checked="checked"{% endif %} /> Yes</label></div>
		</div>
	</div>
	{% elseif q.type == "location" %}
	<div class="form-group required">
		<label for="location" class="col-sm-3 control-label">Location</label>
		<div class="col-sm-9">
			<div id="location_selected" {% if not attribute(question_values, 'loc_id') %} style="display:none;"{% endif %}>
				<a href="#" id="location_cancel" class="btn btn-success"><span>{% if attribute(question_values, 'loc_id') %}{{ attribute(question_values, 'loc_label') }}{% endif %}</span> <span class="glyphicon glyphicon-remove" aria-hidden="true" style="color: red;"></span></a>
			</div>
			<div id="location_not_selected" {% if attribute(question_values, 'loc_id') %} style="display:none;"{% endif %}>
				<input type="search" class="form-control" id="location" placeholder="Start typing city name ..." value="" />
				<input type="hidden" id="loc_id" name="qv[loc_id]" value="{{ attribute(question_values, 'loc_id') }}" />
			</div>
		</div>
	</div>
	{% elseif q.type == "image" %}
	<div class="form-group">
		<label for="location" class="col-sm-3 control-label">Image</label>
		<div class="col-sm-9">
			<div id="image_selected" {% if not q.image %}style="display: none;" {% endif %}>
				<img src="{{ q.imageUrl }}" style="margin-bottom: 5px;" /><br />
				<button type="button" id="image_delete_btn" class="btn btn-xs btn-danger" onclick="confirm('Are you sure you want to delete image?');">Delete image</button>
			</div>
			<div id="image_not_selected" {% if q.image %}style="display: none;" {% endif %}>
				<input type="file" class="form-control" id="image" name="image" />
			</div>
			<input type="hidden" id="image_delete" name="image_delete" value="" />
		</div>
	</div>
	{% if q.image or q.thumb %}
	<div class="form-group">
		<label for="location" class="col-sm-3 control-label">Thumb</label>
		<div class="col-sm-9">
			<div id="thumb_selected" {% if not q.thumb %}style="display: none;" {% endif %}>
				<img src="{{ q.thumbUrl }}" style="margin-bottom: 5px;" /><br />
				<button type="button" id="thumb_delete_btn" class="btn btn-xs btn-danger" onclick="confirm('Are you sure you want to delete thumbnail?');">Delete thumb</button>
			</div>
			<div id="thumb_not_selected" {% if q.thumb %}style="display: none;" {% endif %}>
				<input type="file" class="form-control" id="thumb" name="thumb" />
			</div>
			<input type="hidden" id="thumb_delete" name="thumb_delete" value="" />
		</div>
	</div>
		{% if id is defined and id %}
		<div class="form-group">
			<label for="location" class="col-sm-3 control-label">Extra Files</label>
			<div class="col-sm-9">
				<div id="files_listing"></div>
				<script type="text/javascript">
					function FilesRefreshListing() {_ajax('post', '/ajax/files/place/{{ id }}/listing', '', 'files_listing'); }
					FilesRefreshListing();
				</script>
			</div>
		</div>
		{% endif %}
	{% endif %}
	{% elseif q.type == "hours" %}
	<div class="form-group {% if q.mandatory == true %}required{% endif %}">
		<label for="location" class="col-sm-3 control-label">{{ q.label }}</label>
		<div class="col-sm-9">
			<table class="table_oh">
			<tr>
				<td colspan="5">
					<div class="checkbox"><label><input type="checkbox" name="qv[always]" value="1" id="oh_always" {% if question_values.always == 1 %}checked="checked" {% endif %}>open 24 hours a day</label></div>
				</td>
			</tr>
			<tr class="oh_day_row">
				<td colspan="5">
					<a href="#" class="btn btn-xs btn-default" id="oh_set_from_monday">set times from monday</a>
				</td>
			</tr>
			{{ forms.hours_day_row('Monday', 'monday', q, question_values) }}
			{{ forms.hours_day_row('Tuesday', 'tuesday', q, question_values) }}
			{{ forms.hours_day_row('wednesday', 'wednesday', q, question_values) }}
			{{ forms.hours_day_row('Thursday', 'thursday', q, question_values) }}
			{{ forms.hours_day_row('Friday', 'friday', q, question_values) }}
			{{ forms.hours_day_row('Saturday', 'saturday', q, question_values) }}
			{{ forms.hours_day_row('Sunday', 'sunday', q, question_values) }}
			</table>
		</div>
	</div>
	{% endif %}
{% endfor %}
  <div class="form-group">
	<div class="col-sm-offset-3 col-sm-9">
	  <button type="submit" class="btn btn-default" name="submit" value="Submit">Submit</button>
	</div>
  </div>
</form>

</div>

{#

{if $browse}
<div>
{section name=l loop=$letters}{assign var=l value=$letters[l]}
<a href="?browse={$l}">{$l}</a>
{/section}
</div>
{/if}

<table width='100%' cellspacing='15' style="text-align:left" class="b">

<tr>
	<td>&nbsp;</td>
	  <td>
	<div id="submitlog"></div>

	{if $deleted}
		<br />
		<span style="color: red; font-weight: bold;">This place is deleted</span>
		<br /><br />
	{else}

		{if $work_item && !$owner_mode}
<!--
			Work item: #{$work_item}<br />
-->
			<input type="hidden" name="work_item" value="{$work_item}" />
<!--
			<input type="submit" name="Save_Leave_Uncompleted" value="Save but leave uncompleted" onclick="return checkform();" />
-->
			<input type="submit" name="Save_Completed" value="Save and mark Completed" onclick="return checkform();" />
			<input type="submit" name="Skip" value="Skip to next" />
			{if $reassign_name}
				<input type="submit" name="{$reassign_name}" value="{$reassign_label}" />
			{/if}
			<input type="submit" name="Remove" value="Remove" onclick="return confirm('Are you sure?');" />

			<br /><br />
			<a href="/mng/work_items">Back to my work items list</a>
		{else}
			<input type="submit" name="Save" id="SaveButton" value="{if $save_button_value}{$save_button_value}{else}Save{/if}" onclick="return checkform();" />
			{if $worker_mode}
				&nbsp;&nbsp;&nbsp;<input type="submit" name="Skip" value="Skip to next one" onclick="return confirm('Are you sure to skip this?');"/>
			{elseif !$visitor_mode&&!$owner_mode}
				&nbsp;&nbsp;&nbsp;<input type="submit" name="SaveAddNew" value="Save and add new"/>
				{if $show_remove}
					&nbsp;&nbsp;&nbsp;<input type="submit" name="Remove" value="Remove" onclick="return confirm('Are you sure?');"/>
				{/if}
			{/if}

			{if $cbutton}
				{section name=cb loop=$cbutton}{assign var=cb value=$cbutton[cb]}
					<span class="bsubmit">
						<button class="bsubmit-r" name="{$cb.name}" value="{$cb.value}"{if $cb.onclick} onclick="return confirm('{$cb.onclick}');"{/if}><span>{$cb.value}</span></button>
					</span>
				{/section}
			{/if}
		{/if}
	{/if}

	</td>
 </tr>

{if $worker_note}
<tr>
	<td>&nbsp;</td>
	  <td>
	{$worker_note}
	</td>
 </tr>
{/if}

#}

<script type="text/javascript">
<!--

function checkform() {
	var r = true;
	$(".mandatory").each(function() {
		if( $(this).val() == "") { 
			$(this).css("border", "1px solid #ff0000"); r = false;
		} else  $(this).css("border", "1px solid #000000");
	});
	if( !r ) $("#submitlog").html("You have to answer all the fields with the red border around it.").css({"color":"#ff0000"});
	return r;
}

function onChangePlaceType() {
	var type_val = $('#place_type_id').val();
	if (typeof(allowedQuestionsPerType) != "undefined" && type_val in allowedQuestionsPerType) {
		$('div.form-group').hide();
		var allowedQuestions = allowedQuestionsPerType[type_val];
		for (i in allowedQuestions) {
			var q = allowedQuestions[i];
			$('select[name="qv['+q+']"], input[name="qv['+q+']"], input[name="'+q+'"], textarea[name="qv['+q+']"], div#'+q).closest('div.form-group').show();
		};
		$('div.form-group:first').show();
		$('div.form-group:last').show();
	
		$('#type_select_modifier').html('Showing only questions for type ' + $('#place_type_id').children('option:selected').text() + '. <a href="#" onclick="showAllQuestions();" class="btn btn-xs btn-default">Show all questions.</a>');
	} else {
		$('div.form-group').show();
		$('#type_select_modifier').html('');
	}
}

function showAllQuestions() {
	$('div.form-group').show();
	$('#type_select_modifier').html('Showing ALL questions. <a href="#" onclick="onChangePlaceType();" class="btn btn-xs btn-default">Show only questions for type ' + $('#place_type_id').children('option:selected').text() + '.</a>');
}

function oh_always() {
	if ($('#oh_always').prop('checked')) {
		$('tr.oh_day_row').hide();
	} else {
		$('tr.oh_day_row').show();
	}
}

$(document).ready(function() {

	//place type
	$('#place_type_id').change(function(e) {
		e.preventDefault();
		onChangePlaceType();
		return false;
	});
	onChangePlaceType();

	//location
	$('#location').autocomplete({
		source: "/ajax/location/search?type=place_edit",
		minLength: 2,
		select: function(event, ui) {
			console.log('chaging to :'+ui.item.label+' !');
			$('#loc_id').val(ui.item.id);
			$('#location_cancel span:first').text(ui.item.label);
			$('#location_not_selected').hide();
			$('#location_selected').show();
		}
	});
	$('#location_cancel').click(function(ev) {
		ev.preventDefault();
		$('#loc_id').val('');
		$('#location').val('');
		$('#location_cancel span:first').text('');
		$('#location_selected').hide();
		$('#location_not_selected').show();
	});

	//image
	$('#image_delete_btn').click(function(ev) {
		$('#image_delete').val('1');
		$('#image_selected').hide();
		$('#image_not_selected').show();
	});
	$('#thumb_delete_btn').click(function(ev) {
		$('#thumb_delete').val('1');
		$('#thumb_selected').hide();
		$('#thumb_not_selected').show();
	});

	//openhours
	$('#oh_always').click(function(ev) {
		oh_always();
	});
	oh_always();
	$('.oh_allday').change(function() {
		if (!$(this).prop('checked'))
			return;
		$(this).closest('tr').find('select:first').val('0');
		$(this).closest('tr').find('select:last').val('1440');
	});
	$('#oh_set_from_monday').click(function(ev) {
		ev.preventDefault();
		var from = $('#monday_from').val();
		var to = $('#monday_to').val();
		var closed = $('#monday_closed').prop('checked');
		$(this).closest('div.form-group').find('tr').each(function(ind, obj) {
			$(this).find('select:first').val(from);
			$(this).find('select:last').val(to);
			$(this).find('input.oh_closed').prop('checked', closed);
		});
	});

	if (getParameterByName('savelive') == 1) {
		$('select[name=edit] option').each(function(){
			if ($(this).val() == 2 && $(this).text() == 'Done')
				$(this).prop('selected', true);
			if ($(this).val() == 1 && $(this).text() == 'Live')
				$(this).prop('selected', true);
		});
	}
});

var allowedQuestionsPerType = [];
{% for key,val in types %}
	{% if val in ['Strip Club', 'Strip Clubs', 'Male Strip Club', 'Male Strip Clubs', 'Strip Club & Brothel', 'Strip Clubs - Brothels', 'Strip Clubs & Brothels'] %}
		allowedQuestionsPerType['{{ key }}'] = [
			'type', 'orientation', 'name', 'phone1', 'phone2', 'neighborhood_area', 'address1', 'address2', 'building_name', 'loc_id', 'zipcode', 'website', 'facebook', 'twitter', 'instagram', 'email', 'loc_lat', 'loc_long', 
			'always', 'day1o', 'day1c', 'open_holidays', 'happy_hours', 'youtube', 
			'cc', 'cc_visa_master', 'cc_visa', 'cc_master', 'cc_ae', 'cc_dis', 'cc_jcb', 'payment_ec', 
			'cover', 
			'pickup_dropoff', 'parking', 'dancer', 'clubtype', 'bar_service', 'food', 
			'reservations', 'facilities', 'services', 'dancers', 'nude_topless_dancing', 'alcoholic', 
			'offers_extra_services', 'offers_sex', 'take_out', 'age_18', 'admission', 'private_room', 'vip_room', 'lapdance', 'vip_fee', 'model_prices', 'info',
			'image', 'thumb', 'extra1', 'files_listing', 'worker_comment', 'edit'];
	{% elseif val in ['Sex Shop', 'Sex Shops'] %}
		allowedQuestionsPerType['{{ key }}'] = [
			'type', 'orientation', 'name', 'phone1', 'phone2', 'neighborhood_area', 'address1', 'address2', 'building_name', 'loc_id', 'zipcode', 'website', 'facebook', 'twitter', 'instagram', 'email', 'loc_lat', 'loc_long', 
			'always', 'day1o', 'day1c', 'open_holidays', 'happy_hours', 
			'cc', 'cc_visa_master', 'cc_visa', 'cc_master', 'cc_ae', 'cc_dis', 'cc_jcb', 'payment_ec', 
			'parking', 
			'lingerie', 'adult_toys', 'adult_dvds', 'peep_shows', 'adult_books', 'adult_video_arcade', 'gloryhole', 
			'theaters', 'theater_single_fee', 'theater_couple_fee', 'fetish', 'lgbt', 'buddy_booth_available', 'info', 
			'cruising_lounge', 
			'image', 'thumb', 'extra1', 'files_listing', 'worker_comment', 'edit'];
			
	{% elseif val in ['Erotic Massage Parlor', 'Erotic Massage Parlors'] %}
		allowedQuestionsPerType['{{ key }}'] = [
			'type', 'orientation', 'name', 'phone1', 'phone2', 'neighborhood_area', 'address1', 'address2', 'building_name', 'loc_id', 'zipcode', 'website', 'facebook', 'twitter', 'instagram', 'email', 'loc_lat', 'loc_long', 
			'always', 'appointment_only', 'day1o', 'day1c', 'open_holidays', 'happy_hours', 
			'cc', 'cc_visa_master', 'cc_visa', 'cc_master', 'cc_ae', 'cc_dis', 'cc_jcb', 'payment_ec', 
			'masseuse', 
			'rate_15', 'rate_30', 'rate_45', 'rate_60', 'rate_90', 'coupon', 
			'girl_fee', 'table_shower', 'rate_table_shower', 'short_time_room_fee', 
			'sauna', 'jacuzzi', 'parking', 'fourhand', 'info',
			'nice_rooms_showers', 'mixture_girls_ladyboys', 'overall_quality_girls', 'nonerotic',  
			'thai_massage_fee', 'foot_massage_fee', 'oil_massage_fee', 'aroma_massage_fee', 'hot_oil_fee', 'thai_herbal_hot_compress_fee', 
			'head_neck_shoulder_massage_fee', 'foot_scrub_fee', 'body_scrub_fee', 'aloe_vera_fee', 'soapy_massage', 
			'image', 'thumb', 'extra1', 'files_listing', 'worker_comment', 'edit'];
			
	{% elseif val in ['Soapy Massage Parlor', 'Soapy Massage Parlors'] %}
		allowedQuestionsPerType['{{ key }}'] = [
			'type', 'orientation', 'name', 'phone1', 'phone2', 'neighborhood_area', 'address1', 'address2', 'building_name', 'loc_id', 'zipcode', 'website', 'facebook', 'twitter', 'instagram', 'email', 'loc_lat', 'loc_long', 
			'always', 'day1o', 'day1c', 'open_holidays', 'happy_hours', 
			'cc', 'cc_visa_master', 'cc_visa', 'cc_master', 'cc_ae', 'cc_dis', 'cc_jcb', 'payment_ec', 
			'duration_of_massage', 'fishbowls', 'number_girls_fishbowl', 'number_girls_lobby', 
			'quality_girls_fishbowl', 'quality_girls_lobby', 'quality_massage', 'would_recommend', 'soapy_massage_fee_from', 
			'nonerotic',  
			'image', 'thumb', 'extra1', 'files_listing', 'worker_comment', 'edit'];
			
	{% elseif val in ['Red Light District', 'Red Light Districts'] %}
		allowedQuestionsPerType['{{ key }}'] = [
			'type', 'orientation', 'name', 'phone1', 'phone2', 'neighborhood_area', 'address1', 'address2', 'building_name', 'loc_id', 'zipcode', 'website', 'facebook', 'twitter', 'instagram', 'email', 'loc_lat', 'loc_long', 
			'always', 'day1o', 'day1c', 'open_holidays', 'happy_hours', 
			'cc', 'cc_visa_master', 'cc_visa', 'cc_master', 'cc_ae', 'cc_dis', 'cc_jcb', 'payment_ec', 
			'parking',  
			'reservations', 'facilities', 'services', 
			'private_room', 
			'rate_15', 'rate_30', 'rate_45', 'rate_60', 'offers_sex', 
			'alcoholic', 
			'image', 'thumb', 'extra1', 'files_listing', 'worker_comment', 'edit'];
			
	{% elseif val in ['Table Dance', 'Table Dances'] %}
		allowedQuestionsPerType['{{ key }}'] = [
			'type', 'orientation', 'name', 'phone1', 'phone2', 'neighborhood_area', 'address1', 'address2', 'building_name', 'loc_id', 'zipcode', 'website', 'facebook', 'twitter', 'instagram', 'email', 'loc_lat', 'loc_long', 
			'always', 'day1o', 'day1c', 'open_holidays', 'happy_hours', 
			'cc', 'cc_visa_master', 'cc_visa', 'cc_master', 'cc_ae', 'cc_dis', 'cc_jcb', 'payment_ec', 
			'parking',  
			'reservations', 'facilities', 'services', 'dancers', 
			'admission', 'alcoholic', 'take_out', 'ladies_drink', 'nude_topless_dancing', 'private_room', 
			'rate_30', 'rate_60', 'offers_sex', 
			'image', 'thumb', 'extra1', 'files_listing', 'worker_comment', 'edit'];
			
	{% elseif val in ['Bordello', 'Bordellos', 'Eros Center', 'Eros Centers', 'Private', 'Privates'] %}
		allowedQuestionsPerType['{{ key }}'] = [
			'type', 'orientation', 'name', 'phone1', 'phone2', 'neighborhood_area', 'address1', 'address2', 'building_name', 'loc_id', 'zipcode', 'website', 'facebook', 'twitter', 'instagram', 'email', 'loc_lat', 'loc_long', 
			'always', 'day1o', 'day1c', 'open_holidays', 'happy_hours', 
			'cc', 'cc_visa_master', 'cc_visa', 'cc_master', 'cc_ae', 'cc_dis', 'cc_jcb', 'payment_ec', 
			'parking',  
			'reservations', 'facilities', 'services',
			'admission', 'alcoholic', 'take_out', 'private_room', 
			'rate_30', 'rate_60', 'offers_sex', 
			'image', 'thumb', 'extra1', 'files_listing', 'worker_comment', 'edit'];
			
	{% elseif val in ['Swinger Club', 'Swinger Clubs', 'Swingers Club', 'Swingers Clubs'] %}
		allowedQuestionsPerType['{{ key }}'] = [
			'type', 'orientation', 'name', 'phone1', 'phone2', 'address', 'neighborhood_area', 'address1', 'address2', 'building_name', 'loc_id', 'zipcode', 'website', 'facebook', 'twitter', 'instagram', 'email', 'loc_lat', 'loc_long', 
			'always', 'day1o', 'day1c', 'open_holidays', 'happy_hours', 
			'cc', 'cc_visa_master', 'cc_visa', 'cc_master', 'cc_ae', 'cc_dis', 'cc_jcb', 'payment_ec', 
			'parking',  
			'reservations', 'facilities', 'services',
			'admission', 'alcoholic', 'private_room', 
			'image', 'thumb', 'extra1', 'files_listing', 'worker_comment', 'edit'];
			
	{% elseif val in ['Night Club', 'Night Clubs', 'Night Club - Freelance Escort', 'Night Club - Freelance Escorts', 'Cabaret', 'Cabarets'] %}
		allowedQuestionsPerType['{{ key }}'] = [
			'type', 'orientation', 'name', 'phone1', 'phone2', 'address', 'neighborhood_area', 'address1', 'address2', 'building_name', 'loc_id', 'zipcode', 'website', 'facebook', 'twitter', 'instagram', 'email', 'loc_lat', 'loc_long', 
			'always', 'day1o', 'day1c', 'open_holidays', 'happy_hours', 
			'cc', 'cc_visa_master', 'cc_visa', 'cc_master', 'cc_ae', 'cc_dis', 'cc_jcb', 'payment_ec', 
			'parking',  
			'reservations', 'facilities', 'services',
			'admission', 'alcoholic', 'private_room', 'vip_room', 
			'ladies_drink', 'offers_sex', 
			'image', 'thumb', 'extra1', 'files_listing', 'worker_comment', 'edit'];
			
	{% elseif val in ['Laufhaus', 'LaufHaus'] %}
		allowedQuestionsPerType['{{ key }}'] = [
			'type', 'orientation', 'name', 'phone1', 'phone2', 'address', 'neighborhood_area', 'address1', 'address2', 'building_name', 'loc_id', 'zipcode', 'website', 'facebook', 'twitter', 'instagram', 'email', 'loc_lat', 'loc_long', 
			'always', 'day1o', 'day1c', 'open_holidays', 'happy_hours', 
			'cc', 'cc_visa_master', 'cc_visa', 'cc_master', 'cc_ae', 'cc_dis', 'cc_jcb', 'payment_ec', 
			'parking',  
			'reservations', 'facilities', 'services',
			'admission', 'alcoholic', 'take_out', 'private_room', 'vip_room', 
			'rate_30', 'rate_60', 'offers_sex', 
			'image', 'thumb', 'extra1', 'files_listing', 'worker_comment', 'edit'];
			
	{% elseif val in ['FKK', 'FKKs', 'Gay Sauna','Gay Saunas'] %}
		allowedQuestionsPerType['{{ key }}'] = [
			'type', 'orientation', 'name', 'phone1', 'phone2', 'address', 'neighborhood_area', 'address1', 'address2', 'building_name', 'loc_id', 'zipcode', 'website', 'facebook', 'twitter', 'instagram', 'email', 'loc_lat', 'loc_long', 
			'always', 'day1o', 'day1c', 'open_holidays', 'happy_hours', 
			'cc', 'cc_visa_master', 'cc_visa', 'cc_master', 'cc_ae', 'cc_dis', 'cc_jcb', 'payment_ec', 
			'parking',  
			'reservations', 'facilities', 'services',
			'pickup_dropoff', 'admission', 'alcoholic', 'private_room', 'vip_room', 
			'rate_30', 'rate_60', 'offers_sex', 
			'hot_buffet', 'cold_buffet', 
			'image', 'thumb', 'extra1', 'files_listing', 'worker_comment', 'edit'];
			
	{% elseif val in ['Sex Kino', 'Sex Kinos'] %}
		allowedQuestionsPerType['{{ key }}'] = [
			'type', 'orientation', 'name', 'phone1', 'phone2', 'address', 'neighborhood_area', 'address1', 'address2', 'building_name', 'loc_id', 'zipcode', 'website', 'facebook', 'twitter', 'instagram', 'email', 'loc_lat', 'loc_long', 
			'always', 'day1o', 'day1c', 'open_holidays', 'happy_hours', 
			'cc', 'cc_visa_master', 'cc_visa', 'cc_master', 'cc_ae', 'cc_dis', 'cc_jcb', 'payment_ec', 
			'parking',  
			'reservations', 'facilities', 'services',
			'nude_or_topless_dancing', 
			'admission', 'private_room', 'vip_room', 
			'offers_sex', 
			'image', 'thumb', 'extra1', 'files_listing', 'worker_comment', 'edit'];
			
	{% elseif val in ['Tranny Show', 'Tranny Shows'] %}
		allowedQuestionsPerType['{{ key }}'] = [
			'type', 'orientation', 'name', 'phone1', 'phone2', 'address', 'neighborhood_area', 'address1', 'address2', 'building_name', 'loc_id', 'zipcode', 'website', 'facebook', 'twitter', 'instagram', 'email', 'loc_lat', 'loc_long', 
			'always', 'day1o', 'day1c', 'open_holidays', 'happy_hours', 
			'cc', 'cc_visa_master', 'cc_visa', 'cc_master', 'cc_ae', 'cc_dis', 'cc_jcb', 'payment_ec', 
			'parking',  
			'reservations', 'facilities', 'services',
			'nude_or_topless_dancing', 
			'admission', 'private_room', 'vip_room', 
			'alcoholic', 
			'offers_sex', 
			'image', 'thumb', 'extra1', 'files_listing', 'worker_comment', 'edit'];
			
	{% elseif val in ['Gay Fetish Bar', 'Gay Fetish Bars', 'Gay Bar', 'Gay Bars', 'Fetish Bar', 'Fetish Bars'] %}
		allowedQuestionsPerType['{{ key }}'] = [
			'type', 'orientation', 'name', 'phone1', 'phone2', 'address', 'neighborhood_area', 'address1', 'address2', 'building_name', 'loc_id', 'zipcode', 'website', 'facebook', 'twitter', 'instagram', 'email', 'loc_lat', 'loc_long', 
			'always', 'day1o', 'day1c', 'open_holidays', 'happy_hours', 
			'cc', 'cc_visa_master', 'cc_visa', 'cc_master', 'cc_ae', 'cc_dis', 'cc_jcb', 'payment_ec', 
			'parking',  
			'reservations', 'facilities', 'services', 'dancers', 
			'admission', 'private_room', 'vip_room', 
			'alcoholic', 
			'offers_sex', 
			'image', 'thumb', 'extra1', 'files_listing', 'worker_comment', 'edit'];
			
	{% elseif val in ['KTV Bar', 'KTV Bars'] %}
		allowedQuestionsPerType['{{ key }}'] = [
			'type', 'orientation', 'name', 'phone1', 'phone2', 'address', 'neighborhood_area', 'address1', 'address2', 'building_name', 'loc_id', 'zipcode', 'website', 'facebook', 'twitter', 'instagram', 'email', 'loc_lat', 'loc_long', 
			'always', 'day1o', 'day1c', 'open_holidays', 'happy_hours', 
			'cc', 'cc_visa_master', 'cc_visa', 'cc_master', 'cc_ae', 'cc_dis', 'cc_jcb', 'payment_ec', 
			'parking',  
			'reservations', 'facilities', 'services', 'dancers', 
			'admission', 'private_room', 'vip_room', 
			'alcoholic', 
			'offers_sex',
			'info', 
			'image', 'thumb', 'extra1', 'files_listing', 'worker_comment', 'edit'];
			
	{% elseif val in ['Disco', 'Discos'] %}
		allowedQuestionsPerType['{{ key }}'] = [
			'type', 'orientation', 'name', 'phone1', 'phone2', 'address', 'neighborhood_area', 'address1', 'address2', 'building_name', 'loc_id', 'zipcode', 'website', 'facebook', 'twitter', 'instagram', 'email', 'loc_lat', 'loc_long', 
			'always', 'day1o', 'day1c', 'open_holidays', 'happy_hours', 
			'cc', 'cc_visa_master', 'cc_visa', 'cc_master', 'cc_ae', 'cc_dis', 'cc_jcb', 'payment_ec', 
			'parking',  
			'reservations', 'facilities', 'services', 
			'admission', 'private_room', 'vip_room', 
			'alcoholic', 
			'offers_sex', 
			'image', 'thumb', 'extra1', 'files_listing', 'worker_comment', 'edit'];
			
	{% elseif val in ['Beer Bar', 'Beer Bars'] %}
		allowedQuestionsPerType['{{ key }}'] = [
			'type', 'orientation', 'name', 'phone1', 'phone2', 'address', 'neighborhood_area', 'address1', 'address2', 'building_name', 'loc_id', 'zipcode', 'website', 'facebook', 'twitter', 'instagram', 'email', 'loc_lat', 'loc_long', 
			'always', 'day1o', 'day1c', 'open_holidays', 'happy_hours',
			'bar_fine', 'girl_fee',
			'short_time_room', 'short_time_room_fee', 
			'just_drinking_bar', 'have_bar_fine', 'lots_of_girls', 'few_girls', 'free_food', 'live_entertainment', 'coyote_dancers', 
			'image', 'thumb', 'extra1', 'files_listing', 'worker_comment', 'edit'];
			
	{% elseif val in ['Go Go Bar', 'Go Go Bars'] %}
		allowedQuestionsPerType['{{ key }}'] = [
			'type', 'name', 'phone1', 'phone2', 'neighborhood_area', 'address1', 'address2', 'building_name', 'loc_id', 'zipcode', 'website', 'facebook', 'twitter', 'instagram', 'email', 'loc_lat', 'loc_long', 'day1o', 'day1c', 
			'ladies_drink', 'double_ladies_drink', 'double_ladies_drink_fee', 'bar_fine', 'girl_fee', 
			'sex_show', 'orientation', 'coyote_dancers', 'mixture_girls_ladyboys', 'overall_quality_girls', 'short_time_room', 
			'image', 'thumb', 'extra1', 'files_listing', 'worker_comment', 'edit'];
			
	{% elseif val in ['Brothel Bar', 'Brothel Bars'] %}
		allowedQuestionsPerType['{{ key }}'] = [
			'type', 'name', 'phone1', 'phone2', 'neighborhood_area', 'address1', 'address2', 'building_name', 'loc_id', 'zipcode', 'website', 'facebook', 'twitter', 'instagram', 'email', 'loc_lat', 'loc_long', 'day1o', 'day1c', 
			'girl_fee', 'orientation', 'mixture_girls_ladyboys', 'overall_quality_girls', 'short_time_room', 'short_time_room_fee', 'nice_rooms_showers', 'info',
			'image', 'thumb', 'extra1', 'files_listing', 'worker_comment', 'edit'];
			
	{% elseif val in ['Gay Erotic Massage Parlor', 'Gay Erotic Massage Parlors', 'Lady Boy Massage Parlor', 'Lady Boy Massage Parlors'] %}
		allowedQuestionsPerType['{{ key }}'] = [
			'type', 'orientation', 'name', 'phone1', 'phone2', 'neighborhood_area', 'address1', 'address2', 'building_name', 'loc_id', 'zipcode', 'website', 'facebook', 'twitter', 'instagram', 'email', 'loc_lat', 'loc_long', 
			'always', 'day1o', 'day1c', 'open_holidays', 'happy_hours', 
			'nice_rooms_showers', 'mixture_girls_ladyboys', 'nonerotic',  
			'thai_massage_fee', 'foot_massage_fee', 'oil_massage_fee', 'aroma_massage_fee', 'hot_oil_fee', 'thai_herbal_hot_compress_fee', 
			'head_neck_shoulder_massage_fee', 'foot_scrub_fee', 'body_scrub_fee', 'aloe_vera_fee',
			'image', 'thumb', 'extra1', 'files_listing', 'worker_comment', 'edit'];
			
	{% elseif val in ['Hotel', 'Hotels'] %}
		allowedQuestionsPerType['{{ key }}'] = [
			'type', 'name', 'phone1', 'phone2', 'neighborhood_area', 'address1', 'address2', 'building_name', 'loc_id', 'zipcode', 'website', 'facebook', 'twitter', 'instagram', 'email', 'loc_lat', 'loc_long', 
			'image', 'thumb', 'prices_from', 'location_bar_hopping', 'worker_comment', 'edit'];
			
	{% elseif val in ['Short Time Hotel', 'Short Time Hotels'] %}
		allowedQuestionsPerType['{{ key }}'] = [
			'type', 'name', 'phone1', 'phone2', 'neighborhood_area', 'address1', 'address2', 'building_name', 'loc_id', 'zipcode', 'website', 'facebook', 'twitter', 'instagram', 'email', 'loc_lat', 'loc_long', 
			'image', 'thumb', 'short_time_room_fee', 'overall_quality_room', 'extra1', 'files_listing', 'worker_comment', 'edit'];
	{% endif %}
{% endfor %}

</script>		
