{if !$editonly}
<div id="status">
{*
{if !$ismember&&$adbuild_step!=4}
	<span class="login"><a href="/account/signin?origin={$current_url|urlencode}">Login To Your Account</a></span>
{/if}
*}
{if $not_posted_yet}
	<span class="active">{if $adbuild_step>1}<a href="/adbuild/{if $ad_id}?ad_id={$ad_id}{/if}">1. Category & Terms</a>{else}1. Category & Terms{/if}</span>
	<span class="{if $adbuild_step>1}active{else}inactive{/if}">{if $adbuild_step>2}<a href="/adbuild/step2{if $ad_id}?ad_id={$ad_id}{/if}">2. Your Location(s)</a>{else}2. Your Location(s){/if}</span>
{/if}
<span class="{if $adbuild_step>2}active{else}inactive{/if}">{if $adbuild_step>3}<a href="/adbuild/step3{if $ad_id}?ad_id={$ad_id}{/if}">3. Write Your Ad & 
Upload Photos</a>{else}3. Write Your Ad & Upload Photos{/if}</span>
<span class="{if $adbuild_step>3}active{else}inactive{/if}">4. Secure Checkout</span>
{if $clad_poster}
<span class="active"><a href="/adbuild/pass?ad_id={$ad_id}">Pass</a></span>
{/if}
</div>
{/if}

