{if $pop}
	<a onclick="$('#preview').dialog('close'); return false;" href="#"><img src="/images/adbuild/btn_edit.png" alt="" border="0" /></a>
	{if $post.done < 1}<a href="https://{$site_domain}/adbuild/step4?ad_id={$post.id}"><img src="/images/adbuild/btn_submitcontinue.png" alt="" /></a>{/if}
{else}
	<a href="/adbuild/step3?ad_id={$post.id}"><img src="/images/adbuild/btn_edit.png" alt="" border="0" /></a>
	{if $post.done < 1}<a href="https://{$site_domain}/adbuild/step4?ad_id={$post.id}"><img src="/images/adbuild/btn_submitcontinue.png" alt="" /></a>{/if}
{/if}

{if !$pop}
	{include file="adbuild/adbuild_status.tpl"}
{/if}

<div id="classified-post">
	<h3 class="classified-post-header">{$post.title} - ID: {$post.id}</h3>
	<div class="postInfo">
	{if $post.ethnicity}<b>{$post.ethnicity}</b>, {/if}{if $post.loc_name}Available in <b>{$post.loc_name}{if $post.location} ({$post.location}){/if}</b>.{/if}
	{if $post.available} <b>{if $post.available==1}Incall ONLY{$post.incall_rate}{elseif $post.available==2}Outcall ONLY{$post.outcall_rate}{else}Incall{$post.incall_rate} and Outcall{$post.outcall_rate}{/if}</b>.{/if} 
	</div>

	<hr/>

	<span class="postbody">
		<span id="sidead"><span id="sidebar2"></span></span>
		<span class="body">
			{$post.content}

			{if $post.phone}<p class="phone">Phone: {$post.phone}</p>{/if}
			{if $post.age}<span class="ter">Poster's age: {$post.age}</span>{/if}
			{if $post.website}<span class="ter">Poster's website: <a href="{$post.website}" target="_blank" rel="nowfollow">{$post.website}</a></span>{/if}
			{if $post.pornstar}<span>Pornstar!</span>{/if}
			{if $post.pregnant}<p>Pregnant!</p>{/if}
			{if $post.visiting}<p>Visiting!</p>{/if}
			{if $post.tantra}<p>Tantra Massage!</p>{/if}
			{if 0&&$post.ter}<p class="ter"><a href="http://www.theeroticreview.com/reviews/show.asp?id={$post.ter}" target="_blank" rel="nofollow">Read My Reviews on TER</a></p>{/if}
{*			{if $post.bigdoggie}<p class="ter"><a href="http://www.bigdoggie.net/escorts/by-id/{$post.bigdoggie}.html" target="_blank" rel="nofollow">Read My Reviews on Bigdoggie.net</a></p>{/if} *}
			{if $post.payment_visa}<img src="/images/icons/icon_visa.jpg" alt="accept visa & mastercard" width="62" height="21" />{/if}
			{if $post.payment_amex}<img src="/images/icons/icon_amex.jpg" alt="accept american experss" />{/if}
			{if $post.payment_dis}<img src="/images/icons/icon_dis.jpg" alt="accept discover card" />{/if}
			{if $post.eccie}<p class="ter"><a href="/ad?goo=1&h=eccie.net&l={$post.eccie}" target="_blank" rel="nofollow">Eccie.net discussion about this ad</a></p>{/if}

			{if $videos}
				{section name=i loop=$videos}
				<span class="imgbody">
					<div class="flowplayer is-splash"
						 style="width:{$videos[i].width}px;height:{$videos[i].height}px;background-color:#777; background-image:url('{$globals.config_image_server}/{$videos[i].thumbnail_uri}');">
						<video controls><source src="{$globals.config_image_server}/{$videos[i].file_uri}" type="video/mp4"/></video>
					</div>
				</span>

				{/section}
			{/if}

			{if $images}
				{section name=i loop=$images}
				{assign var=i value=$images[i]}
				<span class="imgbody">
					<p><img src="{$globals.config_image_server}/classifieds/{$i.filename}" alt="" /></p>
				</span>
				{/section}
			{/if}


			<p>*Mention you saw my ad on AdultSearch.com*</p>
		</span>

		{if $post.neighbor}
			<br>
			<p>
				<ul>
					<li>Location: {$post.neighbor}</li>
				</ul>
			</p>
		{/if}
	</span>
</div>

